@import "@/core/styles/utils";

.OxAlert {
  &-wrapper {
    align-items: center;
    background: rgba(0, 0, 0, .5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 205;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
