<!--
  @package Oxify\OxField
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">

import Vue from "vue"
import OxFieldStrCore from "@oxify/components/OxField/OxFieldStrCore"
import OxIconCore from "@oxify/components/OxIcon/OxIconCore"

export default Vue.extend({
    name: "OxPassword",
    extends: OxFieldStrCore,
    props: {
        autofocus: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            isPassword: true
        }
    },
    computed: {
        eyeIcon (): string {
            return this.isPassword ? "eye" : "eyeOff"
        },

        fieldType (): string {
            return this.isPassword ? "password" : "text"
        },

        /**
         * Icon name to display
         */
        iconName (): string {
            return OxIconCore.get(this.eyeIcon)
        }
    },
    methods: {
        /**
         * Public method to manually focus this component
         */
        bindFocus (): void {
            const inputElement = this.$el.querySelector("input") as HTMLDivElement
            if (inputElement) {
                inputElement.focus()
            }
        },

        /**
         * Blur event
         */
        blur (): void {
            this.$emit("blur")
        },

        /**
         * Click event
         */
        click (): void {
            this.$emit("click")
        },

        /**
         * Focus event
         */
        focus (): void {
            this.$emit("focus")
        },

        /**
         * Keydown event
         * @param {Event} event - Trigger event
         * @private
         */
        keydown (event: Event): void {
            this.$emit("keydown", event)
        },

        /**
         * Password field type modification
         */
        toggleType (): void {
            this.isPassword = !this.isPassword
        }
    }
})
</script>

<template>
  <v-text-field
    :append-icon="iconName"
    :autofocus="autofocus"
    :background-color="fieldBG"
    :color="fieldColor"
    :counter="counter"
    :dense="dense"
    :disabled="disabled"
    filled
    hide-details="auto"
    :hint="hint"
    :label="labelComputed"
    :loading="showLoading"
    :maxlength="maxlength"
    :name="name"
    persistent-hint
    :placeholder="placeholder"
    :rules="fieldRules"
    :type="fieldType"
    :value="value"
    @blur="blur"
    @click="click"
    @click:append="toggleType"
    @focus="focus"
    @input="change"
    @keydown="keydown"
  />
</template>
