/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.ChangePassword {
  height: 100vh;
  --padding-side: 22vw;
  --padding-top: 15vh;
  padding: var(--padding-top) var(--padding-side) 0;
  position: relative;

  &-logo {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  &-logoContent {
    bottom: -12vh;
    opacity: 0.12;
    position: absolute;
    right: -106px;
    width: 764px;


    &.tamm {
      bottom: -8vh;
      width: 684px;
    }
  }

  &-logoPart {
    &.up {
      fill: $primary;
    }

    &.bottom {
      fill: $secondary;
    }
  }

  &-title {
    @include h3;
    color: $primary-500;
    padding-bottom: $space*10;
  }

  &-subtitle {
    @include h5;
    @include on-background(high);
    padding-bottom: $space*2;
  }

  &-description {
    @include body1;
    @include on-background(medium);
    margin-bottom: 0 !important;
  }

  &-form {
    padding-top: $space*5;
  }

  &-errorMessage {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: $space*4;
    max-width: 100%;
    padding-bottom: $space*4;
  }

  &-oldPassword,
  &-newPassword,
  &-confirmPassword {
    max-width: 463px;
  }

  &-oldPassword {
    padding-bottom: $space*8;
  }

  &-newPassword {
    padding-bottom: $space*4;
    position: relative;
  }

  &-securityIndicator {
    padding-bottom: $space*4;
  }

  &-detailPopin {
    left: calc(100% + 1px);
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 8px));
  }

  &-criteria {
    @include body2;
    @include on-background(medium);
    align-items: center;
    display: flex;

    &.done {
      @include on-background(low);
      text-decoration-line: line-through;

      .ChangePassword-criteriaChip {
        background: $secondary-50;
        color: $secondary-900;
        height: 14px;
        padding: $space;
        width: 14px;
      }

      .ChangePassword-criteriaChipIcon {
        display: block;
      }
    }
  }

  &-detailTitle {
    @include subtitle2;
    @include on-background(medium);
  }

  &-criteriaChipWrapper {
    min-width: 14px;
  }

  &-criteriaChip {
    background-color: $secondary-500;
    border-radius: 50%;
    display: block;
    height: 4px;
    margin: 0 auto;
    width: 4px;
  }

  &-criteriaChipIcon.v-icon {
    display: none;
  }

  &-criteriaLabel {
    padding-left: $space;
  }

  &-customRecommandations {
    @include caption;
    @include on-background(medium);

    // Vuetify override
    p:last-child {
      margin-bottom: 0;
    }
  }

  &-formSubmit {
    display: flex;
    gap: $space*8;
    padding-top: $space*11;
  }
}

// Screen max width = 1500px
@include screenLargerThan($screenWide, "300") {
  .ChangePassword-logoContent {
    width: 968px;

    &.tamm {
      right: 90px;
      width: 748px;
    }
  }
}

// Screen max width = 1100px
@include screenSmallerThan($screenSmall, "800") {
  .ChangePassword {
    --padding-side: 8vw;
    --padding-top: 15vh;
  }
}

// Screen max width = 900px
@include screenSmallerThan($screenSmall, "600") {
  .ChangePassword-logo {
    display: none;
  }
}

// Screen max width = 600px
@include screenSmallerThan($screenSmall, "300") {
  .ChangePassword {
    --padding-side: #{$space*4};
    --padding-top: #{$space*6};

    &-detailPopin {
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(calc(-100% - 6px));
      width: 80%;
    }
  }
}

// Screen max width = 500px
@include screenSmallerThan($screenSmall, "200") {
  .ChangePassword {
    &-formSubmit {
      display: block;
    }

    &-logoutBtn {
      position: absolute;
      bottom: $space*4;
      right: $space*4;
    }
  }
}
