/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.AddonNotes {
  &-tooltip {
    display: flex;
    flex-flow: column nowrap;
    max-height: 400px;
  }

  &-header {
    //  Todo: Add Mixin common w/ History and Idex
    align-items: center;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    padding: $space*2 $space*3;
  }

  &-title {
    @include subtitle2;
    color: $grey-900;
  }

  &-loader {
    flex-shrink: 0;
  }

  &-lines {
    flex: 1;
    min-height: 125px;
    overflow: auto;

    &.noData {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      padding: $space*2 0 $space*7;
    }
  }

  &-footer {
    align-items: flex-start;
    background-color: $background-light;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*2;
    padding: 0 $space*2 $space $space*3;
  }

  &-footerAvatar {
    // Specific margin to fix issue with align-items: baseline on Firefox
    margin-top: 6px;
  }

  &-field {
    @include body2(true);
    border: none !important;
    resize: none !important;
    margin: $space*2 0 0 0 !important;
  }

  &-footerAction {
    // Specific margin to fix issue with align-items: baseline on Firefox
    margin-top: 3px;
  }

  &-noDataIllus {
    width: clamp(152px, 40vw, 152px);
  }

  &-empty {
    @include body2;
    @include on-background(low);
    padding-top: $space*2;
  }
}
