<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxAsyncTooltip from "@/core/components/OxAsyncTooltip/OxAsyncTooltip.vue"
import OxObject from "@/core/models/OxObject"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import Note from "@modules/system/vue/models/Note"
import MediuserAvatar from "@modules/mediusers/vue/components/MediuserAvatar/MediuserAvatar.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxBadge from "@oxify/components/OxBadge/OxBadge.vue"
import OxDropdownButton from "@oxify/components/OxDropdownButton/OxDropdownButton.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"
import NoteSmallLine from "@modules/system/vue/components/NoteSmallLine/NoteSmallLine.vue"
import { OxDropdownButtonActionTypes } from "@/core/oxify/types/OxDropdownButtonActionTypes"
import { createJsonApiObjects, deleteJsonApiObject, getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { addInfo } from "@/core/utils/OxNotifyManager"
import { OxUrlDiscovery } from "@/core/utils/OxUrlDiscovery"
import OxCollection from "@/core/models/OxCollection"
import OxThemeCore from "@/core/oxify/utils/OxThemeCore"
import { mapState } from "pinia"
import { useUserStore } from "@/core/stores/user"

const OxAlert = () => import("@oxify/components/OxAlert/OxAlert.vue")
const NoteDialog = () => import("@modules/system/vue/components/NoteDialog/NoteDialog.vue")

export default Vue.extend({
    name: "AddonNotes",
    components: {
        NoteDialog,
        NoteSmallLine,
        MediuserAvatar,
        OxAsyncTooltip,
        OxAlert,
        OxBadge,
        OxIcon,
        OxButton,
        OxDropdownButton,
        OxDialog
    },
    props: {
        object: {
            type: Object as PropType<OxObject>,
            required: true
        }
    },
    data () {
        return {
            highCriticalityNotes: [] as Note[],
            lowCriticalityNotes: [] as Note[],
            mediumCriticalityNotes: [] as Note[],
            currentNote: undefined as Note | undefined,
            noteClass: Note,
            notesCollection: {} as OxCollection<Note>,
            notesLength: 0,
            sortedNotes: [] as Note[],
            showDialog: false,
            showDeleteModal: false,
            sortedByDate: false,
            text: "",
            tooltipLoaded: false,
            url: "",
            loading: false,
            preventCloseTooltip: false,
            forceCloseTooltip: false
        }
    },
    computed: {
        icon (): "postIt" | "postItOutline" {
            return this.hasNotes ? "postIt" : "postItOutline"
        },
        iconColor (): string {
            return this.hasNotes ? this.criticalityColor : OxThemeCore.grey500
        },
        altActions (): OxDropdownButtonActionTypes[] {
            return [
                {
                    label: this.sortedByDate
                        ? this.$tr("system-action-sort by criticality")
                        : this.$tr("system-action-sort by date"),
                    eventName: this.sortedByDate ? "sortcriticality" : "sortdate"
                }
            ]
        },
        inputNbLineBreak (): number {
            return this.text.length ? this.text.split(/\r\n|\r|\n/).length - 1 : 0
        },
        inputStyle (): object {
            if (this.inputNbLineBreak > 3) {
                return {
                    height: 28 + (3 * 20) + "px",
                    overflow: "auto"
                }
            }

            return {
                height: 28 + (this.inputNbLineBreak * 20) + "px",
                overflow: "hidden"
            }
        },
        isDialogOrDeleteModalOpened (): boolean {
            return this.showDialog || this.showDeleteModal || this.forceCloseTooltip
        },
        hasNotes (): boolean {
            return this.notesLength > 0
        },
        criticalityColor (): string {
            if (this.sortedNotes[0].degre === "high") {
                return OxThemeCore.errorSurfaceDefault
            }

            if (this.sortedNotes[0].degre === "medium") {
                return OxThemeCore.warningSurfaceDefault
            }

            return OxThemeCore.secondary
        },
        ...mapState(useUserStore, ["getUser"])
    },
    watch: {
        showDialog (newVal) {
            if (!newVal) {
                this.currentNote = undefined
            }
        }
    },
    async created () {
        this.url = new OxUrlBuilder(this.object.links.notes)
            .withRelations(["author", "authorizedUsers"]) // No need "context" relation cause it's the object himself
            .withSort({ sort: "DESC", choice: "degre" }, { sort: "DESC", choice: "date" })
            .withPermissions()
            .toString()

        // @TODO: manual request, then ref when bulkable feature is available
        await this.refresh()
    },
    methods: {
        reloadData (data: Note[]): void {
            this.sortedNotes = data
        },
        async sortByCriticality (): Promise<void> {
            this.url = new OxUrlBuilder(this.object.links.notes)
                .withRelations(["author", "authorizedUsers"]) // No need "context" relation cause it's the object himself
                .withSort({ sort: "DESC", choice: "degre" }, { sort: "DESC", choice: "date" })
                .withPermissions()
                .toString()

            await this.refresh()
            this.sortedByDate = false
        },
        async sortByDate (): Promise<void> {
            this.url = new OxUrlBuilder(this.object.links.notes)
                .withRelations(["author", "authorizedUsers"]) // No need "context" relation cause it's the object himself
                .withSort({ sort: "DESC", choice: "date" })
                .withPermissions()
                .toString()

            await this.refresh()
            this.sortedByDate = true
        },
        openModal (): void {
            this.showDialog = true
        },
        async reset (keepOpened = false): Promise<void> {
            this.currentNote = undefined
            this.tooltipLoaded = false
            this.showDialog = keepOpened
            await this.refresh()
        },
        askDeleteNote (note: Note): void {
            this.showDeleteModal = true
            this.currentNote = note
        },
        async deleteNote (): Promise<void> {
            try {
                if (this.currentNote) {
                    await deleteJsonApiObject(this.currentNote)
                    addInfo(this.$tr("CNote-msg-delete"))

                    this.reset()
                }
            }
            catch (e) {
                console.error(e)
            }
        },
        editNote (note: Note): void {
            this.showDialog = true
            this.currentNote = note
        },
        async createNote (): Promise<void> {
            if (!this.text.trim()) {
                return
            }

            try {
                const newNote = new Note()
                newNote.dateData = "now"
                newNote.text = this.text
                newNote.degre = "low"
                newNote.public = true
                newNote.context = this.object
                await createJsonApiObjects(newNote, OxUrlDiscovery.notes())
                addInfo(this.$tr("CNote-msg-create"))
                this.text = ""
                this.tooltipLoaded = false

                await this.refresh()
            }
            catch (e) {
                console.error(e)
            }
        },
        async refresh (): Promise<void> {
            this.notesCollection = await getCollectionFromJsonApiRequest(Note, this.url)
            this.notesLength = this.notesCollection.count
            this.sortedNotes = this.notesCollection.objects
        },
        disableCloseTooltip (): void {
            this.preventCloseTooltip = true
        },
        enableCloseTooltip (): void {
            this.preventCloseTooltip = false
        },
        onClickOutside (): void {
            this.forceCloseTooltip = true
        },
        resetClickOutside (): void {
            this.forceCloseTooltip = false
        },
        hasEditPermissions (note: Note): boolean {
            return note.meta?.permissions?.perm === "edit"
        },
        isLast (index: number): boolean {
            return index === this.sortedNotes.length - 1 && this.notesLength > 1
        }
    }
})
</script>

<template>
  <div class="AddonNotes">
    <ox-async-tooltip
      :delay-after-leave="300"
      :force-close="isDialogOrDeleteModalOpened"
      is-collection
      :loaded.sync="tooltipLoaded"
      :loading-is-opened.sync="loading"
      max-height="400px"
      :ox-object="noteClass"
      :prevent-close="preventCloseTooltip"
      :url="url"
      width="360px"
      @callDone="reloadData"
      @click="openModal"
      @show="resetClickOutside"
    >
      <template #activator>
        <ox-badge
          color="secondary"
          :content="notesLength.toString()"
          :displayed="hasNotes"
        >
          <ox-icon
            :color="iconColor"
            :icon="icon"
          />
        </ox-badge>
      </template>
      <template #tooltip>
        <div
          v-click-outside="onClickOutside"
          class="AddonNotes-tooltip"
        >
          <div class="AddonNotes-header">
            <div class="AddonNotes-title">
              {{ $tr("CNote|pl") }}
            </div>
            <div class="AddonNotes-actions">
              <ox-button
                button-style="tertiary"
                icon="add"
                :label="$tr('CNote-title-create')"
                @click="openModal"
              />
              <ox-dropdown-button
                :alt-actions="altActions"
                :attach="true"
                button-style="tertiary-dark"
                left
                @sortcriticality="sortByCriticality"
                @sortdate="sortByDate"
              />
            </div>
          </div>
          <v-progress-linear
            v-if="loading"
            class="AddonNotes-loader"
            :height="5"
            indeterminate
          />
          <div class="AddonNotes-lines">
            <note-small-line
              v-for="(note, index) in sortedNotes"
              :key="index"
              :is-last="isLast(index)"
              :note="note"
              :show-more-button="hasEditPermissions(note)"
              @deleteNote="askDeleteNote"
              @editNote="editNote"
            />
          </div>
          <div class="AddonNotes-footer">
            <div class="AddonNotes-footerAvatar">
              <mediuser-avatar
                :size="32"
                :user="getUser"
              />
            </div>
            <textarea
              v-model="text"
              class="AddonNotes-field"
              :placeholder="$tr('system-action-add a quick note')"
              :style="inputStyle"
              @blur="enableCloseTooltip"
              @focus="disableCloseTooltip"
              @keydown.meta.enter="createNote"
              @keyup.ctrl.enter="createNote"
            />
            <div class="AddonNotes-footerAction">
              <ox-button
                button-style="tertiary-dark"
                icon="send"
                @click="createNote"
              />
            </div>
          </div>
        </div>
      </template>
      <template #no-data>
        <div
          v-click-outside="onClickOutside"
          class="AddonNotes-tooltip"
        >
          <div class="AddonNotes-header">
            <div class="AddonNotes-title">
              {{ $tr("CNote|pl") }}
            </div>
            <div class="AddonNotes-actions">
              <ox-button
                button-style="tertiary"
                icon="add"
                :label="$tr('CNote-title-create')"
                @click="openModal"
              />
            </div>
          </div>
          <div class="AddonNotes-lines noData">
            <img
              :alt="$tr('CNote.none')"
              class="AddonNotes-noDataIllus"
              src="modules/sample/images/empty_bookmarks.svg"
            >
            <div class="AddonNotes-empty">
              {{ $tr("CMbObject-back-notes.empty") }}
            </div>
          </div>
          <div class="AddonNotes-footer">
            <div class="AddonNotes-footerAvatar">
              <mediuser-avatar
                :size="32"
                :user="getUser"
              />
            </div>
            <textarea
              v-model="text"
              class="AddonNotes-field"
              :placeholder="$tr('system-action-add a quick note')"
              :style="inputStyle"
              @blur="enableCloseTooltip"
              @focus="disableCloseTooltip"
              @keydown.meta.enter="createNote"
              @keyup.ctrl.enter="createNote"
            />
            <div class="AddonNotes-footerAction">
              <ox-button
                button-style="tertiary-dark"
                icon="send"
                @click="createNote"
              />
            </div>
          </div>
        </div>
      </template>
      <template #loading>
        <v-skeleton-loader
          type="table-heading, divider, list-item, list-item, divider, list-item"
          width="300px"
        />
      </template>
    </ox-async-tooltip>

    <ox-dialog
      v-model="showDialog"
      compact
      persistent
      separated
      :title="$tr('CNote|pl')"
      width="70%"
    >
      <note-dialog
        v-if="showDialog"
        :note="currentNote"
        :object="object"
        :user="getUser"
        @dataSaved="reset"
        @deleteNote="askDeleteNote"
      />
    </ox-dialog>

    <ox-alert
      v-model="showDeleteModal"
      :label-accept="$tr('Delete')"
      :label-cancel="$tr('Cancel')"
      :title="$tr('CNote-confirm-Delete the note?')"
      @accept="deleteNote"
    >
      {{ $tr('CNote-confirm-Irreversible action') }}
    </ox-alert>
  </div>
</template>

<style src="./AddonNotes.scss" lang="scss"></style>
