/**
 * @package Mediboard\CompteRendu
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */

/**
 * Messaging
 */
.CkeMessaging .CkeMessaging-list {
  display: flex;
  flex-direction: column;
}

.CkeMessaging .CkeMessaging-item {
  align-items: center;
  column-gap: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.CkeMessaging .CkeMessaging-item:hover {
  background-color: #dff1ff;
}

.CkeMessaging .CkeMessaging-itemContent {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.CkeMessaging .CkeMessaging-itemLogo {
  width: 16px;
  height: 16px;
}
