<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import OxTextField from "@oxify/components/OxField/OxTextField/OxTextField.vue"
import Vue, { PropType } from "vue"
import Group from "@modules/dPetablissement/vue/models/Group"
import Function from "@modules/mediusers/vue/Models/Function"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { isEmpty } from "lodash"
const GroupLine = () => import(/* webpackChunkName: "GroupLine" */ "@/components/Appbar/GroupLine/GroupLine.vue")
const GroupRadio = () => import(/* webpackChunkName: "GroupRadio" */ "@/components/Appbar/GroupRadio/GroupRadio.vue")

const GROUP_NUMBER_FOR_SEARCH = 7

/**
 * GroupSelector
 * Current group selection component
 */
export default Vue.extend({
    name: "GroupSelector",
    components: { GroupLine, GroupRadio, OxTextField },
    props: {
        groupSelected: {
            type: Object as PropType<Group>
        },
        functions: {
            type: Array as PropType<Array<Function>>,
            required: true
        },
        groupsData: {
            type: Array as PropType<Array<Group>>,
            required: true
        },
        showRadio: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            groups: [] as Array<Group>,
            filter: "",
            loadGroups: true
        }
    },
    computed: {
        groupLineOrGroupRadioComponent (): string {
            return this.showRadio ? "group-radio" : "group-line"
        },
        useSearchField (): boolean {
            return this.groups.length >= GROUP_NUMBER_FOR_SEARCH
        },
        showCurrentGroup (): boolean {
            return this.groups.length === 0 && !this.loadGroups
        },
        filtredGroups (): Array<Group> {
            if (this.filter === "") {
                return this.groups
            }
            return this.groups.filter((group) => {
                return group.name.toLowerCase().includes(this.filter.toLowerCase())
            })
        }
    },
    async created () {
        if (!isEmpty(this.groupsData)) {
            this.groups = this.groupsData
            this.loadGroups = false
        }
        else {
            this.loadGroups = true

            if (this.groupSelected && this.groupSelected.groupsUrl) {
                this.groups = (await getCollectionFromJsonApiRequest(Group, this.groupSelected.groupsUrl)).objects
            }
            this.loadGroups = false
        }
    },
    deactivated () {
        this.filter = ""
    },
    methods: {
        includeGroup () {
            if (document.querySelector(".includeGroup") === null) {
                return []
            }
            return [document.querySelector(".includeGroup")]
        },
        clickOutside () {
            this.$emit("input", false)
        },
        isSelected (group: Group): boolean {
            return group.id === this.groupSelected.id
        },
        resetFilter () {
            this.filter = ""
        },
        selectGroup (groupId: string) {
            if (groupId === this.groupSelected.id) {
                return
            }
            const url = new URL(window.location.href)
            url.searchParams.set("g", groupId)
            const _function = this.getFunctionByGroupId(groupId)
            if (_function) {
                url.searchParams.set("f", _function.id)
            }
            else {
                url.searchParams.delete("f")
            }

            window.location.href = url.toString()
        },
        getFunctionName (group: Group | undefined): string | boolean {
            if (group === undefined) {
                return false
            }
            const _function = this.getFunctionByGroupId(group.id)
            if (_function) {
                return _function.name
            }
            return false
        },
        getFunctionByGroupId (groupId: string): Function {
            return this.functions.find((func: Function) => {
                return func.groupId && func.groupId.toString() === groupId
            }) as Function
        }
    }
})
</script>

<template>
  <div
    v-click-outside="{
      handler: clickOutside,
      include: includeGroup
    }"
    class="GroupSelector"
    @click.stop=""
  >
    <div
      v-if="useSearchField"
      class="GroupSelector-search"
    >
      <ox-text-field
        v-model="filter"
        autofocus
        :dense="true"
        icon="search"
        :placeholder="$tr('Appbar-Group-search')"
        :rounded="true"
        @keydown.esc="resetFilter"
      />
    </div>
    <div
      v-if="loadGroups"
      class="GroupSelector-loading"
    >
      <div :class="showRadio ? 'GroupSelector-skeletonCard' : 'GroupSelector-skeleton'">
        <div
          v-if="showRadio"
          class="GroupSelector-skeletonCardRadio"
        />
        <div class="GroupSelector-skeletonContent">
          <div class="GroupSelector-skeletonHeader" />
          <div class="GroupSelector-skeletonSubHeader" />
        </div>
      </div>
      <div :class="showRadio ? 'GroupSelector-skeletonCard' : 'GroupSelector-skeleton'">
        <div
          v-if="showRadio"
          class="GroupSelector-skeletonCardRadio"
        />
        <div class="GroupSelector-skeletonContent">
          <div class="GroupSelector-skeletonHeader variantMinWidth" />
          <div class="GroupSelector-skeletonSubHeader" />
        </div>
      </div>
      <div :class="showRadio ? 'GroupSelector-skeletonCard' : 'GroupSelector-skeleton'">
        <div
          v-if="showRadio"
          class="GroupSelector-skeletonCardRadio"
        />
        <div class="GroupSelector-skeletonContent">
          <div class="GroupSelector-skeletonHeader variantMaxWidth" />
          <div class="GroupSelector-skeletonSubHeader variantMinWidth" />
        </div>
      </div>
    </div>
    <component
      :is="groupLineOrGroupRadioComponent"
      v-if="showCurrentGroup"
      :actived="true"
      :function-name="getFunctionName(groupSelected)"
      :group="groupSelected"
    />
    <component
      :is="groupLineOrGroupRadioComponent"
      v-for="group in filtredGroups"
      :key="group.id"
      :actived="isSelected(group)"
      :function-name="getFunctionName(group)"
      :group="group"
      @click="selectGroup"
    />
  </div>
</template>

<style src="./GroupSelector.scss" lang="scss"></style>
