/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.PatientAutocomplete {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: $space*4;
  padding: $space*3 $space*4;

  &-content {
    display: flex;
    flex-flow: column nowrap;
    gap: $space/2;
  }

  &-title {
    @include body2;
    @include on-background(high);
  }

  &-infos {
    @include caption;
    @include on-background(medium);
  }
}
