<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Patient from "@modules/dPpatients/vue/models/Patient"
import OxDate from "@oxify/components/OxDate/OxDate.vue"

export default Vue.extend({
    name: "PatientAutocomplete",
    components: { OxDate },
    props: {
        patient:
            {
                type: Object as PropType<Patient>,
                required: true
            }
    },
    computed: {
        patientView (): string {
            if (!this.patient) {
                return ""
            }

            return (this.patient.civility ? this.$tr("CPatient.civilite." + this.patient.civility) + " " : "") + this.patient.shortView
        }
    }
})
</script>

<template>
  <div class="PatientAutocomplete">
    <div class="PatientAutocomplete-content">
      <div class="PatientAutocomplete-title">
        {{ patientView }}
      </div>
      <div class="PatientAutocomplete-infos">
        <ox-date :date-string="patient.birthDate" />
      </div>
    </div>
  </div>
</template>

<style src="./PatientAutocomplete.scss" lang="scss" />
