<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import { getSchema } from "@/core/utils/OxStorage"
import { getUrlParams, OxUrlBuilder } from "@/core/utils/OxUrlTools"
import OxObject from "@/core/models/OxObject"
import OxCollection from "@/core/models/OxCollection"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { OxUrlSorter } from "@/core/types/OxUrlTypes"
import OxSorter from "@oxify/components/OxSorter/OxSorter.vue"
import OxSorterChoice from "@oxify/types/OxSorterTypes"

export default Vue.extend({
    name: "OxSort",
    components: {
        OxSorter
    },
    props: {
        aspect: {
            type: String as PropType<"select" | "text">,
            default: "select",
            validator: function (value: string) {
                return ["select", "text"].includes(value)
            }
        },
        choices: {
            type: Array as PropType<Array<string>>,
            default: () => []
        },
        value: {
            type: Object as PropType<OxCollection<OxObject>>,
            required: true
        }
    },
    data () {
        return {
            sorterChoices: [] as OxSorterChoice[],
            objectClass: Function as unknown as new() => OxObject,
            defaultChoice: undefined as string | undefined,
            defaultSort: undefined as "ASC" | "DESC" | undefined
        }
    },
    computed: {
        hasObjectClass (): boolean {
            return this.objectClass.prototype instanceof OxObject
        }
    },
    created () {
        if (this.value &&
            this.value.objects.length > 0 &&
            typeof this.value === "object"
        ) {
            this.objectClass = this.value.objects[0].constructor as new() => OxObject
            const resourceType = this.value.objects[0].type

            this.choices.forEach((choice) => {
                const schema = getSchema(resourceType, choice)
                if (schema) {
                    this.sorterChoices.push({ value: schema.field, label: schema.label })
                }
            })
        }
        else {
            console.warn("Impossible type inference")
        }

        if (this.value && this.value.self) {
            // Sort auto-detection from URL
            const { sort } = getUrlParams(this.value.self)
            if (sort.length > 0) {
                this.defaultChoice = sort[0].choice
                this.defaultSort = sort[0].sort
            }
        }
    },
    methods: {
        async changeSort (value: OxUrlSorter) {
            if (!this.value.self) {
                this.$emit("update", value)
                return
            }

            let sorters = [] as OxUrlSorter[]

            if (value.choice !== "") {
                sorters = [value]
            }

            const url = new OxUrlBuilder(this.value.self).withSort(...sorters).withOffset(null)

            const items = await getCollectionFromJsonApiRequest(this.objectClass as new() => OxObject, url.toString())

            this.$emit("input", items)
        }
    }
})
</script>

<template>
  <div
    v-if="hasObjectClass"
    class="OxSort"
  >
    <ox-sorter
      :aspect="aspect"
      :choices="sorterChoices"
      :default-choice="defaultChoice"
      :default-sort="defaultSort"
      @update="changeSort"
    />
  </div>
</template>

<style lang="scss" src="./OxSort.scss" />
