<!--
  @package Oxify\OxTooltip
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "OxTooltip",
    props: {
        position: {
            type: String as PropType<"bottom" | "right" | "top" | "left">,
            default: "bottom"
        },
        delay: {
            type: Number,
            default: 250
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        /**
         * Tooltip displayed at the bottom
         */
        bottom (): boolean {
            return this.position === "bottom"
        },
        /**
         * Tooltip displayed at the right
         */
        right (): boolean {
            return this.position === "right"
        },
        /**
         * Tooltip displayed at the top
         */
        top (): boolean {
            return this.position === "top"
        },
        /**
         * Tooltip displayed at the left
         */
        left (): boolean {
            return this.position === "left"
        }
    }
})
</script>

<template>
  <v-tooltip
    :bottom="bottom"
    :disabled="disabled"
    :left="left"
    :open-delay="delay"
    :right="right"
    :top="top"
    z-index="905"
  >
    <template #activator="{ on, attrs }">
      <slot
        :attrs="attrs"
        name="content"
        :on="on"
      />
    </template>
    <slot />
  </v-tooltip>
</template>
