<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div class="OxLayoutMain">
    <div class="OxLayoutMain-contentContainer">
      <div class="OxLayoutMain-content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script src="./OxLayoutMain.ts" lang="ts"></script>
<style src="./OxLayoutMain.scss">

</style>
