{{*
 * @package Mediboard\Hospi
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<!-- Intervention -->
<th>{{tr}}common-Date{{/tr}}</th>
<th>{{tr}}common-Denomination-court{{/tr}}</th>
<th>{{tr}}COperation-cote{{/tr}}</th>
<th>{{tr}}CProtocole-examen-court{{/tr}}</th>
<th>{{tr}}CAffectation-rques{{/tr}}</th>