/**
 * @package Oxify\OxField
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxRadio {
  &.low {
    .v-label {
      @include on-background(low);
    }
  }

  &.medium {
    .v-label {
      @include on-background(medium);
    }
  }

  &.high {
    .v-label {
      @include on-background(high);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.38;
    pointer-events: all;
    position: relative;

    &::before {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9999;
    }
  }

  &.expand {
    border: 1px solid $grey-100;
    border-radius: $space;
    padding: $space*2 $space*3;

    &:hover:not(.disabled) {
      background-color: alpha($primary-400, 0.12);

      &.active {
        background-color: alpha($primary-400, 0.18);
      }
    }

    &.active {
      background-color: alpha($primary-400, 0.18);
      border: 1px solid $primary;
    }
  }
}
