<!--
  @package Oxify\OxField
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxFieldCore from "@oxify/components/OxField/OxFieldCore"

export default Vue.extend({
    name: "OxRadio",
    extends: OxFieldCore,
    props: {
        emphasis: {
            type: String as PropType<"low" | "medium" | "high">,
            default: "high",
            validator: function (value: string) {
                return ["low", "medium", "high"].indexOf(value) !== -1
            }
        },
        expand: Boolean
    },
    computed: {
        radioClasses (): Array<string | Object> {
            return [
                "OxRadio",
                this.emphasis,
                {
                    expand: this.expand,
                    disabled: this.disabled
                }
            ]
        }
    }
})
</script>

<template>
  <v-radio
    active-class="active"
    :class="radioClasses"
    color="primary"
    :disabled="disabled"
    :value="value"
  >
    <template #label>
      <slot name="label">
        {{ label }}
      </slot>
    </template>
  </v-radio>
</template>

<style src="./OxRadio.scss" lang="scss"></style>
