/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.HistoryDetails {
  min-height: 80vh;
  width: 100%;

  &-dialogHeader {
    @include stickyHeaderOnModalContent;
    align-items: center;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    margin: 0 $space*-6;
    padding: 0 $space*6;
  }

  &-objectInfos {
    align-items: center;
    display: flex;
    gap: $space;
  }

  &-objectName {
    @include subtitle1;
    @include on-background(high);
  }

  &-objectId {
    @include caption;
    @include on-background(low);
  }

  &-dialogFilters {
    @include caption;
    @include on-background(medium);
    align-items: center;
    display: flex;
    flex: 0;
    gap: $space*4;
    padding: $space 0;
  }

  &-dialogFilter {
    align-items: center;
    display: flex;
    gap: $space*2;
    white-space: nowrap;
  }

  &-dialogFilterField {
    min-width: 85px;
  }

  &-toggleBtn {
    text-align: right;
    padding: $space 0;
  }

  &-panels {
    gap: $space*4;
    padding: 0 0 $space*3;
  }

  &-panelsList {
    display: flex;
    flex-flow: column;
  }
}
