<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxObject from "@/core/models/OxObject"
import HistoryFieldDiff from "@modules/system/vue/models/HistoryFieldDiff"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import History from "@modules/system/vue/models/History"
import OxCollection from "@/core/models/OxCollection"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import OxSelect from "@oxify/components/OxField/OxSelect/OxSelect.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxExpansionPanels from "@oxify/components/OxExpansionPanels/OxExpansionPanels.vue"
import HistoryPanel from "@modules/system/vue/components/HistoryPanel/HistoryPanel.vue"
import OxInfiniteScroll from "@/core/components/OxInfiniteScroll/OxInfiniteScroll.vue"

export default Vue.extend({
    name: "HistoryDetails",
    components: {
        OxSelect,
        OxButton,
        OxExpansionPanels,
        OxInfiniteScroll,
        HistoryPanel
    },
    props: {
        object: {
            type: Object as PropType<OxObject>,
            required: true
        },
        scrollElement: Element as PropType<Element>
    },
    data () {
        return {
            closeAllPanels: false,
            currentFilterField: "",
            currentFilterUser: "",
            historyCollection: {} as OxCollection<History>,
            loading: false,
            maxHistoryLogsInModal: 5,
            targetedField: "",
            url: ""
        }
    },
    computed: {
        panels (): number[] {
            if (this.historyPanels.length && !this.closeAllPanels) {
                return this.historyPanels.flatMap((history, index) => {
                    if (history.historyType === "create") {
                        return []
                    }

                    return index
                })
            }

            return []
        },
        labelToggleBtn (): string {
            return this.closeAllPanels ? this.$tr("common-action-Unfold all") : this.$tr("common-action-Collapse all")
        },
        toggleBtnIcon (): string {
            return this.closeAllPanels ? "expand" : "collapse"
        },
        hasCurrentFilter (): boolean {
            return !!this.currentFilterField || !!this.currentFilterUser
        },
        historyPanels (): History[] {
            return this.hasCurrentFilter
                ? this.applyFilters(this.historyCollection.objects)
                : this.historyCollection.objects
        },
        filterFieldValues (): HistoryFieldDiff[] {
            let fields = [] as HistoryFieldDiff[]

            this.historyCollection.objects.forEach(history => {
                if (history.fields) {
                    fields = [...fields, ...history.fields]
                }
            })

            return fields
        },
        filterUserValues (): string[] {
            let users = [] as string[]

            this.historyCollection.objects.forEach(history => {
                if (history.user) {
                    users = [...users, history.user.fullName]
                }
            })

            return [...new Set(users)]
        }
    },
    async created () {
        if (this.object.links.history) {
            this.loading = true
            this.url = new OxUrlBuilder(this.object.links.history)
                .withRelations(["user", "updatedFields"])
                .withLimit(this.maxHistoryLogsInModal.toString())
                .toString()

            this.historyCollection = await getCollectionFromJsonApiRequest(History, this.url)
            this.loading = false
        }
    },
    methods: {
        togglePanels (): void {
            this.closeAllPanels = !this.closeAllPanels
        },
        filterUser (value: string): void {
            this.currentFilterUser = value
        },
        filterField (value: string): void {
            this.currentFilterField = value
        },
        applyFilterUser (objects: History[]): History[] {
            return objects.filter(history => {
                return this.currentFilterUser === history.user?.fullName
            })
        },
        applyFilterField (objects: History[]): History[] {
            return objects.filter(history => {
                let isMatched = false

                history.fields.forEach(field => {
                    if (field.name === this.currentFilterField) {
                        isMatched = true
                    }
                })

                return isMatched
            })
        },
        applyFilters (objects: History[]): History[] {
            if (this.currentFilterUser) {
                objects = this.applyFilterUser(objects)
            }

            if (this.currentFilterField) {
                objects = this.applyFilterField(objects)
            }

            return objects
        },
        toggleTargetField (field: string): void {
            if (this.targetedField === field) {
                this.targetedField = ""
            }
            else {
                this.targetedField = field
            }
        }
    }
})
</script>

<template>
  <div
    v-if="loading"
    class="HistoryDetails"
  >
    <v-skeleton-loader type="table-heading, card@5" />
  </div>
  <div
    v-else
    class="HistoryDetails"
  >
    <div class="HistoryDetails-dialogHeader">
      <div class="HistoryDetails-objectInfos">
        <div class="HistoryDetails-objectName">
          {{ object.toString() }}
        </div>
        <div class="HistoryDetails-objectId">
          #{{ object.id }}
        </div>
      </div>
      <div class="HistoryDetails-dialogFilters">
        <div class="HistoryDetails-dialogFilter">
          {{ $tr("common-action-Filter by user") }}
          <ox-select
            class="HistoryDetails-dialogFilterField"
            :list="filterUserValues"
            :placeholder="$tr('All')"
            small
            @change="filterUser"
          />
        </div>
        <div class="HistoryDetails-dialogFilter">
          {{ $tr("common-action-Filter by field") }}
          <ox-select
            class="HistoryDetails-dialogFilterField"
            :list="filterFieldValues"
            option-id="name"
            option-view="name"
            :placeholder="$tr('All')"
            small
            @change="filterField"
          />
        </div>
      </div>
    </div>
    <div class="HistoryDetails-toggleBtn">
      <ox-button
        button-style="tertiary-dark"
        :icon="toggleBtnIcon"
        :label="labelToggleBtn"
        @click="togglePanels"
      />
    </div>
    <ox-expansion-panels
      v-model="panels"
      class="HistoryDetails-panels"
      multiple
      transparent
    >
      <history-panel
        v-for="history in historyPanels"
        :key="history.id"
        :history="history"
        :object="object"
        :restricted-field="currentFilterField"
        :targeted-field="targetedField"
        @toggleTargetField="toggleTargetField"
      />
    </ox-expansion-panels>
    <ox-infinite-scroll
      v-model="historyCollection"
      :bottom-px-trigger="10"
      class="HistoryDetails-panelsList"
      :element="scrollElement"
    >
      <template #loading>
        <v-skeleton-loader type="card@5" />
      </template>
    </ox-infinite-scroll>
  </div>
</template>

<style lang="scss" src="./HistoryDetails.scss" />
