/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.HistoryMoreSmallLine {
  align-items: center;
  display: flex;
  gap: $space*3;
  height: 40px;

  &-icon {
    align-items: center;
    background-color: $secondary-50;
    border-radius: 4px;
    color: $secondary-900;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
  }

  &-content {
    @include caption;
    @include on-background(medium);
    white-space: nowrap;
  }
}
