<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "HistoryMoreSmallLine",
    components: {
        OxIcon
    },
    props: {
        count: Number
    }
})
</script>

<template>
  <div class="HistoryMoreSmallLine">
    <div class="HistoryMoreSmallLine-icon">
      <ox-icon
        icon="hDots"
        :size="12"
      />
    </div>
    <div class="HistoryMoreSmallLine-content">
      {{ $tr("system-msg-%s additional logs", false, count) }}
    </div>
  </div>
</template>

<style lang="scss" src="./HistoryMoreSmallLine.scss" />
