<!--
  @package Oxify\OxTabContent
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "OxTabContent",
    props: {
        /**
         * Sets the value of the tab. If not provided, the index will be used.
         */
        value: {
            type: null as unknown as PropType<string | number | null>
        },
        /**
         * Removes the ability to click or target the component.
         */
        disabled: {
            type: Boolean,
            default: false
        },
        /**
         *  Will force the components content to render on mounted.
         *  This is useful if you have content that will not be rendered in the DOM that you want crawled for SEO.
         */
        eager: {
            type: Boolean,
            default: false
        },
        /**
         * Reverse the slide-in animation
         */
        reverseTransition: {
            type: Boolean,
            default: false
        },
        /**
         * Display the transition of the content with a slide-in
         */
        transition: {
            type: Boolean,
            default: false
        }
    }
})
</script>

<template>
  <v-tab-item
    class="OxTabContent"
    :disabled="disabled"
    :eager="eager"
    :reverse-transition="reverseTransition"
    :transition="transition"
    :value="value"
  >
    <!-- @slot Default slot for the tab content -->
    <slot name="default" />
  </v-tab-item>
</template>
