<!--
  @package Oxify\OxTabs
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"

export default Vue.extend({
    name: "OxTabs",
    props: {
        /**
         * The tab value
         */
        value: {
            type: null as unknown as PropType<string | number | null>,
            required: true
        },
        /**
         * Defines the color of the selected tab
         * @values primary, secondary, success, warning, error
         */
        color: {
            type: String as PropType<"primary" | "secondary" | "success" | "warning" | "error" | string>,
            default: "primary"
        },
        /**
         * Defines the background color of tabs
         * @values primary, secondary, success, warning, error
         */
        backgroundColor: {
            type: String as PropType<"primary" | "secondary" | "success" | "warning" | "error" | string>
        },
        /**
         * Set the active tab in the center if the tabs are compressed
         */
        centerActive: {
            type: Boolean,
            default: false
        },
        /**
         * Centers the tabs
         */
        centered: {
            type: Boolean,
            default: false
        },
        /**
         * Set the min and max width of `v-tabs-item`
         */
        fixedTabs: {
            type: Boolean,
            default: false
        },
        /**
         * Force `ox-tabs` to take up all available space
         */
        grow: {
            type: Boolean,
            default: false
        },
        /**
         * Stacks tabs on top of each other vertically.
         */
        vertical: {
            type: Boolean,
            default: false
        },
        /**
         * Aligns tabs to the right
         */
        right: {
            type: Boolean,
            default: false
        },
        /**
         * Show pagination arrows if the tab items overflow their container.
         * For mobile devices, arrows will only display when using this prop.
         */
        showArrows: {
            type: Boolean,
            default: false
        },
        /**
         * Display the `next` and `prev` buttons inside the `ox-tab-content`
         */
        showArrowsInContent: {
            type: Boolean,
            default: false
        },
        /**
         * If true, window will `wrap around` from the last item to the first, and from the first item to the last
         */
        continuous: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        tabsBackgroundColor (): string {
            return this.backgroundColor ?? OxThemeCore.backgroundDefault
        },
        tabsClass (): { [className: string]: boolean } {
            return {
                OxTabs: true,
                vertical: this.vertical
            }
        }
    },
    methods: {
        tabChanged (value: string|number) {
            this.$emit("input", value)
        }
    }
})
</script>

<template>
  <div :class="tabsClass">
    <v-tabs
      :background-color="tabsBackgroundColor"
      :center-active="centerActive"
      :centered="centered"
      :color="color"
      :fixed-tabs="fixedTabs"
      :grow="grow"
      :right="right"
      :show-arrows="showArrows"
      :value="value"
      :vertical="vertical"
      @change="tabChanged"
    >
      <!-- @slot Default slot used for `ox-tab` -->
      <slot name="default" />
      <v-tabs-items
        :continuous="continuous"
        :show-arrows="showArrowsInContent"
        show-arrows-on-hover
        :value="value"
        :vertical="vertical"
        @change="tabChanged"
      >
        <!-- @slot Contents slot used for `ox-tab-content` -->
        <slot name="contents" />
      </v-tabs-items>
    </v-tabs>
  </div>
</template>

<style src="./OxTabs.scss" lang="scss" />
