/**
 * @package Oxify\OxTabs
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxTabs {

  .v-tabs-slider {
    border-radius: 2px 2px 0 0;
  }

  // Override disable next/prev due to appearance when not using showArrows
  .v-slide-group__next--disabled,
  .v-slide-group__prev--disabled {
    display: none !important;
  }

  &.vertical {
    // Override slider style
    .v-tabs-slider-wrapper {
      left: auto !important;
      right: 0;

      .v-tabs-slider {
        border-radius: 2px 0 0 2px;
      }
    }
  }
}
