{{*
 * @package Mediboard\PlanningOp
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="tbl">
  <tr>
    <th class="title" colspan="2">
      {{tr}}Legend{{/tr}}
    </th>
  </tr>
  <tr>
    <td class="narrow">
      <span class="" style="border: 2px solid red; padding: 0 8px;"></span>
    </td>
    <td>
      {{tr}}CSejour-legend-Stay already present{{/tr}}
    </td>
  </tr>
  <tr>
    <td class="narrow">
      <span class="" style="border: 2px solid blue; padding: 0 8px;"></span>
    </td>
    <td>
      {{tr}}CSejour-legend-Stay close to previous{{/tr}}
    </td>
  </tr>
</table>
