/**
 * @package Oxify\OxField
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxSelect {
  &.small {
    @include body2;
    border-radius: 4px;

    // Vuetify override
    .v-input__slot {
      min-height: 36px;

      &::before {
        border: none;
      }
    }

    // Vuetify override
    .v-input__append-inner {
      margin-top: $space*2;
    }

    // Vuetify override
    .v-input__icon {
      height: 18px;
      min-width: 18px;
      width: 18px;
    }
  }
}
