<!--
  @package Oxify\OxField
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import OxFieldStrCore from "@oxify/components/OxField/OxFieldStrCore"
import Vue from "vue"

export default Vue.extend({
    name: "OxSelect",
    extends: OxFieldStrCore,
    props: {
        multiple: {
            type: Boolean,
            default: false
        },
        optionId: {
            type: String,
            default: "_id"
        },
        optionView: {
            type: String,
            default: "view"
        },
        small: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        classes (): { OxSelect: true; small: boolean } {
            return {
                OxSelect: true,
                small: this.small
            }
        },

        labelSelect (): string | undefined {
            if (this.small) {
                return undefined
            }

            return this.labelComputed
        },

        /**
         * Possible elements list
         *
         * @return {Array<Object>}
         */
        items (): { id: string; text: string }[] {
            return this.viewList.map(
                (_el) => {
                    return {
                        id: _el[this.optionId],
                        text: _el[this.optionView]
                    }
                }
            )
        },

        /**
         * Retrieving the displayable value
         *
         * @return {string}
         */
        mutatedValueStr (): string|string[] {
            return this.value
                ? this.multiple
                    ? this.value.toString().split("|")
                    : this.value.toString()
                : ""
        }
    },
    methods: {
        changeValue (value: string | string[]) {
            this.multiple ? this.change((value as string[]).join("|")) : this.change(value)
        }
    }
})
</script>

<template>
  <div>
    <v-select
      :background-color="fieldBG"
      :class="classes"
      :clearable="!notNull"
      :color="fieldColor"
      :dark="onPrimary"
      :disabled="disabled"
      filled
      hide-details="auto"
      :hint="hint"
      item-text="text"
      item-value="id"
      :items="items"
      :label="labelSelect"
      :loading="showLoading"
      :multiple="multiple"
      :name="name"
      :no-data-text="$tr('common-No data')"
      persistent-hint
      :placeholder="placeholder"
      :rules="fieldRules"
      :value="mutatedValueStr"
      @input="changeValue"
    />
  </div>
</template>

<style src="./OxSelect.scss" lang="scss"></style>
