/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleMovieDetails {
  @include fullPage;
  background-color: $background-default-light;
  padding: 0 $space*20;
  position: relative;

  &-bookmark {
    cursor: pointer;

    &:hover {
      color: $secondary-500;
    }
  }

  &-content {
    height: 100%;
  }

  &-back {
    padding: $space*6 0;
  }

  &-container {
    display: flex;
    flex-flow: row nowrap;
  }

  &-trailer {
    aspect-ratio: 16 / 9;
    max-width: 720px;
    width: 80vw;
  }

  &-trailerDialog {
    aspect-ratio: 16 / 9;
    max-width: 720px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: $space*4;
    max-width: 1000px;
    padding: $space*4 $space*20 $space*4 $space*6;
  }

  &-header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-headerSection {
    display: flex;
    flex-direction: column;
    gap: $space*2;
  }

  &-title {
    @include h4;
    color: $grey-900;
  }

  &-actions {
    align-items: center;
    display: flex;
    gap: $space;
  }

  &-subtitle {
    @include h6;
    color: $grey-800;
  }

  &-category {
    @include body1;
    color: $primary-500;
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: $space*2;
  }

  &-loading {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-text {
    @include body2;
    @include on-background(medium);
  }

  &-plus {
    display: flex;
    flex-flow: row nowrap;
    gap: $space*10;

    &Container {
      display: flex;
      flex-flow: column nowrap;
      gap: $space;
    }

    &Title {
      @include overline;
      @include on-background(low);
      white-space: nowrap;
    }

    &Text {
      @include body2;
      @include on-background(high);
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: $space*2;
    }
  }

  &-actors {
    display: flex;
    flex-direction: row;
    gap: $space*2;
  }

  &-alert {
    @include body1;
    @include on-background(medium);

    &Title {
      @include on-background(high)
    }
  }
}
