/*
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.Appbar {
  @include elevation(16, true);
  align-items: stretch;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 56px;
  left: 0;
  padding-left: $space*4;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 750;

  @media print {
    display: none;
  }

  &-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: $space*2;
    position: relative;

    &:hover {
      cursor: pointer;

      &::before {
        height: 42px;
        width: 42px;
      }
    }

    &::before {
      @include primary-opacity($hover);
      border-radius: 4px;
      content: "";
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: width .15s, height .15s;
      width: 0;
      z-index: -1;
    }
  }

  &-qualif {
    @include caption;
    @include on-background(high);
    background-color: $secondary-100;
    border-radius: 4px;
    bottom: 6px;
    font-size: 10px;
    left: 50%;
    padding: 0 $space;
    position: absolute;
    transform: translateX(-50%);
  }

  &-logoContent {
    height: auto;
    width: 30px;
  }

  &-logoPart {
    &.up {
      fill: $primary;
      stroke: $primary;
    }

    &.bottom {
      fill: $secondary;
      stroke: $secondary;
    }
  }

  &-navigation {
    align-items: center;
    display: flex;
    flex: 1;
    min-width: 0;
    padding-right: $space*4;
  }

  &-module {
    align-items: center;
    border-radius: 4px;
    display: flex;
    gap: $space*2;
    margin-right: $space*4;
    padding: $space*1.5 $space*2;

    &:hover {
      @include primary-opacity($hover);
      cursor: pointer;
    }

    &.active {
      @include primary-opacity($active);
    }
  }

  &-moduleName {
    @include h6;
    @include on-background(high);
    user-select: none;
    white-space: nowrap;
  }

  &-moduleIcon {
    @include on-background(medium, true);
  }

  &-tabs {
    flex: 1;
    min-width: 0;
  }

  &-context {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: $space*3;
    max-width: 34vw;
    min-width: 0;
  }

  &-account,
  &-group {
    align-items: center;
    background-color: $surface-primary-500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;
    height: 100%;
    padding: 0 $space*4;
    user-select: none;

    &:hover {
      background-color: $surface-primary-700;
      cursor: pointer;
    }

    &.active {
      background-color: $surface-primary-700;
    }
  }

  &-group {
    border-right: $border-light;
    min-width: 0;
    position: relative;
  }

  &-groupSelector {
    @include elevation(16);
    border-radius: 6px;
    max-height: 476px;
    max-width: 440px;
    min-width: max(100%, 300px);
    padding: $space*2 0;
    position: absolute;
    right: 0;
    top: 55px;
  }

  &-userLastName,
  &-groupName {
    @include color-white(1);
    @include subtitle2;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-groupContent {
    overflow: hidden;
  }

  &-userFirstName,
  &-functionName {
    @include caption;
    @include color-white(0.7);
    white-space: nowrap;
  }

  &-userInitials {
    @include subtitle1;
    @include color-white(1);
    display: none;
    white-space: nowrap;
  }

  &-dropIcon {
    @include color-white(0.6, true);
    margin-left: $space;
  }

  &-placeholders {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $space*3;
    position: relative;
    z-index: 2;
  }

  &-date {
    @include caption;
    @include on-background(medium);
    align-items: center;
    display: flex;
    flex: 0;
    padding: 0 $space*4 0 $space*2;
    white-space: nowrap;
  }

  &-navModule,
  &-navModuleTamm {
    left: 60px;
    position: fixed;
    top: 54px;
    width: fit-content;
  }

  &-navModuleTamm {
    @include elevation(16);
    border-radius: $space;
    overflow: auto;
  }

  &-placeholdersList {
    position: absolute!important;
    padding-bottom: $space*2;
    padding-top: $space*2;
    right: 0;
    top: 56px;
    min-width: fit-content;
  }

  &-avatar {
    @include caption;
    @include color-white(1);
    @include hoverable;
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    letter-spacing: 0;
    margin-right: $space*4;
    margin-left: $space*2;
    padding: $space*2;
    user-select: none;
    width: 30px;
  }

  &-userAccount {
    @include elevation(16);
    border-radius: $space;
    height: 88vh;
    max-width: 100vw;
    position: fixed;
    right: 8px;
    top: 54px;
  }

  &-moduleCard {
    @include cardOutlinedDefault;
    @include primary-opacity($active);
    align-items: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    gap: $space*3;
    padding: $space $space*2;
  }

  &-moduleCardTitle {
    @include subtitle2;
    @include on-background(high)
  }

  &-moduleCardTab {
    @include caption;
    @include on-background(medium)
  }

  &-moduleCardIcon {
    @include on-background(medium);
    margin-left: $space;
  }

  &-moduleDetail {
    bottom: 0;
    left: $space*3;
    position: fixed;
    right: 0;
    top: 56px;
  }

  &-substitution {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*2;
  }

  &-subtitutionLabel {
    @include body2;
    @include on-background(medium);
  }

  &-aboutModal {
    height: 400px;
  }
}

/** Screen max width 1000 px **/
@include screenSmallerThan($screenSmall, "700") {
  .Appbar {
    &-navModule,
    &-navModuleTamm {
      left: $space*3;
    }

    &-logo {
      display: none;
    }

    &-module {
      margin-right: $space*2;
    }

    &-group,
    &-account {
      gap: 0;
      padding: 0 $space*2;
    }

    &-userLastName,
    &-userFirstName {
      display: none;
    }

    &-userInitials {
      display: block;
    }
  }
}

/** Screen max width 900 px **/
@include screenSmallerThan($screenSmall, "600") {
  .Appbar {
    &-navModule,
    &-navModuleTamm {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 56px;
      width: 100%;
      z-index: 10;
    }
    &-context {
      flex: unset;
    }
  }
}

/** Screen max width 600 px **/
@include screenSmallerThan($screenSmall, "300") {
  .Appbar {
    &-userAccount {
      bottom: 0;
      height: auto;
      left: 0;
      overflow: auto;
      position: fixed;
      right: 0;
      top: 56px;
      z-index: 10;
    }

    &-placeholdersList {
      position: fixed !important;
    }

    &-moduleDetail {
      left: 0;
    }
  }
}

/** Screen min width 900 px **/
@include screenLargerThan($screenSmall, "600") {
  .Appbar {
    &-userAccount {
      height: auto;
    }
  }
}
