/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.ExternalIdentifierLine {

  &:hover &-more {
    display: flex;
  }

  &-more {
    display: none;

    &.shown {
      display: flex;
    }
  }

  &-line {
    display: flex;
    gap: $space;
    justify-content: space-between;
    min-width: 256px;
  }

  &-body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: $space;
    padding: $space*2 $space*3;
    overflow: hidden;
  }

  &-header {
    align-items: baseline;
    display: flex;
    gap: $space*3;
    padding-bottom: $space;
    width: 100%;
  }

  &-title {
    @include body1();
    @include on-background($high);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-titleTooltip {
    overflow: hidden;
  }

  &-subtitle {
    @include caption();
    @include on-background($low);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-subtitleTooltip {
    flex-shrink: 0;
    max-width: 96px;
  }

  &-date {
    @include caption();
    display: flex;
    gap: $space;
  }

  &-created {
    @include on-background($medium);
  }

  &-modified {
    @include on-background($low);
    cursor: default;
    user-select: none;
  }
}
