<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">
import Vue, { PropType } from "vue"

import ExternalIdentifier from "@modules/dPsante400/vue/models/ExternalIdentifier"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"
import OxDropdownButton from "@oxify/components/OxDropdownButton/OxDropdownButton.vue"
import OxChip from "@oxify/components/OxChip/OxChip.vue"

export default Vue.extend({
    name: "ExternalIdentifierLine",
    components: {
        OxChip,
        OxTooltip,
        OxDropdownButton
    },
    props: {
        externalIdentifier: {
            type: Object as PropType<ExternalIdentifier>,
            required: true
        },
        showMoreButton: {
            type: Boolean,
            default: false
        },
        isLast: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            moreButtonActions: [
                {
                    label: this.$tr("Modify"),
                    eventName: "modify"
                },
                {
                    label: this.$tr("Delete"),
                    eventName: "delete"
                }
            ],
            actionShown: false
        }
    },
    computed: {
        chipColor (): string {
            switch (this.externalIdentifier.idexType?.toLowerCase()) {
            case "ipp":
                return "#6cb94d"
            case "nda":
                return "#6868e7"
            case "vn":
                return "#e7c385"
            case "software":
                return "#ff8383"
            case "transport":
                return "#8fdecf"
            case "loinc":
                return "#a53232"
            case "snomed":
                return "#00a9e0"
            case "id_chuv":
                return "#cc7600"
            case "nda_chuv":
                return "#cc7600"
            case "ipp_chuv":
                return "#cc7600"
            case "appfine":
                return "#fab52d"
            case "doctolib":
                return "#4598dc"
            case "coxformationSession":
                return "#228B22"
            case "coxfacaudit":
                return "#B22222"
            case "coxfacassistance":
                return "#4682B4"
            case "vivalto":
                return "#fab52d"
            default:
                return ""
            }
        },
        moreButtonClass (): string {
            return this.actionShown ? "shown" : ""
        },
        isModified (): boolean {
            return !!this.externalIdentifier.lastUpdate &&
                this.externalIdentifier.lastUpdate !== this.externalIdentifier.dateTimeCreate
        }
    },
    methods: {
        modify () {
            this.$emit("modify", this.externalIdentifier)
        },
        askDelete () {
            this.$emit("delete", this.externalIdentifier)
        },
        actionChange (value: boolean) {
            this.actionShown = value
        }
    }
})
</script>

<template>
  <div class="ExternalIdentifierLine">
    <div class="ExternalIdentifierLine-line">
      <div class="ExternalIdentifierLine-body">
        <div class="ExternalIdentifierLine-header">
          <ox-tooltip
            class="ExternalIdentifierLine-titleTooltip"
            position="bottom"
          >
            <template #content="{ on }">
              <div
                class="ExternalIdentifierLine-title"
                v-on="on"
              >
                {{ externalIdentifier.id400 }}
              </div>
            </template>
            <div>{{ externalIdentifier.id400 }}</div>
          </ox-tooltip>

          <ox-chip
            v-if="externalIdentifier.idexType"
            :color="chipColor"
            small
          >
            {{ externalIdentifier.idexType }}
          </ox-chip>

          <ox-tooltip
            v-else
            class="ExternalIdentifierLine-subtitleTooltip"
            position="bottom"
          >
            <template #content="{ on }">
              <div
                class="ExternalIdentifierLine-subtitle"
                v-on="on"
              >
                {{ externalIdentifier.tag }}
              </div>
            </template>
            <div>{{ externalIdentifier.tag }}</div>
          </ox-tooltip>
        </div>
        <div class="ExternalIdentifierLine-date">
          <div class="ExternalIdentifierLine-created">
            {{ externalIdentifier.createdDate }}
          </div>
          <ox-tooltip
            v-if="isModified"
            position="bottom"
          >
            <template #content="{ on }">
              <div
                class="ExternalIdentifierLine-modified"
                v-on="on"
              >
                {{ $tr("ExternalIdentifier-modified") }}
              </div>
            </template>
            <div>{{ externalIdentifier.lastUpdatedDate }}</div>
          </ox-tooltip>
        </div>
      </div>
      <div
        v-if="showMoreButton"
        class="ExternalIdentifierLine-more"
        :class="moreButtonClass"
      >
        <ox-dropdown-button
          :alt-actions="moreButtonActions"
          :attach="true"
          button-style="tertiary-dark"
          left
          :top="isLast"
          @change="actionChange"
          @delete="askDelete"
          @modify="modify"
        />
      </div>
    </div>
  </div>
</template>

<style src="./ExternalIdentifierLine.scss" lang="scss"></style>
