/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxHelpTextAutocomplete {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: $space*2;
  justify-content: space-between;

  &-desc {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &-icon {
    color: $grey-500;
  }

  &-text {
    display: flex;
    flex-direction: column;

    & p {
      margin: 0;
    }

    & .matched {
      color: $secondary-900;
    }
  }

  &-title {
    display: inline;
    font-size: 14px;
    font-weight: bold;
  }

  &-type {
    color: $grey-500;
    display: inline;
    font-style: italic;
  }
}
