<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import OxHelpedText from "@modules/dPcompteRendu/vue/models/OxHelpedText"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import Vue from "vue"

export default Vue.extend({
    name: "OxHelpTextAutocomplete",
    components: {
        OxIcon
    },
    props: {
        helpText: {
            type: OxHelpedText,
            required: true
        }
    },
    computed: {
        hasViewDependField1 (): boolean {
            return !!this.helpText.viewDependField1
        },
        hasViewDependField2 (): boolean {
            return !!this.helpText.viewDependField2
        }
    }
})
</script>

<template>
  <div class="OxHelpTextAutocomplete">
    <div class="OxHelpTextAutocomplete-text">
      <div>
        <!--  eslint-disable vue/no-v-html -->
        <p
          class="OxHelpTextAutocomplete-title"
          v-html="helpText.nameHTML"
        />
        <!--  eslint-enable vue/no-v-html -->
        <p class="OxHelpTextAutocomplete-type">
          <span v-if="hasViewDependField1">
            - {{ helpText.viewDependField1 }}
          </span>
          <span v-if="hasViewDependField2">
            - {{ helpText.viewDependField2 }}
          </span>
        </p>
      </div>
      <!--  eslint-disable vue/no-v-html -->
      <p
        class="OxHelpTextAutocomplete-desc"
        v-html="helpText.textHTML"
      />
      <!--  eslint-enable vue/no-v-html -->
    </div>
    <div class="OxHelpTextAutocomplete-icon">
      <ox-icon :icon="helpText.iconName" />
    </div>
  </div>
</template>

<style src="./OxHelpTextAutocomplete.scss" lang="scss"></style>
