<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "OxContextMenu",
    data () {
        return {
            showMenu: false,
            x: 0,
            y: 0,
            on: {}
        }
    },
    mounted () {
        this.on = {
            contextmenu: this.displayMenu
        }
    },
    methods: {
        displayMenu (event: MouseEvent) {
            event.preventDefault()
            this.showMenu = false
            this.x = event.clientX
            this.y = event.clientY
            this.$nextTick(() => {
                this.showMenu = true
            })
        }
    }
})
</script>

<template>
  <div class="OxContextMenu">
    <slot
      name="activator"
      :on="on"
    />
    <v-menu
      v-model="showMenu"
      absolute
      offset-y
      :position-x="x"
      :position-y="y"
    >
      <slot name="menu" />
    </v-menu>
  </div>
</template>
