/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxRichTextFieldContent {
  @include on-background(high);
  @include body1();
  overflow: auto;
  padding: 0 $space*2 $space;
  width: 100%;
  word-wrap: break-word;

  &.empty:before {
    @include on-background(low);
    content: attr(data-placeholder);
  }

  &.empty:focus:before {
    @include on-background(high);
    content: "";
  }

  &:focus-within {
    outline: none;
  }
}
