<!--
  @package Oxify
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "SbThemeSwitcher",
    components: {
        OxIcon
    },
    computed: {
        icon (): string {
            return this.$vuetify.theme.dark ? "moon" : "sun"
        }
    },
    mounted () {
        const switchers = document.querySelectorAll(".SbThemeSwitcher")
        for (let i = 0; i < switchers.length - 1; i++) {
            switchers[i].remove()
        }
    },
    methods: {
        toggleTheme () {
            this.$vuetify.theme.dark = !this.$vuetify.theme.dark
        }
    }
})

</script>

<template>
  <div class="SbThemeSwitcher">
    <v-btn
      icon
      large
      @click="toggleTheme"
    >
      <ox-icon :icon="icon" />
    </v-btn>
  </div>
</template>

<style src="./SbThemeSwitcher.scss" lang="scss"></style>
