/**
 * @package Oxify
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";
@import "@/core/styles/variablesStyle";

.SbThemeSwitcher {
  @include elevation(1);
  border-radius: 99px;
  bottom: $space*10;
  position: fixed;
  right: 10vw;
  z-index: 100;
}

// Vuetify Override
div.v-application--wrap {
  min-height: inherit !important;
}

// Storybook Override
.docs-story div[scale="1"] {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
