/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.ExternalIdentifierDialog {

  &-dialog {
    @include on-background($high);
    display: flex;
    flex-direction: row;
    height: 580px;
  }

  &-aside {
    background-color: $background-light;
    display: flex;
    flex-direction: column;
    gap: $space * 2;
    min-width: 256px;
    overflow: hidden auto;
  }

  &-asideButton {
    padding: $space*2;
  }

  &-asideIdentifierLine {
    @include hoverableSelectable();
  }

  &-asideEmpty {
    @include on-background(low);
    @include caption();
    padding: 0 $space*2;
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: $space * 2;
    padding: $space*4 $space*6;
    width: 100%;
  }

  &-sectionHeader {
    display: flex;
    flex-direction: column;
    gap: $space;
  }

  &-sectionHeaderTitle {
    @include h5();
  }

  &-sectionHeaderObject {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: $space;
  }

  &-sectionHeaderObjectTitle {
    @include body2();
    color: $grey-700;
  }

  &-sectionHeaderObjectId {
    @include caption();
    @include on-background($low);
  }

  &-sectionInformation {
    display: grid;
    gap: $space*3 $space*4;
    grid-template-columns: repeat(2, max-content);
  }

  &-sectionInformationLabel {
    @include body1();
  }

  &-sectionInformationValue {
    @include body2();
    @include on-background($medium);
  }

  &-sectionForm {
    display: flex;
    flex-direction: column;
    gap: $space*8;
  }

  &-sectionFormFields {
    display: flex;
    flex-direction: column;
    gap: $space*4;
    width: 280px;
  }

  &-sectionFormButtons {
    display: flex;
    gap: $space*4;
  }

  &-asideSkeleton {
    display: flex;
    flex-direction: column;
    gap: $space*3;
    margin-top: $space*3;
    padding: 0 $space*4;
  }
}
