<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">
import Vue, { PropType } from "vue"
import { addInfo } from "@/core/utils/OxNotifyManager"
import { cloneObject } from "@/core/utils/OxObjectTools"
import { prepareForm } from "@/core/utils/OxSchemaManager"
import { OxUrlDiscovery } from "@/core/utils/OxUrlDiscovery"
import {
    createJsonApiObjects,
    getCollectionFromJsonApiRequest,
    updateJsonApiObject
} from "@/core/utils/OxApiManager"

import ExternalIdentifierLine
    from "@modules/dPsante400/vue/components/ExternalIdentifierLine/ExternalIdentifierLine.vue"
import OxObject from "@/core/models/OxObject"
import ExternalIdentifier from "@modules/dPsante400/vue/models/ExternalIdentifier"
import OxField from "@/core/components/OxField/OxField.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"
import OxForm from "@oxify/components/OxForm/OxForm.vue"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"

export default Vue.extend({
    name: "ExternalIdentifierDialog",
    components: {
        OxField,
        ExternalIdentifierLine,
        OxButton,
        OxDivider
    },
    props: {
        object: {
            type: Object as PropType<OxObject>,
            required: true
        },
        defaultSelectedExternalIdentifier: {
            type: Object as PropType<ExternalIdentifier>
        }
    },
    data () {
        return {
            externalIdentifiers: [] as ExternalIdentifier[],
            selectedExternalIdentifier: undefined as ExternalIdentifier | undefined,
            selectedExternalIdentifierMutated: {} as ExternalIdentifier,
            showModal: false,
            showIdentifiers: false,
            // Form
            resourceName: "idex",
            formReady: false,
            formValidated: false,
            loading: false
        }
    },
    computed: {
        externalIdentifierUrl (): string {
            return this.object.links.identifiers || ""
        },
        headerSectionTitle (): string {
            return this.selectedExternalIdentifier
                ? this.$tr("CIdSante400-action-modify")
                : this.$tr("CIdSante400-title-create")
        },
        isExternalIdentifiersEmpty (): boolean {
            return this.externalIdentifiers.length <= 0 && !!this.showIdentifiers
        }
    },
    async created () {
        this.selectExternalIdentifier(this.defaultSelectedExternalIdentifier)
        this.formReady = await prepareForm(this.resourceName, ["default"])
        await this.loadExternalIdentifiers()
        this.showIdentifiers = true
    },
    methods: {
        async save () {
            const validate = (this.$refs.form as InstanceType<typeof OxForm>).validate()

            if (!validate) {
                return
            }

            this.loading = true

            try {
                if (this.selectedExternalIdentifier) {
                    this.selectExternalIdentifier(await updateJsonApiObject(this.selectedExternalIdentifier, this.selectedExternalIdentifierMutated))
                    addInfo(this.$tr("CIdSante400-msg-modify"))
                }
                else {
                    this.selectExternalIdentifier(await createJsonApiObjects(this.selectedExternalIdentifierMutated, OxUrlDiscovery.idex()))
                    addInfo(this.$tr("CIdSante400-msg-create"))
                }
                this.$emit("dataSaved")
            }
            catch (e) {
                console.error(e)
            }

            this.loading = false
            await this.loadExternalIdentifiers()
        },
        async loadExternalIdentifiers () {
            const url = new OxUrlBuilder(this.externalIdentifierUrl).addSort({ choice: "datetime_create", sort: "DESC" })
            this.externalIdentifiers = (await getCollectionFromJsonApiRequest(ExternalIdentifier, url.toString())).objects
        },
        selectExternalIdentifier (externalIdentifier?: ExternalIdentifier) {
            this.selectedExternalIdentifier = externalIdentifier
            if (externalIdentifier === undefined) {
                this.selectedExternalIdentifierMutated = new ExternalIdentifier()
                this.selectedExternalIdentifierMutated.context = this.object
            }
            else {
                this.selectedExternalIdentifierMutated = cloneObject(externalIdentifier)
            }
        },
        externalIdentifierSelected (external: ExternalIdentifier): { [className: string]: boolean } {
            return {
                active: external.id === this.selectedExternalIdentifier?.id
            }
        },
        resetDialog () {
            this.selectExternalIdentifier()
            this.loadExternalIdentifiers()
        },
        askDelete () {
            this.$emit("askDelete", this.selectedExternalIdentifier)
        }
    }
})
</script>

<template>
  <div class="ExternalIdentifierDialog">
    <div class="ExternalIdentifierDialog-dialog">
      <aside class="ExternalIdentifierDialog-aside">
        <div class="ExternalIdentifierDialog-asideButton">
          <ox-button
            block
            button-style="secondary"
            icon="add"
            :label="$tr('CIdSante400-title-create')"
            @click="selectExternalIdentifier()"
          />
        </div>
        <div>
          <external-identifier-line
            v-for="externalIdentifier in externalIdentifiers"
            :key="externalIdentifier.id"
            class="ExternalIdentifierDialog-asideIdentifierLine"
            :class="externalIdentifierSelected(externalIdentifier)"
            :external-identifier="externalIdentifier"
            @click.native="selectExternalIdentifier(externalIdentifier)"
          />
          <div
            v-if="!showIdentifiers"
            class="ExternalIdentifierDialog-asideSkeleton"
          >
            <v-skeleton-loader type="sentences" />
            <v-skeleton-loader type="sentences" />
            <v-skeleton-loader type="sentences" />
          </div>
          <div
            v-if="isExternalIdentifiersEmpty"
            class="ExternalIdentifierDialog-asideEmpty"
          >
            {{ $tr("CMbObject-back-identifiants.empty") }}
          </div>
        </div>
      </aside>
      <section class="ExternalIdentifierDialog-section">
        <div class="ExternalIdentifierDialog-sectionHeader">
          <div class="ExternalIdentifierDialog-sectionHeaderObject">
            <div class="ExternalIdentifierDialog-sectionHeaderObjectTitle">
              {{ object.type }}
            </div>
            <div class="ExternalIdentifierDialog-sectionHeaderObjectId">
              #{{ object.id }}
            </div>
          </div>
          <div class="ExternalIdentifierDialog-sectionHeaderTitle">
            {{ headerSectionTitle }}
          </div>
        </div>
        <div class="ExternalIdentifierDialog-sectionInformation">
          <div v-if="selectedExternalIdentifier">
            <div class="ExternalIdentifierDialog-sectionInformationLabel">
              {{ $tr('ExternalIdentifier-created') }}
            </div>
            <div class="ExternalIdentifierDialog-sectionInformationValue">
              {{ selectedExternalIdentifier.createdDate }}
            </div>
          </div>
          <div v-if="selectedExternalIdentifier">
            <div class="ExternalIdentifierDialog-sectionInformationLabel">
              {{ $tr('ExternalIdentifier-lastUpdate') }}
            </div>
            <div class="ExternalIdentifierDialog-sectionInformationValue">
              {{ selectedExternalIdentifier.lastUpdatedDate }}
            </div>
          </div>
          <div>
            <div class="ExternalIdentifierDialog-sectionInformationLabel">
              {{ $tr('CIdSante400-object_class') }}
            </div>
            <div class="ExternalIdentifierDialog-sectionInformationValue">
              {{ object.type }}
            </div>
          </div>
          <div>
            <div class="ExternalIdentifierDialog-sectionInformationLabel">
              {{ $tr('CIdSante400-object_id') }}
            </div>
            <div class="ExternalIdentifierDialog-sectionInformationValue">
              {{ object.toString() }}
            </div>
          </div>
        </div>
        <ox-divider :inset-radial="12" />
        <v-form
          ref="form"
          v-model="formValidated"
          class="ExternalIdentifierDialog-sectionForm"
          @submit.prevent="save"
        >
          <div class="ExternalIdentifierDialog-sectionFormFields">
            <ox-field
              v-model="selectedExternalIdentifierMutated.id400"
              autofocus
              field-name="id400"
              :ready="formReady"
              :resource-name="resourceName"
            />
            <ox-field
              v-model="selectedExternalIdentifierMutated.tag"
              field-name="tag"
              :ready="formReady"
              :resource-name="resourceName"
            />
          </div>
          <div class="ExternalIdentifierDialog-sectionFormButtons">
            <ox-button
              button-style="primary"
              :label="$tr('CIdSante400-action-save')"
              :loading="loading"
              :title="$tr('CIdSante400-action-save')"
              type="submit"
            />
            <ox-button
              v-if="selectedExternalIdentifier"
              button-style="tertiary"
              icon="delete"
              :label="$tr('Delete')"
              :title="$tr('Delete')"
              @click="askDelete"
            />
          </div>
        </v-form>
      </section>
    </div>
  </div>
</template>

<style src="./ExternalIdentifierDialog.scss" lang="scss"></style>
