div.sample-configure {
  margin: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.sample-configure-import {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.sample-legacy-section-title {
  padding: 10px 0;
}

.sample-legacy-colors {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.sample-legacy-primary {
  background-color: var(--primary-500);
  height: 100px;
  width: 100px;
}

.sample-legacy-secondary {
  background-color: var(--secondary-500);
  height: 100px;
  width: 100px;
}

.sample-legacy-purple {
  background-color: var(--color-purple);
  height: 100px;
  width: 100px;
}

.sample-legacy-typo {
  font-size: 16px;
  margin-top: 10px;
}

.sample-legacy-high-emphasis {
  color: var(--color-on-background-high);
}

.sample-legacy-medium-emphasis {
  color: var(--color-on-background-medium);
}

.sample-legacy-low-emphasis {
  color: var(--color-on-background-low);
}
