<!--
  @package Oxify\OxIcon
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 -->

<script lang="ts">
import Vue from "vue"
import OxIconCore from "@oxify/components/OxIcon/OxIconCore"

export default Vue.extend({
    name: "OxIcon",
    props: {
        icon: {
            type: String,
            default: ""
        },
        dark: {
            type: Boolean,
            default: false
        },
        right: {
            type: Boolean,
            default: false
        },
        left: {
            type: Boolean,
            default: false
        },
        className: {
            type: String,
            default: ""
        },
        size: Number,
        color: String
    },
    computed: {
        iconSvg () {
            return OxIconCore.get(this.icon)
        },
        iconCustomSvg () {
            return OxIconCore.getCustom(this.icon)
        },
        classes (): string {
            let classes = "OxIcon"

            if (this.left) {
                classes += " left"
            }

            if (this.right) {
                classes += " right"
            }

            if (this.className) {
                classes += " " + this.className
            }

            return classes
        },
        customStyle (): object {
            return {
                height: this.size ? this.size + "px" : "24px",
                width: this.size ? this.size + "px" : "24px",
                color: this.color ?? false
            }
        }
    }
})
</script>

<template>
  <!--  eslint-disable vue/no-v-html -->
  <div
    v-if="iconCustomSvg"
    :class="classes"
    :style="customStyle"
    v-html="iconCustomSvg"
  />
  <!--  eslint-enable vue/no-v-html -->
  <v-icon
    v-else
    :class="classes"
    :color="color"
    :dark="dark"
    :left="left"
    :right="right"
    :size="size"
  >
    {{ iconSvg }}
  </v-icon>
</template>

<style src="./OxIcon.scss" lang="scss"></style>
