/*
  @package Oxify\OxIcon
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

@import "@/core/styles/utils";

.OxIcon {
  align-items: center;
  display: inline-flex;
  vertical-align: middle;

  &.left {
    margin-right: $space*2;
  }

  &.right {
    margin-left: $space*2;
  }

  svg {
    fill: currentColor;
  }
}

span.OxIcon {
  &.v-icon {
    color: inherit;
  }
}
