<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">
import Vue from "vue"
import OxRichTextFieldButton from "@/core/components/OxRichTextField/OxRichTextFieldButton/OxRichTextFieldButton.vue"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"

export default Vue.extend({
    name: "OxRichTextFieldControlBar",
    components: { OxRichTextFieldButton, OxDivider },
    props: {
        isHelped: {
            type: Boolean,
            required: true
        },
        isMarkdown: {
            type: Boolean,
            default: false
        },
        addFast: {
            type: Boolean,
            default: false
        },
        timestamp: {
            type: Boolean,
            default: true
        },
        buttonsActive: {
            type: Object,
            default () {
                return {
                    bold: false,
                    italic: false,
                    strikethrough: false,
                    list: false,
                    listNum: false
                }
            }
        }
    },
    data () {
        return {
            expanded: false,
            timer: 0
        }
    },
    computed: {
        addFastClass (): { [className: string]: boolean } {
            return { "OxRichTextFieldControlBar-addFast": true, expanded: this.expanded }
        }
    },
    methods: {
        onMouseEnter () {
            window.clearTimeout(this.timer)
            this.expanded = true
        },
        onMouseLeave () {
            this.timer = window.setTimeout(() => {
                this.expanded = false
            }, 250)
        }
    }
})
</script>

<template>
  <div class="OxRichTextFieldControlBar">
    <div class="OxRichTextFieldControlBar-icons">
      <template v-if="isMarkdown">
        <ox-rich-text-field-button
          icon="bold"
          :is-active="buttonsActive.bold"
          @click="$emit('bold')"
        />
        <ox-rich-text-field-button
          icon="italic"
          :is-active="buttonsActive.italic"
          @click="$emit('italic')"
        />
        <ox-rich-text-field-button
          icon="strikethrough"
          :is-active="buttonsActive.strikethrough"
          @click="$emit('strikethrough')"
        />
        <ox-divider :vertical="true" />
        <ox-rich-text-field-button
          icon="listBulleted"
          :is-active="buttonsActive.list"
          @click="$emit('list-bulleted')"
        />
        <ox-rich-text-field-button
          icon="listNumbered"
          :is-active="buttonsActive.listNum"
          @click="$emit('list-numbered')"
        />
        <ox-rich-text-field-button
          icon="link"
          @click="$emit('link')"
        />
      </template>
      <template v-if="isHelped">
        <ox-rich-text-field-button
          v-if="timestamp"
          icon="time"
          :tooltip-text="$tr('OxRichTextField-action-timestamp')"
          @click="$emit('clock')"
        />
        <ox-divider
          v-if="timestamp || isMarkdown"
          :vertical="true"
        />
        <ox-rich-text-field-button
          icon="search"
          :tooltip-text="$tr('OxRichTextField-action-search')"
          @click="$emit('search')"
        />
        <ox-rich-text-field-button
          class="OxRichTextFieldControlBar-add"
          icon="add"
          :tooltip-text="$tr('OxRichTextField-action-add')"
          @click="$emit('plus')"
          @mouseenter="onMouseEnter"
          @mouseleave="onMouseLeave"
        />
        <div
          v-if="addFast"
          :class="addFastClass"
          @mouseenter="onMouseEnter"
          @mouseleave="onMouseLeave"
        >
          <ox-rich-text-field-button
            icon="account"
            :tooltip-text="$tr('OxRichTextField-action-addFastUser')"
            @click="$emit('plusFast', 'mediuser')"
          />
          <ox-rich-text-field-button
            icon="accountGroup"
            :tooltip-text="$tr('OxRichTextField-action-addFastFunction')"
            @click="$emit('plusFast', 'function')"
          />
          <ox-rich-text-field-button
            icon="building"
            :tooltip-text="$tr('OxRichTextField-action-addFastGroup')"
            @click="$emit('plusFast', 'group')"
          />
        </div>
      </template>
    </div>
    <ox-divider class="OxRichTextFieldControlBar-bottomDivider" />
  </div>
</template>

<style src="./OxRichTextFieldControlBar.scss" lang="scss"></style>
