/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxRichTextFieldControlBar {
  display: flex;
  flex-flow: column;
  padding: 0 $space*2;

  &-add {
    z-index: 2;
  }

  &-addFast {
    display: flex;
    gap: 0;
    left: -60px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transform: scaleX(0);
    transition: opacity 0.1s ease-out, transform 0.1s linear, left 0.2s linear, gap 0.2s linear;

    &.expanded {
      gap: $space;
      left: 0;
      opacity: 1;
      transform: translateX(0) scaleX(1);
      transition: opacity 0.2s ease-in, transform 0.2s linear, left 0.2s linear, gap 0.2s linear;
    }
  }

  &-bottomDivider {
    margin: 0;
    width: 100%;
  }

  &-icons {
    display: flex;
    flex-flow: row;
    gap: $space;
    height: 24px;
  }


  &-loading {
    margin: $space $space $space auto;
  }
}
