<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import TabShortcut from "@/components/Appbar/TabShortcut/TabShortcut.vue"
import ModuleLine from "@/components/Appbar/ModuleLine/ModuleLine.vue"
import ModuleDetail from "@/components/Appbar/ModuleDetail/ModuleDetail.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxTextField from "@oxify/components/OxField/OxTextField/OxTextField.vue"
import Vue, { PropType } from "vue"
import Tab from "@modules/system/vue/models/Tab"
import Module from "@/core/models/Module"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { getTabForModule, getUserDefaultTabs, setTabForModule } from "@/components/Appbar/utils/DefaultCache"
import { useUserStore } from "@/core/stores/user"
import { updateModulesDefaultTabs } from "@/components/Appbar/utils/AppbarUtils"
import { changePage } from "@/core/utils/OxFunctions"
const ModuleDetailMobile = () => import(/* webpackChunkName: "ModuleDetailMobile" */ "@/components/Appbar/ModuleDetail/ModuleDetailMobile/ModuleDetailMobile.vue")

/**
 * NavModules
 * Module navigation component
 */
export default Vue.extend({
    name: "NavModules",
    components: {
        TabShortcut,
        ModuleLine,
        OxTextField,
        OxButton,
        ModuleDetail,
        ModuleDetailMobile
    },
    props: {
        tabShortcuts: {
            type: Array as PropType<Array<Tab>>,
            required: true
        },
        mobile: {
            type: Boolean,
            default: false
        },
        showHomeLink: {
            type: Boolean,
            default: false
        },
        homeLink: {
            type: String,
            required: true
        },
        defaultTabsLink: {
            type: String,
            required: true
        }
    },
    data () {
        return {
            expand: false,
            showDetail: false,
            detailModule: false as Module | boolean,
            moduleFilter: "",
            showModules: false,
            // Keyboard navigation controls
            saveFocusModuleIndex: -1,
            focusModuleIndex: -1,
            focusTabIndex: -1,
            tabLimit: -1
        }
    },
    computed: {
        ...mapState(useNavStore, ["modulesVisible"]),
        showFavTabs (): boolean {
            return this.tabShortcuts.length > 0
        },
        moreModules (): boolean {
            return this.modulesVisible.length > 6
        },
        classes (): string {
            return this.getClasses(this.expand)
        },
        modulesClasses (): string {
            return this.getModulesClasses(this.displayEmpty)
        },
        displayEmpty (): boolean {
            return this.getDisplayEmpty(this.moduleFilter, this.modulesDisplayed.length) && this.showModules
        },
        modulesDisplayed (): Array<Module> {
            if (this.moduleFilter === "") {
                // Set 6 first module active to prevent v-lazy animation
                return [...this.modulesVisible.slice(0, 6).map((module) => {
                    module.isActive = true
                    return module
                }), ...this.modulesVisible.slice(6)]
            }
            else {
                return (this.modulesVisible as Array<Module>).filter((module) => {
                    const filter = this.moduleFilter.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")
                    return (
                        this.$tr("module-" + module.name + "-court")
                            .toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")
                            .includes(filter) ||
                        module.name
                            .toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")
                            .includes(filter)
                    )
                })
            }
        }
    },
    async created () {
        const userStore = useUserStore()
        const defaultTabs = getUserDefaultTabs(userStore.sessionHash)
        // If not all visible modules have their default tab in storage
        if (defaultTabs === null || Object.keys(defaultTabs).length < this.modulesVisible.length) {
            this.showModules = false
            await updateModulesDefaultTabs(userStore.sessionHash, this.defaultTabsLink)
        }

        this.showModules = true
    },
    deactivated () {
        this.resetNavModules()
    },
    activated () {
        window.addEventListener("keydown", this.keyboardShortcutAccess)
    },
    methods: {
        resetNavModules () {
            this.showDetail = false
            this.detailModule = false
            this.filterModules("")
            this.focusModuleIndex = -1
            this.focusTabIndex = -1
            window.removeEventListener("keydown", this.keyboardShortcutAccess)
        },
        clickOutside () {
            this.$emit("input", false)
        },
        expandNav () {
            this.expand = true
        },
        collapseNav () {
            this.expand = false
        },
        onScroll (e) {
            if (e.target.scrollTop === 0 && this.expand) {
                const atBottom = e.target.scrollHeight - Math.round(e.target.scrollTop) === e.target.clientHeight
                if (atBottom) {
                    return
                }
                this.collapseNav()
            }
            else if (!this.expand) {
                this.expandNav()
            }
        },
        keyboardShortcutAccess (event: KeyboardEvent) {
            if (event.altKey) {
                event.preventDefault()
                event.stopPropagation()
                const elements = this.$refs.shortcuts as Vue[]
                let position = -1
                switch (event.code) {
                case "Digit1":
                    position = 0
                    break
                case "Digit2":
                    position = 1
                    break
                case "Digit3":
                    position = 2
                    break
                case "Digit4":
                    position = 3
                    break
                default:
                    break
                }
                if (position !== -1 && Array.isArray(elements) && elements.length > position) {
                    (elements[position].$el as HTMLElement).click()
                }
            }
            if (event.code === "ArrowUp") {
                event.preventDefault()
                event.stopPropagation()
                if (this.focusTabIndex !== -1) {
                    this.focusTabIndex = (this.focusTabIndex <= 0) ? this.focusTabIndex : this.focusTabIndex - 1
                }
                else {
                    if (this.focusModuleIndex <= 0) {
                        this.focusModuleIndex = -1
                        this.setFocusOnSearchField()
                    }
                    else {
                        this.focusModuleIndex--
                    }
                }
            }
            if (event.code === "ArrowDown") {
                event.preventDefault()
                event.stopPropagation()
                if (this.focusTabIndex !== -1 && this.detailModule) {
                    this.focusTabIndex = (this.focusTabIndex < this.tabLimit)
                        ? this.focusTabIndex + 1
                        : this.focusTabIndex
                }
                else {
                    this.focusModuleIndex = (this.focusModuleIndex < (this.modulesDisplayed.length - 1))
                        ? this.focusModuleIndex + 1
                        : this.focusModuleIndex
                }
            }
        },
        async affectDetailledModule ({ module, fromKeyboard }) {
            this.showDetail = true
            // Display skeleton
            this.detailModule = false

            if (!module.tabsLoaded && module.tabsUrl) {
                const tabs = await getCollectionFromJsonApiRequest(Tab, module.tabsUrl)
                module.addTabs(tabs.objects)
            }
            this.detailModule = module
            // Update module default tab
            if (module.url) {
                const userStore = useUserStore()
                setTabForModule(userStore.sessionHash, module.name, module.url)
            }

            if ((this.detailModule as Module).standardTabs.length > 0 || ((this.detailModule as Module).pinnedTabs.length > 0)) {
                this.focusTabIndex = fromKeyboard ? 0 : -1
                this.saveFocusModuleIndex = this.focusModuleIndex
                this.focusModuleIndex = -1
                this.tabLimit = (this.detailModule as Module).pinnedTabs.length +
                    (this.detailModule as Module).standardTabs.length +
                    ((this.detailModule as Module).configureTabs.length > 0 ? 1 : 0) +
                    ((this.detailModule as Module).paramTabs.length > 0 ? 1 : 0) - 1
            }
        },
        checkActive (moduleName: string): boolean {
            return (typeof this.detailModule !== "boolean" && this.detailModule.name === moduleName)
        },
        checkFocus (index: number): boolean {
            return this.focusModuleIndex === index
        },
        filterModules (search: string) {
            this.focusModuleIndex = -1
            if (search !== "") {
                this.expandNav()
            }
            else if (!this.detailModule) {
                this.collapseNav()
            }
            this.moduleFilter = search
        },
        addPin (tab: Tab) {
            if (typeof this.detailModule !== "boolean") {
                this.detailModule.pinTab(tab)
            }
        },
        removePin (tab: Tab) {
            if (typeof this.detailModule !== "boolean") {
                this.detailModule.unpinTab(tab)
            }
        },
        setPinnedTabs (tabs: Array<Tab>) {
            if (typeof this.detailModule !== "boolean") {
                this.detailModule.setPinnedTabs(tabs)
            }
        },
        getClasses (expand: boolean): string {
            return expand ? "expand" : ""
        },
        getModulesClasses (displayEmpty: boolean): string {
            return displayEmpty ? "empty" : ""
        },
        getModuleCategory (moduleName: string | undefined): string {
            if (!Array.isArray(this.modulesVisible)) {
                return ""
            }
            const module = this.modulesVisible.find((module) => {
                return module.name === moduleName
            })
            return module ? module.category : ""
        },
        getDisplayEmpty (moduleFilter: string, modulesLength: number): boolean {
            return moduleFilter !== "" && modulesLength === 0
        },
        resetSearch () {
            this.expand = false
            this.moduleFilter = ""
            this.setFocusOnSearchField()
        },
        setFocusOnSearchField () {
            const el = (this.$refs.searchField as unknown as InstanceType<typeof OxTextField>)?.$el.querySelector("input")
            if (el) {
                el.focus()
            }
        },
        unsetFocusDetail () {
            this.focusTabIndex = -1
            this.focusModuleIndex = this.saveFocusModuleIndex
            this.saveFocusModuleIndex = -1
        },
        accessToFirstModule (event: KeyboardEvent) {
            if (this.moduleFilter !== "" && this.modulesDisplayed[0]) {
                const userStore = useUserStore()
                const tabUrl = getTabForModule(userStore.sessionHash, this.modulesDisplayed[0].name)
                if (tabUrl) {
                    changePage(tabUrl, event.metaKey || event.ctrlKey)
                }
            }
        }
    }
})
</script>

<template>
  <div
    v-click-outside="clickOutside"
    class="NavModules"
    :class="classes"
  >
    <div class="NavModules-navigation">
      <a
        v-if="showHomeLink"
        class="NavModules-homeButton"
        :href="homeLink"
      >
        <ox-button
          button-style="tertiary"
          icon="home"
          :label="$tr('Home')"
        />
      </a>

      <div class="NavModules-title">
        {{ $tr("Appbar-NavModule-tab-frequently-consulted") }}
      </div>
      <div
        v-if="showFavTabs"
        key="favTabs"
        class="NavModules-shortcuts"
      >
        <div
          v-for="(tab, index) in tabShortcuts"
          :key="index"
          class="NavModules-tabShortcut"
        >
          <tab-shortcut
            :key="index"
            ref="shortcuts"
            :mobile="mobile"
            :module-category="getModuleCategory(tab.moduleName)"
            :tab="tab"
          />
        </div>
      </div>
      <div
        v-else
        key="noFavTabs"
        class="NavModules-emptyShortcuts"
      >
        <svg
          class="NavModules-noFavTabIllus"
          fill="none"
          viewBox="0 0 155 72"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="77"
            cy="36"
            fill="black"
            fill-opacity="0.03"
            r="36"
          />
          <rect
            fill="white"
            height="35"
            rx="4"
            width="127"
            y="11"
          />
          <rect
            height="34"
            rx="3.5"
            stroke="#263238"
            stroke-opacity="0.12"
            width="126"
            x="0.5"
            y="11.5"
          />
          <ellipse
            cx="12.7001"
            cy="23.6001"
            fill="#3F51B5"
            rx="7.05556"
            ry="7"
          />
          <rect
            fill="#ECEFF1"
            height="7.7"
            rx="3.85"
            width="70.5556"
            x="27.5166"
            y="18"
          />
          <rect
            fill="#CFD8DC"
            height="8.4"
            rx="4.2"
            width="91.0167"
            x="27.5166"
            y="31.3"
          />
          <rect
            fill="white"
            height="35"
            rx="4"
            width="127"
            x="28"
            y="24"
          />
          <rect
            height="34"
            rx="3.5"
            stroke="#263238"
            stroke-opacity="0.12"
            width="126"
            x="28.5"
            y="24.5"
          />
          <ellipse
            cx="40.7001"
            cy="36.6001"
            fill="#03A9F4"
            rx="7.05556"
            ry="7"
          />
          <rect
            fill="#ECEFF1"
            height="7.7"
            rx="3.85"
            width="57.15"
            x="55.5166"
            y="31"
          />
          <rect
            fill="#CFD8DC"
            height="8.4"
            rx="4.2"
            width="74.0833"
            x="55.5166"
            y="44.3"
          />
        </svg>
        <div>
          <div class="NavModules-noFavTabTextTitle">
            {{ $tr('Appbar-NavModule-noFavTab-title') }}
          </div>
          <div class="NavModules-noFavTabTextDesc">
            {{ $tr('Appbar-NavModule-noFavTab-desc') }}
          </div>
        </div>
      </div>
      <div class="NavModules-title">
        {{ $tr("CModule|pl") }}
      </div>
      <ox-text-field
        v-if="moreModules"
        ref="searchField"
        :autofocus="!mobile"
        class="NavModules-searchField"
        :dense="true"
        icon="search"
        :placeholder="$tr('Appbar-NavModule-search-module')"
        :rounded="true"
        :value="moduleFilter"
        @change="filterModules"
        @keydown.enter="accessToFirstModule"
        @keydown.esc="resetSearch"
      />
      <div
        v-if="showModules"
        v-scroll.self="onScroll"
        class="NavModules-modules"
        :class="modulesClasses"
      >
        <div
          v-for="(module, index) in modulesDisplayed"
          :key="module.name"
        >
          <v-lazy
            v-model="module.isActive"
            height="50"
            transition="scroll-y-reverse-transition"
          >
            <module-line
              :is-active="checkActive(module.name)"
              :is-focus="checkFocus(index)"
              :module="module"
              @detailClick="affectDetailledModule"
            />
          </v-lazy>
        </div>
      </div>
      <div
        v-else
        class="NavModules-modules"
      >
        <v-skeleton-loader
          v-for="i in 6"
          :key="i"
          height="50"
          type="list-item-avatar"
        />
      </div>
      <div
        v-if="displayEmpty"
        class="NavModules-empty"
      >
        {{ $tr("Appbar-NavModule-Modules-None") }} <br>
        {{ $tr("Appbar-NavModule-CTA-search") }}
        <a
          class="NavModules-CTAInit"
          @click="resetSearch"
        >
          {{ $tr("Appbar-NavModule-CTA-init-search") }}
        </a>
      </div>
      <div
        v-if="moreModules && !displayEmpty && !mobile"
        class="NavModules-cta"
        @click="expandNav"
      >
        {{ $tr('Appbar-NavModule-plus') }}
      </div>
    </div>
    <div
      v-if="showDetail"
      class="NavModules-details"
    >
      <module-detail-mobile
        v-if="mobile"
        :module="detailModule"
        :show-back="true"
        @close="resetNavModules"
      />
      <module-detail
        v-else
        :focus-tab-index="focusTabIndex"
        :module="detailModule"
        @addPin="addPin"
        @changePin="setPinnedTabs"
        @removePin="removePin"
        @unsetFocus="unsetFocusDetail"
      />
    </div>
  </div>
</template>

<style src="./NavModules.scss" lang="scss"></style>
