<!--
  @package Oxify\OxTab
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "OxTab",
    components: { OxIcon },
    props: {
        /**
         * The label of the tab
         */
        title: {
            type: String
        },
        /**
         * Icon name based on the icon list
         */
        iconName: {
            type: String
        },
        /**
         * Place the icon on the "left" | "right" | "top" | "bottom" of the title
         */
        iconPosition: {
            type: String as PropType<"left" | "right" | "top" | "bottom">,
            default: "left"
        },
        /**
         * Change the icon color
         */
        iconColor: {
            type: String
        },
        /**
         * Disable a specific tab
         */
        disabled: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        contentClass () : { [className: string]: boolean } {
            return {
                "OxTab-tabContent": true,
                [this.iconPosition]: true
            }
        }
    },
    methods: {
        emitClick (event) {
            this.$emit("click", event)
        }
    }
})
</script>

<template>
  <v-tab
    class="OxTab"
    :disabled="disabled"
    @click="emitClick"
  >
    <!-- @slot Override the icon and the title -->
    <slot>
      <div :class="contentClass">
        <ox-icon
          v-if="iconName"
          :color="iconColor"
          :icon="iconName"
          :size="20"
        />
        <span>{{ title }}</span>
      </div>
    </slot>
  </v-tab>
</template>

<style src="./OxTab.scss" lang="scss" />
