/**
 * @package Oxify\OxTab
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxTab {

  &-tabContent {
    align-items: center;
    display: flex;
    justify-content: center;

    &.left {
      flex-direction: row;
    }

    &.right {
      flex-direction: row-reverse;
    }

    &.top {
      flex-direction: column;
    }

    &.bottom {
      flex-direction: column-reverse;
    }
  }
}
