<script lang="ts">
import Vue, { PropType } from "vue"

import OxSorterChoice from "@oxify/types/OxSorterTypes"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "OxSorter",
    components: { OxIcon },
    props: {
        aspect: {
            type: String as PropType<"select" | "text">,
            default: "select",
            validator: function (value: string) {
                return ["select", "text"].includes(value)
            }
        },
        choices: Array as PropType<OxSorterChoice[]>,
        defaultChoice: {
            type: String
        },
        defaultSort: {
            type: String,
            default: "ASC"
        }
    },
    data () {
        return {
            currentChoice: "",
            currentSort: "",
            displayedChoices: [] as OxSorterChoice[]
        }
    },
    computed: {
        currentIcon (): string {
            return this.currentSort === "ASC" ? "sortAscending" : "sortDescending"
        },
        currentChoiceLabel (): string {
            const choice = this.displayedChoices.find((_choice: OxSorterChoice) => _choice.value === this.currentChoice)
            return choice ? choice.label : "Invalid value"
        },
        showSortIcon (): boolean {
            return this.currentChoice !== ""
        },
        labelClass (): string {
            return this.currentChoice === "" ? "empty" : ""
        }
    },
    mounted (): void {
        if (this.choices) {
            this.displayedChoices = JSON.parse(JSON.stringify(this.choices))
        }

        this.displayedChoices.unshift({ value: "", label: this.$tr("No filter") })
        const sort = this.defaultSort?.toUpperCase()
        this.currentSort = (sort === "ASC" || sort === "DESC") ? sort : "ASC"
        if (this.defaultChoice) {
            this.currentChoice = this.defaultChoice
        }
    },
    methods: {
        changeSort (): void {
            this.currentSort = this.currentSort === "ASC" ? "DESC" : "ASC"
            this.emitChange()
        },
        changeValue (value: string): void {
            this.currentChoice = value
            this.emitChange()
        },
        emitChange (): void {
            this.$emit("update", {
                choice: this.currentChoice,
                sort: this.currentSort
            })
        }
    }
})
</script>

<template>
  <v-menu offset-y>
    <template #activator="{ on }">
      <div
        class="OxSorter"
        :class="aspect"
        v-on="on"
      >
        <div class="OxSorter-label">
          {{ $tr('Sort by') }} :
        </div>
        <div
          v-if="showSortIcon"
          class="OxSorter-icon"
          @click.stop="changeSort()"
        >
          <ox-icon
            :icon="currentIcon"
            :size="16"
          />
        </div>
        <div
          class="OxSorter-value"
          :class="labelClass"
        >
          {{ currentChoiceLabel }}
        </div>
        <div class="OxSorter-dropdown">
          <ox-icon
            icon="chevronDown"
            :size="16"
          />
        </div>
      </div>
    </template>
    <v-list>
      <v-list-item-group>
        <v-list-item
          v-for="(choice, index) in displayedChoices"
          :key="index"
          link
          @click="changeValue(choice.value)"
        >
          <v-list-item-title>{{ choice.label }}</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<style lang="scss" src="./OxSorter.scss" />
