/*
  @package Oxify\OxSections
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

@import "@/core/styles/utils";

.OxSorter {
  align-items: center;
  background-color: $background-input-default;
  border: $border;
  border-radius: 4px;
  display: inline-flex;
  flex-flow: row nowrap;
  padding: $space*2;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  &.text {
    background: none;
    border: none;
    padding: 0;
  }

  &-label {
    @include caption;
    @include on-background(medium);
  }

  &-icon {
    color: $primary;
    line-height: 16px;
    padding: 0 $space;
    position: relative;

    &:hover {
      cursor: pointer;

      &::before {
        content: "";
      }

    }

    &::before {
      @include primary-opacity($hover);
      border-radius: 4px;
      height: 24px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
    }
  }

  &-value {
    @include caption;
    color: $primary;

    &.empty {
      @include on-background(low);
      margin-left: $space;
    }
  }

  &-dropdown {
    color: $primary;
    line-height: 16px;
  }
}
