/**
 * @package Oxify\OxBeautify
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxBeautify {
  &.void {
    @include on-background($low);
  }

  &.inline {
    display: inline;
  }
}
