<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import OxDate from "@oxify/utils/OxDate"

export default Vue.extend({
    name: "OxBeautify",
    props: {
        value: {
            type: [String, Boolean, Number, Object, Array],
            default: undefined
        },
        voidLabel: String,
        inline: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        /**
         * Check if the value is a date
         *
         * @return {boolean}
         */
        isDate (): boolean {
            return this.isString && OxDate.isDate(this.value as string)
        },

        /**
         * Check if the value is a time
         *
         * @return {boolean}
         */
        isTime (): boolean {
            return this.isString && OxDate.isTime(this.value as string)
        },

        /**
         * Check if the value is a boolean
         *
         * @return {boolean}
         */
        isBoolean (): boolean {
            return typeof (this.value) === "boolean"
        },

        /**
         * Check if the value is a string
         *
         * @return {boolean}
         */
        isString (): boolean {
            return typeof (this.value) === "string" && !this.isNumber
        },

        /**
         * Check if the value is a number
         *
         * @return {boolean}
         */
        isNumber (): boolean {
            return typeof (this.value) === "number" || parseFloat(this.value).toString() === this.value
        },

        /**
         * Check if the value is void
         *
         * @return {boolean}
         */
        isVoid (): boolean {
            return (this.isString && ["", " "].indexOf(this.value as string) >= 0) ||
                typeof (this.value) === "undefined" ||
                this.value === null ||
                (typeof (this.value) === "object" && !this.value)
        },

        /**
         * Check if the value is an array
         *
         * @return {boolean}
         */
        isArray (): boolean {
            return typeof (this.value) === "object" && Array.isArray(this.value)
        },

        /**
         * Check if the value is empty
         *
         * @return {boolean}
         */
        isEmpty (): boolean {
            return this.isArray && (this.value as unknown as object[]).length === 0
        },

        /**
         * Get displayable version of the value
         *
         * @return {string}
         */
        view (): string {
            if (this.isBoolean) {
                return this.value ? this.$tr("Yes").toString() : this.$tr("No").toString()
            }
            if (this.isVoid) {
                return this.voidLabel ? this.voidLabel : "-"
            }
            if (this.isEmpty) {
                return this.voidLabel ? this.voidLabel : this.$tr("None")
            }
            if (this.isNumber) {
                return this.value.toString()
            }
            if (this.isDate || this.isTime) {
                const dateFormat = OxDate.getAutoFormat(this.value as string)
                let dateView = this.value as string
                if (this.isDate) {
                    dateView = OxDate.formatStatic(new Date(this.value as string), dateFormat)
                }
                if (dateFormat === "time" || dateFormat === "datetime") {
                    dateView = OxDate.beautifyTime(dateView)
                }
                return dateView
            }
            return this.value.toString()
        },

        /**
         * Main container classes
         *
         * @return {Object}
         */
        containerClasses (): object {
            return {
                void: this.isVoid || this.isEmpty,
                inline: this.inline
            }
        }
    }
})
</script>

<template>
  <div
    class="OxBeautify"
    :class="containerClasses"
  >
    {{ view }}
  </div>
</template>

<style src="./OxBeautify.scss" lang="scss"></style>
