<!--
  @package Oxify\OxLoading
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"

export default Vue.extend({
    name: "OxLoading",
    props: {
        /**
         * Defines the color
         */
        color: {
            type: String,
            default: OxThemeCore.secondary
        },
        /**
         * For the linear loader set the height in px
         */
        height: {
            type: [String, Number],
            default: 4
        },
        /**
         * For the circular loader set the stroke width in px
         */
        width: {
            type: [String, Number],
            default: 2
        },
        /**
         * Defines the size of the circular loader
         */
        size: {
            type: [String, Number],
            default: 32
        },
        /**
         * Choose between linear loader and circular loader
         */
        circular: {
            type: Boolean,
            default: false
        }
    }
})
</script>

<template>
  <v-progress-linear
    v-if="!circular"
    :color="color"
    :height="height"
    indeterminate
  />
  <v-progress-circular
    v-else
    :color="color"
    indeterminate
    :size="size"
    :width="width"
  />
</template>
