<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import SampleMovie from "../../models/SampleMovie"
import Vue, { PropType } from "vue"
import SampleBookmark from "@modules/sample/vue/components/SampleBookmark/SampleBookmark.vue"
import OxAsyncTooltip from "@/core/components/OxAsyncTooltip/OxAsyncTooltip.vue"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import SampleMovieTooltip from "@modules/sample/vue/components/SampleMovieTooltip/SampleMovieTooltip.vue"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import OxValue from "@/core/components/OxValue/OxValue.vue"

export default Vue.extend({
    name: "SampleMovieCard",
    components: {
        OxValue,
        SampleMovieTooltip,
        OxAsyncTooltip,
        SampleBookmark,
        OxChip,
        OxIcon
    },
    props: {
        movie: {
            type: Object as PropType<SampleMovie>,
            required: true
        },
        on: Object
    },
    data () {
        return {
            movieClass: SampleMovie,
            starColor: OxThemeCore.yellowText
        }
    },
    computed: {
        cardClasses (): { isBookmarked: boolean } {
            return {
                isBookmarked: !!this.movie.bookmark
            }
        },
        showCSA (): boolean {
            return this.movie.csa === "18"
        },
        movieUrlWithDetails (): string {
            return new OxUrlBuilder(this.movie.self)
                .withRelations(["category"])
                .withFieldsets(["default", "details"])
                .toString()
        },
        hasRating (): boolean {
            return this.movie.meta?.rating_count !== undefined && this.movie.meta.rating_count > 0
        }
    },
    methods: {
        toggleBookmark () {
            this.$emit("toggleBookmark", this.movie)
        }
    }
})
</script>

<template>
  <ox-async-tooltip
    max-height="200px"
    :ox-object="movieClass"
    :url="movieUrlWithDetails"
    width="450px"
  >
    <template #activator>
      <a
        class="SampleMovieCard"
        :class="cardClasses"
        :href="movie.detailLink"
        v-on="on"
      >
        <div
          class="SampleMovieCard-bookmark"
          @click.stop.prevent="toggleBookmark"
        >
          <sample-bookmark :movie="movie" />
        </div>
        <div class="SampleMovieCard-cover">
          <img
            :alt="movie.title"
            class="SampleMovieCard-coverImage"
            :src="movie.image"
          >
        </div>
        <div class="SampleMovieCard-content">
          <div class="SampleMovieCard-titleContainer">
            <div class="SampleMovieCard-title">
              {{ movie.title }}
            </div>
            <ox-chip
              v-if="showCSA"
              color="error"
              :small="true"
            >
              -18
            </ox-chip>
          </div>
          <div class="SampleMovieCard-informations">
            {{ movie.category.name }} - <ox-value
              field-name="duration"
              inline
              :resource-name="movie.type"
              :value="movie.duration"
            />
          </div>
          <div class="SampleMovieCard-footer">
            <div
              v-if="hasRating"
              class="SampleMovieCard-rating"
            >
              <ox-icon
                :color="starColor"
                icon="star"
                :size="20"
              />
              {{ movie.meta.rating_average }}
            </div>
            <span
              v-else
              class="SampleMovieCard-noRating"
            />
            <div class="SampleMovieCard-date">{{ movie.releaseYear }}</div>
          </div>
        </div>
      </a>
    </template>
    <template #tooltip="{ data }">
      <div
        v-if="data"
        class="SampleMovieCard-moreInfo"
      >
        <sample-movie-tooltip :movie="data" />
      </div>
    </template>
    <template #loading>
      <div class="SampleMovieCard-moreInfoSkeleton">
        <div class="SampleMovieCard-moreInfoSkeletonImg">
          <v-skeleton-loader type="image" />
        </div>
        <div class="SampleMovieCard-moreInfoSkeletonText">
          <v-skeleton-loader type="paragraph" />
        </div>
      </div>
    </template>
  </ox-async-tooltip>
</template>

<style src="./SampleMovieCard.scss" lang="scss"></style>
