/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleMovieCard {
  display: block;
  position: relative;

  &:hover {
    cursor: pointer;

    .SampleMovieCard {
      &-bookmark {
        transform: scale(1);
      }

      &-coverImage {
        filter: brightness(70%);
        transform: scale(1.2);
      }

      &-content {
        background-color: alpha($secondary-50, 0.4);
      }
    }
  }

  &.isBookmarked {
    .SampleMovieCard-bookmark {
      color: $secondary-500;
      transform: scale(1);
    }
  }

  &-bookmark {
    color: $secondary-50;
    cursor: pointer;
    position: absolute;
    right: $space*2;
    top: $space*2;
    transform: scale(0);
    transition: transform 0.2s ease-in, color 0.15s linear;
    z-index: 7;

    &:hover {
      color: $secondary-500;
    }
  }

  &-cover {
    border-radius: 6px 6px 0 0;
    height: 224px;
    overflow: hidden;
    width: 100%;
  }

  &-coverImage {
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    width: 100%;
  }

  &-content {
    @include elevation(2, true);
    border: $border;
    border-radius: 0 0 6px 6px;
    border-top: none;
    display: flex;
    flex-flow: column nowrap;
    gap: $space;
    padding: $space*2;
    width: 100%;
  }

  &-titleContainer {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space;
  }

  &-title {
    @include on-background(high);
    @include subtitle2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-informations {
    @include caption;
    @include on-background(medium);
  }

  &-moreInfo,
  &-moreInfoSkeleton {
    padding: 0 $space*3 $space*3 $space*3;
  }

  &-moreInfoSkeleton {
    display: flex;
    gap: $space*3;
  }

  &-moreInfoSkeletonImg {
    height: 100px;
    overflow: hidden;
    padding-top: $space*3;
    width: 75px;
  }

  &-moreInfoSkeletonText {
    flex: 1;
    padding-top: $space*3;
  }

  &-footer {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-rating {
    @include caption;
    @include on-background(low);
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space;
  }

  &-noRating {
    height: 20px;
  }

  &-date {
    @include caption;
    @include on-background(low);
  }
}
