//
// @package Mediboard\Style\Mediboard
// @author  SAS OpenXtrem <dev@openxtrem.com>
// @license https://www.gnu.org/licenses/gpl.html GNU General Public License
// @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
//

// CSS Variables for light theme colors

:root {
  // Colors
  --white: #FFFFFF;
  --black: #000000;

  --primary-900: #1A237E;
  --primary-800: #283593;
  --primary-700: #303F9F;
  --primary-600: #3949AB;
  --primary-500: #3F51B5;
  --primary-400: #5C6BC0;
  --primary-300: #7986CB;
  --primary-200: #9FA8DA;
  --primary-100: #C5CAE9;
  --primary-50: #E8EAF6;

  --secondary-900: #01579B;
  --secondary-800: #0277BD;
  --secondary-700: #0288D1;
  --secondary-600: #039BE5;
  --secondary-500: #03A9F4;
  --secondary-400: #29B6F6;
  --secondary-300: #4FC3F7;
  --secondary-200: #81D4FA;
  --secondary-100: #B3E5FC;
  --secondary-50: #E1F5FE;

  --grey-900: #263238;
  --grey-800: #37474F;
  --grey-700: #455A64;
  --grey-600: #546E7A;
  --grey-500: #607D8B;
  --grey-400: #78909C;
  --grey-300: #90A4AE;
  --grey-200: #B0BEC5;
  --grey-100: #CFD8DC;
  --grey-50: #ECEFF1;

  --success-surface-default: #388E3C;
  --success-surface-light: #43A04729;
  --success-text-default: #43A047;

  --warning-surface-default: #FFAE34;
  --warning-surface-light: #E651001E;
  --warning-text-default: #FF9800;

  --info-surface-default: #1976D2;
  --info-surface-light: #1976D229;
  --info-text-default: #1E88E5;

  --error-surface-default: #F44336;
  --error-surface-darken: #D94848;
  --error-surface-light: #F4433628;
  --error-text-default: #FF3100;
  --error-text-on-primary: #FF8B70;

  --color-surface-primary-800: #283593;
  --color-surface-primary-700: #303F9F;
  --color-surface-primary-600: #3949AB;
  --color-surface-primary-500: #3F51B5;
  --color-surface-primary-300: #7986CB;
  --color-surface-primary-100: #C5CAE9;
  --color-surface-primary-hover: #3F51B50A;
  --color-surface-primary-active: #3F51B51F;
  --color-surface-primary-selected: #3F51B514;

  --color-surface-secondary-900: #01579B;
  --color-surface-secondary-800: #0277BD;
  --color-surface-secondary-hover: #03A9F40A;
  --color-surface-secondary-active: #03A9F414;
  --color-surface-secondary-selected: #03A9F41F;

  --color-text-yellow: #FBC02D;
  --color-text-blue: #2196F3;
  --color-text-pink: #EC407A;
  --color-text-pink-lighter: #F06292;
  --color-text-orange: #FD7C04;

  --color-pink: #C2185B;
  --color-purple: #8E24AA;
  --color-deep-purple: #5E35B1;
  --color-blue: #1976d2;
  --color-cyan: #0097A7;
  --color-teal: #00796B;
  --color-green: #388E3C;
  --color-light-green: #7CB342;
  --color-lime: #AFB42B;
  --color-yellow: #FBC02D;
  --color-orange: #FD7C04;

  // Backgrounds
  --background-default: #F4F5F7;
  --background-default-light: #FFFFFF;
  --background-light: rgba(0, 0, 0, 0.06);
  --background-lighter: rgba(255, 255, 255, 0.04);
  --background-dark: #E8E8E8;
  --background-darker: rgba(0, 0, 0, 0.04);
  --background-info: #E5E7F5;
  --background-input-default: rgba(0, 0, 0, 0.06);
  --background-input-hover: rgba(0, 0, 0, 0.12);

  --background-elevation-0: #FFFFFF;
  --background-elevation-1: #FFFFFF;
  --background-elevation-2: #FFFFFF;
  --background-elevation-3: #FFFFFF;
  --background-elevation-4: #FFFFFF;
  --background-elevation-6: #FFFFFF;
  --background-elevation-8: #FFFFFF;
  --background-elevation-9: #FFFFFF;
  --background-elevation-12: #FFFFFF;
  --background-elevation-16: #FFFFFF;
  --background-elevation-24: #FFFFFF;

  // Scrollbar
  --scrollbar-gutter-color: #F5F5FC;
  --scrollbar-color: #B5B5C4;

  // Typography emphasis
  --color-on-background-high: rgba(0, 0, 0, 0.87);
  --color-on-background-medium: rgba(0, 0, 0, 0.60);
  --color-on-background-low: rgba(0, 0, 0, 0.38);

  --color-on-primary-high: rgba(255, 255, 255, 1);
  --color-on-primary-medium: rgba(255, 255, 255, 0.7);
  --color-on-primary-low: rgba(255, 255, 255, 0.5);

  --primary-opacity-hover: 0.06;
  --primary-opacity-active: 0.12;
}
