<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "OxPaginator",
    props: {
        total: {
            type: Number,
            required: true
        },
        perPage: {
            type: Number,
            required: true
        },
        totalVisible: {
            type: Number
        },
        value: {
            type: Number,
            default: 1
        },
        disabled: Boolean
    },
    computed: {
        totalPages (): number {
            if (this.perPage <= 0) {
                return 1
            }
            return Math.ceil(this.total / this.perPage) || 1
        }
    },
    methods: {
        changePage (newPage) {
            this.$emit("input", newPage)
        }
    }
})
</script>

<template>
  <v-pagination
    circle
    class="OxPaginator"
    :disabled="disabled"
    :length="totalPages"
    :total-visible="totalVisible"
    :value="value"
    @input="changePage"
  />
</template>

<style lang="scss" src="./OxPaginator.scss" />
