/*
  @package Oxify\OxSections
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

@import "@/core/styles/utils";

.OxPaginator {
  // Vuetify override
  button {
    box-shadow: none !important;

    &.v-pagination__navigation {
      background-color: $grey-100 !important;
    }

    &.v-pagination__item {
      background: none !important;

      &.v-pagination__item--active  {
        @include on-primary(high, true);
        background: $primary !important;
      }
    }
  }
}
