<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import TabBadge from "@/components/Appbar/TabBadge/TabBadge.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import Vue, { PropType } from "vue"
import Tab from "@modules/system/vue/models/Tab"

/**
 * TabLine
 * Line tab component
 */
export default Vue.extend({
    name: "TabLine",
    components: {
        OxIcon, TabBadge
    },
    props: {
        tab: {
            type: Object as PropType<Tab>,
            required: true
        },
        moduleName: {
            type: String,
            required: true
        },
        showPin: {
            type: Boolean,
            default: true
        },
        pined: {
            type: Boolean,
            default: false
        },
        param: {
            type: Boolean,
            default: false
        },
        isActive: {
            type: Boolean,
            default: false
        },
        isFocus: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        classes (): object {
            return {
                pined: this.pined,
                active: this.isActive,
                pinable: this.showPin,
                focused: this.isFocus
            }
        },
        tabName (): string {
            if (this.param) {
                return this.$tr("settings")
            }
            return this.$tr("mod-" + this.moduleName + "-tab-" + this.tab.name)
        },
        tabLink (): string {
            return this.tab.url ?? "#"
        }
    },
    watch: {
        isFocus () {
            this.changeFocus()
        }
    },
    mounted () {
        this.changeFocus()
    },
    methods: {
        clickPin () {
            this.$emit("changePin", this.tab)
        },
        keydownTabLine (event: KeyboardEvent) {
            if (event.code === "KeyP" && this.showPin) {
                this.$emit("changePin", this.tab)
            }
            if (event.code === "ArrowLeft") {
                this.$emit("unsetFocus")
            }
        },
        changeFocus () {
            if (this.$refs.tabLineLink && this.isFocus) {
                const link = this.$refs.tabLineLink as HTMLElement
                link.focus()
                link.scrollIntoView({ behavior: "smooth", block: "center", inline: "center" })
            }
        }
    }
})
</script>

<template>
  <a
    ref="tabLineLink"
    v-ripple="{
      class: 'TabLine-ripple'
    }"
    class="TabLine"
    :class="classes"
    :href="tabLink"
    tabindex="0"
    @keyup="keydownTabLine"
  >
    <div class="TabLine-name">
      {{ tabName }}
      <div class="TabLine-badge">
        <tab-badge
          :tab="tab"
        />
      </div>
    </div>
    <div
      v-if="showPin"
      class="TabLine-pin"
      @click.prevent="clickPin"
      @mousedown.stop=""
    >
      <ox-icon icon="pin" />
    </div>
  </a>
</template>

<style src="./TabLine.scss" lang="scss"></style>
