/*
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.TabLine {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: $space*3 #{$space*3+24px} $space*3 $space*4;
  position: relative;
  width: 100%;

  &:hover,
  &.focused {
    @include primary-opacity($hover);
    cursor: pointer;

    .TabLine-pin {
      display: block;
    }
  }

  &.pinable {
    &:hover,
    &.focused {
      padding-right: $space*3;
    }
  }

  &:focus {
    outline: none;
  }

  &.active {
    @include primary-opacity($active);
  }

  &.pined {
    padding-right: $space*3;

    .TabLine-pin {
      color: $secondary;
      display: block;
    }
  }

  &-name {
    @include body1;
    @include on-background(high);
    padding-right: $space*5;
    user-select: none;
    white-space: nowrap;
  }

  &-pin {
    @include on-background(low);
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  &-ripple {
    color: $primary;
  }

  &-badge {
    display: inline-flex;
  }
}

@include screenSmallerThan($screenSmall, "300") {
  .TabLine {
    padding: $space*3 $space*3 $space*3 $space*4;

    &:hover {
      @include primary-opacity($hover);
      cursor: pointer;
    }

    &-pin {
      color: $grey-100;
      display: initial;
    }
  }
}
