<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import OxFormValidator from "@oxify/components/OxForm/OxFormValidator"
import Vue from "vue"

export default Vue.extend({
    name: "OxForm",
    props: {
        disabled: {
            type: Boolean,
            default: false
        },
        lazyValidation: {
            type: Boolean,
            default: false
        },
        readonly: {
            type: Boolean,
            default: false
        },
        value: {
            type: Boolean,
            default: false
        },
        validator: OxFormValidator
    },
    methods: {
        /**
         * Manual form validation
         *
         * @return {boolean} Form validity
         */
        async validate (): Promise<boolean> {
            if (this.validator) {
                this.validator.bindRules()
            }

            // Init form validation result
            let result = false

            /*
             * We have to wait for vDOM update before triggering validation
             *   => cause "fieldRules" has changed
             */
            await this.$nextTick()
            /* eslint-disable  @typescript-eslint/no-explicit-any */
            const inputs = (this.$refs.form as Vue & { inputs: Array<any> }).inputs
            let firstInvalidInput

            inputs.forEach((input) => {
                if (firstInvalidInput === undefined && input && !input.valid) {
                    firstInvalidInput = input
                    firstInvalidInput.$el.scrollIntoView({ behavior: "smooth", block: "center", inline: "center" })
                }
            })

            result = (this.$refs.form as Vue & { validate: () => boolean }).validate()

            return result
        },

        submit (): void {
            this.$emit("submit")
        }
    }
})
</script>

<template>
  <v-form
    ref="form"
    class="OxForm"
    :disabled="disabled"
    :lazy-validation="lazyValidation"
    :readonly="readonly"
    :value="value"
    @submit="submit"
  >
    <slot />
  </v-form>
</template>

<style src="./OxForm.scss" lang="scss"></style>
