/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.NoteSmallLine {
  display: flex;
  flex-flow: column nowrap;
  padding: $space*2 $space*3;

  &:hover {
    .NoteSmallLine-more {
      display: block;
    }
  }

  &.high {
    background-color: $error-surface-light;

    .NoteSmallLine-content {
      @include on-background(high);
    }
  }

  &-header {
    align-items: center;
    display: flex;
    gap: $space*2;
    height: 36px;
    position: relative;
  }

  &-info {
    display: flex;
    gap: $space*2;
    justify-content: space-between;
    min-width: 0;
    width: 100%;
  }

  &-infoDetails {
    align-items: center;
    display: flex;
    gap: $space*3;
    overflow: hidden;
  }

  &-author {
    @include on-background(high);
    @include subtitle2;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-date {
    @include caption;
    @include on-background(low);
    flex-shrink: 3;
    min-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-content {
    @include body2;
    @include on-background(medium);
    padding-left: $space*8;
    white-space: pre-line;
    word-break: break-word;
  }

  &-more {
    display: none;
  }

  &-criticality {
    flex-shrink: 0;
  }
}
