<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import MediuserAvatar from "@modules/mediusers/vue/components/MediuserAvatar/MediuserAvatar.vue"
import Note from "../../models/Note"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import OxDropdownButton from "@oxify/components/OxDropdownButton/OxDropdownButton.vue"

export default Vue.extend({
    name: "NotesSmallLine",
    components: {
        OxDropdownButton,
        OxTooltip,
        OxChip,
        MediuserAvatar
    },
    props: {
        note: {
            type: Object as PropType<Note>,
            required: true
        },
        showMoreButton: {
            type: Boolean,
            default: false
        },
        isLast: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            moreActions: [
                {
                    label: this.$tr("Edit"),
                    eventName: "editNote"
                },
                {
                    label: this.$tr("Delete"),
                    eventName: "deleteNote"
                }
            ]
        }
    },
    computed: {
        classes (): { NoteSmallLine: true, high: boolean } {
            return {
                NoteSmallLine: true,
                high: this.isHigh
            }
        },
        isHigh (): boolean {
            return this.note.degre === "high"
        },
        isMedium (): boolean {
            return this.note.degre === "medium"
        },
        isImportant (): boolean {
            return this.isMedium || this.isHigh
        },
        criticalityColor (): "warning" | "error" {
            return this.isHigh ? "error" : "warning"
        },
        criticalityText (): string {
            return this.isHigh ? this.$tr("CNote.criticality.high") : this.$tr("CNote.criticality.important")
        }
    },
    methods: {
        deleteNote (): void {
            this.$emit("deleteNote", this.note)
        },
        editNote (): void {
            this.$emit("editNote", this.note)
        }
    }
})
</script>

<template>
  <div :class="classes">
    <div class="NoteSmallLine-header">
      <mediuser-avatar
        :size="24"
        :user="note.author"
      />
      <div class="NoteSmallLine-info">
        <div class="NoteSmallLine-infoDetails">
          <ox-tooltip>
            <template #content="{ on }">
              <div
                class="NoteSmallLine-author"
                v-on="on"
              >
                {{ note.author.fullName }}
              </div>
            </template>
            {{ note.author.fullName }}
          </ox-tooltip>
          <ox-tooltip>
            <template #content="{ on }">
              <div
                class="NoteSmallLine-date"
                v-on="on"
              >
                {{ note.dateFromNow }}
              </div>
            </template>
            {{ note.dateData }}
          </ox-tooltip>
          <div
            v-if="isImportant"
            class="NoteSmallLine-criticality"
          >
            <ox-chip
              :color="criticalityColor"
              small
            >
              {{ criticalityText }}
            </ox-chip>
          </div>
        </div>
        <div
          v-if="showMoreButton"
          class="NoteSmallLine-more"
        >
          <ox-dropdown-button
            :alt-actions="moreActions"
            :attach="true"
            button-style="tertiary-dark"
            left
            :top="isLast"
            @deleteNote="deleteNote"
            @editNote="editNote"
          />
        </div>
      </div>
    </div>
    <div class="NoteSmallLine-content">
      {{ note.text }}
    </div>
  </div>
</template>

<style lang="scss" src="./NoteSmallLine.scss" />
