<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"

export default Vue.extend({
    name: "SampleMovieUserRating",
    components: {
        OxTooltip,
        OxIcon,
        OxButton
    },
    props: {
        value: {
            type: Number
        }
    },
    data () {
        return {
            colorSecondary: OxThemeCore.secondary,
            isEnabled: false,
            ratingState: "button" as "button" | "modify" | "rated"
        }
    },
    computed: {
        containerClass (): {[className: string]: boolean} {
            return {
                "SampleMovieUserRating-container": true,
                [this.ratingState]: true
            }
        },
        iconStyle (): "starOutline" | "star" {
            return this.ratingState === "rated" ? "star" : "starOutline"
        },
        displayButton (): boolean {
            return this.ratingState === "button" && this.value === undefined
        },
        displayModify (): boolean {
            return this.ratingState === "modify" || (this.ratingState === "rated" && this.value === undefined)
        },
        displayRated (): boolean {
            return this.ratingState === "rated" && this.value !== undefined
        },
        displayGroup (): boolean {
            return this.ratingState !== "button" || this.value !== undefined
        },
        transitionName (): string {
            return this.value === undefined
                ? "SampleMovieUserRating-vratingTransitionCreate"
                : "SampleMovieUserRating-vratingTransitionModify"
        }
    },
    created () {
        if (this.value !== undefined) {
            this.ratingState = "rated"
        }
    },
    methods: {
        updateRating (rate: number) {
            this.ratingState = "rated"
            this.$emit("input", rate)
        },
        enableRating () {
            this.ratingState = "modify"
        }
    }
})
</script>

<template>
  <div class="SampleMovieUserRating">
    <!-- Display the button to rate -->
    <div :class="containerClass">
      <v-fade-transition>
        <ox-tooltip v-if="displayButton">
          <template #content="{ on }">
            <div v-on="on">
              <ox-button
                button-style="tertiary"
                :class="'SampleMovieUserRating-button'"
                icon="starOutline"
                :label="$tr('SampleRating-action-rate')"
                @click="enableRating"
              />
            </div>
          </template>
          {{ $tr("SampleRating-action-Rate this movie") }}
        </ox-tooltip>
      </v-fade-transition>
      <transition name="SampleMovieUserRating-userRatingContainerTransition">
        <div
          v-show="displayGroup"
          class="SampleMovieUserRating-userRatingContainer"
        >
          <div class="SampleMovieUserRating-title">
            {{ $tr("SampleRating-user rating") }}
          </div>
          <transition name="SampleMovieUserRating-ratedTransition">
            <ox-tooltip v-if="displayRated">
              <template #content="{ on }">
                <div
                  class="SampleMovieUserRating-rated"
                  v-on="on"
                  @click="enableRating"
                >
                  <span class="SampleMovieUserRating-ratedValue">{{ value }}</span>
                  <span class="SampleMovieUserRating-ratedDenominator">/5</span>
                </div>
              </template>
              {{ $tr("SampleRating-action-modify your rate") }}
            </ox-tooltip>
          </transition>

          <transition :name="transitionName">
            <v-rating
              v-if="displayModify"
              :background-color="colorSecondary"
              class="SampleMovieUserRating-vrating"
              :color="colorSecondary"
              hover
              length="5"
              size="20"
              :value="value"
              @input="updateRating"
            />
          </transition>
        </div>
      </transition>

      <ox-icon
        class="SampleMovieUserRating-animatedIcon"
        :color="colorSecondary"
        :icon="iconStyle"
      />
    </div>
  </div>
</template>

<style lang="scss" src="./SampleMovieUserRating.scss" />
