/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleMovieUserRating {
  display: flex;
  height: 40px;
  width: 100px;


  &-container {
    position: relative;

    &.button {
      .SampleMovieUserRating {
        &-animatedIcon {
          font-size: 24px;
          height: 24px;
          left: 12px;
          position: absolute !important;
          top: 6px;
          width: 24px;
          z-index: 0;
        }
      }
    }

    &.modify {
      .SampleMovieUserRating {
        &-animatedIcon {
          font-size: 20px;
          height: 20px;
          left: 0;
          position: absolute !important;
          top: 20px;
          width: 20px;
          z-index: 0;
        }
      }
    }

    &.rated {
      .SampleMovieUserRating {
        &-animatedIcon {
          font-size: 20px;
          height: 20px;
          left: 0;
          position: absolute !important;
          top: 20px;
          width: 20px;
          z-index: 0;
        }
      }
    }
  }

  &-userRatingContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
  }

  &-userRatingContainerTransition {
    &-enter-active, &-leave-active {
      transition: all 0.1s ease 0.4s;
    }

    &-enter, &-leave-to {
      opacity: 0;
    }

    &-enter-to, &-leave {
      opacity: 1;
    }
  }

  &-button {
    z-index: 1;
  }

  &-title {
    @include overline;
    @include on-background(low);
    white-space: nowrap;
  }

  &-rated {
    top: 20px;
    left: 0;
    position: absolute;
    display: flex;
    padding-left: 20px;
    z-index: 1;

    &:hover {
      cursor: pointer;
      text-decoration: var(--color-on-background-low) underline;
    }
  }

  &-ratedTransition {
    &-enter-active {
      transition: all 0.2s ease 0.4s;
    }

    &-leave-active {
      transition: all 0.2s ease;
    }

    &-enter, &-leave-to {
      opacity: 0;
    }

    &-enter-to, &-leave {
      opacity: 1;
    }
  }

  &-ratedValue {
    @include body2;
    @include on-background(high);
  }

  &-ratedDenominator {
    @include body2;
    @include on-background(medium);
  }

  &-vrating {
    z-index: 1;

    & .v-icon {
      padding: 0 !important;
    }
  }

  &-vratingTransitionCreate {
    &-enter-active, &-enter-active .v-icon {
      transition: all .2s ease 0.4s;
    }

    &-leave-active, &-leave-active .v-icon {
      transition: all .2s ease 0.1s;
    }


    &-enter, &-leave-to {
      width: 0;
    }

    &-enter .v-icon, &-leave-to .v-icon {
      margin-left: -20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-vratingTransitionModify {
    &-enter-active, &-enter-active .v-icon {
      transition: all .2s ease 0.1s;
    }

    &-leave-active, &-leave-active .v-icon {
      transition: all .2s ease 0.1s;
    }


    &-enter, &-leave-to {
      width: 0;
    }

    &-enter .v-icon, &-leave-to .v-icon {
      margin-left: -20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
