/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import '@/core/styles/utils';

.OxNotify {
  bottom: $space*4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  left: $space*4;
  max-width: 640px;
  position: fixed;
  z-index: 10000;

  &-content {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*4;
  }
}
