/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";


.OxRichTextField {
  background-color: $background-input-default;
  border-top-left-radius: $space;
  border-top-right-radius: $space;
  padding-top: $space * 2;
  display: flex;
  flex-flow: column;
  height: auto;
  position: relative;
  resize: vertical;
  width: 100%;

  &:hover {
    background-color: $background-input-hover;

    &::before {
      border-color: rgba(0, 0, 0, 1);
    }
  }

  &:focus-within {
    &::after {
      transform: scaleX(1);
    }
  }

  &.richTextLoading {
    &::before,
    &::after {
      content: none;
    }
  }

  &-loader {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &-autocomplete {
    display: flex;
    position: absolute;
    z-index: 10;
  }

  &-container {
    position: relative;
  }

  &::before {
    border-color: rgba(0, 0, 0, 0.42);
    border-style: solid;
    border-width: thin 0 0 0;
  }

  &::after {
    background-color: $primary;
    border-color: $primary;
    border-style: solid;
    border-width: thin 0 thin 0;
    transform: scaleX(0);
  }

  &::after,
  &::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
  }
}
