/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxRichTextFieldAutocomplete {
  @include elevation(8);
  border-radius: 4px;
  flex-flow: column;
  max-height: 256px;
  max-width: 800px;
  min-width: 128px;
  overflow-y: auto;
  padding: $space*2 0;
  width: auto;

  &-header {
    padding: 0 $space*2 $space*2;
  }

  &-field {
    padding: $space $space*2;

    &:hover {
      background-color: $background-hover;
      cursor: pointer;
    }

    &.selected {
      background-color: $background-hover;
    }
  }
}
