<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import SampleMovie from "../../models/SampleMovie"
import Vue, { PropType } from "vue"
import SampleBookmark from "@modules/sample/vue/components/SampleBookmark/SampleBookmark.vue"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import { convertMarkdownToHTML } from "@/core/utils/OxMarkdown"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxDropdownButton from "@oxify/components/OxDropdownButton/OxDropdownButton.vue"
import { OxDropdownButtonActionTypes } from "@oxify/types/OxDropdownButtonActionTypes"
import SampleMovieGlobalRating from "@modules/sample/vue/components/SampleMovieGlobalRating/SampleMovieGlobalRating.vue"
import OxValue from "@/core/components/OxValue/OxValue.vue"

export default Vue.extend({
    name: "SampleMovieCardExtended",
    components: {
        OxValue,
        SampleMovieGlobalRating,
        OxDropdownButton,
        OxButton,
        SampleBookmark,
        OxChip
    },
    props: {
        movie: {
            type: Object as PropType<SampleMovie>,
            required: true
        }
    },
    data () {
        return {
            altActions: [
                {
                    label: this.$tr("Delete"),
                    eventName: "actiondelete",
                    icon: "delete"
                }
            ] as OxDropdownButtonActionTypes[],
            movieClass: SampleMovie,
            starColor: OxThemeCore.yellowText
        }
    },
    computed: {
        cardClasses (): { isBookmarked: boolean } {
            return {
                isBookmarked: !!this.movie.bookmark
            }
        },
        showCSA (): boolean {
            return this.movie.csa === "18"
        }
    },
    methods: {
        convertMarkdownToHTML,
        toggleBookmark () {
            this.$emit("toggleBookmark", this.movie)
        },
        askDelete () {
            this.$emit("delete", this.movie)
        },
        edit () {
            this.$emit("edit", this.movie)
        }
    }
})
</script>

<template>
  <div
    class="SampleMovieCardExtended"
    :class="cardClasses"
  >
    <div class="SampleMovieCardExtended-cover">
      <a :href="movie.detailLink">
        <img
          :alt="movie.title"
          class="SampleMovieCardExtended-coverImage"
          :src="movie.image"
        >
      </a>
      <div
        class="SampleMovieCardExtended-bookmark"
        @click.stop.prevent="toggleBookmark"
      >
        <sample-bookmark :movie="movie" />
      </div>
    </div>
    <div class="SampleMovieCardExtended-content">
      <div>
        <div class="SampleMovieCardExtended-titleContainer">
          <a
            class="SampleMovieCardExtended-title"
            :href="movie.detailLink"
          >
            {{ movie.title }}
          </a>
          <ox-chip
            v-if="showCSA"
            color="error"
            :small="true"
          >
            -18
          </ox-chip>
        </div>
        <div class="SampleMovieCardExtended-informations">
          {{ movie.category.name }} - <ox-value
            field-name="duration"
            inline
            :resource-name="movie.type"
            :value="movie.duration"
          /> - {{ movie.releaseYear }}
        </div>
      </div>
      <div class="SampleMovieCardExtended-rating">
        <sample-movie-global-rating :movie="movie" />
      </div>
      <!--  eslint-disable vue/no-v-html, purify content -->
      <div
        v-if="movie.description"
        class="SampleMovieCardExtended-description"
        v-html="convertMarkdownToHTML(movie.description)"
      />
      <!-- eslint-enable -->
      <div
        v-else
        class="SampleMovieCardExtended-description none"
      >
        {{ $tr("CSampleMovie-description-none") }}
      </div>
    </div>
    <div class="SampleMovieCardExtended-actions">
      <ox-button
        button-style="tertiary"
        icon="edit"
        @click="edit"
      />
      <ox-dropdown-button
        :alt-actions="altActions"
        button-style="tertiary-dark"
        left
        @actiondelete="askDelete"
      />
    </div>
  </div>
</template>

<style src="./SampleMovieCardExtended.scss" lang="scss"></style>
