/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleMovieCardExtended {
  display: flex;
  flex-flow: row nowrap;
  gap: $space*6;
  max-height: 210px;
  overflow: hidden;
  position: relative;

  &:hover {
    .SampleMovieCardExtended {
      &-bookmark {
        transform: scale(1);
      }

      &-coverImage {
        filter: brightness(70%);
        transform: scale(1.2);
      }

      &-actions {
        visibility: visible;
      }
    }
  }

  &.isBookmarked {
    .SampleMovieCardExtended-bookmark {
      color: $secondary-500;
      transform: scale(1);
    }
  }

  &-bookmark {
    color: $secondary-50;
    cursor: pointer;
    position: absolute;
    right: $space;
    top: $space;
    transform: scale(0);
    transition: transform 0.2s ease-in, color 0.15s linear;
    z-index: 7;

    &:hover {
      color: $secondary-500;
    }
  }

  &-cover {
    border-radius: 6px;
    flex-shrink: 0;
    height: 210px;
    overflow: hidden;
    position: relative;
    width: 146px;
  }

  &-coverImage {
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*2;
    width: 100%;
  }

  &-titleContainer {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space;
  }

  &-title {
    @include on-background(high, true);
    @include subtitle1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  &-informations {
    @include body2;
    @include on-background(medium);
  }

  &-rating {
    @include caption;
    @include on-background(low);
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space;
  }

  &-description {
    @include body2;
    @include on-background(medium);
    display: -webkit-box;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;

    &.none {
      @include on-background(low);
    }
  }

  &-actions {
    display: flex;
    flex-flow: row nowrap;
    gap: $space*2;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
  }
}
