<!--
  @package Oxify\OxChip
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"

export default Vue.extend({
    name: "OxChip",
    props: {
        chipActive: {
            type: Boolean,
            default: true
        },
        close: {
            type: Boolean,
            default: false
        },
        ripple: {
            type: Boolean,
            default: false
        },
        small: {
            type: Boolean,
            default: false
        },
        link: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        draggable: {
            type: Boolean,
            default: false
        },
        color: {
            type: String as PropType<"primary" | "secondary" | "success" | "warning" | "error" | string>
        }
    },
    computed: {
        textColor (): string {
            switch (this.color) {
            case undefined:
                return ""
            case "primary":
                return OxThemeCore.primary
            case "secondary":
                return OxThemeCore.secondary
            case "success":
                return OxThemeCore.successTextDefault
            case "warning":
                return OxThemeCore.warningTextDefault
            case "error":
                return OxThemeCore.errorTextDefault
            default:
                return this.color
            }
        },
        backgroundColor (): string {
            return OxThemeCore.alpha(this.textColor, 0.12)
        }
    }
})
</script>

<template>
  <div class="OxChip">
    <v-chip
      :active="chipActive"
      class="OxChip-chip"
      :close="close"
      :color="backgroundColor"
      :disabled="disabled"
      :draggable="draggable"
      :link="link"
      :ripple="ripple"
      :small="small"
      :text-color="textColor"
      v-on="$listeners"
    >
      <slot />
    </v-chip>
  </div>
</template>

<style src="./OxChip.scss" lang="scss" />
