/**
 * @package Oxify\OxChip
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxChip {
  display: inline-block;

  &-chip {
    &.active {
      background-color: $primary-100 !important;
      color: $primary-600 !important;

      &::before {
        opacity: 0 !important;
      }
    }
  }
}
