<!--
  @package Openxtrem\Sample
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"
import OxDatepicker from "@oxify/components/OxField/OxDatepicker/OxDatepicker.vue"

/* eslint-disable no-undef */
/* eslint-disable no-new */

export default Vue.extend({
    name: "SampleLegacyCompat",
    components: {
        OxButton,
        OxDialog,
        OxDatepicker
    },
    props: {
        user: Object
    },
    data () {
        return {
            dialog: false,
            date: ""
        }
    },
    computed: {},
    mounted () {
    // @ts-ignore
        window.prepareForm(this.$refs.formAideSaisie)
        // @ts-ignore
        new AideSaisie.AutoComplete("aideSaisieText", { objectClass: "sample_movie", validateOnBlur: 0 })
    },
    methods: {
        openModal () {
            // @ts-ignore
            new Url("oxCabinet", "edit_info_perso")
                .modal({ width: "90%", height: "90%" })
        },
        requestUpdate () {
            // @ts-ignore
            new Url("patients", "vw_idx_patients")
                .addParam("board", 1)
            // .requestUpdate("sample-vue-container")
                .requestUpdate("sample-smarty-container")
        },
        tooltip () {
            // @ts-ignore
            ObjectTooltip.createEx(this.$refs.triggerTooltip, this.user.guid)
        },
        consoleLogDatas () {
            console.log("datepicker => " + this.date)
            console.log("textarea => " + (this.$refs.textareaAideSaisie as HTMLTextAreaElement)?.value)
            console.log("inputSmarty => " + (document.getElementById("inputSmarty") as HTMLInputElement)?.value)
        },
        openIdex () {
            // @ts-ignore
            guid_ids(this.user.guid)
        },
        showIdex () {
            // @ts-ignore
            ObjectTooltip.createEx(this.$refs.triggerIdex, this.user.guid, "identifiers")
        },
        openNote () {
            // @ts-ignore
            Note.create(this.user.guid)
        },
        showNote () {
            // @ts-ignore
            ObjectTooltip.createEx(this.$refs.triggerNote, this.user.guid, "objectNotes")
        },
        openHistory () {
            // @ts-ignore
            guid_log(this.user.guid)
        },
        showHistory () {
            // @ts-ignore
            ObjectTooltip.createEx(this.$refs.triggerHistory, this.user.guid, "objectViewHistory")
        }
    }
})
</script>

<template>
  <div class="SampleLegacyCompat">
    <h1>Hello vue</h1>
    <div>
      <ox-dialog
        v-model="dialog"
        title="Ox Modal"
        width="500"
      >
        <template #activator="{on}">
          <ox-button
            label="Access to legacy locales"
            v-on="on"
          />
        </template>
        {{ $tr('mod-sample-tab-legacy_compat') }}
      </ox-dialog>
    </div>

    <div>
      <ox-button
        label="Open legacy modal"
        @click="openModal"
      />
    </div>

    <div>
      <ox-button
        label="Request update element"
        @click="requestUpdate"
      />
      <div id="sample-vue-container" />
    </div>

    <div class="SampleLegacyCompat-user">
      <span
        ref="triggerNote"
        class="SampleLegacyCompat-tooltip"
        @click="openNote"
        @mouseover="showNote"
      >
        <v-icon
          color="primary"
          size="18"
        >mdi-note</v-icon>
      </span>
      <label
        ref="triggerTooltip"
        class="SampleLegacyCompat-label"
        @mouseover="tooltip"
      >{{ user.name }}</label>
      <span
        ref="triggerIdex"
        class="SampleLegacyCompat-tooltip"
        @click="openIdex"
        @mouseover="showIdex"
      >
        <v-icon
          color="primary"
          size="18"
        >mdi-link-variant</v-icon>
      </span>
      <span
        ref="triggerHistory"
        class="SampleLegacyCompat-tooltip"
        @click="openHistory"
        @mouseover="showHistory"
      >
        <v-icon
          color="primary"
          size="18"
        >mdi-history</v-icon>
      </span>
    </div>

    <div class="SampleLegacyCompat-fields">
      <!-- @todo styliser -->

      <ox-datepicker
        :value="date"
        @change="(value)=>date=value"
      />
      <form
        ref="formAideSaisie"
        method="post"
      >
        <!-- need this input to persist ? -->
        <!-- <input type="hidden" name="@class" value="CConsultation" id="editFrmExamsRqs_@class">-->
        <!-- <input type="hidden" name="consultation_id" value="192" class="ref" id="editFrmExamsRqs_consultation_id">-->
        <textarea
          id="aideSaisieText"
          ref="textareaAideSaisie"
          name="description"
          placeholder="Saisissez vos remarques ..."
        />
        <ox-button
          label="console.log datas"
          @click="consoleLogDatas"
        />
      </form>
    </div>
  </div>
</template>

<style src="./SampleLegacyCompat.scss" lang="scss"></style>
