<!--
  @package Openxtrem\Sample
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "DeveloppementSandbox",
    data () {
        return {
            text: "Hello World !"
        }
    }
})
</script>

<template>
  <div class="DeveloppementSandbox">
    <h1>{{ text }}</h1>
  </div>
</template>

<style src="./DeveloppementSandbox.scss" lang="scss"></style>
