/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.DeveloppementSandbox {
  display: flex;
  gap: $space * 4;
  flex-direction: column;
  padding-bottom: $space * 6;
}
