{# @author  SAS OpenXtrem <dev@openxtrem.com> #}
{# @license https://www.gnu.org/licenses/gpl.html GNU General Public License #}
{# @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License #}

{% extends "base.html.twig" %}
{% block title %}{{ page_title|raw }}{% endblock %}

{% block body %}
    {{ ox_entry_point(change_password, { 'token': csrf_token }) }}

{% endblock %}
