{# @author  SAS OpenXtrem <dev@openxtrem.com> #}
{# @license https://www.gnu.org/licenses/gpl.html GNU General Public License #}
{# @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License #}

{% extends "base.html.twig" %}

{% block javascripts %}
    <script type="text/javascript">
      const event = new Event('requestPasswordChangeOk');
      window.parent.dispatchEvent(event)
    </script>
{% endblock %}
