{# @author  SAS OpenXtrem <dev@openxtrem.com> #}
{# @license https://www.gnu.org/licenses/gpl.html GNU General Public License #}
{# @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License #}

{% extends "base.html.twig" %}

{% block javascripts %}
    <script type="text/javascript">
      window.parent.User = {
        id: "{{ user_id }}"
      }

      setTimeout(() => {
          document.querySelector(".message").classList.add("modified")
      }, 1000)

      setTimeout(() => {
          // Check if is GUI Modal
          if (window.name === "ox-core-iframe") {
              // GUI context, emit event listened in OxVue.ts
              const event = new CustomEvent("ox-core-logout-done")
              window.parent.document.dispatchEvent(event)
          }
          else {
              // Legacy context, close relogin modal
              window.parent.Control.Modal.close()
          }

      }, 2000)
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
      .page {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 80px;
        gap: 20px;
        align-items: center;
      }

      .message-container {
        overflow: hidden;
      }

      .message {
        transition: all 0.2s linear;
        opacity: 0;
        color: #455A64;
        transform: translateY(30px);
        font-size: 20px;
        font-family: "Roboto", sans-serif;
      }

      .message.modified {
        opacity: 1;
        transform: translateY(0px);
      }

      .pop-container {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #3F51B5;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: pop 0.68s cubic-bezier(.18,.89,.32,1.28);
        animation-delay: 0.48s;
        animation-fill-mode: forwards;
        transform: scale(0);
        z-index: 10;
      }

      .tick-container {
        position: relative;
        height: 46px;
        transform: translateX(-3px) scale3d(1, 1, 1);
        transition: all 0.2s;
        overflow: hidden;
        width: 100px;
      }

      .tick {
        width: 30px;
        height: 10px;
        border-radius: 100px;
        transform-origin: left center;
        position: absolute;
        left: 50%;
        bottom: 0;
      }
      .tick.left {
        background-color: white;
        transform: rotate(-138deg) translateX(-2px);
      }
      .tick.right {
        background-color: white;
        transform: rotate(-49deg) translateX(-5px);
        width: 54px;
      }

      .button-skeleton {
        background-color: #3F51B5;
        border-radius: 28px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        animation: magicButton 0.72s linear;
        animation-fill-mode: forwards;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }



      @keyframes pop {
        0% {
          transform: scale(0) scale3d(1, 1, 1);
        }
        60% {
          transform: scale(1.2) scale3d(1, 1, 1);
        }
        80% {
          transform: scale(0.92) scale3d(1, 1, 1);
        }
        100% {
          transform: scale(1) scale3d(1, 1, 1);
        }
      }

      @keyframes magicButton {
        /* Full width button */
        0% {
          width: 76vw;
          height: 36px;
          top: 488px;
        }

        /* Width reduction with bounce effect */
        24% {
          width: 20px;
          height: 26px;
          top: 498px;
        }
        30% {
          width: 44px;
          height: 40px;
          top: 480px;
        }
        32% {
          width: 36px;
          height: 36px;
          top: 488px;
        }
        40% {
          width: 36px;
          height: 36px;
          top: 488px;
        }
        46% {
          width: 36px;
          height: 36px;
          top: 508px;
        }

        /* Wait before up */
        58% {
          width: 36px;
          height: 36px;
          top: 512px;
        }

        /* Up movement with elastic effect */
        64% {
          height: 70px;
          top: 472px;
        }
        80% {
          width: 36px;
          top: 140px;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
          height: 36px;
        }

        /* Stay at final place */
        100% {
          width: 36px;
          top: 140px;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
          height: 36px;
        }
      }
    </style>
{% endblock %}

{% block body %}
    <div class="page">
        <div class="pop-container">
            <div class="tick-container">
                <div class="tick left"></div>
                <div class="tick right"></div>
            </div>
        </div>
        <div class="message-container">
            <p class="message">{{ success_message }}</p>
        </div>

        <div class="button-skeleton"></div>
    </div>
{% endblock %}
