<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
// TS Import
import Vue, { PropType } from "vue"
import Patient from "@modules/dPpatients/vue/models/Patient"
// Vue Import
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"

export default Vue.extend({
    name: "PatientIdentityState",
    components: {
        OxChip,
        OxDivider
    },
    props: {
        patient: {
            type: Object as PropType<Patient>,
            required: true
        }
    },
    data () {
        return {
            availableStates: [
                {
                    state: Patient.STATE_INS.Provisional,
                    name: this.$tr("CPatient.status.PROV"),
                    desc: this.$tr("CPatient.status.PROV-desc"),
                    color: "error"
                },
                {
                    state: Patient.STATE_INS.Validated,
                    name: this.$tr("CPatient.status.VALI"),
                    desc: this.$tr("CPatient.status.VALI-desc"),
                    color: "warning"
                },
                {
                    state: Patient.STATE_INS.Recovered,
                    name: this.$tr("CPatient.status.RECUP"),
                    desc: this.$tr("CPatient.status.RECUP-desc"),
                    color: "primary"
                },
                {
                    state: Patient.STATE_INS.Qualified,
                    name: this.$tr("CPatient.status.QUAL"),
                    desc: this.$tr("CPatient.status.QUAL-desc"),
                    color: "success"
                }
            ]
        }
    },
    computed: {
        statusLabel (): string {
            return this.$tr("CPatient.status." + (this.patient ? this.patient.status : ""))
        },
        statusColor (): string {
            switch (this.patient.status) {
            case Patient.STATE_INS.Qualified:
                return "success"
            case Patient.STATE_INS.Recovered:
                return "primary"
            case Patient.STATE_INS.Validated:
                return "warning"
            case Patient.STATE_INS.Provisional:
                return "error"
            default:
                return ""
            }
        }
    }
})
</script>

<template>
  <div class="PatientIdentityState">
    <v-menu
      bottom
      offset-y
      :open-delay="300"
      open-on-hover
    >
      <template #activator="{ attrs, on }">
        <div
          v-bind="attrs"
          v-on="on"
        >
          <ox-chip
            :color="statusColor"
            small
          >
            {{ statusLabel }}
          </ox-chip>
        </div>
      </template>
      <v-card class="PatientIdentityState-tooltip">
        <div class="PatientIdentityState-tooltipTitle">
          {{ $tr("CPatient-status-INS-title") }}
        </div>
        <div class="PatientIdentityState-tooltipContent">
          <div
            v-for="(state, index) in availableStates"
            :key="index"
            class="PatientIdentityState-tooltipStateItem"
          >
            <ox-divider inset-radial="12" />
            <div class="PatientIdentityState-tooltipStateContent">
              <ox-chip :color="state.color">
                {{ state.name }}
              </ox-chip>
              <span class="PatientIdentityState-tooltipContentDescription">
                {{ state.desc }}
              </span>
            </div>
          </div>
        </div>
      </v-card>
    </v-menu>
  </div>
</template>

<style lang="scss" src="./PatientIdentityState.scss" />
