/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.PatientIdentityState {
  &-tooltip {
    padding: $space*4;
    width: 484px;
  }

  &-tooltipTitle {
    @include body1();
  }

  &-tooltipContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-tooltipStateContent {
    display: grid;
    grid-template-areas:
    ". .";
    grid-template-columns: 100px 1fr;
  }

  &-tooltipContentDescription {
    @include caption();
    grid-column-gap: $space*3;
    white-space: normal;
  }
}
