/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.NoteDialog {
  &-dialog {
    @include on-background($high);
    display: flex;
    flex-direction: row;
    height: 600px;
  }

  &-aside {
    background-color: $background-light;
    display: flex;
    flex-direction: column;
    gap: $space*2;
    width: 340px;
  }

  &-addBtn {
    padding: $space*2;
  }

  &-relatedNotes {
    overflow: auto;
  }

  &-relatedNotesSection {
    padding-bottom: $space*6;
  }

  &-creationDate {
    @include on-background(medium);
    @include overline;
    padding-bottom: $space;
    padding-left: $space*3;
  }

  &-noteLine {
    @include hoverableSelectable;

    &.high:hover {
      background-color: $error-surface-light;
    }
  }

  &-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $space * 2;
    overflow: auto;
    padding: $space * 4 $space * 6;
  }

  &-sectionHeader {
    display: flex;
    flex-direction: column;
    gap: $space;
  }

  &-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &-sectionHeaderTitle {
    @include h5;
  }

  &-owner {
    background-color: $background-info;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    gap: $space*2;
    padding: $space*2;
    position: absolute;
    right: 0;
    top: 0;
    width: 188px;
    z-index: 5;

    &.opened {
      @include elevation(2);
      background-color: $background-info;
      padding: $space*3;
      width: auto;
    }
  }

  &-ownerHeader {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*7;
    justify-content: space-between;
  }

  &-visibility {
    display: flex;
    flex-flow: row nowrap;
    gap: $space*4;
  }

  &-visibilityMain {
    align-items: center;
    color: $primary-800;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*2;
  }

  &-visibilityMainWording {
    @include body2;
  }

  &-ownerRight {
    line-height: 20px;
  }

  &-relatedUserAutocomplete {
    padding-bottom: $space*2;
  }

  &-ownerData {
    display: flex;
    flex-direction: column;
    gap: $space*4;
  }

  &-ownerDataSection {
    display: flex;
    flex-direction: column;
    gap: $space*2;
  }

  &-ownerDataLabel {
    @include on-background(high);
    @include subtitle2;
  }

  &-ownerDataName {
    align-items: center;
    display: flex;
    gap: $space;
  }

  &-user {
    @include body2;
    @include on-background(high);
  }

  &-sectionHeaderObject {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: $space;
  }

  &-sectionHeaderObjectTitle {
    @include body2;
    color: $grey-700;
  }

  &-sectionHeaderObjectId {
    @include caption;
    @include on-background($low);
  }

  &-sectionForm {
    display: flex;
    flex-direction: column;
    gap: $space * 8;
  }

  &-sectionFormFields {
    display: flex;
    flex-direction: column;
    gap: $space * 4;

    // Vuetify override (We don't edit specific schema translation cause it can be used without capital letters)
    .OxRadio .v-label {
      text-transform: capitalize;
    }
  }

  &-sectionFormButtons {
    display: flex;
    gap: $space * 4;
  }

  &-fieldData {
    display: flex;
    flex-direction: column;
    gap: $space*3;
  }

  &-fieldDataLabel {
    @include body1;
    @include on-background(high);
    padding-bottom: $space*2;
  }

  &-fieldDataValue {
    @include body2;
    @include on-background(medium);

    &.capitalized {
      text-transform: capitalize;
    }
  }

  &-empty {
    @include body2;
    @include on-background(low);
    padding: 0 $space*2;
  }
}
