<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"
import MedicalCode from "@modules/system/vue/models/MedicalCode"

export default Vue.extend({
    name: "MedicalCodeAutocomplete",
    components: { OxTooltip },
    props: {
        code: {
            type: MedicalCode,
            required: true
        }
    }
})
</script>

<template>
  <ox-tooltip class="MedicalCodeAutocomplete">
    <template #content="{ on }">
      <div
        class="MedicalCodeAutocomplete-item"
        v-on="on"
      >
        <div class="MedicalCodeAutocomplete-code">
          {{ code.code }}
        </div>
        <div class="MedicalCodeAutocomplete-description">
          {{ code.description }}
        </div>
      </div>
    </template>
    <div>{{ code.description }}</div>
  </ox-tooltip>
</template>

<style src="./MedicalCodeAutocomplete.scss" lang="scss"></style>
