/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";


.MedicalCodeAutocomplete {
  &-item {
    @include body2;
    display: flex;
    flex-direction: row;
    gap: $space*2;
    padding: $space;
  }

  &-code {
    @include caption;
    background-color: $primary-100;
    border-radius: $space;
    display: inline;
    line-height: 20px;
    padding: 0 $space;
  }

  &-description {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
