/*
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxLoading {
  display: none;
  height: 64px;
  left: calc(50% - 32px);
  position: fixed;
  top: 64px;
  width: 64px;
  z-index: 1000;

  &.displayed {
    animation: OxLoadingAnimation 1s linear 1;
    display: block;
  }


  &-icon {
    display: inline-block;
    height: 80px;
    position: relative;
    width: 80px;
  }

  &-dot {
    animation: OxLoadingRotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;

    &::after {
      background: $primary-900;
      border-radius: 50%;
      content: " ";
      display: block;
      height: 7px;
      margin: -4px 0 0 -4px;
      position: absolute;
      width: 7px;
    }

    &.nth1 {
      animation-delay: -0.036s;

      &::after {
        left: 63px;
        top: 63px;
      }
    }
    &.nth2 {
      animation-delay: -0.072s;

      &::after {
        left: 56px;
        top: 68px;
      }
    }
    &.nth3 {
      animation-delay: -0.108s;

      &::after {
        left: 48px;
        top: 71px;
      }
    }
    &.nth4 {
      animation-delay: -0.144s;

      &::after {
        left: 40px;
        top: 72px;
      }
    }
    &.nth5 {
      animation-delay: -0.18s;

      &::after {
        left: 32px;
        top: 71px;
      }
    }
    &.nth6 {
      animation-delay: -0.216s;

      &::after {
        left: 24px;
        top: 68px;
      }
    }
    &.nth7 {
      animation-delay: -0.252s;

      &::after {
        left: 17px;
        top: 63px;
      }
    }
    &.nth8 {
      animation-delay: -0.288s;

      &::after {
        left: 12px;
        top: 56px;
      }
    }
  }
}

@keyframes OxLoadingAnimation {
  0% {opacity: 0}
  25% {opacity: 0}
  100% {opacity: 1}
}

@keyframes OxLoadingRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
