<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div
    class="OxLoading"
    :class="loadingClassNames"
  >
    <div class="OxLoading-icon">
      <div class="OxLoading-dot nth1" />
      <div class="OxLoading-dot nth2" />
      <div class="OxLoading-dot nth3" />
      <div class="OxLoading-dot nth4" />
      <div class="OxLoading-dot nth5" />
      <div class="OxLoading-dot nth6" />
      <div class="OxLoading-dot nth7" />
      <div class="OxLoading-dot nth8" />
    </div>
  </div>
</template>

<script src="./OxLoading.ts" lang="ts"></script>
<style src="./OxLoading.scss" lang="scss">

</style>
