/**
 * @package Oxify\OxField
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxCheckbox {
  &.low {
    .v-label {
      @include on-background(low);
    }
  }

  &.medium {
    .v-label {
      @include on-background(medium);
    }
  }

  &.high {
    .v-label {
      @include on-background(high);
    }
  }
}
