<!--
  @package Oxify\OxField
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">

import Vue, { PropType } from "vue"
import OxFieldCore from "@oxify/components/OxField/OxFieldCore"

export default Vue.extend({
    name: "OxCheckbox",
    extends: OxFieldCore,
    props: {
        emphasis: {
            type: String as PropType<"low" | "medium" | "high">,
            default: "high"
        },
        checkboxValue: String
    }
})
</script>

<template>
  <v-checkbox
    :class="emphasis + ' OxCheckbox'"
    :disabled="disabled"
    hide-details="auto"
    :input-value="value"
    :name="name"
    persistent-hint
    :rules="fieldRules"
    :value="checkboxValue"
    @change="change"
  >
    <template #label>
      <slot name="label">
        {{ label }}
      </slot>
    </template>
  </v-checkbox>
</template>

<style src="./OxCheckbox.scss" lang="scss"></style>
