<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import SampleMovie from "../../models/SampleMovie"
import OxField from "@/core/components/OxField/OxField.vue"
import { prepareForm } from "@/core/utils/OxSchemaManager"
import { cloneObject } from "@/core/utils/OxObjectTools"
import { cloneDeep, isEqual } from "lodash"
import { createJsonApiObjects, updateJsonApiObject } from "@/core/utils/OxApiManager"
import OxAutocomplete from "@/core/components/OxAutocomplete/OxAutocomplete.vue"
import SamplePerson from "../../models/SamplePerson"
import SampleCategory from "../../models/SampleCategory"
import SamplePersonAutocomplete from "../SamplePersonAutocomplete/SamplePersonAutocomplete.vue"
import SampleCastingCard from "../SampleCastingCard/SampleCastingCard.vue"
import Vue, { PropType } from "vue"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import { addInfo } from "@/core/utils/OxNotifyManager"
import SampleCasting from "@modules/sample/vue/models/SampleCasting"
import OxSections from "@oxify/components/OxSections/OxSections.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import OxCaution from "@oxify/components/OxCaution/OxCaution.vue"
import { OxSection } from "@oxify/types/OxSectionsTypes"
import OxForm from "@oxify/components/OxForm/OxForm.vue"
import OxRichTextField from "@/core/components/OxRichTextField/OxRichTextField.vue"
import { getSchema } from "@/core/utils/OxStorage"
import OxTextField from "@oxify/components/OxField/OxTextField/OxTextField.vue"

export default Vue.extend({
    name: "SampleMovieForm",
    components: {
        OxTextField,
        OxRichTextField,
        SamplePersonAutocomplete,
        SampleCastingCard,
        OxAutocomplete,
        OxField,
        OxSections,
        OxButton,
        OxChip,
        OxCaution
    },
    props: {
        movie: {
            required: true,
            type: Object as PropType<SampleMovie>
        },
        casting: Array as PropType<SampleCasting[]>,
        personsUrl: {
            type: String,
            required: true
        },
        categoriesUrl: {
            type: String,
            required: true
        },
        nationalitiesUrl: String,
        movieUrl: String
    },
    data: () => {
        return {
            formReady: false,
            formValidated: false,
            oldMovie: null,
            movieMutated: {} as SampleMovie,
            newCastings: [] as SampleCasting[],
            optionsCsa: { row: true },
            optionsLanguages: { multiple: true },
            personFilter: new SamplePerson(),
            resourceName: "sample_movie",
            samplePersonClass: SamplePerson,
            sampleCategoryClass: SampleCategory,
            richTextIsMarkdown: false,
            richTextIsHelped: false,
            richTextAttach: undefined as Element | undefined,
            renderTrailer: true,
            embedTrailerLinkMutated: undefined as string | undefined
        }
    },
    computed: {
        directorUrl (): string {
            return new OxUrlBuilder(this.personsUrl).addFilter("is_director", "equal", "1").toString()
        },
        title (): string {
            return this.movie.id !== "" ? this.$tr("CSampleMovie-title-modify") : this.$tr("CSampleMovie-title-create")
        },
        sections (): OxSection[] {
            return [
                {
                    title: this.$tr("common-Main information|pl"),
                    name: "informations"
                },
                {
                    title: this.$tr("sample-Casting"),
                    name: "casting"
                },
                {
                    title: this.$tr("sample-Videos"),
                    name: "videos"
                },
                {
                    title: this.$tr("common-Other information|pl"),
                    name: "others"
                }
            ] as OxSection[]
        },
        showEmptyCasting (): boolean {
            return this.newCastings.length === 0
        },
        timeRule (): Array<Function> {
            return [
                v => /[0-9]{2}:[0-5][0-9]/.test(v) || this.$tr("CSampleMovie-duration-invalidField")
            ]
        },
        embedTrailerLink (): string | undefined {
            return this.renderTrailer ? this.movieMutated.embeddedTrailerLink : this.embedTrailerLinkMutated
        }
    },
    async created () {
        this.movieMutated = cloneObject(this.movie)

        if (this.casting) {
            this.newCastings = cloneDeep(this.casting)
        }

        this.formReady = await prepareForm(this.resourceName, ["default", "details"])

        const schema = getSchema(this.movieMutated.type, "description")
        this.richTextIsMarkdown = !!schema.markdown
        this.richTextIsHelped = !!schema.helped
    },
    mounted () {
        this.richTextAttach = (this.$refs.sections as Vue).$el
    },
    methods: {
        async save () {
            const validate = (this.$refs.form as InstanceType<typeof OxForm>).validate()

            if (!validate) {
                return
            }

            if (this.movie.id !== "") {
                await updateJsonApiObject(this.movie, this.movieMutated)
                if (!isEqual(this.newCastings, this.casting)) {
                    const url = new OxUrlBuilder(this.movie?.castingUrl).addRelation("actor")
                    await createJsonApiObjects(this.newCastings, url.toString())
                }
                this.$emit("close", "update", this.movieMutated)
                addInfo(this.$tr("CSampleMovie-msg-modify"))
            }
            else if (this.movieUrl) {
                const newMovie = await createJsonApiObjects(this.movieMutated, this.movieUrl)
                if (!isEqual(this.newCastings, this.casting)) {
                    const url = new OxUrlBuilder(newMovie?.castingUrl)
                    await createJsonApiObjects(this.newCastings, url.toString())
                }
                this.$emit("close", "create", this.movieMutated)
                addInfo(this.$tr("CSampleMovie-msg-create"))
            }
        },
        removeCasting (casting: SampleCasting) {
            this.newCastings = this.newCastings.filter((_casting) => {
                return _casting.actor.id !== casting.actor.id
            })
        },
        closeForm () {
            this.$emit("close")
        },
        updateDuration (duration: string) {
            if (duration.length === 5) {
                // Set to default time format
                this.movieMutated.duration = duration + ":00"
            }
        },
        addCasting (person: SamplePerson) {
            this.personFilter = {} as SamplePerson

            const castingAlreadyExists = this.newCastings.findIndex((_casting) => {
                return _casting.actor.id === person.id
            })

            if (castingAlreadyExists > -1) {
                addInfo("Actor already in the casting")
                return
            }

            const casting = new SampleCasting()
            casting.actor = person
            this.newCastings.push(casting)
        },
        changeMainActor (casting: SampleCasting, isMainActor: boolean) {
            this.newCastings = this.newCastings.map((_casting) => {
                _casting.mainActor = _casting.actor.id === casting.actor.id && isMainActor
                return _casting
            })
        },
        startTrailerRender () {
            this.renderTrailer = true
        },
        stopTrailerRender () {
            this.embedTrailerLinkMutated = this.movieMutated.embeddedTrailerLink
            this.renderTrailer = false
        }
    }
})
</script>

<template>
  <v-form
    ref="form"
    v-model="formValidated"
    class="SampleMovieForm"
    @submit.prevent="save"
  >
    <div class="SampleMovieForm-header">
      <h5 class="SampleMovieForm-title">
        {{ title }}
      </h5>
      <div class="SampleMovieForm-headerActions">
        <ox-button
          button-style="tertiary-dark"
          :label="$tr('Cancel')"
          @click="closeForm"
        />
        <ox-button
          button-style="primary"
          :label="$tr('Save')"
          type="submit"
        />
      </div>
    </div>
    <ox-sections
      ref="sections"
      :sections="sections"
    >
      <template #informations>
        <div class="SampleMovieForm-content">
          <ox-field
            v-model="movieMutated.title"
            field-name="name"
            :ready="formReady"
            :resource-name="resourceName"
          />

          <ox-rich-text-field
            v-model="movieMutated.description"
            :attach="richTextAttach"
            :is-helped="richTextIsHelped"
            :is-markdown="richTextIsMarkdown"
            :options="{objectType: movieMutated.type, field: 'description'}"
            :placeholder="$tr('CSampleMovie-description')"
            :ready="formReady"
          />

          <div class="SampleMovieForm-date">
            <ox-field
              v-model="movieMutated.releaseData"
              field-name="release"
              :ready="formReady"
              :resource-name="resourceName"
            />
            <ox-field
              :custom-schema="{ type: 'duration', placeholder: '01:45' }"
              field-name="duration"
              :ready="formReady"
              :resource-name="resourceName"
              :rules="timeRule"
              :value="movieMutated.duration"
              @input="updateDuration"
            />
          </div>

          <ox-autocomplete
            v-model="movieMutated.category"
            item-text="name"
            :label="$tr('CSampleMovie-category_id')"
            :min-char-search="1"
            not-null
            :ox-object="sampleCategoryClass"
            :placeholder="$tr('CSampleCategory-chooseLabel')"
            search-field="name"
            :url="categoriesUrl"
          />
        </div>
      </template>

      <template #casting>
        <div class="SampleMovieForm-content">
          <ox-autocomplete
            v-model="movieMutated.director"
            item-text="fullName"
            :label="$tr('CSamplePerson-is_director')"
            not-null
            :ox-object="samplePersonClass"
            :placeholder="$tr('CSamplePerson-choose-director')"
            :url="directorUrl"
          >
            <template #item="{ item: person }">
              <sample-person-autocomplete :person="person" />
            </template>
          </ox-autocomplete>

          <div class="SampleMovieForm-casting">
            <div class="SampleMovieForm-castingTitle">
              {{ $tr("CSampleCasting-actors") }}
            </div>
            <div class="SampleMovieForm-castingContent">
              <ox-caution
                v-if="showEmptyCasting"
                :show-icon="true"
                type="info"
              >
                <template #subcontent>
                  {{ $tr('CSampleMovie-no-casting-desc') }}
                </template>
                {{ $tr('CSampleMovie-no-casting') }}
              </ox-caution>
              <sample-casting-card
                v-for="(cast) of newCastings"
                :key="'casting-' + cast.actor.id"
                :casting="cast"
                @changeMainActor="changeMainActor"
                @removeCasting="removeCasting"
              />
            </div>
          </div>
          <ox-autocomplete
            item-text="fullName"
            :placeholder="$tr('CSamplePerson-choose-actors')"
            :url="personsUrl"
            :value="personFilter"
            @input="addCasting"
          >
            <template #item="{ item: person }">
              <sample-person-autocomplete :person="person" />
            </template>
          </ox-autocomplete>
        </div>
      </template>

      <template #videos>
        <div class="SampleMovieForm-content">
          <ox-text-field
            v-model="movieMutated.trailerUrl"
            :label="$tr('SampleMovie-trailer')"
            @blur="startTrailerRender"
            @focus="stopTrailerRender"
          />
          <iframe
            v-if="embedTrailerLink"
            ref="trailer"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="SampleMovieForm-trailer"
            :src="embedTrailerLink"
            :title="movie.title"
          />
        </div>
      </template>

      <template #others>
        <div class="SampleMovieForm-content">
          <ox-field
            v-model="movieMutated.csa"
            field-name="csa"
            :options="optionsCsa"
            :ready="formReady"
            :resource-name="resourceName"
          >
            <template #label="slotProps">
              <ox-chip
                :color="slotProps.label === '-18' ? 'error' : ''"
                :small="true"
              >
                {{ slotProps.label }}
              </ox-chip>
            </template>
          </ox-field>

          <ox-field
            v-model="movieMutated.languagesData"
            field-name="languages"
            :options="optionsLanguages"
            :ready="formReady"
            :resource-name="resourceName"
          />
        </div>
      </template>
    </ox-sections>
  </v-form>
</template>

<style lang="scss" src="./SampleMovieForm.scss" />
