/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@use 'sass:string';

// Convert Hex color value to rgba
@function alpha($hexcolor, $opacity: 1) {
  $rgbcolor: string.slice(#{$hexcolor}, 1, -2) + "-rgb)";
  @return rgba($rgbcolor, $opacity);
}

// Primary color
$primary: var(--primary-500);
$primary-900: var(--primary-900);
$primary-800: var(--primary-800);
$primary-700: var(--primary-700);
$primary-600: var(--primary-600);
$primary-500: var(--primary-500);
$primary-400: var(--primary-400);
$primary-300: var(--primary-300);
$primary-200: var(--primary-200);
$primary-100: var(--primary-100);
$primary-50: var(--primary-50);

// Secondary color
$secondary: var(--secondary-500);
$secondary-900: var(--secondary-900);
$secondary-800: var(--secondary-800);
$secondary-700: var(--secondary-700);
$secondary-600: var(--secondary-600);
$secondary-500: var(--secondary-500);
$secondary-400: var(--secondary-400);
$secondary-300: var(--secondary-300);
$secondary-200: var(--secondary-200);
$secondary-100: var(--secondary-100);
$secondary-50: var(--secondary-50);

// Grey
$grey-900: var(--grey-900);
$grey-800: var(--grey-800);
$grey-700: var(--grey-700);
$grey-600: var(--grey-600);
$grey-500: var(--grey-500);
$grey-400: var(--grey-400);
$grey-300: var(--grey-300);
$grey-200: var(--grey-200);
$grey-100: var(--grey-100);
$grey-50: var(--grey-50);

// Emphasis
$high: high;
$medium: medium;
$low: low;

// Stats
$hover: hover;
$active: active;

// Font
$font-family: 'Roboto', sans-serif;

@mixin on-background($emphasis, $important: false) {
  @if ($emphasis == $high) {
    color: var(--color-on-background-high) if($important, !important, null);
  }
  @else if ($emphasis == $medium) {
    color: var(--color-on-background-medium) if($important, !important, null);
  }
  @else if ($emphasis == $low) {
    color: var(--color-on-background-low) if($important, !important, null);
  }
  @else {
    @error "Emphasis #{$emphasis} inconnue";
  }
}

@mixin on-primary($emphasis, $important: false) {
  @if ($emphasis == $high) {
    color: var(--color-on-primary-high) if($important, !important, null);
  }
  @else if ($emphasis == $medium) {
    color: var(--color-on-primary-medium) if($important, !important, null);
  }
  @else if ($emphasis == $low) {
    color: var(--color-on-primary-low) if($important, !important, null);
  }
  @else {
    @error "Emphasis #{$emphasis} inconnue";
  }
}

@mixin color-white($emphasis, $important: false) {
  @if not (index([1, 0.87, 0.7, 0.6, 0.5, 0.38], $emphasis)) {
    @error "Emphasis #{$emphasis} invalide"
  }
  color: alpha($white, $emphasis) if($important, !important, null);
}

@mixin color-black($emphasis, $important: false) {
  @if not (index([1, 0.87, 0.7, 0.6, 0.5, 0.38], $emphasis)) {
    @error "Emphasis #{$emphasis} invalide"
  }
  color: alpha($black, $emphasis) if($important, !important, null);
}

@mixin primary-opacity($opacity) {
  @if ($opacity == $hover) {
    background-color: alpha($primary, var(--primary-opacity-hover));
  }
  @else if ($opacity == $active) {
    background-color: alpha($primary, var(--primary-opacity-active));
  }
  @else {
    @error "Opacity #{$opacity} invalide"
  }
}

// Spacing
$space: 4px;

// Colors
$white: var(--white);
$black: var(--black);

$blue-light: var(--color-text-blue);

$pink-light: var(--color-text-pink);
$pink-lighter: var(--color-text-pink-lighter);

// State colors
$error-surface-default: var(--error-surface-default);
$error-surface-darken: var(--error-surface-darken);
$error-surface-light: var(--error-surface-light);
$error-text-default: var(--error-text-default);

$warning-surface-default: var(--warning-surface-default);
$warning-surface-light: var(--warning-surface-light);
$warning-text-default: var(--warning-text-default);

$info-surface-default: var(--info-surface-default);
$info-surface-light: var(--info-surface-light);
$info-text-default: var(--info-text-default);

$success-surface-default: var(--success-surface-default);
$success-surface-light: var(--success-surface-light);
$success-text-default: var(--success-text-default);

// Backgrounds
$background-default: var(--background-default);
$background-default-light: var(--background-default-light);
$background-light: var(--background-light);
$background-lighter: var(--background-lighter);
$background-dark: var(--background-dark);
$background-darker: var(--background-darker);
$background-info: var(--background-info);
$background-hover: alpha($secondary-50, 0.4);
$background-input-default: var(--background-input-default);
$background-input-hover: var(--background-input-hover);

$surface-primary: var(--color-surface-primary-500);
$surface-primary-800: var(--color-surface-primary-800);
$surface-primary-700: var(--color-surface-primary-700);
$surface-primary-600: var(--color-surface-primary-600);
$surface-primary-500: var(--color-surface-primary-500);
$surface-primary-300: var(--color-surface-primary-300);
$surface-primary-100: var(--color-surface-primary-100);
$surface-primary-hover: var(--color-surface-primary-hover);
$surface-primary-selected: var(--color-surface-primary-selected);
$surface-primary-active: var(--color-surface-primary-active);

$surface-secondary-900: var(--color-surface-secondary-900);
$surface-secondary-800: var(--color-surface-secondary-800);
$surface-secondary-hover: var(--color-surface-secondary-hover);
$surface-secondary-selected: var(--color-surface-secondary-selected);
$surface-secondary-active: var(--color-surface-secondary-active);

// Categorical palette
$color-text-yellow: var(--color-text-yellow);
$color-text-blue: var(--color-text-blue);
$color-text-pink: var(--color-text-pink);
$color-text-pink-lighter: var(--color-text-pink-lighter);
$color-text-orange: var(--color-text-orange);

$color-pink: var(--color-pink);
$color-purple: var(--color-purple);
$color-deep-purple: var(--color-deep-purple);
$color-blue: var(--color-blue);
$color-cyan: var(--color-cyan);
$color-teal: var(--color-teal);
$color-green: var(--color-green);
$color-light-green: var(--color-light-green);
$color-lime: var(--color-lime);
$color-yellow: var(--color-yellow);
$color-orange: var(--color-orange);

// Borders
$border: 1px solid alpha($grey-900, 0.12);
$border-light: 1px solid rgba(255, 255, 255, 0.16);

// Scrollbar
$scrollbar-gutter-color: var(--scrollbar-gutter-color);
$scrollbar-color: var(--scrollbar-color);

// Elevation
@mixin elevation ($dp, $only-background: false) {
  @if $dp==0 {
    background-color: var(--background-elevation-0);
    border: $border;
    box-shadow: none;
  }
  @else if $dp==1 {
    background-color: var(--background-elevation-1);
    box-shadow: if($only-background, none, (0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==2 {
    background-color: var(--background-elevation-2);
    box-shadow: if($only-background, none, (0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==3 {
    background-color: var(--background-elevation-3);
    box-shadow: if($only-background, none, (0 3px 3px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 8px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==4 {
    background-color: var(--background-elevation-4);
    box-shadow: if($only-background, none, (0 2px 4px rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==6 {
    background-color: var(--background-elevation-6);
    box-shadow: if($only-background, none, (0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==8 {
    background-color: var(--background-elevation-8);
    box-shadow: if($only-background, none, (0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==9 {
    background-color: var(--background-elevation-9);
    box-shadow: if($only-background, none, (0 9px 12px rgba(0, 0, 0, 0.14), 0 3px 16px rgba(0, 0, 0, 0.12), 0 5px 6px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==12 {
    background-color: var(--background-elevation-12);
    box-shadow: if($only-background, none, (0 12px 17px rgba(0, 0, 0, 0.14), 0 5px 22px rgba(0, 0, 0, 0.12), 0 7px 8px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==16 {
    background-color: var(--background-elevation-16);
    box-shadow: if($only-background, none, (0 16px 24px rgba(0, 0, 0, 0.14), 0 6px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.2)));
  }
  @else if $dp==24 {
    background-color: var(--background-elevation-24);
    box-shadow: if($only-background, none, (0 24px 38px rgba(0, 0, 0, 0.14), 0 9px 46px rgba(0, 0, 0, 0.12), 0 11px 15px rgba(0, 0, 0, 0.2)));
  }
  @else {
    @error "Error: Elevation #{$dp} is unknown";
  }
}

// Responsive, also defined in utils/responsive.ts
$screenWide: (
        "900": 2100px,
        "800": 2000px,
        "700": 1900px,
        "600": 1800px,
        "500": 1700px,
        "400": 1600px,
        "300": 1500px,
        "200": 1400px,
        "100": 1300px
);
$screenSmall: (
        "900": 1200px,
        "800": 1100px,
        "700": 1000px,
        "600": 900px,
        "500": 800px,
        "400": 700px,
        "300": 600px,
        "200": 500px,
        "100": 400px
);
@mixin screenLargerThan ($screenCategory, $variant) {
  @media (min-width: map-get($screenCategory, $variant)) {
    @content
  }
}

@mixin screenSmallerThan ($screenCategory, $variant) {
  @media (max-width: map-get($screenCategory, $variant)) {
    @content
  }
}



@mixin hoverable ($color: secondary) {
  @if ($color == primary) {
    &:hover {
      background-color: $surface-primary-hover;
      cursor: pointer;
    }
  }
  @else if ($color == secondary) {
    &:hover {
      background-color: $surface-secondary-hover;
      cursor: pointer;
    }
  }
  @else {
    @error "Color #{$color} does not exists. Use primary or secondary.";
  }
}

@mixin hoverableSelectable ($color: secondary) {
  @if ($color == primary) {
    &:hover {
      background-color: $surface-primary-hover;
      cursor: pointer;
    }
    &.selected,
    &.active,
    &.select,
    &.chosen {
      background-color: $surface-primary-selected;
    }
  }
  @else if ($color == secondary) {
    &:hover {
      background-color: $surface-secondary-hover;
      cursor: pointer;
    }
    &.selected,
    &.active,
    &.select,
    &.chosen {
      background-color: $surface-secondary-selected;
    }
  }
  @else {
    @error "Color #{$color} does not exists. Use primary or secondary.";
  }
}

@mixin h1($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 96px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 300 if($important, !important, null);
  letter-spacing: -1.5px if($important, !important, null);
  line-height: 112px if($important, !important, null);
}

@mixin h2($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 60px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 300 if($important, !important, null);
  letter-spacing: -0.5px if($important, !important, null);
  line-height: 70px if($important, !important, null);
}

@mixin h3($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 48px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 400 if($important, !important, null);
  letter-spacing: 0 if($important, !important, null);
  line-height: 56px if($important, !important, null);
}

@mixin h4($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 34px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 400 if($important, !important, null);
  letter-spacing: 0.25px if($important, !important, null);
  line-height: 40px if($important, !important, null);
}

@mixin h5($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 24px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 700 if($important, !important, null);
  letter-spacing: 0 if($important, !important, null);
  line-height: 32px if($important, !important, null);
}

@mixin h6($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 20px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 500 if($important, !important, null);
  letter-spacing: 0.15px if($important, !important, null);
  line-height: 30px if($important, !important, null);
}

@mixin body1($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 16px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: normal if($important, !important, null);
  line-height: 24px if($important, !important, null);
  letter-spacing: 0.5px if($important, !important, null);
}

@mixin body2($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 14px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: normal if($important, !important, null);
  line-height: 20px if($important, !important, null);
  letter-spacing: 0.25px if($important, !important, null);

}

@mixin subtitle1($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 16px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 700 if($important, !important, null);
  line-height: 24px if($important, !important, null);
  letter-spacing: 0.15px if($important, !important, null);
}

@mixin subtitle2($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 14px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 500 if($important, !important, null);
  line-height: 20px if($important, !important, null);
  letter-spacing: 0 if($important, !important, null);
}

@mixin overline($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 10px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 500 if($important, !important, null);
  letter-spacing: 1.5px if($important, !important, null);
  line-height: 16px if($important, !important, null);
  text-transform: uppercase if($important, !important, null);
}

@mixin caption($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 12px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: normal if($important, !important, null);
  letter-spacing: 0.4px if($important, !important, null);
  line-height: 16px if($important, !important, null);
}

@mixin button($important: false) {
  font-family: $font-family if($important, !important, null);
  font-size: 14px if($important, !important, null);
  font-style: normal if($important, !important, null);
  font-weight: 500 if($important, !important, null);
  letter-spacing: 0.75px if($important, !important, null);
  line-height: 16px if($important, !important, null);
}

// Separator
@mixin separator($important: false) {
  background-color: $grey-900 if($important, !important, null);
  opacity: 0.12 if($important, !important, null);
}


// Cards
@mixin cardOutlinedDefault($important: false) {
  background-color: $background-default-light if($important, !important, null);
  border: $border if($important, !important, null);
  border-radius: 4px if($important, !important, null);
}

@mixin fullSize($important: false) {
  height: 100% if($important, !important, null);
  width: 100% if($important, !important, null);
}

@mixin breathing($important: false) {
  animation-direction: alternate if($important, !important, null);
  animation-duration: 1.5s if($important, !important, null);
  animation-iteration-count: infinite if($important, !important, null);
  animation-name: breathing if($important, !important, null);
  opacity: 1 if($important, !important, null);
}

@mixin shakeRotate($important: false) {
  animation: shake 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) if($important, !important, null);
  animation-iteration-count: infinite if($important, !important, null);
  backface-visibility: hidden if($important, !important, null);
  transform-origin: center if($important, !important, null);
}

@mixin not-printable() {
  @media print {
    display: none;
  }
}

@mixin stickyHeaderOnModalContent {
  @include elevation(2, true);
  position: sticky;
  top: 53px;
  z-index: 20;
}

//  Layout
@mixin fullPage {
  height: calc(100vh - 56px);
  margin-top: -4px !important;
  overflow: auto;
  width: 100%;
}
@mixin fullParamPage {
  height: calc(100vh - 81px);
  margin-top: -4px !important;
  overflow: auto;
  width: 100%;
}
