/*
  @package Oxify\Styles
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

// CSS Variables, also defined in utils/colors.ts
$light-colors: (
  white: #FFFFFF,
  black: #000000,

  primary-900: #1A237E,
  primary-800: #283593,
  primary-700: #303F9F,
  primary-600: #3949AB,
  primary-500: #3F51B5,
  primary-400: #5C6BC0,
  primary-300: #7986CB,
  primary-200: #9FA8DA,
  primary-100: #C5CAE9,
  primary-50: #E8EAF6,

  secondary-900: #01579B,
  secondary-800: #0277BD,
  secondary-700: #0288D1,
  secondary-600: #039BE5,
  secondary-500: #03A9F4,
  secondary-400: #29B6F6,
  secondary-300: #4FC3F7,
  secondary-200: #81D4FA,
  secondary-100: #B3E5FC,
  secondary-50: #E1F5FE,

  grey-900: #263238,
  grey-800: #37474F,
  grey-700: #455A64,
  grey-600: #546E7A,
  grey-500: #607D8B,
  grey-400: #78909C,
  grey-300: #90A4AE,
  grey-200: #B0BEC5,
  grey-100: #CFD8DC,
  grey-50: #ECEFF1,

  success-surface-default: #388E3C,
  success-surface-light: #43A04729,
  success-text-default: #43A047,

  warning-surface-default: #FFAE34,
  warning-surface-light: #E651001E,
  warning-text-default: #FF9800,

  info-surface-default: #1976D2,
  info-surface-light: #1976D229,
  info-text-default: #1E88E5,

  error-surface-default: #F44336,
  error-surface-darken: #D94848,
  error-surface-light: #F4433628,
  error-text-default: #FF3100,
  error-text-on-primary: #FF8B70,

  color-surface-primary-800: #283593,
  color-surface-primary-700: #303F9F,
  color-surface-primary-600: #3949AB,
  color-surface-primary-500: #3F51B5,
  color-surface-primary-300: #7986CB,
  color-surface-primary-100: #C5CAE9,
  color-surface-primary-hover: #3F51B50A,
  color-surface-primary-active: #3F51B51F,
  color-surface-primary-selected: #3F51B514,

  color-surface-secondary-900: #01579B,
  color-surface-secondary-800: #0277BD,
  color-surface-secondary-hover: #03A9F40A,
  color-surface-secondary-active: #03A9F414,
  color-surface-secondary-selected: #03A9F41F,

  color-text-yellow: #FBC02D,
  color-text-blue: #2196F3,
  color-text-pink: #EC407A,
  color-text-pink-lighter: #F06292,
  color-text-orange: #FD7C04,

  color-pink: #C2185B,
  color-purple: #8E24AA,
  color-deep-purple: #5E35B1,
  color-blue: #1976d2,
  color-cyan: #0097A7,
  color-teal: #00796B,
  color-green: #388E3C,
  color-light-green: #7CB342,
  color-lime: #AFB42B,
  color-yellow: #FBC02D,
  color-orange: #FD7C04
);

$dark-colors: (
  white: #FFFFFF,
  black: #000000,

  primary-900: #BAC0E5,
  primary-800: #B6BDE3,
  primary-700: #B0B8E1,
  primary-600: #A9B1DE,
  primary-500: #9FA8DA,
  primary-400: #8994D1,
  primary-300: #7380C9,
  primary-200: #5362B6,
  primary-100: #303E8F,
  primary-50: #242F72,

  secondary-900: #A9E2FB,
  secondary-800: #96DBFA,
  secondary-700: #84D5F9,
  secondary-600: #69CCF8,
  secondary-500: #4FC3F7,
  secondary-400: #48BDF6,
  secondary-300: #3FB5F5,
  secondary-200: #35A0DD,
  secondary-100: #308BC5,
  secondary-50: #316C96,

  grey-900: #9EA7AA,
  grey-800: #949DA0,
  grey-700: #8C969A,
  grey-600: #859197,
  grey-500: #6A787F,
  grey-400: #59686F,
  grey-300: #505F68,
  grey-200: #47535A,
  grey-100: #2F393F,
  grey-50: #212B31,

  success-surface-default: #388E3C,
  success-surface-light: #43A04761,
  success-text-default: #43A047,

  warning-surface-default: #E37220,
  warning-surface-light: #E6510061,
  warning-text-default: #FF9800,

  info-surface-default: #1976D2,
  info-surface-light: #1976D261,
  info-text-default: #1E88E5,

  error-surface-default: #F44336,
  error-surface-darken: #D94848,
  error-surface-light: #F4433661,
  error-text-default: #FF3100,
  error-text-on-primary: #FF8B70,

  color-surface-primary-800: #222437,
  color-surface-primary-700: #242841,
  color-surface-primary-600: #262A42,
  color-surface-primary-500: #282C44,
  color-surface-primary-300: #363B57,
  color-surface-primary-100: #3E4570,
  color-surface-primary-hover: #9FA8DA14,
  color-surface-primary-active: #9FA8DA33,
  color-surface-primary-selected: #9FA8DA29,

  color-surface-secondary-900: #2F4B63,
  color-surface-secondary-800: #173B50,
  color-surface-secondary-hover: #4FC3F714,
  color-surface-secondary-active: #4FC3F729,
  color-surface-secondary-selected: #4FC3F71F,

  color-text-yellow: #FBC02D,
  color-text-blue: #2196F3,
  color-text-pink: #EC407A,
  color-text-pink-lighter: #F06292,
  color-text-orange: #FD7C04,

  color-pink: #E1548B,
  color-purple: #C076D3,
  color-deep-purple: #B289FF,
  color-blue: #308EEB,
  color-cyan: #0097A7,
  color-teal: #1E9F90,
  color-green: #40A345,
  color-light-green: #7CB342,
  color-lime: #AFB42B,
  color-yellow: #FBC02D,
  color-orange: #FB9333
);


.theme--light {
  // Backgrounds
  --background-default: #F4F5F7;
  --background-default-light: #FFFFFF;
  --background-light: rgba(0, 0, 0, 0.06);
  --background-lighter: rgba(255, 255, 255, 0.04);
  --background-dark: #E8E8E8;
  --background-darker: rgba(0, 0, 0, 0.04);
  --background-info: #E5E7F5;
  --background-input-default: rgba(0, 0, 0, 0.06);
  --background-input-hover: rgba(0, 0, 0, 0.12);

  --background-elevation-0: #FFFFFF;
  --background-elevation-1: #FFFFFF;
  --background-elevation-2: #FFFFFF;
  --background-elevation-3: #FFFFFF;
  --background-elevation-4: #FFFFFF;
  --background-elevation-6: #FFFFFF;
  --background-elevation-8: #FFFFFF;
  --background-elevation-9: #FFFFFF;
  --background-elevation-12: #FFFFFF;
  --background-elevation-16: #FFFFFF;
  --background-elevation-24: #FFFFFF;

  // Scrollbar
  --scrollbar-gutter-color: #F5F5FC;
  --scrollbar-color: #B5B5C4;

  // Typography emphasis
  --color-on-background-high: rgba(0, 0, 0, 0.87);
  --color-on-background-medium: rgba(0, 0, 0, 0.60);
  --color-on-background-low: rgba(0, 0, 0, 0.38);

  --color-on-primary-high: rgba(255, 255, 255, 1);
  --color-on-primary-medium: rgba(255, 255, 255, 0.7);
  --color-on-primary-low: rgba(255, 255, 255, 0.5);

  --primary-opacity-hover: 0.06;
  --primary-opacity-active: 0.12;

  // Colors
  @each $color, $value in $light-colors {
    --#{"" + $color}: #{$value};
    --#{"" + $color}-rgb: #{hexToRGB($value)};
  }
}

.theme--dark {
  // Backgrounds
  --background-default: #121212;
  --background-default-light: #121212;
  --background-light: rgba(255, 255, 255, 0.06);
  --background-lighter: rgba(255, 255, 255, 0.03);
  --background-dark: #171717;
  --background-darker: rgba(0, 0, 0, 0.16);
  --background-info: #343956;
  --background-input-default: rgba(255, 255, 255, 0.08);
  --background-input-hover: rgba(255, 255, 255, 0.16);

  --background-elevation-0: #181818;
  --background-elevation-1: #1D1D1D;
  --background-elevation-2: #212121;
  --background-elevation-3: #242424;
  --background-elevation-4: #272727;
  --background-elevation-6: #2C2C2C;
  --background-elevation-8: #2D2D2D;
  --background-elevation-9: #2D2D2D;
  --background-elevation-12: #323232;
  --background-elevation-16: #353535;
  --background-elevation-24: #373737;

  // Scrollbar
  --scrollbar-gutter-color: #2e2e31;
  --scrollbar-color: #151517;

  // Typography emphasis
  --color-on-background-high: rgba(255, 255, 255, 0.87);
  --color-on-background-medium: rgba(255, 255, 255, 0.60);
  --color-on-background-low: rgba(255, 255, 255, 0.38);

  --color-on-primary-high: rgba(0, 0, 0, 1);
  --color-on-primary-medium: rgba(0, 0, 0, 0.7);
  --color-on-primary-low: rgba(0, 0, 0, 0.5);

  --primary-opacity-hover: 0.16;
  --primary-opacity-active: 0.20;


  // Colors
  @each $color, $value in $dark-colors {
    --#{"" + $color}: #{$value};
    --#{"" + $color}-rgb: #{hexToRGB($value)};
  }
}
