/*
  @package Oxify\Styles
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

/**
 * V-BUTTON
 * Change button's font style
 */
$btn-letter-spacing: 0.75px !important;
$btn-text-transform: none !important;


/**
 * V-INPUT
 * Fix a lower size for the inputs
 */
$text-field-filled-full-width-outlined-slot-min-height: 48px;
$text-field-filled-margin-top: 15px;
$text-field-filled-full-width-label-top: 14px;
$text-field-enclosed-prepend-append-margin-top: 12px;
$text-field-details-margin-bottom: 0;
$input-slot-margin-bottom: 4px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 32px;
$text-field-single-line-prepend-append-margin-top: 4px;
$text-field-dense-padding: 2px 0 2px;
$text-field-outlined-rounded-slot-padding: 0 16px;
$input-top-spacing: 0;
$messages-min-height: 0;

/**
 * V-SELECT
 * Fix a lower size for the selects
 */
$select-selections-padding-top: 15px;

/**
 * V-AUTOCOMPLETE
 * Fix a lower size for the autocompletes
 */
$autocomplete-enclosed-input-margin-top: 15px;

/**
 * V-SLIDER
 * Fix bigger width to slider track and no thumb
 */
$slider-track-width: 8px;
$slider-thumb-size: 8px;
$slider-track-border-radius: 8px;
$slider-tick-border-radius: 8px;
$slider-horizontal-right: 0;
$slider-horizontal-left: 0;

/**
 * V-SWITCH
 * Reduce size for the dense aspect
 */
$switch-thumb-dense-width: 16px;
$switch-thumb-dense-height: 16px;
$switch-track-dense-inset-width: 38px;
$switch-track-dense-inset-height: 22px;
$switch-thumb-top: calc(50% - 9px);
$switch-dirty-offset-x: 16px;
$switch-ripple-dense-x: -13px;

/**
 * V-TOOLTIP
 * Reduce enter duration
 */
$tooltip-transition-enter-duration: 100ms;

/**
 * V-BTN-TOGGLE
 * Reduce height
 */
$btn-toggle-btn-height: 38px;
