/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxExpansionPanel {
  &.sticky {
    .OxExpansionPanel-header {
      @include elevation(1, true);
      position: sticky;
    }
  }

  &-header {
    gap: $space*4;
    z-index: 10;
  }

  &-content {
    @include body2;
    @include on-background(high);
  }

  &-left,
  &-right {
    flex: 0 !important;
  }

  &-headerContentDefault {
    align-items: center;
    display: flex;
    gap: $space*4;
  }

  &-headerTitle {
    @include body1;
    @include on-background(high);
  }

  &-headerDescription {
    @include body2;
    @include on-background(medium);
  }
}
