<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">

import Vue, { PropType } from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "OxExpansionPanel",
    components: { OxIcon },
    props: {
        title: String,
        description: String,
        readonly: {
            type: Boolean,
            default: false
        },
        sticky: {
            type: Boolean,
            default: false
        },
        top: {
            type: String,
            default: "0"
        },
        showSides: {
            type: String as PropType<"left" | "right" | "both" | "none">,
            default: "right",
            validator: function (value: string): boolean {
                return ["left", "right", "both", "none"].includes(value)
            }
        }
    },
    computed: {
        classes (): { OxExpansionPanel: true; sticky: boolean } {
            return {
                OxExpansionPanel: true,
                sticky: this.sticky
            }
        },
        showLeft (): boolean {
            return this.showSides === "left" || this.showSides === "both"
        },
        showRight (): boolean {
            return this.showSides === "right" || this.showSides === "both"
        },
        style (): { top: string } {
            return { top: this.top }
        }
    },
    methods: {
        defaultIconRight (open: boolean): string {
            return open ? "chevronUp" : "chevronDown"
        }
    }
})
</script>

<template>
  <v-expansion-panel
    :class="classes"
    :readonly="readonly"
  >
    <v-expansion-panel-header
      class="OxExpansionPanel-header"
      hide-actions
      :style="style"
    >
      <template #default="{ open }">
        <div
          v-if="showLeft"
          class="OxExpansionPanel-left"
        >
          <slot
            name="left"
            :open="open"
          />
        </div>
        <div class="OxExpansionPanel-headerContent">
          <slot
            name="header"
            :open="open"
          >
            <div class="OxExpansionPanel-headerContentDefault">
              <div class="OxExpansionPanel-headerTitle">
                {{ title }}
              </div>
              <div class="OxExpansionPanel-headerDescription">
                {{ description }}
              </div>
            </div>
          </slot>
        </div>
        <div
          v-if="showRight"
          class="OxExpansionPanel-right"
        >
          <slot
            name="right"
            :open="open"
          >
            <ox-icon :icon="defaultIconRight(open)" />
          </slot>
        </div>
      </template>
    </v-expansion-panel-header>
    <v-expansion-panel-content
      class="OxExpansionPanel-content"
    >
      <slot name="content" />
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<style lang="scss" src="./OxExpansionPanel.scss" />
