<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div class="OxVueWrap">
    <ox-vue-wrap-content>
      <slot />
    </ox-vue-wrap-content>
  </div>
</template>

<script src="./OxVueWrap.ts" lang="ts"></script>
