<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"

export default Vue.extend({
    name: "ErrorPage",
    components: {
        OxButton
    },
    props: {
        statusCode: String,
        message: String,
        title: String,
        description: String,
        callToAction: String,
        action: {
            type: String,
            required: true
        },
        illustration: String,
        links: Object as PropType<{ logo: string, actionLink: string }>
    },
    data () {
        return {
            displayDetails: false
        }
    },
    computed: {
        isError (): boolean {
            return !!this.statusCode && parseInt(this.statusCode) >= 500
        },
        detailsClass (): Object {
            return {
                "ErrorPage-detail": true,
                displayed: this.displayDetails
            }
        }
    },
    methods: {
        goToHome () {
            if (this.links?.actionLink) {
                window.location.href = this.links?.actionLink
            }
            else {
                window.location.reload()
            }
        },
        toggleDetail () {
            this.displayDetails = !this.displayDetails
        },
        clickOutside () {
            this.displayDetails = false
        },
        includeGroup () {
            return [this.$refs.details]
        }
    }
})
</script>

<template>
  <div class="ErrorPage">
    <div class="ErrorPage-content">
      <div class="ErrorPage-title">
        {{ $tr(title) }}
      </div>
      <div class="ErrorPage-description">
        <span>
          {{ $tr(description) }}
        </span>
        <span
          v-if="isError"
          class="ErrorPage-codeMessage"
        >
          {{ $tr("common-error-Error code") }} :
          <span
            ref="details"
            class="ErrorPage-code"
            @click="toggleDetail"
          >
            {{ statusCode }}
          </span>
          <div
            v-click-outside="{
              handler: clickOutside,
              include: includeGroup
            }"
            :class="detailsClass"
          >
            <div class="ErrorPage-detailTitle">{{ $tr("common-Error") }} {{ statusCode }}</div>
            <div class="ErrorPage-detailMessage">{{ message }}</div>
          </div>
        </span>
        <br>
        <span>{{ $tr(callToAction) }}</span>
      </div>
      <ox-button
        button-style="primary"
        :label="$tr(action)"
        @click="goToHome"
      />
    </div>
    <img
      alt="Error illustration"
      class="ErrorPage-illustration"
      :src="illustration"
    >
  </div>
</template>

<style src="./ErrorPage.scss" lang="scss"></style>
