/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

$collapseSidebarWidth: 50px;
$image-offset-top: $space*15;

.ErrorPage {
  @include fullPage;
  align-items: center;
  background-color: $background-default-light;
  display: flex;
  justify-content: center;
  gap: $space*10;
  margin: auto;
  width: 90vw;

  @include screenSmallerThan($screenSmall, "700") {
    flex-direction: column-reverse;
    padding: $space*6;
    width: 100vw;
  }

  @include screenSmallerThan($screenSmall, "300") {
    justify-content: flex-end;
  }

  &-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: $space*4;

    @include screenSmallerThan($screenSmall, "700") {
      align-items: center;
    }
  }

  &-title {
    @include h3;
    color: $grey-900;

    @include screenSmallerThan($screenSmall, "700") {
      text-align: center;
    }

    @include screenSmallerThan($screenSmall, "300") {
      @include h5;
    }
  }

  &-description {
    @include body1;
    @include on-background(medium);

    @include screenSmallerThan($screenSmall, "700") {
      text-align: center;
    }
  }

  &-illustration {
    width: clamp(512px, 40vw, 680px);

    @include screenSmallerThan($screenSmall, "700") {
      width: clamp(200px, 80vw, 512px);
    }
  }

  &-code {
    color: $secondary;
    cursor: pointer;
    user-select: none;
  }

  &-codeMessage {
    white-space: nowrap;
  }

  &-detail {
    border-radius: 4px 4px 0 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    text-align: left;
    left: 0;
    width: 100vw;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;

    &.displayed {
      transform: translateY(0);
    }
  }

  &-detailTitle {
    @include subtitle1;
    @include on-primary(high);
    background-color: $grey-800;
    padding: $space*2 $space*3 $space*2 5vw;
  }

  &-detailMessage {
    @include body1;
    @include on-background(medium);
    background-color: $grey-50;
    min-height: 60px;
    padding: $space*2 $space*3 $space*2 5vw;
    white-space: normal;
  }
}
