/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleUserCard {
  align-items: center;
  border: $border;
  border-radius: 4px;
  display: flex;
  gap: $space*2;
  height: fit-content;
  padding: $space*3 $space*4;

  &-initials {
    @include color-white(1);
    @include caption;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 8px;
    text-align: center;
  }

  &-text {
    display: flex;
    flex-direction: column;
    min-width: 75px;
  }

  &-textName {
    @include body2;
    @include on-background(high);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-textDate {
    @include caption;
    @include on-background(medium);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-chip {
    align-self: flex-start;
  }
}
