<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Mediuser from "@modules/mediusers/vue/Models/Mediuser"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import { useUserStore } from "@/core/stores/user"
import OxThemeCore from "@oxify/utils/OxThemeCore"

export default Vue.extend({
    name: "SampleUserCard",
    components: { OxChip },
    props: {
        user: {
            type: Object as PropType<Mediuser>,
            required: true
        },
        date: {
            type: String
        }
    },
    computed: {
        isCurrentUser (): boolean {
            const userStore = useUserStore()
            return userStore.user.id === this.user.id
        },
        userColor () : string {
            return this.user.specificColor && this.user.color ? this.user.color.toString() : OxThemeCore.grey100
        }
    }
})
</script>

<template>
  <div class="SampleUserCard">
    <v-avatar
      :color="userColor"
      left
      size="28"
    >
      <span class="SampleUserCard-initials">
        {{ user.initials }}
      </span>
    </v-avatar>
    <div class="SampleUserCard-text">
      <span
        class="SampleUserCard-textName"
        :title="user.fullName"
      >{{ user.fullName }}</span>
      <span class="SampleUserCard-textDate">{{ $tr("SampleRating-rated on %s", false, date) }}</span>
    </div>
    <ox-chip
      v-if="isCurrentUser"
      class="SampleUserCard-chip"
      color="primary"
      small
    >
      {{ $tr("You-polite") }}
    </ox-chip>
  </div>
</template>

<style src="./SampleUserCard.scss" lang="scss"></style>
