<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import OxModuleIcon from "@/components/Visual/Basics/OxModuleIcon/OxModuleIcon.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import Vue, { PropType } from "vue"
import Module from "@/core/models/Module"
import { getTabForModule } from "@/components/Appbar/utils/DefaultCache"
import { useUserStore } from "@/core/stores/user"

/**
 * ModuleLine
 * Composant de ligne d'un module
 */
export default Vue.extend({
    name: "ModuleLine",
    components: {
        OxModuleIcon, OxIcon
    },
    props: {
        module: {
            type: Object as PropType<Module>,
            required: true
        },
        isActive: {
            type: Boolean,
            default: false
        },
        isFocus: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            defaultTab: undefined as string | undefined
        }
    },
    computed: {
        classes (): string {
            return (this.isActive ? "active" : "") + (this.isFocus ? " focused" : "")
        }
    },
    watch: {
        isFocus () {
            if (this.$refs.moduleLineLink && this.isFocus) {
                const link = this.$refs.moduleLineLink as HTMLElement
                link.focus()
                link.scrollIntoView({ behavior: "smooth", block: "center", inline: "center" })
            }
        }
    },
    created () {
        const userStore = useUserStore()
        this.defaultTab = getTabForModule(userStore.sessionHash, this.module.name)
    },
    methods: {
        clickDetail (event, fromKeyboard = false) {
            this.$emit("detailClick", { module: this.module, fromKeyboard })
        },
        click (event) {
            this.$emit("click", {
                module: this.module,
                newTab: event.ctrlKey || event.metaKey || event.button === 1
            })
        }
    }
})
</script>

<template>
  <div
    class="ModuleLine"
    :class="classes"
    tabindex="0"
  >
    <a
      ref="moduleLineLink"
      v-ripple="{
        class: 'ModuleLine-ripple'
      }"
      class="ModuleLine-content"
      :href="defaultTab"
      @keydown.right="clickDetail($event, true)"
    >
      <div class="ModuleLine-icon">
        <ox-module-icon
          :module-category="module.category"
          :module-name="module.name"
        />
      </div>
      <div class="ModuleLine-name">
        {{ $tr("module-" + module.name + "-court") }}
      </div>
    </a>
    <div
      class="ModuleLine-action"
      tabindex="0"
      @click="clickDetail"
      @keydown.enter="clickDetail"
    >
      <ox-icon icon="vDots" />
    </div>
  </div>
</template>

<style src="./ModuleLine.scss" lang="scss"></style>
