<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "DetailPopin",
    props: {
        arrowDirection: String,
        title: String
    }
})
</script>

<template>
  <div
    class="DetailPopin"
    :class="arrowDirection"
  >
    <div class="DetailPopin-title">
      {{ title }}
    </div>
    <div class="DetailPopin-content">
      <slot />
    </div>
  </div>
</template>

<style lang="scss" src="./DetailPopin.scss" />
