/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.DetailPopin {
  @include elevation(2, true);
  border-radius: 6px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.14)) drop-shadow(0 3px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.2));
  padding: $space*4;
  position: relative;

  &.left::after {
    @include elevation(2, true);
    clip-path: polygon(50% 7%, 0 100%, 100% 100%);
    left: -15px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
  }

  &.right::after {
    @include elevation(2, true);
    clip-path: polygon(50% 7%, 0 100%, 100% 100%);
    left: calc(100% - 1px);
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
  }

  &.up::after {
    @include elevation(2, true);
    clip-path: polygon(50% 7%, 0 100%, 100% 100%);
    left: 50%;
    top: -13px;
    transform: translateX(-50%);
  }

  &.down::after {
    @include elevation(2, true);
    clip-path: polygon(50% 7%, 0 100%, 100% 100%);
    left: 50%;
    top: 100%;
    transform: translateX(-50%) rotate(180deg);
  }

  &::after {
    content: "";
    height: 14px;
    position: absolute;
    transform-origin: center;
    width: 16px;
  }

  &-title {
    @include on-background(high);
    @include body1;
    padding-bottom: $space*4;
  }

  &-content {
    @include caption;
    @include on-background(high);
    white-space: nowrap;
  }
}

// Screen max width = 600px
@include screenSmallerThan($screenSmall, "300") {
  .DetailPopin-content {
    white-space: normal;
    word-break: break-word;
  }
}
