<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Patient from "@modules/dPpatients/vue/models/Patient"

export default Vue.extend({
    name: "AdvancedPatientSearchLine",
    components: {},
    props: {
        patient: {
            type: Object as PropType<Patient>,
            required: true
        }
    },
    methods: {
        selectPatient () {
            this.$emit("selectPatient", this.patient)
        }
    }
})
</script>

<template>
  <div
    class="AdvancedPatientSearchLine"
    @click="selectPatient"
  >
    <div class="AdvancedPatientSearchLine-nameAndBirthSide">
      <span>{{ patient.shortView }}</span>
      <span>
        {{ patient.birthDate }}
        <span v-if="patient.birthCp">-</span>
        {{ patient.birthCp }}
        {{ patient.birthPlace }}
      </span>
    </div>
    <div class="AdvancedPatientSearchLine-address">
      <span>{{ patient.address }}</span>
      <span>{{ patient.postcode }} {{ patient.town }}</span>
    </div>
    <div class="AdvancedPatientSearchLine-tel">
      {{ patient.tel }}
    </div>
  </div>
</template>

<style src="./AdvancedPatientSearchLine.scss" lang="scss"></style>
