/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.AdvancedPatientSearchLine {
  @include hoverable;
  align-items: center;
  border: $border;
  display: flex;
  height: $space*16;
  justify-content: space-between;
  padding: $space $space*2;
  width: 100%;

  &-nameAndBirthSide {
    @include on-background(high);
    display: flex;
    flex-direction: column;
  }

  &-address {
    @include on-background(low);
    display: flex;
    flex-direction: column;
  }

  &-tel {
    @include on-background(low)
  }
}
