<!--
  @package Oxify/OxField
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">

import { defineComponent } from "vue"
import OxFieldStrCore from "@oxify/components/OxField/OxFieldStrCore"
import { VueMaskDirective } from "v-mask"

/**
 * OxTextField
 *
 * Text field component
 */
export default defineComponent({
    name: "OxTextField",
    directives: {
        mask: VueMaskDirective
    },
    extends: OxFieldStrCore,
    props: {
        autofocus: {
            type: Boolean,
            default: false
        },
        number: {
            type: Boolean,
            default: false
        },
        rounded: {
            type: Boolean,
            default: false
        },
        min: Number,
        max: Number,
        mask: String
    },
    computed: {
        fieldType (): string {
            return this.number ? "number" : "text"
        }
    },
    methods: {
        /**
         * Public method to manually focus this component
         */
        bindFocus (): void {
            const inputElement = this.$el.querySelector("input") as HTMLDivElement
            if (inputElement) {
                inputElement.focus()
            }
        },

        /**
         * Blur event
         */
        blur (): void {
            this.$emit("blur")
        },

        /**
         * Click event
         */
        click (): void {
            this.$emit("click")
        },

        /**
         * Append icon click event
         */
        clickAppend (): void {
            this.click()
            this.$emit("click:append")
        },

        /**
         * Focus event
         */
        focus (): void {
            this.$emit("focus")
        },

        /**
         * Keydown event
         * @param {Event} event - Trigger event
         * @private
         */
        keydown (event: Event): void {
            this.$emit("keydown", event)
        }
    }
})
</script>

<template>
  <v-text-field
    v-mask="mask"
    :append-icon="icon ? iconName : undefined"
    :autofocus="autofocus"
    :background-color="fieldBG"
    :color="fieldColor"
    :counter="counter"
    :dark="onPrimary"
    :dense="dense"
    :disabled="disabled"
    filled
    hide-details="auto"
    :hint="hint"
    :label="labelComputed"
    :loading="showLoading"
    :max="max"
    :maxlength="maxlength"
    :min="min"
    :name="name"
    persistent-hint
    :placeholder="placeholder"
    :rounded="rounded"
    :rules="fieldRules"
    :type="fieldType"
    :value="value"
    @blur="blur"
    @click="click"
    @click:append="clickAppend"
    @focus="focus"
    @input="change"
    @keydown="keydown"
  />
</template>
