<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Mediuser from "@modules/mediusers/vue/Models/Mediuser"

import OxChip from "@oxify/components/OxChip/OxChip.vue"
import MediuserAvatar from "@modules/mediusers/vue/components/MediuserAvatar/MediuserAvatar.vue"

export default Vue.extend({
    name: "MediuserChip",
    components: {
        MediuserAvatar,
        OxChip
    },
    props: {
        user: {
            type: Object as PropType<Mediuser>,
            required: true
        }
    }
})
</script>

<template>
  <div class="MediuserChip">
    <ox-chip
      color="primary"
    >
      <mediuser-avatar :user="user" />
      <span>{{ user.lastName }} {{ user.firstName }}</span>
    </ox-chip>
  </div>
</template>
