<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import { isEmpty } from "lodash"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import MedicalCode from "@modules/system/vue/models/MedicalCode"
import {
    MedicalCodeFilterHeaderLeft,
    MedicalCodeFilterHeaderRight,
    MedicalCodeFilterHeaderShortcuts
} from "@modules/system/vue/types/MedicalCodesTypes"

export default Vue.extend({
    name: "MedicalCodeFilterHeader",
    components: { OxChip },
    inject: {
        authorizedCodes: {
            from: "authorizedCodes",
            default: undefined
        }
    },
    props: {
        codes: {
            type: Array as PropType<Array<MedicalCode>>,
            required: true
        }
    },
    data () {
        return {
            selectedCode: ""
        }
    },
    computed: {
        codeTypes (): string[] {
            const codesTypes = Array.from(new Set(this.codes.map((code: MedicalCode) => code.codeType?.toString() ?? "")))

            // @ts-ignore
            if (this.authorizedCodes) {
                // @ts-ignore
                return this.authorizedCodes.filter((code: string) => {
                    return codesTypes.includes(code)
                })
            }
            return codesTypes
        }
    },
    watch: {
        codes () {
            this.setFirstSelectCode()
        }
    },
    mounted () {
        this.setFirstSelectCode()
        window.addEventListener("keydown", this.manageKeydownListener)
    },
    destroyed () {
        window.removeEventListener("keydown", this.manageKeydownListener)
    },
    methods: {
        manageKeydownListener (event: KeyboardEvent) {
            if (MedicalCodeFilterHeaderShortcuts.includes(event.key)) {
                event.preventDefault()
                switch (event.key) {
                case MedicalCodeFilterHeaderRight:
                    this.selectCode(this.selectNext())
                    break
                case MedicalCodeFilterHeaderLeft:
                    this.selectCode(this.selectPrevious())
                    break
                }
            }
        },
        selectNext (): string {
            const codes = this.codeTypes
            const index = codes.indexOf(this.selectedCode)
            if (index >= codes.length - 1) {
                return codes[0]
            }
            return codes[index + 1]
        },
        selectPrevious (): string {
            const codes = this.codeTypes
            const index = codes.indexOf(this.selectedCode)
            if (index <= 0) {
                return codes[codes.length - 1]
            }
            return codes[index - 1]
        },
        setFirstSelectCode () {
            if (!this.codeTypes.includes(this.selectedCode)) {
                if (!isEmpty(this.codes)) {
                    this.selectCode(this.codeTypes[0])
                }
            }
        },
        selectCode (type: string) {
            this.selectedCode = type

            this.$emit("selectedCode", type)
        },
        chipColor (codeType: string): string {
            return codeType === this.selectedCode ? "primary" : ""
        }
    }
})
</script>

<template>
  <div class="MedicalCodeFilterHeader">
    <ox-chip
      v-for="codeType in codeTypes"
      :key="codeType"
      :color="chipColor(codeType)"
      @click="selectCode(codeType)"
    >
      {{ codeType.toUpperCase() }}
    </ox-chip>
  </div>
</template>

<style src="./MedicalCodeFilterHeader.scss" lang="scss"></style>
