<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import { callJSFunction } from "@/components/Core/OxUtilsCore"
import Vue, { PropType } from "vue"
import { MenuLink } from "@/components/Appbar/types/AppbarTypes"

/**
 * TammMenuLink
 * Tamm menu link component
 */
export default Vue.extend({
    name: "TammMenuLink",
    props: {
        link: {
            type: Object as PropType<MenuLink>,
            required: true
        }
    },
    computed: {
        isLink (): boolean {
            return this.link.href !== null && this.link.href !== ""
        },
        target (): "_self" | "_blank" {
            if (this.link.href !== null && this.link.href.includes("http")) {
                return "_blank"
            }
            return "_self"
        }
    },
    methods: {
        callFunction () {
            if (this.link.action === null) {
                return
            }
            callJSFunction(this.link.action)
        }
    }
})
</script>

<template>
  <a
    v-if="isLink"
    v-ripple
    class="TammMenuLink"
    :href="link.href"
    :target="target"
  >
    {{ link.title }}
  </a>
  <div
    v-else
    v-ripple
    class="TammMenuLink"
    @click="callFunction"
  >
    {{ link.title }}
  </div>
</template>

<style src="./TammMenuLink.scss" lang="scss"></style>
