<!--
  @package Oxify\OxBrandingButton
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxBrandingIcon from "@oxify/components/OxBrandingIcon/OxBrandingIcon.vue"
import OxBrandingIconCore from "@oxify/components/OxBrandingIcon/OxBrandingIconCore"
import { OxBrandingIconPath, OxBrandingIconType } from "@oxify/types/OxBrandingIconTypes"

export default Vue.extend({
    name: "OxBrandingButton",
    components: {
        OxBrandingIcon
    },
    props: {
        block: {
            type: Boolean,
            default: false
        },
        color: {
            type: String,
            default: ""
        },
        type: {
            type: String as PropType<OxBrandingIconType>,
            default: ""
        },
        label: {
            type: String,
            default: ""
        },
        loading: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        icon: {
            type: Boolean,
            default: false
        },
        paths: {
            type: Array as PropType<Array<OxBrandingIconPath>>
        },
        title: {
            type: String,
            default: ""
        }
    },
    computed: {
        /**
         * Adds "iconOnly" class to the button if he is only showing an icon
         *
         * @return {string}
         */
        iconOnly (): string {
            if (this.showIcon && !this.label) {
                return "iconOnly"
            }

            return ""
        },

        /**
         * Check if button has class "iconOnly"
         *
         * @return {boolean}
         */
        isIconOnly (): boolean {
            return this.iconOnly === "iconOnly"
        },

        /**
         * Check if icon is showable.
         * Is showable when :
         *  - paths prop is not empty
         *  OR
         *  - type prop has a predefined icon => OxBrandingIconType
         *
         * @return {boolean}
         */
        showIcon (): boolean {
            return !!(Array.isArray(this.paths) && this.paths.length) || !!OxBrandingIconCore.get(this.type).length
        }
    },
    methods: {
        /**
         * Click event propagation
         *
         * @param {Event} event - click event
         */
        click (event: MouseEvent): void {
            this.$emit("click", event)
        }
    }
})
</script>

<template>
  <v-btn
    :block="block"
    :class="type + ' ' + iconOnly + ' OxBrandingButton'"
    :color="color"
    depressed
    :disabled="disabled"
    :icon="isIconOnly"
    :loading="loading"
    outlined
    rounded
    :title="title"
    @click="click"
  >
    <ox-branding-icon
      v-if="showIcon"
      class="OxBrandingButton-icon"
      :paths="paths"
      :type="type"
    />
    {{ label }}
  </v-btn>
</template>

<style src="./OxBrandingButton.scss" lang="scss"></style>
