/**
 * @package Oxify\OxBrandingButton
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

// Defines CSS variables for branding button colors
$branding-colors: (
  prosante: #000091,
  gitlab: #f96424,
  google: $grey-800,
  cpx: #EE1573
);

.OxBrandingButton {
  &.v-btn,
  &.v-btn.v-btn--icon {
    &.prosante {
      color: map-get($branding-colors, prosante);
    }

    &.gitlab {
      color: map-get($branding-colors, gitlab);
    }

    &.google {
      color: map-get($branding-colors, google);
    }

    &.cpx {
      color: map-get($branding-colors, cpx);
    }
  }

  &.iconOnly {
    .OxBrandingButton-icon {
      margin-right: 0;
    }
  }

  &-icon {
    height: 20px;
    margin-right: $space*2;
    width: 20px;
  }
}
