<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import TabBadge from "@/components/Appbar/TabBadge/TabBadge.vue"
import Vue, { PropType } from "vue"
import Tab from "@modules/system/vue/models/Tab"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"

/**
 * NavTab
 * Navigation tab component
 */
export default Vue.extend({
    name: "NavTab",
    components: {
        TabBadge
    },
    props: {
        tab: {
            type: Object as PropType<Tab>,
            required: true
        },
        tabActive: {
            type: Boolean,
            default: false
        },
        parentHover: {
            type: Boolean,
            default: false
        },
        isPinned: {
            type: Boolean,
            default: true
        },
        showPin: {
            type: Boolean,
            default: true
        },
        param: {
            type: Boolean,
            default: false
        },
        isDragging: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            x: 0,
            y: 0,
            showMenu: false,
            extraClasses: ""
        }
    },
    computed: {
        ...mapState(useNavStore, ["currentModuleName"]),
        contentClasses (): string {
            return this.tabActive ? "active" : ""
        },
        classes (): string {
            return ((this.tabActive && !this.parentHover) ? "active" : "") + " " + this.extraClasses
        },
        tabName (): string {
            if (this.param) {
                return this.$tr("settings")
            }
            return this.$tr("mod-" + this.currentModuleName + "-tab-" + this.tab.name)
        },
        tabLink (): string | undefined {
            return this.tab.url
        }
    },
    mounted () {
        this.extraClasses = (this.tabActive ? "animated" : "")
        setTimeout(() => {
            this.extraClasses = ""
        }, 250)
    },
    methods: {
        clickTab (e) {
            if (this.isDragging || this.param) {
                e.preventDefault()
            }
        },
        show (e) {
            e.preventDefault()
            this.showMenu = false
            this.x = e.clientX
            this.y = e.clientY
            this.$nextTick(() => {
                this.showMenu = true
            })
        },
        addPinnedClick () {
            this.$emit("addPin", this.tab)
        },
        removePinnedClick () {
            this.$emit("removePin", this.tab)
        },
        enterTab () {
            this.$emit("enter")
        },
        leaveTab () {
            this.$emit("leave")
        }
    }
})
</script>

<template>
  <div
    class="NavTab"
    :class="classes"
    @mouseout="leaveTab"
    @mouseover="enterTab"
  >
    <a
      class="NavTab-content"
      :class="contentClasses"
      :href="tabLink"
      @click="clickTab"
      @contextmenu="show"
    >
      {{ tabName }}
    </a>
    <div class="NavTab-badge">
      <tab-badge
        :tab="tab"
      />
    </div>
    <v-menu
      v-if="showPin"
      v-model="showMenu"
      absolute
      offset-y
      :position-x="x"
      :position-y="y"
    >
      <v-list>
        <v-list-item-group>
          <v-list-item
            v-if="!isPinned"
            key="addPinned"
            @click="addPinnedClick"
          >
            <v-list-item-content>
              <v-list-item-title>{{ $tr('Appbar-Tab-add-pinned') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            v-else
            key="removePinned"
            @click="removePinnedClick"
          >
            <v-list-item-content>
              <v-list-item-title>{{ $tr('Appbar-Tab-remove-pinned') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
  </div>
</template>

<style src="./NavTab.scss" lang="scss"></style>
