<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import OxModuleIcon from "@/components/Visual/Basics/OxModuleIcon/OxModuleIcon.vue"
import TabBadge from "@/components/Appbar/TabBadge/TabBadge.vue"
import Vue, { PropType } from "vue"
import Tab from "@modules/system/vue/models/Tab"

/**
 * TabShortcut
 * Tab shortcut component
 */
export default Vue.extend({
    name: "TabShortcut",
    components: { OxModuleIcon, TabBadge },
    props: {
        tab: {
            type: Object as PropType<Tab>,
            required: true
        },
        moduleCategory: {
            type: String,
            default: ""
        },
        mobile: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        moduleName (): string {
            return this.$tr("module-" + this.tab.moduleName + "-court")
        },
        tabName (): string {
            return this.tab.isParam
                ? this.$tr("settings")
                : this.$tr("mod-" + this.tab.moduleName + "-tab-" + this.tab.name)
        },
        tabLink (): string {
            return this.tab.url ?? "#"
        }
    }
})
</script>

<template>
  <a
    v-ripple
    class="TabShortcut"
    :href="tabLink"
  >
    <div class="TabShortcut-icon">
      <ox-module-icon
        :module-category="moduleCategory"
        :module-name="tab.moduleName"
        :small="!mobile"
      />
    </div>
    <div class="TabShortcut-content">
      <div class="TabShortcut-module">
        {{ moduleName }}
      </div>
      <div class="TabShortcut-name">
        {{ tabName }}
      </div>
    </div>
    <div class="TabShortcut-badge">
      <tab-badge
        :tab="tab"
      />
    </div>
  </a>
</template>

<style src="./TabShortcut.scss" lang="scss"></style>
