/**
 * @package Oxify\OxBrandingIcon
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxBrandingIcon {
  align-items: center;
  display: inline-flex;
  height: auto;
  vertical-align: middle;
}
