<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxBrandingIconCore from "@oxify/components/OxBrandingIcon/OxBrandingIconCore"
import { OxBrandingIconPath, OxBrandingIconType } from "@oxify/types/OxBrandingIconTypes"

export default Vue.extend({
    name: "OxBrandingIcon",
    components: {},
    props: {
        paths: Array as PropType<OxBrandingIconPath[]>,
        size: {
            type: Number,
            default: 24
        },
        type: String as PropType<OxBrandingIconType>
    },
    computed: {
        /**
         * Recovers all the paths to build SVG icon
         *
         * @return {Array<OxBrandingIconPath>}
         */
        pathsIcon (): Array<OxBrandingIconPath> {
            // this.paths is an array and is not empty
            if (Array.isArray(this.paths) && this.paths.length) {
                return this.paths
            }

            return OxBrandingIconCore.get(this.type)
        },
        iconStyle (): { width: string } {
            return {
                width: `${this.size}px`
            }
        }
    }
})
</script>

<template>
  <div
    class="OxBrandingIcon"
    :style="iconStyle"
  >
    <svg
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        v-for="(path, i) in pathsIcon"
        :key="'path-' + i"
        :d="path.d"
        :fill="path.fill"
      />
    </svg>
  </div>
</template>

<style lang="scss" src="./OxBrandingIcon.scss" />
