<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import OxModuleIcon from "@/components/Visual/Basics/OxModuleIcon/OxModuleIcon.vue"
import TabLine from "@/components/Appbar/TabLine/TabLine.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import Vue, { PropType } from "vue"
import Module from "@/core/models/Module"
import Tab from "@modules/system/vue/models/Tab"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"

/**
 * ModuleDetailMobile
 * Composant de detail d'un module
 */
export default Vue.extend({
    name: "ModuleDetailMobile",
    components: {
        OxModuleIcon, TabLine, OxButton
    },
    props: {
        module: {
            type: [Object, Boolean] as PropType<Module>,
            required: true
        },
        showBack: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        showStandardTabs (): boolean {
            return this.module.standardTabs.length > 0
        },
        showParam (): boolean {
            return this.module.paramTabs.length > 0
        },
        showConfig (): boolean {
            return this.module.configureTabs.length > 0
        },
        showFooter (): boolean {
            return this.showParam || this.showConfig
        },
        paramTab (): Tab {
            const tab = new Tab()
            tab.name = ""
            tab.url = this.module.paramTabs[0].url
            return tab
        },
        configTab (): Tab {
            const tab = new Tab()
            tab.name = this.module.configureTabs[0].name
            tab.url = this.module.configureTabs[0].url
            return tab
        },
        ...mapState(useNavStore, ["currentModule", "tabActive", "currentTabIsParam", "currentTabIsConfig"])
    },
    methods: {
        addPin (tab) {
            this.module.pinTab(tab)
        },
        removePin (tab) {
            this.module.unpinTab(tab)
        },
        checkTabActive (tabName: string, context?: string): boolean {
            if (this.module.name !== this.currentModule.name) {
                return false
            }
            if (!context) {
                return tabName === this.tabActive
            }
            if (context === "param") {
                return this.currentTabIsParam
            }
            if (context === "config") {
                return this.currentTabIsConfig
            }
            return false
        },
        redirectToModule () {
            this.$emit("openModule", { module: this.module, newTab: false })
        },
        back (): void {
            this.$emit("close")
        }
    }
})
</script>

<template>
  <div class="ModuleDetailMobile">
    <div
      v-if="showBack"
      class="ModuleDetailMobile-back"
    >
      <ox-button
        button-style="tertiary"
        icon="chevronLeft"
        :label="$tr('CModule.all')"
        @click="back"
      />
    </div>

    <div
      v-if="module"
      key="content"
      class="ModuleDetailMobile-mainContent"
    >
      <div class="ModuleDetailMobile-header">
        <div class="ModuleDetailMobile-icon">
          <ox-module-icon
            :module-category="module.category"
            :module-name="module.name"
          />
        </div>
        <div
          class="ModuleDetailMobile-title"
          @click="redirectToModule"
        >
          {{ $tr("module-" + module.name + "-court") }}
        </div>
      </div>
      <div class="ModuleDetailMobile-content">
        <tab-line
          v-for="(tab, index) in module.pinnedTabs"
          :key="index"
          :is-active="checkTabActive(tab.name)"
          :module-name="module.name"
          :pined="true"
          :tab="tab"
          @changePin="removePin"
        />

        <div v-if="showStandardTabs">
          <tab-line
            v-for="(tab, index) in module.standardTabs"
            :key="index"
            class="ModuleDetailMobile-tab"
            :is-active="checkTabActive(tab.name)"
            :module-name="module.name"
            :tab="tab"
            @changePin="addPin"
          />
        </div>
      </div>
      <div
        v-if="showFooter"
        class="ModuleDetailMobile-footer"
      >
        <tab-line
          v-if="showParam"
          :is-active="checkTabActive('', 'param')"
          :module-name="module.name"
          :param="true"
          :show-pin="false"
          :tab="paramTab"
        />
        <tab-line
          v-if="showConfig"
          :is-active="checkTabActive('','config')"
          :module-name="module.name"
          :show-pin="false"
          :tab="configTab"
        />
      </div>
    </div>

    <div
      v-else
      key="skeleton"
      class="ModuleDetailMobileSkeleton"
    >
      <div class="ModuleDetailMobileSkeleton-header">
        <div class="ModuleDetailMobileSkeleton-icon" />
        <div class="ModuleDetailMobileSkeleton-title" />
      </div>
      <div class="ModuleDetailMobileSkeleton-content">
        <div class="ModuleDetailMobileSkeleton-tabLine" />
        <div class="ModuleDetailMobileSkeleton-tabLine variantWidth1" />
      </div>
    </div>
  </div>
</template>

<style src="./ModuleDetailMobile.scss" lang="scss"></style>
