/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxAutocomplete {
  &-label {
    @include on-background(high);
    @include body1;
    margin-bottom: $space*2;
  }

  &-emptyMessage {
    @include on-background(low);
    @include body1;
    margin: $space*3 $space*4;
    user-select: none;
  }

  &-item {
    flex: 1;
    margin: 0 $space*-4;
  }

  // Vuetify override
  &.hideMenu {
    .v-menu__content.v-autocomplete__content {
      display: none;
    }
  }
}

// Vuetify override
.v-list-item.v-list-item--link::before {
  background-color: $secondary;
}
