<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Tab from "@modules/system/vue/models/Tab"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"

/**
 * TabBadge
 * Badge tab component
 */
export default Vue.extend({
    name: "TabBadge",
    props: {
        tab: {
            type: Object as PropType<Tab>,
            required: true
        }
    },
    computed: {
        ...mapState(useNavStore, ["getTabBadge"]),
        showCounter (): boolean {
            return this.counter > 0
        },
        counter (): number {
            const tabBadge = this.getTabBadge(this.tab.moduleName ?? "", this.tab.name)
            if (tabBadge) {
                return tabBadge.counter
            }
            return 0
        },
        badgeColor (): string {
            const tabBadge = this.getTabBadge(this.tab.moduleName ?? "", this.tab.name)
            if (tabBadge) {
                return tabBadge.color
            }
            return ""
        }
    }
})
</script>

<template>
  <v-badge
    class="TabBadge"
    :color="badgeColor"
    :content="counter"
    :inline="true"
    :value="showCounter"
  />
</template>

<style src="./TabBadge.scss" lang="scss"></style>
