<!--
  @package Oxify\OxDivider
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "OxDivider",
    props: {
        color: {
            type: String as PropType<"dark" | "light">,
            default: "dark"
        },
        insetAxial: {
            type: Number,
            default: 0
        },
        insetRadial: {
            type: Number,
            default: 0
        },
        vertical: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        /**
         * Check if divider has an axial inset value > 0
         */
        hasAxialInset (): boolean {
            return !!this.insetAxial
        },
        /**
         * Check if divider has an radial inset value > 0
         */
        hasRadialInset (): boolean {
            return !!this.insetRadial
        },
        /**
         * Add CSS style properties in order to manage axial inset value
         *  - margin-left/max-width if horizontal divider
         *  - margin-top/max-height if vertical divider
         */
        axialInsetStyle (): object {
            if (!this.hasAxialInset) {
                return {}
            }

            if (!this.vertical) {
                return {
                    "margin-left": this.insetAxial + "px",
                    "max-width": "calc(100% - 2 * " + this.insetAxial + "px)"
                }
            }

            return {
                "margin-top": this.insetAxial + "px",
                "max-height": "calc(100% - 2 * " + this.insetAxial + "px)"
            }
        },
        /**
         * Add CSS style properties in order to manage radial inset value
         *  - margin-bottom/margin-top if horizontal divider
         *  - margin-left/margin-right if vertical divider
         */
        radialInsetStyle (): object {
            if (!this.hasRadialInset) {
                return {}
            }

            if (!this.vertical) {
                return {
                    "margin-bottom": this.insetRadial + "px",
                    "margin-top": this.insetRadial + "px"
                }
            }

            return {
                "margin-left": this.insetRadial + "px",
                "margin-right": this.insetRadial + "px"
            }
        },
        /**
         * Concatenates all axial & radial inset styles
         */
        insetStyle (): object {
            return {
                ...this.axialInsetStyle,
                ...this.radialInsetStyle
            }
        }
    }
})
</script>

<template>
  <v-divider
    :class="color + ' OxDivider'"
    :inset="hasAxialInset"
    :style="insetStyle"
    :vertical="vertical"
  />
</template>

<style src="./OxDivider.scss" lang="scss"></style>
