/**
 * @package Oxify\OxDivider
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxDivider {
  &.v-divider {
    &.dark {
      border-color: $grey-900;
      opacity: 0.12;
    }

    &.light {
      border-color: $white;
      opacity: 0.16;
    }
  }
}
