<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import SampleMovie from "@modules/sample/vue/models/SampleMovie"
import Vue, { PropType } from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"

export default Vue.extend({
    name: "SampleBookmark",
    components: {
        OxIcon,
        OxTooltip
    },
    props: {
        movie: {
            type: Object as PropType<SampleMovie>,
            required: true
        },
        icon: {
            type: String,
            default: "bookmark"
        }
    },
    computed: {
        bookmarkLabel (): string {
            return this.movie.bookmark
                ? this.$tr("CSampleBookmark-title-delete")
                : this.$tr("CSampleBookmark-title-create")
        }
    }
})
</script>

<template>
  <div class="SampleBookmark">
    <ox-tooltip>
      <template #content="{ on }">
        <div v-on="on">
          <ox-icon :icon="icon" />
        </div>
      </template>
      <div>{{ bookmarkLabel }}</div>
    </ox-tooltip>
  </div>
</template>
