/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SecurityIndicator {
  display: flex;
  flex-direction: row;
  gap: 6px;

  &.weak {
    .SecurityIndicator-step.colorized {
      background-color: $color-text-orange;
    }
  }

  &.average {
    .SecurityIndicator-step.colorized {
      background-color: $color-text-yellow;
    }
  }

  &.good {
    .SecurityIndicator-step.colorized {
      background-color: $success-surface-default;
    }
  }

  &-step {
    background-color: $grey-100;
    border-radius: 40px;
    height: 4px;
    width: 59px;
  }
}
