<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "SecurityIndicator",
    props: {
        nbMatchingSteps: {
            type: Number,
            default: 0
        },
        totalSteps: {
            type: Number,
            required: true
        }
    },
    computed: {
        matchingColor (): "default" | "weak" | "average" | "good" {
            const matchingPercent = this.nbMatchingSteps / this.totalSteps * 100

            if (matchingPercent === 0) {
                return "default"
            }
            else if (matchingPercent <= 50) {
                return "weak"
            }
            else if (matchingPercent < 100) {
                return "average"
            }

            return "good"
        }
    },
    methods: {
        isColorized (step: number): { colorized: boolean } {
            return { colorized: step <= this.nbMatchingSteps }
        }
    }
})
</script>

<template>
  <div
    class="SecurityIndicator"
    :class="matchingColor"
  >
    <div
      v-for="step in totalSteps"
      :key="step"
      class="SecurityIndicator-step"
      :class="isColorized(step)"
    />
  </div>
</template>

<style lang="scss" src="./SecurityIndicator.scss" />
