/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.PatientCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $space*4;
  row-gap: $space*6;

  &-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &-birth {
    @include on-background(medium);
  }

  &-chips {
    column-gap: $space*2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: $space*4;
  }

  &-header {
    display: flex;
    flex-direction: column;
    row-gap: $space*1;
  }

  &-headerMain {
    align-items: center;
    display: flex;
    gap: $space*4;
  }

  &-headerMainText {
    @include h6;
    flex-wrap: wrap;
  }

  &-headerSubText {
    @include caption;
    align-items: center;
    column-gap: $space*1;
    display: flex;
    flex-direction: row;
  }

  &-infos {
    column-gap: $space*4;
    display: flex;
    flex-direction: row;
  }

  &-stats {
    display: flex;
    flex-direction: column;
  }

  &-statsMain {
    @include body1;
    display: flex;
    gap: $space;
  }

  &-statsSub {
    @include caption;
    @include on-background(medium);
    column-gap: $space*8;
    display: flex;
    flex-direction: row;
  }

  &-text {
    display: flex;
    flex-direction: column;
    row-gap: $space*4;
  }
}
