<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxCollection from "@/core/models/OxCollection"
import OxObject from "@/core/models/OxObject"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import { isEmpty } from "lodash"

export default Vue.extend({
    name: "OxInfiniteScroll",
    props: {
        element: Element as PropType<HTMLElement>,
        value: {
            type: Object as PropType<OxCollection<OxObject>>,
            required: true
        },
        bottomPxTrigger: {
            type: Number,
            default: 0
        }
    },
    data () {
        return {
            containerElement: {} as HTMLElement,
            loading: false,
            objectClass: Function as Function,
            observer: {} as ResizeObserver
        }
    },
    computed: {
        hasObjectClass (): boolean {
            return this.objectClass.prototype instanceof OxObject
        }
    },
    watch: {
        value: {
            handler () {
                this.$nextTick(async () => {
                    if (!isEmpty(this.containerElement) && !this.isScrollable()) {
                        await this.loadNextCollection()
                    }
                })
            }
        }
    },
    mounted () {
        if (this.value &&
            this.value.objects.length > 0 &&
            typeof this.value === "object"
        ) {
            this.objectClass = this.value.objects[0].constructor as new() => OxObject
            this.$nextTick(() => {
                if (!this.element) {
                    this.containerElement = this.$refs.scrollContainer as HTMLElement
                }
                else {
                    this.containerElement = this.element
                }
                // Enabled scroll on watched element
                this.containerElement.style.overflow = "auto"
                this.containerElement.addEventListener("scroll", this.scroll)
                this.observer = new ResizeObserver(async () => {
                    if (!isEmpty(this.containerElement) && !this.isScrollable()) {
                        await this.loadNextCollection()
                    }
                })

                this.observer.observe(this.containerElement)

                if (!isEmpty(this.containerElement) && !this.isScrollable()) {
                    this.loadNextCollection()
                }
            })
        }
        else {
            console.warn("Impossible type inference")
        }
    },
    destroyed () {
        this.containerElement.removeEventListener("scroll", this.scroll)
        this.observer.disconnect()
    },
    methods: {
        async scroll () {
            if (this.containerElement.scrollHeight - this.containerElement.scrollTop <=
                this.containerElement.clientHeight + this.bottomPxTrigger) {
                await this.loadNextCollection()
            }
        },
        isScrollable (): boolean {
            /*
             * We use the strict equality to handle the case where the prop value does not overflow the containerElement
             * We check that the scroll is at the end of the container
             * But if the container became 'display: none' the scrollHeight & clientHeight = 0
             * So we check if the clientHeight is 0 to avoid loading
             */
            return this.containerElement.scrollHeight > this.containerElement.clientHeight || this.containerElement.clientHeight === 0
        },
        async loadNextCollection (): Promise<boolean> {
            if (!this.value.next) {
                return true
            }
            if (this.loading) {
                return false
            }

            this.setLoading(true)
            const nextCollection = await getCollectionFromJsonApiRequest(
                this.objectClass as new() => OxObject,
                new OxUrlBuilder(this.value.next).toString()
            )

            nextCollection.objects = [...this.value.objects, ...nextCollection.objects]
            nextCollection.count = (this.value.count ?? 0) + (nextCollection.count ?? 0)

            this.$emit("input", nextCollection)
            this.setLoading(false)
            return false
        },
        /**
         * Set internal loading state to param state and emit this payload with loading event
         * @param state
         */
        setLoading (state: boolean) {
            this.loading = state
            this.$emit("loading", state)
        }
    }
})
</script>

<template>
  <div
    v-if="hasObjectClass"
    ref="scrollContainer"
    class="OxInfiniteScroll"
  >
    <slot />
    <slot
      v-if="loading"
      name="loading"
    >
      {{ $tr("Loading in progress") }}...
    </slot>
  </div>
</template>
