<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import ToDoListItem from "@modules/dPcabinet/vue/models/ToDoListItem"
import { cloneObject } from "@/core/utils/OxObjectTools"
import OxCheckbox from "@oxify/components/OxField/OxCheckbox/OxCheckbox.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxDate from "@oxify/utils/OxDate"

export default Vue.extend({
    name: "ToDoItem",
    components: { OxCheckbox, OxButton },
    props: {
        item: Object as PropType<ToDoListItem>
    },
    data () {
        return {
            mutatedItem: {} as ToDoListItem
        }
    },
    computed: {
        isHandled (): boolean {
            return !!this.mutatedItem.handledDate
        }
    },
    watch: {
        item: {
            handler (item: ToDoListItem) {
                this.mutatedItem = item
            }
        }
    },
    created () {
        this.mutatedItem = this.item ? cloneObject(this.item) : new ToDoListItem()
    },
    methods: {
        checkItem (value) {
            this.mutatedItem.handledDate = value ? OxDate.getYMD(new Date()) : ""
            this.$emit("checkItem", this.mutatedItem)
        },
        deleteItem () {
            this.$emit("deleteItem", this.mutatedItem)
        }
    }
})
</script>

<template>
  <div class="ToDoItem">
    <ox-checkbox
      class="ToDoItem-checkbox"
      :label="mutatedItem.wording"
      :value="isHandled"
      @change="checkItem"
    />
    <div class="ToDoItem-hoverActions">
      <ox-button
        button-style="tertiary-dark"
        icon="delete"
        small
        @click="deleteItem"
      />
    </div>
  </div>
</template>

<style src="./ToDoItem.scss" lang="scss"></style>
