<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxField from "@/core/components/OxField/OxField.vue"
import { prepareForm } from "@/core/utils/OxSchemaManager"
import Consultation, { CancellationReasons } from "@modules/dPcabinet/vue/models/Consultation"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxRichTextField from "@/core/components/OxRichTextField/OxRichTextField.vue"
import { OxRichTextOptions } from "@/core/types/OxRichTextTypes"
import { getSchema } from "@/core/utils/OxStorage"

export default Vue.extend({
    name: "ConsultCancellationDialog",
    components: { OxRichTextField, OxField, OxButton },
    props: {
        appointment: {
            type: Object as PropType<Consultation>,
            required: true
        },
        dialog: {
            type: Element
        }
    },
    data () {
        return {
            mutatedAppointment: new Consultation(),
            formReady: false,
            richTextOptions: {} as OxRichTextOptions,
            richTextIsMarkdown: false as boolean,
            richTextIsHelped: false as boolean
        }
    },
    async created () {
        this.mutatedAppointment = this.appointment
        if (!this.mutatedAppointment.cancellationReason) {
            this.mutatedAppointment.cancellationReason = CancellationReasons.NOT_ARRIVED
        }

        this.richTextOptions = { objectType: this.mutatedAppointment.type, field: "rques" }

        this.formReady = await prepareForm(this.appointment.type, ["status", "examen"])

        const schema = getSchema(this.mutatedAppointment.type, "rques")
        this.richTextIsMarkdown = !!schema.markdown
        this.richTextIsHelped = !!schema.helped
    },
    methods: {
        cancel () {
            this.$emit("cancel")
        },
        validate () {
            this.$emit("validate", this.mutatedAppointment)
        }
    }
})
</script>

<template>
  <div class="ConsultCancellationDialog">
    <ox-field
      v-model="mutatedAppointment.cancellationReason"
      field-name="motif_annulation"
      :options="{expand: true}"
      :ready="formReady"
      :resource-name="mutatedAppointment.type"
    />
    <ox-rich-text-field
      v-model="mutatedAppointment.remark"
      :attach="dialog"
      :is-helped="richTextIsHelped"
      :is-markdown="richTextIsMarkdown"
      :options="richTextOptions"
      :ready="formReady"
    />
    <div class="ConsultCancellationDialog-actions">
      <ox-button
        button-style="secondary"
        :label="$tr('Cancel')"
        :title="$tr('Cancel')"
        @click="cancel"
      />
      <ox-button
        button-style="primary"
        :label="$tr('Validate')"
        :title="$tr('Validate')"
        @click="validate"
      />
    </div>
  </div>
</template>

<style src="./ConsultCancellationDialog.scss" lang="scss"></style>
