/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.ConsultCancellationDialog {
  display: flex;
  flex-direction: column;
  gap: $space*2;

  &-actions {
    align-items: center;
    display: flex;
    gap: $space*2;
    justify-content: center;
  }
}
