<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxAsyncTooltip from "@/core/components/OxAsyncTooltip/OxAsyncTooltip.vue"
import ExternalIdentifierTooltip
    from "@modules/dPsante400/vue/components/ExternalIdentifierTooltip/ExternalIdentifierTooltip.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"
import OxObject from "@/core/models/OxObject"
import ExternalIdentifier from "@modules/dPsante400/vue/models/ExternalIdentifier"
import { deleteJsonApiObject } from "@/core/utils/OxApiManager"
import { addInfo } from "@/core/utils/OxNotifyManager"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

const OxAlert = () => import("@oxify/components/OxAlert/OxAlert.vue")
const ExternalIdentifierDialog = () => import("@modules/dPsante400/vue/components/ExternalIdentifierDialog/ExternalIdentifierDialog.vue")

export default Vue.extend({
    name: "AddonIdex",
    components: {
        OxIcon,
        ExternalIdentifierDialog,
        OxAsyncTooltip,
        ExternalIdentifierTooltip,
        OxDialog,
        OxAlert
    },
    props: {
        object: {
            type: Object as PropType<OxObject>,
            required: true
        }
    },
    data () {
        return {
            externalIdentifierClass: ExternalIdentifier,
            selectedIdentifier: undefined as ExternalIdentifier | undefined,
            showDialog: false,
            showModal: false,
            loadedAsyncTooltip: false,
            iconColor: OxThemeCore.grey500
        }
    },
    computed: {
        externalIdentifierUrl (): string {
            return this.object.links.identifiers || ""
        },
        isDialogOrModalOpened (): boolean {
            return this.showDialog || this.showModal
        }
    },
    methods: {
        openDialog (): void {
            this.selectedIdentifier = undefined
            this.showDialog = true
        },
        modify (idex: ExternalIdentifier) {
            this.selectedIdentifier = idex
            this.showDialog = true
        },
        askDelete (idex: ExternalIdentifier) {
            this.selectedIdentifier = idex
            this.showModal = true
        },
        resetAsyncTooltip () {
            this.loadedAsyncTooltip = false
        },
        async deleteIdentifier () {
            if (this.selectedIdentifier) {
                try {
                    await deleteJsonApiObject(this.selectedIdentifier)
                    addInfo(this.$tr("CIdSante400-msg-delete"))
                    this.resetAsyncTooltip()
                    if (this.showDialog) {
                        this.reloadDialogList()
                    }
                }
                catch (e) {
                    console.error(e)
                }
            }
        },
        reloadDialogList () {
            // @ts-ignore, only called when dialog is shown
            this.$refs.dialog.resetDialog()
        }
    }
})
</script>

<template>
  <div class="AddonIdex">
    <ox-async-tooltip
      :force-close="isDialogOrModalOpened"
      :is-collection="true"
      :loaded.sync="loadedAsyncTooltip"
      max-height="400px"
      :ox-object="externalIdentifierClass"
      :url="externalIdentifierUrl"
      width="320px"
      @click="openDialog"
    >
      <template #activator>
        <ox-icon
          :color="iconColor"
          icon="linkVariant"
        />
      </template>
      <template #tooltip="{ data }">
        <div class="AddonIdex-tooltip">
          <external-identifier-tooltip
            :external-identifiers="data"
            @create="openDialog"
            @delete="askDelete"
            @modify="modify"
          />
        </div>
      </template>
      <template #no-data>
        <div class="AddonIdex-tooltip">
          <external-identifier-tooltip
            :external-identifiers="[]"
            @create="openDialog"
          />
        </div>
      </template>
      <template #loading>
        <div class="ExternalIdentifierButton-tooltipSkeleton">
          <v-skeleton-loader type="table-heading, divider, list-item-two-line" />
        </div>
      </template>
    </ox-async-tooltip>

    <ox-dialog
      v-model="showDialog"
      compact
      separated
      :title="$tr('ExternalIdentifier-name')"
      width="800"
    >
      <external-identifier-dialog
        v-if="showDialog"
        ref="dialog"
        :default-selected-external-identifier="selectedIdentifier"
        :object="object"
        @askDelete="askDelete"
        @dataSaved="resetAsyncTooltip"
      />
    </ox-dialog>

    <ox-alert
      v-if="showModal"
      v-model="showModal"
      :label-accept="$tr('Delete')"
      :label-cancel="$tr('Cancel')"
      :title="$tr('ExternalIdentifier-confirm-Delete the identifier ?')"
      @accept="deleteIdentifier"
    >
      {{ $tr('ExternalIdentifier-confirm-Would you delete the identifier this action is irreversible') }}
    </ox-alert>
  </div>
</template>

<style lang="scss" src="./AddonIdex.scss" />
