/**
 * @package Oxify\OxDialog
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxDialog {

  &.compact {
    // Vuetify override
    .v-card__text {
      padding: 0 !important;
    }

    .OxDialog-content {
      padding-top: 0;
    }

    .OxDialog-cardTitle {
      padding-bottom: 10px !important;
    }
  }

  &.overflowAuthorized {
    overflow-y: visible;
    position: relative;

    // Vuetify override
    .v-card__text {
      max-height: 80vh;
      overflow-y: auto;
    }
  }

  &.fullHeight {
    // Vuetify override
    > .v-card {
      box-shadow: none !important;
      display: flex;
      flex-flow: column nowrap;

      > header {
        flex: 0;
      }

      > .v-card__text {
        display: flex;
        flex: 1;
      }
    }

    .OxDialog-content {
      display: flex;
      flex: 1;

      > div {
        flex: 1;
      }
    }
  }

  &.fullscreen {
    overflow: hidden;
  }

  &.scrolled {
    .OxDialog-cardTitle {
      border-bottom: $border;
      padding-bottom: $space*2 !important;
      padding-top: $space*2 !important;
      z-index: 20;
    }

    .OxDialog-title {
      transform: scale(0.8);
    }
  }

  &-cardTitle {
    background-color: inherit;
    padding-bottom: 0 !important;
    position: sticky;
    top: 0;
    transition: padding 0.2s ease-in-out;
  }

  &-dividerCompact {
    margin-top: $space * 4;
  }

  &-title {
    @include h5;
    color: $grey-900;
    transform-origin: left;
    transition: transform 0.2s ease-in-out;

    &.fullscreen {
      @include on-primary(high);
    }
  }

  &-content {
    @include body1;
    @include on-background(medium);
    padding-top: $space*4;

    &.fullscreen {
      padding-top: $space*3;
    }

    &.separated {
      padding-top: 0;
    }

    iframe {
      // Prevent scroll when containing iframe
      margin-bottom: $space*-2;
    }
  }

  &-buttonLabel {
    @include button;
    @include on-primary(high);
  }
}
