<!--
  @package Mediboard\Mediusers
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import { Praticien } from "@modules/mediusers/vue/Models/PraticienModel"

export default Vue.extend({
    name: "PraticienChip",
    props: {
        praticien: {
            type: Object as PropType<Praticien>,
            required: true
        },
        small: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        color (): string {
            return "#" + this.praticien._color
        },

        initials (): string {
            return this.praticien.initials
        },

        name (): string {
            return (this.praticien._user_first_name ? this.praticien._user_first_name + " " : "") + this.praticien._user_last_name
        }
    }
})
</script>

<template>
  <v-avatar
    v-if="small"
    :color="color"
    :size="28"
  >
    <span class="white--text PraticienChip-initials">
      {{ initials }}
    </span>
  </v-avatar>
  <v-chip v-else>
    <v-avatar
      :color="color"
      left
    >
      <span class="white--text PraticienChip-initials">
        {{ initials }}
      </span>
    </v-avatar>
    <span class="PraticienChip-name">
      {{ name }}
    </span>
  </v-chip>
</template>

<style src="./PraticienChip.scss" lang="scss">

</style>
