@import "@/core/styles/utils";

.PraticienChip {
  &-initials {
    @include overline;
    letter-spacing: 0.5px;
    line-height: 8px;
    text-align: center;
  }

  &-name {
    @include body2
  }
}
