<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Mediuser from "@modules/mediusers/vue/Models/Mediuser"
import OxAutocomplete from "@/core/components/OxAutocomplete/OxAutocomplete.vue"
import Patient from "@modules/dPpatients/vue/models/Patient"
import Consultation, { ConsultationChrono } from "@modules/dPcabinet/vue/models/Consultation"
import { createJsonApiObjects } from "@/core/utils/OxApiManager"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import PatientAutocomplete from "@modules/dPpatients/vue/components/PatientAutocomplete/PatientAutocomplete.vue"
import { addInfo } from "@/core/utils/OxNotifyManager"
import OxDatepicker from "@oxify/components/OxField/OxDatepicker/OxDatepicker.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"
import OxSelect from "@oxify/components/OxField/OxSelect/OxSelect.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"
import OxForm from "@oxify/components/OxForm/OxForm.vue"
import OxDate from "@oxify/utils/OxDate"
import OxField from "@/core/components/OxField/OxField.vue"

const AdvancedPatientSearchForm = () => import("@modules/dPpatients/vue/components/AdvancedPatientSearchForm/AdvancedPatientSearchForm.vue")

export default Vue.extend({
    name: "ImmediateConsultationForm",
    components: {
        OxField,
        AdvancedPatientSearchForm,
        PatientAutocomplete,
        OxAutocomplete,
        OxDatepicker,
        OxButton,
        OxDivider,
        OxSelect,
        OxDialog
    },
    props: {
        users: Array as PropType<Mediuser[]>,
        userId: String,
        patientsLink: String,
        addConsultationLink: String,
        type: {
            type: String,
            default: "consultation",
            validator: function (value: string) {
                return ["consultation", "suivi_patient"].includes(value)
            }
        }
    },
    data () {
        return {
            selectedUserId: "",
            selectedDatetime: "",
            patientClass: Patient,
            consultation: {} as Consultation,
            dialogAvancedPatientSearch: false
        }
    },
    created () {
        this.selectedDatetime = OxDate.getYMDHms(new Date())
        this.selectedUserId = this.userId ? this.userId.toString() : ""
        this.consultation = new Consultation()
        this.consultation.consultationType = this.type
    },
    methods: {
        /**
         * Creation action
         * @param openModal, if true, open the consultation immediately in a modal
         */
        async save (openModal: boolean): Promise<void> {
            const validate = (this.$refs.form as InstanceType<typeof OxForm>).validate()

            if (!validate) {
                return
            }

            if (!this.addConsultationLink) {
                return
            }

            if (this.type === "consultation") {
                this.consultation.chrono = openModal ? ConsultationChrono.CHRONO_PROGRESS : ConsultationChrono.PLANNED
            }

            // Create url with parameters adapted to an immediate consultation (outside of shift)
            const url = new OxUrlBuilder(this.addConsultationLink)
                .addParameter("immediate", "1")
                .addParameter("user_id", this.selectedUserId.toString())
                .addParameter("datetime", this.selectedDatetime).toString()

            const newConsult = await createJsonApiObjects(this.consultation, url)
            if (newConsult.id && !openModal) {
                addInfo(this.$tr(this.type === "consultation" ? "CConsultation-msg-create" : "FollowupPatient-msg-create"))
            }
            this.close((openModal && newConsult.id) ? newConsult.id : "")
        },
        /**
         * Emit the close event
         * @param consultId
         */
        close (consultId = "") {
            this.$emit("close", this.type === "consultation", consultId)
        },
        /**
         * Receive creation response from AdvancedPatientSearchForm
         * @param patient
         */
        onPatientCreated (patient: Patient) {
            if (!patient.id) {
                this.consultation.patient = undefined
            }
            else {
                this.dialogAvancedPatientSearch = false
                this.consultation.patient = patient
            }
        },
        /**
         * Insert the patient object in the consultation on selection
         * @param patient
         */
        selectPatient (patient: Patient) {
            this.dialogAvancedPatientSearch = false
            this.consultation.patient = patient
        }
    }
})
</script>
<template>
  <div class="ImmediateConsultationForm">
    <v-form
      ref="form"
      class="ImmediateConsultationForm-form"
      @submit.prevent="save(false)"
    >
      <div class="ImmediateConsultationForm-filterName">
        {{ $tr("Rendez-vous") }}
      </div>
      <div class="ImmediateConsultationForm-filterContent">
        <ox-datepicker
          format="datetime"
          label="Date"
          :not-null="true"
          :value="selectedDatetime"
          @change="(value) => {selectedDatetime = value}"
        />
      </div>
      <div class="ImmediateConsultationForm-filterName">
        {{ $tr("common-Patient") }}
        <ox-dialog
          v-model="dialogAvancedPatientSearch"
          separated
          :title="$tr('Advanced-Search')"
          width="900"
        >
          <template #activator="{ on, attrs }">
            <ox-button
              button-style="tertiary"
              icon="search"
              :label="$tr('Advanced-Search')"
              v-bind="attrs"
              v-on="on"
            />
          </template>
          <advanced-patient-search-form
            v-if="dialogAvancedPatientSearch"
            :patients-link="patientsLink"
            @onPatientCreated="onPatientCreated"
            @selectPatient="selectPatient"
          />
        </ox-dialog>
      </div>
      <div class="ImmediateConsultationForm-filterContent">
        <ox-autocomplete
          v-if="!dialogAvancedPatientSearch"
          v-model="consultation.patient"
          :attach="false"
          item-text="shortView"
          :not-null="true"
          :ox-object="patientClass"
          :placeholder="$tr('oxCabinet-action-Selecting patient')"
          search-field="keywords"
          search-method="parameter"
          :url="patientsLink"
        >
          <template #item="{ item: patient }">
            <patient-autocomplete :patient="patient" />
          </template>
        </ox-autocomplete>
      </div>
      <div class="ImmediateConsultationForm-filterName">
        {{ $tr("common-Practitioner") }}
      </div>
      <div class="ImmediateConsultationForm-filterContent">
        <ox-select
          v-model="selectedUserId"
          :label="$tr('selection_du_praticien')"
          :list="users"
          :not-null="true"
          option-id="id"
          option-view="fullName"
        />
      </div>
      <div
        v-if="type === 'suivi_patient'"
        class="ImmediateConsultationForm-filterName"
      >
        {{ $tr("common-Additional information") }}
      </div>
      <div
        v-if="type === 'suivi_patient'"
        class="ImmediateConsultationForm-filterContent"
      >
        <ox-field
          v-model="consultation.remark"
          field-name="rques"
          resource-name="consultation"
        />
      </div>
      <div class="ImmediateConsultationForm-actions">
        <ox-divider />
        <v-card-actions>
          <v-spacer />
          <ox-button
            button-style="secondary"
            :label="$tr('common-action-Save and close')"
            :title="$tr('common-action-Save and close')"
            type="submit"
          />
          <ox-button
            button-style="primary"
            :label="$tr('Open')"
            :title="$tr('Open')"
            @click="save(true)"
          />
        </v-card-actions>
      </div>
    </v-form>
  </div>
</template>

<style src="./ImmediateConsultationForm.scss" lang="scss"></style>
