/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.ImmediateConsultationForm {
  &-form {
    display: flex;
    flex-direction: column;
    gap: $space*4;
  }

  &-filterName {
    @include subtitle2;
    align-items: center;
    display: flex;
    gap: $space*2;
  }

  &-directorDesc {
    @include caption;
    @include on-background(medium);
    display: block;
    padding-top: $space;
  }
}
