{{*
 * @package Mediboard\Eai
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

{{if $domain->_count_objects > 0}}
  <ul>
    {{foreach from=$domain->_detail_objects item=_detail_object}}
      <li><strong>{{tr}}{{$_detail_object.object_class}}{{/tr}}</strong> : {{$_detail_object.total}}</li>
    {{/foreach}}
  </ul>
{{/if}}