<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"

export default Vue.extend({
    name: "OxAlert",
    components: {
        OxDialog,
        OxButton
    },
    props: {
        labelAccept: {
            type: String,
            required: false
        },
        labelCancel: {
            type: String,
            required: false
        },
        title: String,
        value: Boolean,
        width: {
            type: Number,
            default: 508
        }
    },
    computed: {
        showCancel (): boolean {
            return !!this.labelCancel
        },
        showAccept (): boolean {
            return !!this.labelAccept
        }
    },
    methods: {
        changeValue (value: boolean) {
            if (!value) {
                this.$emit("close", value)
            }
            this.$emit("input", value)
        },
        onCancel () {
            this.$emit("cancel")
            this.changeValue(false)
        },
        onAccept () {
            this.$emit("accept")
            this.changeValue(false)
        }
    }
})
</script>
<template>
  <ox-dialog
    :fullscreen="false"
    :show-button="false"
    :title="title"
    :value="value"
    :width="width"
    @input="changeValue($event)"
  >
    <slot />
    <template #actions>
      <div class="OxAlert-actions">
        <ox-button
          v-if="showCancel"
          button-style="tertiary-dark"
          :label="labelCancel"
          @click="onCancel"
        />
        <ox-button
          v-if="showAccept"
          button-style="tertiary"
          :label="labelAccept"
          @click="onAccept"
        />
      </div>
    </template>
  </ox-dialog>
</template>

<style lang="scss" src="./OxAlert.scss" />
