/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxRichTextFieldButton {
  align-items: center;
  border-radius: 4px;
  color: $grey-600;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;

  &:active, &:hover:active, &.active {
    background-color: alpha($grey-600, 0.16);
  }

  &:hover {
    background-color: alpha($grey-600, 0.12);
    cursor: pointer;
  }

  &-icon {
    padding: $space;
  }
}
