<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">

import Vue from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"

export default Vue.extend({
    name: "OxRichTextFieldButton",
    components: { OxTooltip, OxIcon },
    props: {
        icon: {
            type: String,
            required: true
        },
        isActive: {
            type: Boolean,
            default: false
        },
        tooltipText: {
            type: String
        }
    },
    computed: {
        buttonClass () : { [className: string] : boolean } {
            return { OxRichTextFieldButton: true, active: this.isActive }
        }
    }
})
</script>

<template>
  <ox-tooltip :disabled="!tooltipText">
    <template #content="{ on }">
      <span
        :class="buttonClass"
        v-on="on"
        @click="$emit('click')"
        @mouseenter="$emit('mouseenter')"
        @mouseleave="$emit('mouseleave')"
      >
        <ox-icon
          class="OxRichTextFieldButton-icon"
          :icon="icon"
          :size="24"
        />
      </span>
    </template>
    {{ tooltipText }}
  </ox-tooltip>
</template>

<style src="./OxRichTextFieldButton.scss" lang="scss"></style>
