/**
 * @package Oxify\OxDropdownButton
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxDropdownButton {
  display: inline-flex;
  flex-direction: row;
  font-size: 0;
  justify-content: flex-start;
  position: relative;
  vertical-align: middle;

  &.split {
    .OxDropdownButton {
      &-mainAction {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: 0;
      }

      &-altAction {
        border-bottom-left-radius: 0;
        border-left: none;
        border-top-left-radius: 0;
        margin-left: 0;
      }
    }
  }

  &-altAction {
    min-width: 36px !important;

    &.primaryColor {
      @include on-primary(high, true);
    }
  }

  &-separator {
    @include separator;
    height: 36px;
    margin-left: -1px;
    opacity: 0.38;
    width: 1px;
  }
}
