<!--
  @package Oxify\OxDropdownButton
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">

import Vue, { PropType } from "vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import { OxDropdownButtonActionsGroups, OxDropdownButtonActionTypes } from "@oxify/types/OxDropdownButtonActionTypes"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"

export default Vue.extend({
    name: "OxDropdownButton",
    components: {
        OxDivider,
        OxButton,
        OxIcon
    },
    props: {
        // Label du bouton principal
        label: {
            type: String,
            default: ""
        },
        // Style principal du bouton
        buttonStyle: {
            type: String as PropType<"primary" | "secondary" | "tertiary" | "tertiary-dark">,
            default: "secondary"
        },
        // Titre du bouton (hover)
        title: {
            type: String,
            default: ""
        },
        split: {
            type: Boolean,
            default: false
        },
        altActions: {
            type: Array as PropType<Array<OxDropdownButtonActionTypes> | Array<OxDropdownButtonActionsGroups>>,
            required: true
        },
        // prop type can be anything
        // eslint-disable-next-line vue/require-prop-types
        attach: {
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        left: {
            type: Boolean,
            default: false
        },
        right: {
            type: Boolean,
            default: false
        },
        top: {
            type: Boolean,
            default: false
        },
        bottom: {
            type: Boolean,
            default: false
        },
        separated: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            baseComponent: false as Element | boolean,
            showMenu: false
        }
    },
    computed: {
        altActionsGroups () : OxDropdownButtonActionsGroups[] {
            if (this.altActions.length > 0 && "eventName" in this.altActions[0]) {
                return [
                    {
                        label: "default",
                        actions: this.altActions
                    }
                ] as OxDropdownButtonActionsGroups[]
            }
            if (this.altActions.length > 0 && "actions" in this.altActions[0]) {
                return this.altActions as OxDropdownButtonActionsGroups[]
            }
            return []
        },
        /**
         * Determines if the button is type "Default" according to the provided props
         * @return {boolean}
         */
        buttonDefault (): boolean {
            return (this.label !== "" && !this.split)
        },

        /**
         * Determines if the button is type "Split" according to the provided props
         * @return {boolean}
         */
        buttonSplit (): boolean {
            return (this.buttonStyle !== "tertiary" && this.buttonStyle !== "tertiary-dark" && this.label !== "" && this.split)
        },

        /**
         * Determines if the button is type "No Text" according to the provided props
         * @return {boolean}
         */
        buttonNoText (): boolean {
            return (this.label === "")
        },

        /**
         * Main button class
         * @return {string}
         */
        buttonClass (): string {
            if (this.buttonSplit) {
                return "split"
            }
            if (this.buttonDefault) {
                return "default"
            }
            return ""
        },

        /**
         * Checking the existence of an action with icon
         * @return {boolean}
         */
        existIcon (): boolean {
            if (this.altActionsGroups.length === 0) {
                return false
            }
            return this.altActionsGroups.some((action) => {
                return action.actions.some((action) => {
                    return action.icon !== undefined && !action.hide
                })
            })
        },

        /**
         * Button color
         */
        buttonColor (): string {
            if (this.buttonStyle === "tertiary-dark") {
                return OxThemeCore.grey600
            }
            if (this.buttonStyle === "tertiary") {
                return "secondary"
            }
            return "primary"
        },

        /**
         * Return if button is text or not
         */
        buttonText (): boolean {
            return this.buttonStyle === "tertiary" || this.buttonStyle === "tertiary-dark"
        }
    },
    mounted () {
        this.baseComponent = this.$refs.OxDropdownButton as Element
    },
    methods: {
        /**
         * Dropdown action click
         * @param {string} eventName - Event name to emit
         */
        altActionClick (eventName: string) {
            this.showMenu = false
            if (!eventName) {
                return
            }
            this.$emit(eventName)
            this.$emit("altclick", eventName)
        },

        /**
         * Main action click
         */
        mainActionClick () {
            this.$emit("click")
        },

        changeValue (value: boolean) {
            this.showMenu = value
            this.$emit("change", value)
        }
    }
})
</script>

<template>
  <div
    ref="OxDropdownButton"
    class="OxDropdownButton"
    :class="buttonClass"
  >
    <ox-button
      v-if="buttonSplit"
      :button-style="buttonStyle"
      custom-class="OxDropdownButton-mainAction"
      :disabled="disabled"
      :label="label"
      :title="title"
      @click="mainActionClick"
    />
    <div
      v-if="buttonSplit"
      class="OxDropdownButton-separator"
    />
    <v-menu
      :attach="attach"
      :bottom="bottom"
      :close-on-content-click="false"
      :left="left"
      :right="right"
      :top="top"
      transition="slide-y-transition"
      :value="showMenu"
      @input="changeValue"
    >
      <template #activator="{ on, attrs }">
        <ox-button
          v-if="buttonDefault"
          v-bind="attrs"
          :button-style="buttonStyle"
          custom-class="OxDropdownButton-mainAction"
          :disabled="disabled"
          icon="caretDown"
          icon-side="right"
          :label="label"
          :title="title"
          v-on="on"
        />
        <v-btn
          v-if="buttonSplit || buttonNoText"
          v-bind="attrs"
          :class="'OxDropdownButton-altAction ' + buttonStyle + 'Color'"
          :color="buttonColor"
          :disabled="disabled"
          :height="36"
          :outlined="buttonStyle === 'secondary'"
          rounded
          :text="buttonText"
          :title="title"
          :width="36"
          v-on="on"
        >
          <ox-icon
            v-if="buttonSplit"
            icon="caretDown"
            :size="24"
          />
          <ox-icon
            v-if="buttonNoText"
            icon="vDots"
            :size="24"
          />
        </v-btn>
      </template>
      <slot
        :actions="altActions"
        :dispatch="altActionClick"
        name="dropdown"
      >
        <v-list>
          <template v-for="(actionsGroup, index) in altActionsGroups">
            <template v-if="!actionsGroup.hide">
              <template v-for="(action, i) in actionsGroup.actions">
                <v-list-item
                  v-if="!action.hide"
                  :key="`group-${index}-${i}`"
                  :disabled="action.disabled"
                  link
                  @click="altActionClick(action.eventName)"
                >
                  <v-list-item-icon
                    v-if="existIcon"
                  >
                    <slot
                      v-if="action.icon"
                      :name="'custom-icon-' + action.eventName"
                    >
                      <ox-icon
                        :color="action.iconColor"
                        :icon="action.icon"
                      />
                    </slot>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ action.label }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
              <ox-divider
                v-if="separated && altActionsGroups.length > index + 1"
                :key="`${index}-divider`"
              />
            </template>
          </template>
        </v-list>
      </slot>
    </v-menu>
  </div>
</template>

<style src="./OxDropdownButton.scss" lang="scss"></style>
