<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Group from "@modules/dPetablissement/vue/models/Group"

/**
 * GroupRadio
 * Group radio component
 */
export default Vue.extend({
    name: "GroupRadio",
    props: {
        actived: {
            type: Boolean,
            default: false
        },
        group: {
            type: Object as PropType<Group>,
            required: true
        },
        functionName: {
            type: [String, Boolean],
            required: true
        }
    },
    computed: {
        radioClass (): string {
            return this.actived ? "active" : ""
        }
    },
    methods: {
        selectGroup () {
            this.$emit("click", this.group.id)
        }
    }
})
</script>

<template>
  <v-card
    class="GroupRadio"
    :class="radioClass"
    outlined
    tabindex="0"
    @click="selectGroup"
  >
    <v-radio-group :value="actived">
      <v-radio :value="true" />
    </v-radio-group>
    <div class="GroupRadio-content">
      <div class="GroupRadio-name">
        {{ group.name }}
      </div>
      <div
        v-if="functionName"
        class="GroupRadio-function"
      >
        {{ functionName }}
      </div>
    </div>
  </v-card>
</template>

<style src="./GroupRadio.scss" lang="scss"></style>
