/*
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.GroupRadio {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  gap: $space*4;
  justify-content: stretch;
  margin-bottom: $space*2;
  padding: $space*3 $space*3;

  &:hover,
  &:focus {
    @include primary-opacity($hover);
  }

  &.active {
    @include primary-opacity($active);
    border-color: $primary-500;
  }

  &-content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    gap: $space*0.5;
    justify-content: center;
    overflow: hidden;
  }

  &-name {
    @include body1;
    @include on-background(high);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-function {
    @include body2;
    @include on-background(medium);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
