<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import TabLine from "@/components/Appbar/TabLine/TabLine.vue"
import Vue, { PropType } from "vue"
import Tab from "@modules/system/vue/models/Tab"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"

/**
 * TabSelector
 * Tab selector component (dropdown)
 */
export default Vue.extend({
    name: "TabSelector",
    components: {
        TabLine
    },
    props: {
        tabs: {
            type: Array as PropType<Array<Tab>>,
            required: true
        },
        configure: {
            type: Boolean,
            default: false
        },
        param: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapState(useNavStore, ["currentModule", "tabActive", "currentTabIsParam", "currentTabIsConfig"]),
        paramTab (): Tab {
            const tab = new Tab()
            tab.name = ""
            tab.url = this.currentModule.paramTabs[0].url
            return tab
        },
        configTab (): Tab {
            const tab = new Tab()
            tab.name = this.currentModule.configureTabs[0].name
            tab.url = this.currentModule.configureTabs[0].url
            return tab
        },
        showDivider (): boolean {
            return (this.param || this.configure) && this.tabs.length > 0
        }
    },
    methods: {
        pinTab (tab: Tab) {
            this.$emit("addPin", tab)
        },
        checkTabActive (tabName: string, context?: string): boolean {
            if (!context) {
                return tabName === this.tabActive
            }
            if (context === "param") {
                return this.currentTabIsParam
            }
            if (context === "config") {
                return this.currentTabIsConfig
            }
            return false
        }
    }
})
</script>

<template>
  <div
    class="TabSelector"
  >
    <tab-line
      v-for="tab in tabs"
      :key="tab.name"
      :is-active="checkTabActive(tab.name)"
      :module-name="currentModule.name"
      :tab="tab"
      @changePin="pinTab"
    />
    <div
      v-if="showDivider"
      class="TabSelector-divider"
    />
    <tab-line
      v-if="param"
      :is-active="checkTabActive('', 'param')"
      :module-name="currentModule.name"
      :param="true"
      :show-pin="false"
      :tab="paramTab"
    />
    <tab-line
      v-if="configure"
      :is-active="checkTabActive('', 'config')"
      :module-name="currentModule.name"
      :show-pin="false"
      :tab="configTab"
    />
  </div>
</template>

<style src="./TabSelector.scss" lang="scss"></style>
