/*
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.TabSelector {
  @include elevation(16);
  border-radius: 6px;
  min-width: 200px;
  padding: $space*2 0;

  &-divider {
    border-bottom: $border;
    height: 1px;
    margin: $space*2 0;
    width: 100%;
  }
}
