{# templates/data_collector/template.html.twig #}
{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        <span class="icon">{{ include('data_collector/logo_ox.svg') }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece sf-toolbar-info-php-ext">
                <b>Configurations</b>
                {% for config in collector.configs %}
                    <div class="sf-requirements-item">
                        <span>{{ config.config }}</span>
                        <span class="sf-toolbar-status sf-toolbar-status-{{ config.isOK ? 'green' : 'yellow' }}">
                            {% if config.actual is defined %}{{ config.actual }}{% endif %}{{ config.isOK ? '&check;' : '&cross;' }}
                        </span>
                    </div>
                {% endfor %}
            </div>
            <div class="sf-toolbar-info-piece sf-toolbar-info-php-ext">
                <b>Preferences</b>
                {% for pref in collector.prefs %}
                    <div class="sf-requirements-item">
                        <span>{{ pref.pref|lower }}</span>
                        <span class="sf-toolbar-status sf-toolbar-status-{{ pref.isOK ? 'green' : 'yellow' }}">
                            {% if pref.actual is defined %}{{ pref.actual }}{% endif %}{{ pref.isOK ? '&check;' : '&cross;' }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b>Resources</b>
                <span><a href="{{ collector.infos.url_gitlab }}" target="_blank">Gitlab</a></span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Help</b>
                <span><a href="{{ collector.infos.url_wiki }}" rel="help"
                         target="_blank">Read OX Platform Docs</a></span>
            </div>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {link: false, additional_classes: 'sf-toolbar-block-right'}) }}

{% endblock %}
