{# templates/data_collector/template.html.twig #}
{% extends '@WebProfiler/Profiler/layout.html.twig' %}
{% block toolbar %}

    {% set icon %}
        <span class="icon">{{ include('data_collector/smarty.svg') }}</span>
        <span class="sf-toolbar-value">{{ collector.stats.total_time }}</span>
        <span class="sf-toolbar-label">ms</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Render time</b>
            <span>{{ collector.stats.total_time }} ms</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Templates calls</b>
            <span class="sf-toolbar-status ">{{ collector.stats.count_templates }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Smarty Instances</b>
            <span class="sf-toolbar-status ">{{ collector.stats.count_instances }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Entry Points (vue.js)</b>
            <span class="sf-toolbar-status ">{{ collector.stats.count_entry_points }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {link: profiler_url} ) }}
{% endblock %}


{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
    <span class="icon">{{ include('data_collector/smarty.svg') }}</span>
    <strong>OX Smarty</strong>
</span>
{% endblock %}

{% block panel %}

<script>
  docReady(function () {
    document.querySelectorAll('[data-detail-id]').forEach(function (element) {
      var query_id = element.getAttribute('data-detail-id');
      element.addEventListener('click', function (event) {
        event.preventDefault();
        var tr = document.getElementById("entry-table-detail-" + query_id);
        if (tr.style.display === 'none') {
          tr.style.display = '';
          element.innerHTML = '<a href="#" onclick="">Hide details</a>';
        } else {
          tr.style.display = 'none';
          element.innerHTML = '<a href="#" onclick="">Show details</a>';
        }
      })
    });
  });

  function docReady(fn) {
    // see if DOM is already available
    if (document.readyState === "complete" || document.readyState === "interactive") {
      // call on next available tick
      setTimeout(fn, 1);
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }
</script>
<style>
  tr.tr_top_report td {
    border-bottom: none;
  }

  tr.tr_bottom_report td {
    padding-right: 16px;
    padding-left: 16px;
    border-top: none;
  }

  tr.tr_bottom_report pre {
    padding: 16px;
  }

  tr.tr_details_entry td > div {
    display: flex;
  }

  tr.tr_details_entry td > div div{
    flex: 1;
    padding: 8px;
  }

  tr.tr_details_entry td > div div > span {
    font-weight: bold;
  }
</style>

<h2>Smarty Metrics</h2>
<div class="metrics">
    <div class="metric">
        <span class="value">{{ collector.stats.total_time }} <span class="unit">ms</span></span>
        <span class="label">Render time</span>
    </div>
    <div class="metric">
        <span class="value">{{ collector.stats.count_templates }}</span>
        <span class="label">Template calls</span>
    </div>
    <div class="metric">
        <span class="value">{{ collector.stats.count_instances }}</span>
        <span class="label">Smarty instances</span>
    </div>
    <div class="metric">
        <span class="value">{{ collector.stats.count_entry_points }}</span>
        <span class="label">Entry points</span>
    </div>
</div>

<h2>Rendered Templates</h2>

<table id="smarty-table">
    <thead>
    <tr>
        <th class="num-col" scope="col">Fetch</th>
        <th scope="col">Template Name &amp; Included templates</th>
        <th class="num-col" scope="col">Render Time</th>
    </tr>
    </thead>
    <tbody>
    {% for key,template in collector.templates %}
        <tr>
            <td class="num-col">
                {{ template.fetch }}
            </td>
            <td>
                {{ template.name }}

                {% for key,include in template.includes %}
                    <div class="text-muted">{{ include|raw }}</div>
                {% endfor %}
            </td>
            <td class="font-normal num-col">
                {{ template.time }} ms
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Entry Point (vue.js)</h2>

<table id="smarty-table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Script</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for key,entry in collector.entrypoints %}
        <tr>
            <td>
                {{ entry.id }}
            </td>
            <td>
                {{ entry.script_name }}
            </td>
            <td class="nowrap" data-detail-id="{{ key }}"><a href="#" onclick="">Show details</a></td>
        </tr>
        <tr  class="tr_details_entry tr_bottom_report" id="entry-table-detail-{{ key }}" style="display: none">
            <td colspan="3">
                <div>
                    <div>
                        <span>Data</span>
                        {{ dump(entry.data) }}
                    </div>

                    <div>
                        <span>Details</span>
                        {{ dump(entry.detail) }}
                    </div>
                </div>
        </tr>
    {% endfor %}

    {% endblock %}
