<!--
  @package Oxify/OxForm
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"
import OxFieldCore from "@oxify/components/OxField/OxFieldCore"

export default Vue.extend({
    name: "OxSwitch",
    extends: OxFieldCore,
    props: {
        switchValue: {
            type: String,
            default: ""
        },
        labelPosition: {
            type: String,
            default: "right",
            validator: function (value: string): boolean {
                return ["left", "right"].includes(value)
            }
        }
    },
    computed: {
        isReverse (): { isReverse: boolean } {
            return { isReverse: this.labelPosition === "left" }
        }
    }
})
</script>

<template>
  <div class="OxSwitch">
    <v-switch
      :class="isReverse"
      dense
      :disabled="disabled"
      :input-value="value"
      inset
      :label="label"
      :name="name"
      :rules="fieldRules"
      :value="switchValue"
      @change="change"
    />
  </div>
</template>

<style lang="scss" src="./OxSwitch.scss" />
