/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import '@/core/styles/utils';

.OxSwitch {
  // Vuetify override
  .isReverse .v-input__slot {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .v-input--selection-controls__input {
      margin-left: $space*2;
      margin-right: 0;
    }

    .v-label {
      flex-grow: 0;
    }
  }
}
