{{*
 * @package Mediboard\Qualite
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="main">
  <tr>
    <td class="halfPane">
      {{mb_include module=dPqualite template=inc_ei_categorie}}
    </td>
    <td class="halfPane">
      {{mb_include module=dPqualite template=inc_ei_item}}
    </td>
  </tr>
</table>