<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxCollection from "@/core/models/OxCollection"
import OxObject from "@/core/models/OxObject"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { getUrlParams, OxUrlBuilder } from "@/core/utils/OxUrlTools"
import OxPaginator from "@oxify/components/OxPaginator/OxPaginator.vue"

export default Vue.extend({
    name: "OxPagination",
    components: {
        OxPaginator
    },
    props: {
        totalVisible: {
            type: Number
        },
        value: {
            type: Object as PropType<OxCollection<OxObject>>,
            required: true
        }
    },
    data () {
        return {
            loading: false,
            objectClass: Function as Function
        }
    },
    computed: {
        hasObjectClass (): boolean {
            return this.objectClass.prototype instanceof OxObject
        },

        /**
         * The OxPaginator "per page" value is equal to the collection limit
         *
         * @return {number} The current collection limit from his self link
         */
        perPage (): number {
            if (!this.value.self) {
                return 0
            }

            const { limit } = getUrlParams(this.value.self)

            return limit
        },

        /**
         * Calculates the current page from the current collection offset and limit
         *
         * @return {number} The current page depending of the current collection offset and limit (from his self link)
         */
        currentPage (): number {
            if (!this.value.self) {
                return 1
            }

            const { offset, limit } = getUrlParams(this.value.self)

            return (offset / limit) + 1
        }
    },
    mounted () {
        if (this.value &&
            this.value.objects.length > 0 &&
            typeof this.value === "object"
        ) {
            this.objectClass = this.value.objects[0].constructor as new() => OxObject
        }
        else {
            console.warn("Impossible type inference")
        }
    },
    methods: {
        /**
         * Automatically reload the collection on the right offset (=> right current page)
         *   => calculates the last valid offset and reload another time if no objects left in the current page
         *
         * We can choose to force the current page or not
         *   => it will reload the collection for the requested page
         *
         * @param {number} page
         */
        async refresh (page?: number): Promise<void> {
            page = page ?? this.currentPage

            this.loading = true

            const offset = this.perPage * (page - 1)
            let newCollection = await this.loadCollection(offset)

            if (newCollection.objects.length === 0 && newCollection.total > 0) {
                const offset = Math.ceil(newCollection.total - this.perPage)
                newCollection = await this.loadCollection(offset)
            }

            this.loading = false

            this.$emit("input", newCollection)
        },

        /**
         * Makes the API call to load the collection
         *
         * @param {number} offset
         * @return {Promise<OxCollection<OxObject>>} The new loaded collection
         */
        async loadCollection (offset: number): Promise<OxCollection<OxObject>> {
            return await getCollectionFromJsonApiRequest(
                this.objectClass as new() => OxObject,
                new OxUrlBuilder(this.value.self).withOffset(offset.toString()).toString()
            )
        }
    }
})
</script>

<template>
  <div
    v-if="hasObjectClass"
    class="OxPagination"
  >
    <ox-paginator
      :per-page="perPage"
      :total="value.total"
      :total-visible="totalVisible"
      :value="currentPage"
      @input="refresh"
    />
  </div>
</template>
