/*
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.UserAccount {
  height: 100%;
  min-width: 300px;
  overflow: auto;
  right: $space*2;

  &-accountCard {
    background-color: $background-lighter;
    border: $border;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    gap: $space*2;
    margin: $space*4 $space*4 $space*2 $space*4;
    padding: $space*2;
    position: relative;
  }

  &-accountInfo {
    display: flex;
    flex-flow: row nowrap;
    gap: $space*2.5;
  }

  &-accountBackground {
    border-radius: 4px;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &-actions {
    background-color: transparent !important;
  }

  &-groups {
    @include subtitle2;
    @include on-background(high);
    display: flex;
    flex-direction: column;
    gap: $space*2;
    padding-top: $space*5;
    padding-left: $space*4;
    padding-right: $space*4;

    &List {
      display: flex;
      flex-direction: column;
      gap: $space*2;
    }
  }

  &-avatar {
    align-items: center;
    border-radius: 50%;
    color: inherit;
    display: flex;
    font-family: Roboto;
    font-size: 10px;
    height: 24px;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 8px;
    margin: $space;
    user-select: none;
    width: 24px;
  }

  &-user {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    gap: $space*0.5;
  }

  &-username {
    @include body1;
    @include on-background(high);
  }

  &-login {
    @include caption;
    @include on-background(medium);
  }

  &-logout {
    margin-top: $space*2;
  }

  &-accountCTA {
    padding-left: $space*6;
  }

  &-listItemIcon {
    @include on-background(medium);
  }

  &-majInfo {
    @include caption;
    @include on-background(low);
    padding: $space $space*4 $space*3 $space*4;

    &:hover {
      cursor: help;
    }
  }

  &-cgu {
    @include on-background(medium);
  }

  &-substitutionLabel {
    @include overline;
    color: $primary-500;
  }

  &-impersonator {
    $impersonator-size: 30px;
    align-items: center;
    background-color: $background-darker;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: $impersonator-size;
    margin-top: $space*-6;
    width: $impersonator-size;

    &:hover {
      background-color: alpha($secondary, 0.16);
      cursor: pointer;
    }
  }

  &-pwdReminder {
    margin-top: $space;
  }
}
