<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import oxApiService from "@/core/utils/OxApiService"
import Vue, { PropType } from "vue"
import { OxUrlDiscovery } from "@/core/utils/OxUrlDiscovery"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxSwitch from "@oxify/components/OxField/OxSwitch/OxSwitch.vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import { InfoMaj } from "@/components/Appbar/types/AppbarTypes"
import Group from "@modules/dPetablissement/vue/models/Group"
import Function from "@modules/mediusers/vue/Models/Function"
import { mapState } from "pinia"
import { useUserStore } from "@/core/stores/user"
import { useContextStore } from "@/core/stores/context"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"
const GroupSelector = () => import(/* webpackChunkName: "GroupSelector" */ "@/components/Appbar/GroupSelector/GroupSelector.vue")

/**
 * UserAccount
 * User account component
 */
export default Vue.extend({
    name: "UserAccount",
    components: { OxDivider, OxButton, OxIcon, OxSwitch, GroupSelector, OxTooltip, OxChip },
    props: {
        value: {
            type: Boolean,
            default: false
        },
        infoMaj: {
            type: Object as PropType<InfoMaj>,
            required: true
        },
        showGroup: {
            type: Boolean,
            default: false
        },
        groupSelected: {
            type: Object as PropType<Group>,
            required: true
        },
        functions: {
            type: Array as PropType<Array<Function>>,
            required: true
        }
    },
    computed: {
        ...mapState(useUserStore, ["user", "preferences"]),
        ...mapState(useContextStore, ["configurations"]),
        showPassword (): boolean {
            return (!!this.user.isPatient || !!this.user.canChangePassword) && !this.isSubstitution
        },
        showMajInfo (): boolean {
            return !!this.infoMaj.title
        },
        isSubstitution (): boolean {
            return this.user.impersonator !== undefined
        },
        userInitials (): string {
            if (this.user.impersonator === undefined) {
                return ""
            }
            return this.user.impersonator.firstname.substring(0, 1).toUpperCase() +
                this.user.impersonator.lastname.substring(0, 1).toUpperCase()
        },
        showPasswordReminder (): boolean {
            return this.user.passwordRemainingDays !== undefined
        }
    },
    methods: {
        clickOutside () {
            this.$emit("input", false)
        },
        switchUser () {
            this.$emit("changeuser")
        },
        logout () {
            window.location.href = OxUrlDiscovery.logout()
        },
        switchTheme (value: boolean) {
            // @ts-ignore
            window.App.savePref("mediboard_ext_dark", value ? "1" : "0", function () { location.reload() })
        },
        changePassword () {
            this.$emit("changepassword")
        },
        showCGU () {
            this.$emit("showcgu")
        },
        showAbout () {
            this.$emit("showabout")
        },
        exitImpersonation () {
            if (this.user.exitImpersonationUrl) {
                window.location.href = new OxUrlBuilder(this.user.exitImpersonationUrl).toString()
            }
        },
        closeReminder () {
            if (this.user.dismissReminderUrl) {
                oxApiService.post(this.user.dismissReminderUrl)
                this.user.passwordRemainingDays = undefined
            }
        }
    }
})
</script>

<template>
  <div
    v-click-outside="clickOutside"
    class="UserAccount"
  >
    <div class="UserAccount-accountCard">
      <div
        v-if="isSubstitution"
        class="UserAccount-substitutionLabel"
      >
        {{ $tr("CUserAuthentication.auth_method.substitution") }}
      </div>
      <div class="UserAccount-accountInfo">
        <div
          class="UserAccount-avatar"
          :style="{backgroundColor: user.color, color: user.fontColor}"
        >
          {{ user.initials }}
        </div>
        <div class="UserAccount-user">
          <div class="UserAccount-username">
            {{ user.firstName }} {{ user.lastName }}
          </div>
          <div class="UserAccount-login">
            {{ user.username }}
          </div>
        </div>
        <div
          v-if="isSubstitution"
          v-ripple
          class="UserAccount-impersonator"
          @click="exitImpersonation"
        >
          <ox-tooltip position="bottom">
            <template #content="{ on }">
              <div v-on="on">
                <div class="UserAccount-avatar">
                  {{ userInitials }}
                </div>
              </div>
            </template>
            <div>
              {{ $tr("Appbar-exit-impersonation", false, user.impersonator?.firstname + " " + user.impersonator?.lastname) }}
            </div>
          </ox-tooltip>
        </div>
      </div>
      <div class="UserAccount-accountCTA">
        <ox-button
          v-if="!configurations.isDistinctGroups"
          button-style="tertiary"
          :href="user.editInfosUrl"
          :label="$tr('Appbar-manage-my-account')"
        />
      </div>
      <div
        class="UserAccount-accountBackground"
        :style="{backgroundColor: user.color}"
      />
    </div>
    <v-list class="UserAccount-actions">
      <v-list-item-group active-class="">
        <v-list-item
          v-if="user.isAdmin"
          @click="switchUser"
        >
          <v-list-item-icon class="UserAccount-listItemIcon">
            <ox-icon icon="accountSwitch" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $tr("menu-switchUser") }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-if="showPassword"
          @click="changePassword"
        >
          <v-list-item-icon class="UserAccount-listItemIcon">
            <ox-icon icon="key" />
          </v-list-item-icon>
          <v-list-item-content>
            <div>
              <v-list-item-title>
                {{ $tr('menu-changePassword') }}
              </v-list-item-title>
              <v-list-item-subtitle class="UserAccount-pwdReminder">
                <ox-chip
                  v-if="showPasswordReminder"
                  :close="true"
                  color="warning"
                  @click:close="closeReminder"
                >
                  {{ $tr("common-msg-Your password expires in %d day|pl.", false, user.passwordRemainingDays) }}
                </ox-chip>
              </v-list-item-subtitle>
            </div>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="showCGU">
          <v-list-item-icon class="UserAccount-listItemIcon" />
          <v-list-item-content>
            <v-list-item-title class="UserAccount-cgu">
              {{ $tr('ProSanteConnect-cgu') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="showAbout">
          <v-list-item-icon class="UserAccount-listItemIcon" />
          <v-list-item-content>
            <v-list-item-title class="UserAccount-cgu">
              {{ $tr('mod-system-tab-about') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <ox-divider />
        <v-list-item
          inactive
          :ripple="false"
        >
          <v-list-item-content>
            <v-list-item-title>{{ $tr('pref-mediboard_ext_dark') }}</v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon>
            <ox-switch
              :value="preferences.isDark"
              @change="switchTheme"
            />
          </v-list-item-icon>
        </v-list-item>
        <ox-divider />
        <v-list-item
          inactive
          :ripple="false"
        >
          <ox-button
            :block="true"
            class="UserAccount-logout"
            :label="$tr('menu-logout')"
            @click="logout"
          />
        </v-list-item>
      </v-list-item-group>
    </v-list>

    <keep-alive include="GroupSelector">
      <div
        v-if="showGroup"
        class="UserAccount-groups"
      >
        <div>{{ $tr('Appbar-Groups') }}</div>

        <group-selector
          :functions="functions"
          :group-selected="groupSelected"
          :groups-data="[]"
          :show-radio="true"
        />
      </div>
    </keep-alive>

    <div
      v-if="showMajInfo"
      class="UserAccount-majInfo"
      :title="infoMaj.title"
    >
      {{ infoMaj.release_title }}
    </div>
  </div>
</template>

<style src="./UserAccount.scss" lang="scss"></style>
