<!--
  @package Mediboard\CCAM
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <div
    class="ActeCcamAutocomplete"
    :title="item.libelle_long"
  >
    <v-list-item-content>
      <!-- TODO: DO NOT USE v-text ! -->
      <!-- eslint-disable-next-line vue/no-v-text-v-html-on-component -->
      <v-list-item-title v-text="item.code" />
      <!-- eslint-disable-next-line vue/no-v-text-v-html-on-component -->
      <v-list-item-subtitle v-text="item.libelle_long" />
    </v-list-item-content>
  </div>
</template>

<script src="./ActeCcamAutocomplete.ts" lang="ts"></script>
<style src="./ActeCcamAutocomplete.scss" lang="scss"></style>
