<!--
  @package Oxify\OxBadge
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"

export default Vue.extend({
    name: "OxBadge",
    props: {
        bottom: Boolean,
        color: {
            type: String as PropType<"primary" | "secondary" | "error">,
            default: "primary"
        },
        content: String,
        displayed: {
            type: Boolean,
            default: true
        },
        dot: {
            type: Boolean,
            default: false
        },
        left: Boolean
    },
    computed: {
        badgeClasses (): object {
            return {
                OxBadge: true,
                primarycolor: this.color === "primary",
                secondarycolor: this.color === "secondary"
            }
        },
        badgeColor (): string {
            if (this.color === "primary") {
                return OxThemeCore.primary
            }
            if (this.color === "secondary") {
                return OxThemeCore.secondary200
            }
            return OxThemeCore.error
        }
    }
})
</script>

<template>
  <v-badge
    :bottom="bottom"
    :class="badgeClasses"
    :color="badgeColor"
    :content="content"
    :dot="dot"
    :left="left"
    overlap
    :value="displayed"
  >
    <slot />
  </v-badge>
</template>

<style src="./OxBadge.scss" lang="scss"></style>
