/**
 * @package Oxify\OxBadge
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxBadge {
  &.primarycolor .v-badge__badge {
    @include on-primary(high);
  }
  &.secondarycolor .v-badge__badge {
    @include color-black(1);
  }
}
