<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import { callJSFunction } from "@/components/Core/OxUtilsCore"
import Vue, { PropType } from "vue"
import { Placeholder } from "@/components/Appbar/types/AppbarTypes"

const PlaceholderShortcut = () => import(/* webpackChunkName: "PlaceholderShortcut" */ "@/components/Appbar/PlaceholderShortcut/PlaceholderShortcut.vue")

/**
 * PlaceholderLine
 * line placeholder component
 */
export default Vue.extend({
    name: "PlaceholderLine",
    components: {
        PlaceholderShortcut
    },
    props: {
        placeholder: {
            type: Object as PropType<Placeholder>,
            required: true
        }
    },
    methods: {
        click () {
            if (this.placeholder.action !== "") {
                callJSFunction(this.placeholder.action, this.placeholder.action_args)
            }
        }
    }
})
</script>

<template>
  <div
    class="PlaceholderLine"
    @click="click"
  >
    <placeholder-shortcut
      :flat="true"
      :placeholder="placeholder"
      :show-label="false"
    />

    <div>{{ placeholder.label }}</div>
  </div>
</template>

<style src="./PlaceholderLine.scss" lang="scss"></style>
