/**
 * @package Oxify\OxButton
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxButton {

  &.primary {
    @include on-primary(high, true);
  }

  &.tertiaryDark {
    &.v-btn {
      &,
      &.v-btn--icon {
        color: $grey-600;
      }
    }
  }

  &.currentColor {
    color: currentColor !important;
  }
}
