<!--
 @package Oxify\OxButton
 @author  SAS OpenXtrem <dev@openxtrem.com>
 @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "OxButton",
    components: {
        OxIcon
    },
    props: {
        // Button label
        label: {
            type: String,
            default: ""
        },
        // Main button style
        buttonStyle: {
            type: String as PropType<"primary" | "secondary" | "tertiary" | "tertiary-dark">,
            default: "secondary",
            validator: function (value: string) {
                return ["primary", "secondary", "tertiary", "tertiary-dark"].indexOf(value) !== -1
            }
        },
        // Icon associated with the button
        icon: {
            type: String,
            default: ""
        },
        // Custom color button
        color: String,
        // Button title (hover)
        title: {
            type: String,
            default: ""
        },
        customClass: {
            type: String,
            default: ""
        },
        iconSide: {
            type: String as PropType<"right" | "left">,
            default: "left"
        },
        // Size reduction specifically for primary icon-only buttons
        smallPrimaryIconOnly: {
            type: Boolean,
            default: false
        },
        // Button display in small version
        small: {
            type: Boolean,
            default: false
        },
        depressed: {
            type: Boolean,
            default: false
        },
        iconButton: Boolean,
        disabled: {
            type: Boolean,
            default: false
        },
        block: {
            type: Boolean,
            default: false
        },
        loading: {
            type: Boolean,
            default: false
        },
        href: {
            type: String,
            default: ""
        }
    },
    data: () => {
        return {
            smallIconSize: 18,
            defaultIconSize: 24,
            smallButtonSize: 24
        }
    },
    computed: {
        hasLabel (): boolean {
            return this.label !== "" || !!this.$slots.default
        },
        buttonClasses (): string {
            return (this.buttonStyle === "tertiary-dark" ? this.customClass + " tertiaryDark" : this.customClass) +
                (this.color === "currentColor" ? " currentColor" : "") + " OxButton"
        },
        buttonColor (): string | null {
            if (this.color) {
                return this.color
            }
            if (!this.hasLabel && this.buttonStyle === "tertiary-dark") {
                return null
            }
            if (this.buttonStyle === "tertiary-dark") {
                return "rgba(0, 0, 0, 0)"
            }
            return this.buttonStyle === "tertiary" ? "secondary" : "primary"
        },
        elevation (): number | undefined {
            if (["tertiary", "tertiary-dark"].indexOf(this.buttonStyle) > -1) {
                return 0
            }
            return undefined
        },
        buttonSize (): number | undefined {
            return this.smallPrimaryIconOnly ? this.smallButtonSize : undefined
        },
        iconSize (): number {
            return this.smallPrimaryIconOnly ? this.smallIconSize : this.defaultIconSize
        }
    },
    methods: {
        click (event: MouseEvent) {
            if (this.loading) {
                return
            }
            this.$emit("click", event)
        }
    }
})
</script>

<template>
  <v-btn
    :block="block"
    :class="buttonClasses"
    :color="buttonColor"
    :depressed="depressed"
    :disabled="disabled"
    :elevation="elevation"
    :fab="!hasLabel && buttonStyle === 'primary'"
    :height="buttonSize"
    :href="href"
    :icon="iconButton || (!hasLabel && buttonStyle !== 'primary')"
    :loading="loading"
    :outlined="buttonStyle === 'secondary'"
    rounded
    :small="(!hasLabel && buttonStyle === 'primary') || small"
    :text="buttonStyle === 'tertiary'"
    :title="title"
    :width="buttonSize"
    @click="click"
  >
    <ox-icon
      v-if="icon && iconSide === 'left' && hasLabel"
      :icon="icon"
      left
      :size="iconSize"
    />
    <slot>
      {{ label }}
    </slot>
    <ox-icon
      v-if="icon && (iconSide === 'right' || !hasLabel)"
      :icon="icon"
      :right="hasLabel && iconSide === 'right'"
      :size="iconSize"
    />
  </v-btn>
</template>

<style src="./OxButton.scss" lang="scss"></style>
