<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import { OxEntryPointLinks } from "@/core/types/OxEntryPointTypes"
import OxCollection from "@/core/models/OxCollection"
import SampleMovieCard from "@modules/sample/vue/components/SampleMovieCard/SampleMovieCard.vue"
import SampleMovie from "@modules/sample/vue/models/SampleMovie"
import OxSort from "@/core/components/OxSort/OxSort.vue"
import OxPagination from "@/core/components/OxPagination/OxPagination.vue"
import { toggleBookmark } from "@modules/sample/vue/utils/SampleBookmarkManager"

export default Vue.extend({
    name: "SampleBookmarks",
    components: {
        OxSort,
        OxPagination,
        SampleMovieCard
    },
    props: {
        links: Object as PropType<OxEntryPointLinks>
    },
    data () {
        return {
            movies: {} as OxCollection<SampleMovie>,
            bookmarksPerPage: 10,
            loading: false
        }
    },
    computed: {
        usePlural (): boolean {
            return this.movies.total > 1
        },
        noData (): boolean {
            return this.movies.total < 1
        },
        showNoDataIllustration (): boolean {
            return this.noData && !this.loading
        }
    },
    async created () {
        if (this.links?.movies) {
            this.loading = true

            this.movies = await getCollectionFromJsonApiRequest(
                SampleMovie,
                new OxUrlBuilder(this.links.movies)
                    .withRelations(["category", "bookmarks"])
                    .addParameter("bookmarked", "1")
                    .withLimit(this.bookmarksPerPage.toString())
                    .withSchema()
                    .toString()
            )

            this.loading = false
        }
    },
    methods: {
        /**
         * We only want to remove bookmarks from this page.
         * We delete the bookmark in database, then we call the refresh function from OxPagination
         *   => to refresh pagination if needed
         *
         * @param {SampleMovie} movie - The movie we want to remove from our bookmarks
         */
        async removeBookmark (movie: SampleMovie): Promise<void> {
            // It will only delete the bookmark
            await toggleBookmark(movie)
            await (this.$refs.pagination as InstanceType<typeof OxPagination>).refresh()
        }
    }
})
</script>

<template>
  <div class="SampleBookmarks">
    <h5
      v-if="!noData"
      class="SampleBookmarks-title"
    >
      <v-skeleton-loader
        v-if="loading"
        type="text"
        :width="140"
      />
      <template v-else>
        {{ movies.total }} {{ $tr("sample_movie-favorite movies", usePlural) }}
      </template>
    </h5>

    <div
      v-if="!noData"
      class="SampleBookmarks-moviesContainer"
    >
      <div class="SampleBookmarks-moviesHeader">
        <v-skeleton-loader
          v-if="loading"
          type="text"
          :width="140"
        />
        <ox-sort
          v-else
          v-model="movies"
          aspect="text"
          :choices="['name', 'release', 'duration']"
        />

        <v-skeleton-loader
          v-if="loading"
          type="text"
          :width="200"
        />
        <ox-pagination
          v-else
          ref="pagination"
          v-model="movies"
          :total-visible="4"
        />
      </div>
      <div
        v-if="loading"
        class="SampleBookmarks-movies"
      >
        <v-skeleton-loader
          v-for="i in bookmarksPerPage"
          :key="'initialSkeleton' + i"
          type="card"
        />
      </div>
      <div
        v-else
        class="SampleBookmarks-movies"
      >
        <div
          v-for="movie in movies.objects"
          :key="movie.id"
          class="SampleBookmarks-movie"
        >
          <sample-movie-card
            :movie="movie"
            @toggleBookmark="removeBookmark"
          />
        </div>
      </div>
    </div>
    <div
      v-if="showNoDataIllustration"
      class="SampleBookmarks-noData"
    >
      <div class="SampleBookmarks-noDataTitle">
        {{ $tr("CSampleBookmark-no-bookmark") }}
      </div>
      <div class="SampleBookmarks-noDataDesc">
        {{ $tr("CSampleBookmark-no-bookmark-desc") }}
      </div>
      <img
        :alt="$tr('CSampleBookmark-no-bookmark')"
        class="SampleBookmarks-noDataIllus"
        src="modules/sample/images/empty_bookmarks.svg"
      >
    </div>
  </div>
</template>

<style lang="scss" src="./SampleBookmarks.scss" />
