/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";
@import "@modules/sample/vue/styles/utils";

.SampleBookmarks {
  @include fullPage;
  display: flex;
  flex-direction: column;
  padding: $space*6 $space*21;

  &-title {
    @include h5;
    color: $grey-900;
  }

  &-moviesContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*6;
    max-width: 60vw;
    padding-top: $space*2;

    @include screenSmallerThan($screenSmall, "900") {
      max-width: 100vw;
    }
  }

  &-moviesHeader {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &-movies {
    @include grid-view;

    @include screenLargerThan($screenWide, "400") {
      --column-number: 5;
    }

    @include screenSmallerThan($screenSmall, "900") {
      --column-number: 5;
    }

    @include screenSmallerThan($screenSmall, "700") {
      --column-number: 4;
    }

    @include screenSmallerThan($screenSmall, "500") {
      --column-number: 3;
    }

    @include screenSmallerThan($screenSmall, "300") {
      --column-number: 2;
    }

    @include screenSmallerThan($screenSmall, "200") {
      --column-number: 1;
    }
  }

  &-noData {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 15vh;
  }

  &-noDataTitle {
    @include h5;
    @include on-background(medium);
    margin-bottom: $space*4;
  }

  &-noDataDesc {
    @include body2;
    @include on-background(medium);
  }

  &-noDataIllus {
    width: clamp(300px, 40vw, 420px);
  }
}
