/**
 * @package Oxify
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.SbElevationSample {
  background-color: $background-default;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-card {
    border-radius: 6px;
    height: 156px;
    margin: $space*4;
    padding: $space*4;
    position: relative;
    width: 156px;

    &.elevation-0 {
      @include elevation(0);
    }
    &.elevation-1 {
      @include elevation(1);
    }
    &.elevation-2 {
      @include elevation(2);
    }
    &.elevation-3 {
      @include elevation(3);
    }
    &.elevation-4 {
      @include elevation(4);
    }
    &.elevation-6 {
      @include elevation(6);
    }
    &.elevation-8 {
      @include elevation(8);
    }
    &.elevation-9 {
      @include elevation(9);
    }
    &.elevation-12 {
      @include elevation(12);
    }
    &.elevation-16 {
      @include elevation(16);
    }
    &.elevation-24 {
      @include elevation(24);
    }
  }

  &-cardTitle {
    @include subtitle2;
    @include on-background(high);
    font-family: inherit;
  }

  &-cardSnippet {
    @include caption;
    @include on-background(medium);
    bottom: $space*4;
    font-family: inherit;
    position: absolute;
    right: $space*4;
  }
}
