<!--
  @package Oxify
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "SbElevationSample",
    data () {
        return {
            elevations: [0, 1, 2, 3, 4, 6, 8, 9, 12, 16, 24]
        }
    }
})

</script>

<template>
  <div class="SbElevationSample">
    <div
      v-for="elevation in elevations"
      :key="elevation"
      class="SbElevationSample-card"
      :class="'elevation-' + elevation"
    >
      <div class="SbElevationSample-cardTitle">
        {{ elevation }}dp
      </div>
      <div class="SbElevationSample-cardSnippet">
        elevation({{ elevation }})
      </div>
    </div>
  </div>
</template>

<style src="./SbElevationSample.scss" lang="scss"></style>
