{{*
 * @package Mediboard\Hospi
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

{{mb_include template=inc_pref spec=enum var=ccam_sejour values="0|1"}}
{{mb_include template=inc_pref spec=str var=services_ids_hospi readonly=1}}
{{mb_include template=inc_pref spec=str var=prestation_id_hospi readonly=1}}