/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleFullnameCell {
  &-img {
    border-radius: 50%;
    height: 32px;
    object-fit: cover;
    width: 32px;
  }

  &-text {
    padding-left: $space*2;
  }
}
