/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.AddonsGeneric {
  background: $grey-50;
  border-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  padding: $space*2;
}
