<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import AddonNotes from "@modules/system/vue/components/AddonNotes/AddonNotes.vue"
import OxObject from "@/core/models/OxObject"
import { injectPrefs, prefs } from "@/core/utils/OxInjector"
import { isModuleActive } from "@/core/utils/OxModulesManager"

const AddonIdex = () => import("@modules/dPsante400/vue/components/AddonIdex/AddonIdex.vue")
const AddonHistory = () => import("@modules/system/vue/components/AddonHistory/AddonHistory.vue")

export default Vue.extend({
    name: "AddonsGeneric",
    components: {
        AddonIdex,
        AddonHistory,
        AddonNotes
    },
    inject: { ...injectPrefs() },
    props: {
        object: {
            type: Object as PropType<OxObject>,
            required: true
        }
    },
    data () {
        return {
            prefs: this[prefs]
        }
    },
    computed: {
        canViewHistory (): boolean {
            return this.prefs?.can_view_history
        },
        canViewIdex (): boolean {
            return isModuleActive("dPsante400") && this.object.links.identifiers !== undefined
        },
        canViewNotes (): boolean {
            return this.object.links.notes !== undefined
        }
    }
})
</script>

<template>
  <div class="AddonsGeneric">
    <addon-notes
      v-if="canViewNotes"
      :object="object"
    />
    <addon-history
      v-if="canViewHistory"
      :object="object"
    />
    <addon-idex
      v-if="canViewIdex"
      :object="object"
    />
  </div>
</template>

<style lang="scss" src="./AddonsGeneric.scss" />
