<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import HistoryFieldDiff from "@modules/system/vue/models/HistoryFieldDiff"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import sanitizeHtml from "sanitize-html"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"

export default Vue.extend({
    name: "HistoryDetailsLine",
    components: {
        OxIcon,
        OxTooltip
    },
    props: {
        disable: {
            type: Boolean,
            required: false
        },
        targeted: {
            type: Boolean,
            required: false
        },
        historyDetails: {
            type: HistoryFieldDiff,
            required: true
        },
        historyType: String
    },
    computed: {
        classes (): { disable: boolean, targeted: boolean } {
            return {
                disable: this.disable,
                targeted: this.targeted
            }
        },
        colorTargetLogo (): string {
            return this.targeted ? OxThemeCore.secondary : OxThemeCore.grey600
        },
        icon (): string {
            if (this.historyType === "store" &&
                !this.historyDetails.oldValue &&
                this.historyDetails.newValue
            ) {
                return "add"
            }
            else if (this.historyType === "store" &&
                this.historyDetails.oldValue &&
                !this.historyDetails.newValue
            ) {
                return "delete"
            }

            return "edit"
        },
        actionText (): string {
            if (
                this.historyType === "store" &&
                !this.historyDetails.oldValue &&
                this.historyDetails.newValue
            ) {
                return this.$tr("common-msg-Has added")
            }
            else if (
                this.historyType === "store" &&
                this.historyDetails.oldValue &&
                !this.historyDetails.newValue
            ) {
                return this.$tr("common-msg-Has deleted")
            }

            return this.$tr("common-msg-Has edited")
        },

        showOldValue (): boolean {
            return !!this.historyDetails.oldValue
        },

        showNewValue (): boolean {
            return !!this.historyDetails.newValue
        },

        showDiff (): boolean {
            return !this.historyDetails.oldValue && !this.historyDetails.newValue
        },

        showLinkText (): boolean {
            return this.historyType === "store" &&
                this.showOldValue &&
                this.showNewValue
        },
        sanitizedDiff (): string {
            return sanitizeHtml(
                this.historyDetails.diff,
                {
                    allowedTags: ["ins", "del"],
                    disallowedTagsMode: "escape"
                }
            )
        },
        focusText (): string {
            return this.targeted
                ? this.$tr("Cancel")
                : this.$tr("system-msg-focus the field %s", false, this.historyDetails.name)
        }
    },
    methods: {
        click (event: MouseEvent) {
            this.$emit("click", event)
        }
    }
})
</script>

<template>
  <div
    class="HistoryDetailsLine"
    :class="classes"
    @click="click"
  >
    <div
      class="HistoryDetailsLine-icon"
      :class="icon"
    >
      <ox-icon
        :icon="icon"
        :size="16"
      />
    </div>
    <div class="HistoryDetailsLine-content">
      <div class="HistoryDetailsLine-field">
        <div class="HistoryDetailsLine-fieldName">
          {{ historyDetails.name }}
        </div>
        <ox-tooltip position="right">
          <template #content="{ on }">
            <div
              class="HistoryDetailsLine-targetLogo"
              v-on="on"
            >
              <ox-icon
                :color="colorTargetLogo"
                icon="target"
                :size="20"
              />
            </div>
          </template>
          {{ focusText }}
        </ox-tooltip>
      </div>
      <div
        v-if="!showDiff"
        class="HistoryDetailsLine-detail"
      >
        {{ actionText }}
        <span
          v-if="showOldValue"
          class="HistoryDetailsLine-oldValue"
        >
          "{{ historyDetails.oldValue }}"
        </span>
        <span v-if="showLinkText">
          {{ $tr("system-msg-In") }}
        </span>
        <span
          v-if="showNewValue"
          class="HistoryDetailsLine-newValue"
        >
          "{{ historyDetails.newValue }}"
        </span>
      </div>
      <div
        v-else
        class="HistoryDetailsLine-detail diff"
      >
        <!-- eslint-disable vue/no-v-html, content is sanitized -->
        <div
          class="HistoryDetailsLine-diffContent"
          v-html="sanitizedDiff"
        />
        <!-- eslint-enabled vue/no-v-html -->
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./HistoryDetailsLine.scss" />
