/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.HistoryDetailsLine {
  display: flex;
  gap: $space*15;
  padding: $space*2 0;

  &.disable {
    opacity: 0.33;
  }

  &.targeted {
    .HistoryDetailsLine-targetLogo {
      display: block;
    }
  }

  &:hover {
    cursor: pointer;

    .HistoryDetailsLine-targetLogo {
      display: block;
    }
  }

  &-icon {
    &.edit {
      color: $grey-400;
    }

    &.add {
      color: $info-text-default;
    }

    &.delete {
      color: $error-text-default;
    }
  }

  &-content {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    gap: $space;
  }

  &-field {
    @include on-background(high);
    @include subtitle2;
    display: flex;
    gap: $space*2;
  }

  &-targetLogo {
    display: none;
    height: 20px; // useful ?
  }

  &-detail {
    @include caption;
    @include on-background(medium);

    &.diff {
      max-height: 300px;
      overflow: auto;
    }
  }

  &-diffContent {
    background: $background-light;
    border: $border;
    border-radius: 4px;
    padding: $space*2;
  }

  &-oldValue,
  del {
    color: $error-text-default;
  }

  &-newValue,
  ins {
    color: $info-text-default;
  }

  del {
    text-decoration: line-through;
  }

  ins {
    text-decoration: none;
  }
}
