<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import History from "@modules/system/vue/models/History"
import OxAsyncTooltip from "@/core/components/OxAsyncTooltip/OxAsyncTooltip.vue"
import HistorySmallLine from "@modules/system/vue/components/HistorySmallLine/HistorySmallLine.vue"
import OxObject from "@/core/models/OxObject"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import HistoryMoreSmallLine from "@modules/system/vue/components/HistoryMoreSmallLine/HistoryMoreSmallLine.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"

const HistoryDetails = () => import("@modules/system/vue/components/HistoryDetails/HistoryDetails.vue")

export default Vue.extend({
    name: "AddonHistory",
    components: {
        HistoryDetails,
        HistoryMoreSmallLine,
        HistorySmallLine,
        OxAsyncTooltip,
        OxIcon,
        OxButton,
        OxDialog
    },
    props: {
        object: {
            type: Object as PropType<OxObject>,
            required: true
        }
    },
    data () {
        return {
            createLog: {} as History,
            dialogScrollContainer: undefined as HTMLDivElement | undefined,
            forceCloseTooltip: false,
            historyClass: History,
            iconColor: OxThemeCore.grey500,
            maxHistoryLogsInTooltip: 5,
            showDialog: false,
            storeLogs: [] as History[],
            targetedField: "",
            url: ""
        }
    },
    created () {
        if (this.object.links.history) {
            this.url = new OxUrlBuilder(this.object.links.history)
                .withRelations(["user", "updatedFields"])
                .addParameter("include_creation_log", "1")
                .withLimit(this.maxHistoryLogsInTooltip.toString())
                .toString()
        }
    },
    methods: {
        openModal (): void {
            this.forceCloseTooltip = true
            this.showDialog = true
        },
        objectDetails (link: string): void {
            const splitLink = link.split("/")

            this.forceCloseTooltip = true
            // @ts-ignore
            // eslint-disable-next-line no-undef
            const url = new Url()
            url.setRoute(link)
            url.requestModal(1000, 800, {
                title: splitLink[splitLink.length - 2] + " #" + splitLink[splitLink.length - 1]
            })
        },
        resetForceCloseTooltip (): void {
            this.forceCloseTooltip = false
        },
        sortData (data: History[]): void {
            data.forEach(history => {
                if (history.historyType === "create") {
                    this.createLog = history
                }
                else {
                    this.storeLogs.push(history)
                }
            })
        },
        dialogOpened (dialogContainer: HTMLDivElement): void {
            this.dialogScrollContainer = dialogContainer
        },
        moreCount (total: number): number {
            return total - this.maxHistoryLogsInTooltip - 1
        },
        hasMoreHistory (total: number): boolean {
            return this.moreCount(total) > 0
        }
    }
})
</script>

<template>
  <div class="AddonHistory">
    <ox-async-tooltip
      :force-close="forceCloseTooltip"
      is-collection
      max-height="500px"
      :ox-object="historyClass"
      :url="url"
      width="auto"
      @callDone="sortData"
      @click="openModal"
      @show="resetForceCloseTooltip"
    >
      <template #activator>
        <ox-icon
          :color="iconColor"
          icon="history"
        />
      </template>
      <template #tooltip="slotProps">
        <div class="AddonHistory-header">
          <div class="AddonHistory-title">
            {{ $tr("History") }}
          </div>
          <ox-button
            button-style="tertiary"
            :label="$tr('common-action-See all')"
            @click="openModal"
          />
        </div>
        <div class="AddonHistory-lines">
          <history-small-line
            v-for="(history, index) in storeLogs"
            :key="'line-' + index"
            :history="history"
          />
          <history-more-small-line
            v-if="hasMoreHistory(slotProps.total)"
            :count="moreCount(slotProps.total)"
          />
          <history-small-line :history="createLog" />
        </div>
        <div
          v-if="slotProps.links.object_details"
          v-ripple
          class="AddonHistory-footer"
          @click="objectDetails(slotProps.links.object_details)"
        >
          {{ $tr("system-action-Object details") }}
        </div>
      </template>
      <template #loading>
        <v-skeleton-loader
          type="table-heading, divider, list-item, list-item, divider, list-item"
          width="300px"
        />
      </template>
    </ox-async-tooltip>

    <ox-dialog
      v-model="showDialog"
      max-width="1280px"
      :title="$tr('system-msg-Change history')"
      width="90%"
      @opened="dialogOpened"
    >
      <history-details
        v-if="showDialog"
        :object="object"
        :scroll-element="dialogScrollContainer"
      />
    </ox-dialog>
  </div>
</template>

<style lang="scss" src="./AddonHistory.scss" />
