/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.AddonHistory {
  &-header {
    align-items: center;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    padding: $space*2 $space*3;
  }

  &-title {
    @include subtitle2;
    color: $grey-900;
  }

  &-lines {
    display: flex;
    flex-direction: column;
    padding: 0 $space*3;
  }

  &-footer {
    @include caption;
    @include hoverable;
    border-top: $border;
    color: $grey-600;
    padding: $space*3;
    user-select: none;
  }
}
