/**
 * @package Oxify\OxChipGroup
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxChipGroup {
  display: inline-block;
  width: 100%;
}
