<!--
  @package Oxify\OxChipGroup
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxChip from "@oxify/components/OxChip/OxChip.vue"
import { OxChipGroupChoice } from "@oxify/types/OxChipGroupTypes"

export default Vue.extend({
    name: "OxChipGroup",
    components: { OxChip },
    props: {
        value: {
            type: [Array, String] as PropType<Array<string> | string>
        },
        choices: {
            type: Array as PropType<Array<OxChipGroupChoice>>,
            default: () => []
        },
        wrap: {
            type: Boolean,
            default: false
        },
        mandatory: {
            type: Boolean,
            default: false
        },
        max: {
            type: Number
        },
        multiple: {
            type: Boolean,
            default: false
        },
        small: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        emitInput (selected: Array<number> | number): void {
            this.$emit("input", this.generateSelectedWithValue(selected))
        },
        generateSelectedWithValue (selected: Array<number> | number): Array<string> | string | undefined {
            if (selected && typeof selected !== "number" && Object.keys(selected).length === 0) {
                return
            }
            if (typeof selected === "number") {
                return this.choices[selected].value
            }
            return selected.map((position: number) => {
                return this.choices[position].value
            })
        }
    }
})
</script>

<template>
  <div class="OxChipGroup">
    <v-chip-group
      active-class="active"
      :column="wrap"
      :mandatory="mandatory"
      :max="max"
      mobile-breakpoint=""
      :multiple="multiple"
      @change="emitInput"
    >
      <ox-chip
        v-for="choice in choices"
        :key="'choice'+choice.value"
        ripple
        :small="small"
      >
        {{ choice.label }}
      </ox-chip>
    </v-chip-group>
  </div>
</template>

<style src="./OxChipGroup.scss" lang="scss"></style>
