/*
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

$text-field-filled-full-width-outlined-single-line-slot-min-height: 32px;
$text-field-single-line-prepend-append-margin-top: 4px;
$text-field-dense-padding: 2px 0 2px;
$text-field-outlined-rounded-slot-padding: 0 16px;
