/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

$collapseSidebarWidth: 50px;
$image-offset-top: $space*15;

.SampleMovieList {
  @include fullPage;
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  transition: grid-template-columns linear .15s;

  @include screenSmallerThan($screenSmall, "800") {
    grid-template-columns: $collapseSidebarWidth 1fr;

    &.filtersExpand {
      grid-template-columns: 1fr;

      .SampleMovieList {
        &-filters {
          @include elevation(4);
          background-color: $grey-50;
          bottom: 0;
          left: 0;
          position: absolute;
          top: -4px;
          width: 400px;
          z-index: 20;
        }

        &-filtersContent {
          display: flex;
        }

        &-filtersMore {
          display: none;
        }

        &-content {
          margin-left: $collapseSidebarWidth;
        }
      }
    }
  }


  &-filters {
    background-color: $grey-50;
    height: inherit;
    position: sticky;
    top: 0;

    @include screenSmallerThan($screenSmall, "800") {
      display: flex;
      justify-content: center;
    }
  }

  &-filtersContent {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*10;
    padding: $space*8 $space*4 $space*8 $space*4;
    position: relative;

    @include screenSmallerThan($screenSmall, "800") {
      display: none;
    }
  }

  &-filterReset {
    position: absolute;
    right: $space*4;
    top: $space*5;
  }

  &-filtersMore {
    display: none;
    margin-top: $space*2;

    @include screenSmallerThan($screenSmall, "800") {
      display: block;
    }
  }

  &-filterGroup {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*2;
  }

  &-filterContent {
    align-items: center;
    display: flex;
    flex-flow: row;
  }

  &-filterName {
    @include subtitle2;
    color: $grey-900;
  }

  &-filterSeparator {
    margin: 0 $space;
  }

  &-filtersCheckbox {
    display: flex;
    flex-flow: column nowrap;
    gap: $space;
  }

  &-filterCheckbox {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*2;
  }

  &-content {
    @include elevation(1, true);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "."
      ".";
  }

  &-header {
    @include elevation(8, true);
    border-bottom: $border;
    height: 96px;
    padding: $space*6 $space*10;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 16;
  }

  &-headerInner {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*4;
    justify-content: space-between;
    width: 60vw;

    @include screenSmallerThan($screenSmall, "800") {
      width: 100%;
    }
  }

  &-title {
    @include h5;
    color: $grey-800;
  }

  &-search {
    flex: 1;
    max-width: 660px;
  }

  &-moviesContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*4;
    padding: $space*4 $space*10 0 $space*10;
    overflow: hidden;
  }

  &-moviesHeader {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 60vw;

    @include screenSmallerThan($screenSmall, "800") {
      max-width: none;
    }
  }

  &-sortSection,
  &-actionsSections {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*4;
  }

  &-counter {
    @include body2;
    @include on-background(medium);
  }

  &-actionsSections {
    gap: $space*5;
  }

  &-movies {
    gap: $space*6;
    justify-items: stretch;
    margin-right: $space*-10;
    max-width: 60vw;

    @include screenSmallerThan($screenSmall, "800") {
      max-width: none;
      padding-right: $space*10;
    }

    &:not(.list) {
      display: grid;
      --column-number: 5;
      grid-template-columns: repeat(var(--column-number), minmax(0, 1fr));

      @include screenLargerThan($screenWide, "400") {
        --column-number: 5;
      }

      @include screenLargerThan($screenWide, "600") {
        --column-number: 6;
      }

      @include screenLargerThan($screenWide, "800") {
        --column-number: 7;
      }

      @include screenSmallerThan($screenWide, "200") {
        --column-number: 4;
      }

      @include screenSmallerThan($screenSmall, "800") {
        --column-number: 5;
      }

      @include screenSmallerThan($screenSmall, "600") {
        --column-number: 4;
      }

      @include screenSmallerThan($screenSmall, "400") {
        --column-number: 3;
      }

      @include screenSmallerThan($screenSmall, "300") {
        --column-number: 2;
      }

      @include screenSmallerThan($screenSmall, "100") {
        --column-number: 1;
      }
    }

    &.list {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &-contextMenu {
    @include on-background(medium);
  }

  &-form {
    @include elevation(1, true);
    @include fullPage;
    bottom: 0;
    padding: 0 $space*20;
    position: fixed;
    z-index: 30;
  }

  &-noData {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding-top: $image-offset-top;
  }

  &-noDataTitle {
    @include h6;
    @include on-background(medium);
    margin-bottom: $space;
  }

  &-noDataDesc {
    @include body2;
    @include on-background(medium);
  }

  &-noDataIllus {
    margin-bottom: $space*6;
    width: clamp(200px, 40vw, 300px);
  }

  &-noResult {
    background-image: url("/modules/sample/images/search.svg");
    background-position: center top;
    background-size: clamp(180px, 40vw, 260px);
    flex: 1;
    margin-top: $image-offset-top;
    padding-top: clamp(180px, 40vw, 260px);
  }

  &-noResultLabel {
    @include body1;
    @include on-background(medium);
    padding-top: $space*4;
    text-align: center;
  }

  &-cardExtendedSkeleton {
    display: flex;

    div {
      &:first-child {
        width: 146px;
      }

      &:nth-child(2) {
        flex: 1;
      }
    }
  }
}
