<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"
import OxLoading from "@oxify/components/OxLoading/OxLoading.vue"
import { mapState } from "pinia"
import { useAppStore } from "@/core/stores/app"

export default Vue.extend({
    name: "OxLoaderHandler",
    components: { OxLoading },
    data () {
        return {
            appbarElement: null as HTMLElement | null
        }
    },
    computed: {
        ...mapState(useAppStore, ["isLoading"]),
        loaderClass (): { [className: string]: boolean } {
            return {
                OxLoaderHandler: true,
                lowered: this.appbarElement !== null
            }
        }
    },
    mounted () {
        // We check if the Appbar is present in the DOM in order to place it under
        this.appbarElement = document.querySelector(".Appbar")
    }
})
</script>

<template>
  <ox-loading
    v-if="isLoading"
    :class="loaderClass"
  />
</template>

<style src="./OxLoaderHandler.scss" lang="scss"></style>
