/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import '@/core/styles/utils';

.OxLoaderHandler {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 752;

  &.lowered {
    top: 55px;
  }
}
