{{*
 * @package Mediboard\System
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

{{mb_default var=callback value=""}}
{{assign var="default_retry_strategy" value='Ox\Mediboard\System\CExchangeSourceAdvanced'|const:DEFAULT_RETRY_STRATEGY}}
{{assign var=statistics value=$source->_ref_last_statistics}}

<script>
  toggleRetryStrategy = function(form_name) {
    var element = getForm(form_name).elements['retry_strategy'];
    element.disabled = element.disabled ? '' : 'disabled';
  }
</script>

<table class="main"> 
  <tr>
    <td>
      <form name="editSourceHTTP-{{$source->name}}" action="?m={{$m}}" method="post"
            onsubmit="return onSubmitFormAjax(this, { onComplete : (function() {
              {{if $callback}}{{$callback}}{{/if}}
              if (this.up('.modal')) {
              Control.Modal.close();
              } else {
              ExchangeSource.refreshExchangeSource('{{$source->name}}', '{{$source->_wanted_type}}');
              }}).bind(this)})">

        <input type="hidden" name="m" value="system" />
        <input type="hidden" name="dosql" value="do_source_http_aed" />
        <input type="hidden" name="source_http_id" value="{{$source->_id}}" />
        <input type="hidden" name="del" value="0" />

        <fieldset>
          <legend>
            {{tr}}CSourceHTTP{{/tr}}
            {{mb_include module=system template=inc_object_history object=$source css_style="float: none"}}
          </legend>

          <table class="main form">
          
            {{mb_include module=system template=CExchangeSource_inc}}

            <tr>
              <th>{{mb_label object=$source field="client_name"}}</th>
              <td>{{mb_field object=$source field="client_name" typeEnum="radio"}}</td>
            </tr>

            <tr>
              <th>{{mb_label object=$source field="token"}}</th>
              <td>{{mb_field object=$source field="token"}}</td>
            </tr>
          </table>
        </fieldset>

        <fieldset>
          <legend>Authentification HTTP</legend>

          <table class="main form">
            <tr>
              <th>{{mb_label object=$source field="user"}}</th>
              <td>{{mb_field object=$source field="user" size="50"}}</td>
            </tr>
            <tr>
              <th>{{mb_label object=$source field="password"}}</th>
              <td>{{mb_field object=$source field="password" size="30"}}</td>
            </tr>
          </table>
        </fieldset>
        <fieldset>
          <legend>{{tr}}CSourceFTP-legend-Resilience options{{/tr}}</legend>
          <table class="main form">
            <tr>
              <th style="width: 120px">{{mb_label object=$source field="retry_strategy"}}</th>
              <td>
                  {{if $source->_id}}
                      {{mb_field object=$source  field="retry_strategy" disabled='disabled'}}
                      <i class="fas fa-lock" onclick="toggleRetryStrategy('editSourceHTTP-{{$source->name}}')"></i>
                  {{else}}
                      {{mb_field object=$source  field="retry_strategy" value=$default_retry_strategy }}
                  {{/if}}
              </td>
            </tr>
            <div class="small-info">
                {{tr}}system-Strategie{{/tr}}
            </div>
            <div class="small-warning">
                {{tr}}system-max-Strategie{{/tr}}
            </div>
          </table>
        </fieldset>
        <table class="main form">
          <tr>
            <td class="button" colspan="2">
              {{if $source->_id}}
                <button class="modify" type="submit">{{tr}}Save{{/tr}}</button>
                <button class="trash" type="button" onclick="confirmDeletion(this.form,
                        { ajax: 1, typeName: '', objName: '{{$source->_view}}'},
                        { onComplete: (function() {
                        if (this.up('.modal')) {
                        Control.Modal.close();
                        } else {
                        ExchangeSource.refreshExchangeSource('{{$source->name}}', '{{$source->_wanted_type}}');
                        }}).bind(this.form)})">

                    {{tr}}Delete{{/tr}}
                </button>
                  <!-- si maximum d'essais atteint, afficher boutton pour debloquer la source -->
                  {{if $source->_blocked}}
                      <button type="button" class="unlock"
                              onclick="ExchangeSource.unlock('{{$source->name}}','{{$source->_class}}');"
                              {{if !$source->_id}}disabled{{/if}}>
                          {{tr}}CSourceHTTP-unlock{{/tr}}
                      </button>
                  {{/if}}
              {{else}}
                  <button class="submit" type="submit">{{tr}}Create{{/tr}}</button>
              {{/if}}
            </td>
          </tr>
        </table>
      </form>
        {{mb_include module=eai template=inc_statistics_source}}
    </td>
  </tr>
</table>
