{{*
 * @package Mediboard\System
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="main">
  <tr>
    <td>
      {{mb_include module=system template=inc_list_redirections}}
    </td>
    <td style="width: 35%;">
      {{mb_include module=system template=inc_edit_redirection}}
    </td>
  </tr>
</table>

