/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.MediuserAvatar {
  &-praticienInitials {
    @include color-white(1);
    @include caption;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 8px;
    text-align: center;
  }
}
