<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Mediuser from "@modules/mediusers/vue/Models/Mediuser"

export default Vue.extend({
    name: "MediuserAvatar",
    props: {
        user: Object as PropType<Mediuser>,
        size: {
            type: Number,
            default: 20
        }
    }
})
</script>

<template>
  <div class="MediuserAvatar">
    <v-avatar
      :color="user?.color"
      left
      :size="size"
    >
      <span class="MediuserAvatar-praticienInitials">
        {{ user.initials }}
      </span>
    </v-avatar>
  </div>
</template>

<style src="./MediuserAvatar.scss" lang="scss"></style>
