<script lang="ts">
import Vue from "vue"

import OxThemeCore from "@oxify/utils/OxThemeCore"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "OxSnackbar",
    components: { OxIcon },
    props: {
        closable: {
            default: true,
            type: Boolean
        },
        text: {
            default: "",
            type: String
        },
        error: {
            default: false,
            type: Boolean
        },
        timeout: {
            default: 5000,
            type: Number
        }
    },
    data: () => {
        return {
            showSnackbar: true
        }
    },
    computed: {
        snackbarClasses (): object {
            return {
                snackError: this.error,
                OxSnackbar: true
            }
        },
        buttonColor (): string {
            return this.error ? OxThemeCore.onPrimaryHighEmphasis : OxThemeCore.primary200
        }
    },
    created () {
        if (!this.error) {
            setTimeout(this.close, this.timeout)
        }
    },
    methods: {
        close (): void {
            this.showSnackbar = false
            this.$emit("click:close")
        }
    }
})
</script>

<template>
  <div
    v-if="showSnackbar"
    :class="snackbarClasses"
  >
    <div class="OxSnackbar-content">
      {{ text }}
    </div>
    <v-btn
      v-if="closable"
      :class="'OxSnackbar-cancel'"
      icon
      rounded
      text
      @click="close"
    >
      <ox-icon icon="cancel" />
    </v-btn>
  </div>
</template>

<style lang="scss" src="./OxSnackbar.scss" />
