/*
  @package Oxify\OxSnackbar
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

@import "@/core/styles/utils";

.OxSnackbar {
  @include elevation(6);
  @include on-primary(high);
  align-items: center;
  background: var(--color-on-background-high);
  border-radius: 4px;
  display: flex;
  min-width: 344px;
  padding: $space*2 $space*2 $space*2 $space*4 !important;
  width: 100%;

  &.snackError {
    background: $error-surface-default !important;

    .OxSnackbar {
      &-content {
        @include color-white(0.87);

        &.snackError {
          @include color-white(0.87, true);
        }
      }
    }
  }

  &-content {
    @include body2;
    @include on-primary(medium);
    flex-grow: 1;
  }

  &-cancel {
    @include color-white(0.87, true);
  }
}
