<script lang="ts">
import Vue, { PropType } from "vue"
import { OxSection } from "@oxify/types/OxSectionsTypes"

export default Vue.extend({
    name: "OxSections",
    props: {
        sections: {
            type: Array as PropType<OxSection[]>,
            required: true
        }
    },
    data: () => {
        return {
            // eslint-disable-next-line no-undef
            elements: {} as HTMLCollectionOf<Element>,
            currentSectionIndex: 0,
            containerElement: {} as HTMLDivElement,
            distanceToBeActive: 200
        }
    },
    computed: {
        activeClass (): Function {
            return (name: string) => this.currentSection.name === name ? "active" : ""
        },
        currentElement (): Element {
            return this.elements.namedItem(this.currentSection.name) as Element
        },
        currentSection (): OxSection {
            return this.sections[this.currentSectionIndex]
        }
    },
    mounted (): void {
        this.containerElement = this.$refs.OxSectionsContainer as HTMLDivElement
        this.elements = this.containerElement.getElementsByClassName("OxSections-section")
        this.currentSectionIndex = 0
        this.containerElement.addEventListener("scroll", this.scrollSection)
    },
    destroyed (): void {
        this.containerElement.removeEventListener("scroll", this.scrollSection)
    },
    methods: {
        selectSection (section: OxSection): void {
            const element = document.getElementById(section.name)

            if (element) {
                element.scrollIntoView({ behavior: "smooth" })
            }
        },
        scrollSection (): void {
            // Forces the currentSection to the last when scroll has reached the bottom
            if (this.containerElement.scrollHeight - this.containerElement.scrollTop === this.containerElement.clientHeight) {
                this.currentSectionIndex = this.sections.length - 1
                return
            }

            /*
             * When the currentSection is under the line symbolizes the "breaking distance"
             *   => the new currentSection is the previous one
             */
            if (this.distanceWithContainer(this.currentElement) > this.distanceToBeActive) {
                if (this.currentSectionIndex > 0) {
                    this.currentSectionIndex = this.currentSectionIndex - 1
                    return
                }
            }

            // Avoids to check nextElement if we're aldready on last
            if (this.currentSectionIndex === this.sections.length - 1) {
                return
            }

            /*
             * Checks if nextSection can become the new currentSection
             *   => if above the line symbolizes the "breaking distance"
             */
            const nextElement = this.elements.item(this.currentSectionIndex + 1) as Element

            if (this.distanceWithContainer(nextElement) < this.distanceToBeActive) {
                this.currentSectionIndex = this.currentSectionIndex + 1
            }
        },

        distanceWithContainer (element: Element): number {
            if (element && element.parentElement) {
                return element.getBoundingClientRect().top - element.parentElement.getBoundingClientRect().top
            }

            return 0
        }
    }
})
</script>

<template>
  <div class="OxSections">
    <div
      ref="OxSectionsContainer"
      class="OxSections-content"
    >
      <section
        v-for="(section, index) of sections"
        :id="section.name"
        :key="'section-' + index"
        class="OxSections-section"
      >
        <h6 class="OxSections-title">
          {{ section.title }}
        </h6>
        <slot :name="section.name" />
      </section>
    </div>
    <div>
      <a
        v-for="(section, index) of sections"
        :id="section.name"
        :key="'aside-' + index"
        class="OxSections-summary"
        :class="activeClass(section.name)"
        @click="selectSection(section)"
      >
        {{ section.title }}
      </a>
    </div>
  </div>
</template>

<style lang="scss" src="./OxSections.scss" />
