/*
  @package Oxify\OxSections
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

@import "@/core/styles/utils";

.OxSections {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  position: relative;

  &-content {
    margin-right: $space*20;
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
  }

  &-section {
    margin-bottom: $space*6;
  }

  &-title {
    @include h6;
    @include on-background(high);
    margin-bottom: $space*3;
  }

  &-summary {
    @include subtitle2;
    align-items: center;
    border-radius: $space;
    color: $secondary-500 !important;
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    min-width: 270px;
    padding: 0 $space*2;
    text-decoration: none;

    &.active {
      background-color: $secondary-50;
      color: $secondary-700 !important;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
