<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import NavTab from "@/components/Appbar/NavTabs/NavTab/NavTab.vue"
import Draggable from "vuedraggable"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import Vue from "vue"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"
import Tab from "@modules/system/vue/models/Tab"

const TabSelector = () => import(/* webpackChunkName: "TabSelector" */ "@/components/Appbar/TabSelector/TabSelector.vue")

/**
 * NavTabs
 * Composant de navigation dans les onglets d'un module
 */
export default Vue.extend({
    name: "NavTabs",
    components: {
        NavTab, OxIcon, TabSelector, Draggable
    },
    data () {
        return {
            showSelector: false,
            hover: false,
            drag: false
        }
    },
    computed: {
        ...mapState(useNavStore, ["currentModule", "tabActive", "currentTabIsParam", "currentTabIsConfig"]),
        showMoreTabs (): boolean {
            return this.currentModule.standardTabs.length > 0 || this.configureTab || this.paramTab
        },
        showCurrentStandardTab (): boolean {
            const index = this.currentModule.pinnedTabs.findIndex((tab: Tab) => {
                return tab.name === this.tabActive
            })
            return index === -1 && this.tabActive !== ""
        },
        tabActiveIsPinnable (): boolean {
            const index = this.currentModule.standardTabs.findIndex((tab: Tab) => {
                return tab.name === this.tabActive
            })
            return index !== -1
        },
        showPinnedTabs (): boolean {
            return this.currentPinnedTabs.length > 0
        },
        currentPinnedTabs: {
            get (): Array<Tab> {
                return this.currentModule.pinnedTabs
            },
            set (tabs: Array<Tab>) {
                this.currentModule.setPinnedTabs(tabs)
            }
        },
        disableDrag (): boolean {
            return this.currentPinnedTabs.length < 2
        },
        moreTabsTabClass (): object {
            return {
                active: this.showSelector,
                standard: this.showCurrentStandardTab
            }
        },
        standardTabClasses (): object {
            return {
                standard: true,
                lonely: !this.showPinnedTabs,
                round: !this.showMoreTabs
            }
        },
        configureTab (): boolean {
            return this.currentModule.configureTabs.length > 0 && !this.currentTabIsConfig
        },
        paramTab (): boolean {
            return this.currentModule.paramTabs.length > 0 && !this.currentTabIsParam
        },
        currentTab (): Tab {
            const tab = new Tab()
            tab.name = this.tabActive ?? ""

            return tab
        }
    },
    methods: {
        isActive (tabName: string): boolean {
            return tabName === this.tabActive
        },
        moreClick () {
            this.showSelector = !this.showSelector
        },
        clickOutside () {
            this.showSelector = false
        },
        addPin (tab: Tab) {
            this.currentModule.pinTab(tab)
        },
        removePin (tab: Tab) {
            this.currentModule.unpinTab(tab)
        },
        enterTabs () {
            this.hover = true
        },
        leaveTabs () {
            this.hover = false
        },
        async endDrag () {
            // Prevent click at the end of drag
            await new Promise(resolve => setTimeout(resolve, 250))
            this.drag = false
        },
        startDrag () {
            this.drag = true
        },
        includeGroup () {
            return [document.querySelector(".NavTabs-standard")]
        }
    }
})
</script>

<template>
  <div class="NavTabs">
    <draggable
      v-if="showPinnedTabs"
      v-model="currentPinnedTabs"
      :animation="150"
      class="NavTabs-pinnedTabs"
      :disabled="disableDrag"
      @end="endDrag"
      @start="startDrag"
    >
      <nav-tab
        v-for="(tab) in currentPinnedTabs"
        :key="tab.name"
        :is-dragging="drag"
        :parent-hover="hover"
        :tab="tab"
        :tab-active="isActive(tab.name)"
        @enter="enterTabs"
        @leave="leaveTabs"
        @removePin="removePin"
      />
    </draggable>
    <div
      class="NavTabs-standard"
      @click="moreClick"
    >
      <nav-tab
        v-if="showCurrentStandardTab"
        :class="standardTabClasses"
        :is-pinned="false"
        :param="currentTabIsParam"
        :show-pin="tabActiveIsPinnable"
        :tab="currentTab"
        :tab-active="true"
        @addPin="addPin"
      />
    </div>
    <div
      v-click-outside="{
        handler: clickOutside,
        include: includeGroup
      }"
      class="NavTabs-moreContainer"
    >
      <div
        v-if="showMoreTabs"
        class="NavTabs-moreTab"
        :class="moreTabsTabClass"
        @click="moreClick"
      >
        <ox-icon icon="chevronDown" />
      </div>
      <div
        v-if="showMoreTabs"
        class="NavTabs-tabSelector"
      >
        <keep-alive>
          <tab-selector
            v-if="showSelector"
            :configure="configureTab"
            :param="paramTab"
            :tabs="currentModule.standardTabs"
            @addPin="addPin"
            @removePin="removePin"
          />
        </keep-alive>
      </div>
    </div>
  </div>
</template>

<style src="./NavTabs.scss" lang="scss"></style>
