<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import SampleMovie from "@modules/sample/vue/models/SampleMovie"
import OxValue from "@/core/components/OxValue/OxValue.vue"

export default Vue.extend({
    name: "SampleMovieTooltip",
    components: {
        OxValue
    },
    props: {
        movie: {
            type: Object as PropType<SampleMovie>,
            required: true
        }
    }
})
</script>

<template>
  <div class="SampleMovieTooltip">
    <div>
      <img
        :alt="movie.title"
        class="SampleMovieTooltip-cover"
        :src="movie.image"
      >
    </div>
    <div class="SampleMovieTooltip-content">
      <div class="SampleMovieTooltip-header">
        <div class="SampleMovieTooltip-generalInfo">
          <div class="SampleMovieTooltip-title">
            {{ movie.title }}
          </div>
          <div class="SampleMovieTooltip-informations">
            {{ movie.category.name }} -
            <ox-value
              field-name="duration"
              inline
              :resource-name="movie.type"
              :value="movie.duration"
            />
          </div>
        </div>
      </div>
      <ox-value
        v-if="movie.description"
        class="SampleMovieTooltip-description"
        field-name="description"
        :resource-name="movie.type"
        :value="movie.description"
      />
      <div
        v-else
        class="SampleMovieTooltip-description"
      >
        {{ $tr("CSampleMovie-description-none") }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./SampleMovieTooltip.scss" />
