/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleMovieTooltip {
  display: flex;
  gap: $space*3;

  &-cover {
    border-radius: 6px;
    height: 100px;
    margin-top: $space*3;
    object-fit: cover;
    position: sticky;
    top: $space*3;
    width: 75px;
  }

  &-header {
    @include elevation(8, true);
    display: flex;
    padding-top: $space*3;
    position: sticky;
    top: 0;
  }

  &-generalInfo {
    padding-bottom: $space*2;
  }

  &-title {
    @include subtitle2;
    padding-bottom: $space;
  }

  &-informations {
    @include caption;
    @include on-background(medium);
  }

  &-description {
    @include caption;
    @include on-background(high);
  }
}
