/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.ToDoList {
  height: 100%;

  &-closedContent {
    margin-top: $space*6;
    text-align: center;
    width: 100%;
  }

  &-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $space*6 $space*2 0 $space*6;
  }

  &-list {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 62px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: $space*4;
  }

  &-title {
    @include h6;
  }

  &-add {
    margin: $space*3 $space*2 0 0;
    padding: $space*2 $space*2 $space*2 0;
    text-align: center;
    width: 100%;
  }
}
