{{*
 * @package Mediboard\PlanningOp
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="main tbl">
  <tr>
    <th class="title" colspan="3">
      {{tr}}CPermModule-Rights on the modules{{/tr}}
    </th>
  </tr>
  <tr>
    <th rowspan="2">{{tr}}common-Color|pl{{/tr}}</th>
    <th colspan="2">{{tr}}Description{{/tr}}</th>
  </tr>
  <tr>
    <th>{{tr}}common-Left{{/tr}}</th>
    <th style="width: 9em;">{{tr}}common-Right{{/tr}}</th>
  </tr>
  <tr>
    <td>
      <div class="bullet empty"></div>
      <div class="bullet empty"></div>
    </td>
    <td>{{tr}}CPermModule.permission.0{{/tr}}</td>
    <td>{{tr}}CPermModule.view.0{{/tr}}</td>
  </tr>
  <tr>
    <td>
      <div class="bullet edit"></div>
      <div class="bullet edit"></div>
    </td>
    <td>{{tr}}CPermModule.permission.2{{/tr}}</td>
    <td>{{tr}}CPermModule.view.2{{/tr}}</td>
  </tr>
  <tr>
    <td>
      <div class="bullet read"></div>
      <div class="bullet read"></div>
    </td>
    <td>{{tr}}CPermModule.permission.1{{/tr}}</td>
    <td>{{tr}}CPermModule.view.1{{/tr}}</td>
  </tr>
  <tr>
    <td>
      <div style="background-color: #faa; padding: 8px 5px; width: 10px;"></div>
    </td>
    <td colspan="2" style="text-align: center;">{{tr}}CPermModule-User rights{{/tr}}</td>
  </tr>
</table>
