{{*
 * @package Mediboard\Admissions
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="tbl me-no-box-shadow">
    <tr>
        <th class="title">{{tr}}module-dPadmissions-court{{/tr}}</th>
    </tr>
    <tr class="sejour-type-default sejour-type-ambu">
        <td class="text">{{tr}}CSejour.type.ambu{{/tr}}</td>
    </tr>
    <tr class="sejour-type-default sejour-type-comp">
        <td class="text">{{tr}}CSejour.type.comp{{/tr}}</td>
    </tr>
    <tr class="sejour-type-default sejour-type-ssr">
        <td class="text">{{tr}}CSejour.type.ssr{{/tr}}/{{tr}}CSejour.type.psy.short{{/tr}}</td>
    </tr>
    <tr class="sejour-type-default sejour-type-exte">
        <td class="text">{{tr}}CSejour.type.exte{{/tr}}</td>
    </tr>
    <tr class="sejour-type-default sejour-type-consult">
        <td class="text">{{tr}}CSejour.type.consult{{/tr}}</td>
    </tr>
    <tr class="non-facturable">
        <td class="text">{{tr}}CSejour-not_facturable{{/tr}}</td>
    </tr>
</table>
