{{*
 * @package Mediboard\CompteRendu
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*}}

<table class="main me-align-auto">
  <tr>
    <td>
      {{mb_include template=inc_form_liste_choix}}
    </td>
  </tr>
  <tr>
    <td>
      <div id="list-choix">
        {{mb_include template=inc_list_choix}}
      </div>
    </td>
  </tr>
</table>