/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

$collapseSidebarWidth: 50px;
$image-offset-top: $space*15;

.ExtractDataLogList {
  @include fullPage;
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  transition: grid-template-columns linear .15s;

  @include screenSmallerThan($screenSmall, "800") {
    grid-template-columns: $collapseSidebarWidth 1fr;

    &.filtersExpand {
      grid-template-columns: 1fr;

      .ExtractDataLogList {
        &-filters {
          @include elevation(4);
          background-color: $grey-50;
          bottom: 0;
          left: 0;
          position: absolute;
          top: -4px;
          width: 400px;
          z-index: 1;
        }

        &-filtersContent {
          display: flex;
        }

        &-filtersMore {
          display: none;
        }

        &-content {
          margin-left: $collapseSidebarWidth;
        }
      }
    }
  }

  &-action {
    display: none;
  }

  &-filters {
    background-color: $grey-50;
    overflow: hidden;

    @include screenSmallerThan($screenSmall, "800") {
      display: flex;
      justify-content: center;
    }
  }

  &-filtersContent {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*10;
    padding: $space*8 $space*4 $space*8 $space*4;
    position: relative;

    @include screenSmallerThan($screenSmall, "800") {
      display: none;
    }
  }

  &-filterReset {
    position: absolute;
    right: $space*4;
    top: $space*5;
  }

  &-filtersMore {
    display: none;
    margin-top: $space*2;

    @include screenSmallerThan($screenSmall, "800") {
      display: block;
    }
  }

  &-filterGroup {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*2;
  }

  &-filterContent {
    align-items: center;
    display: flex;
    flex-flow: row;
  }

  &-filterName {
    @include subtitle2;
    color: $grey-900;
  }

  &-filterSeparator {
    margin: 0 $space;
  }

  &-content {
    @include elevation(1, true);
    height: 100%;
    overflow: hidden;
  }

  &-header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*4;
    height: 96px;
    justify-content: space-between;
    padding: $space*6 $space*10;
    width: 100%;
  }

  &-title {
    @include h5;
    color: $grey-800;
  }

  &-refresh {
    flex: 1;
  }

  &-logsContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $space*4;
    padding: $space*4 $space*10 0 $space*10;
    overflow: hidden;
  }
}
