<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import ExtractDataLog from "../../models/ExtractDataLog"
import OxCollection from "@/core/models/OxCollection"
import { OxDatagridColumn } from "@/core/types/OxDatagridTypes"
import { OxEntryPointLinks } from "@/core/types/OxEntryPointTypes"
import { prepareForm } from "@/core/utils/OxSchemaManager"
import { OxUrlFilter } from "@/core/types/OxUrlTypes"
import OxDatagrid from "@/core/components/OxDatagrid/OxDatagrid.vue"
import { debounce } from "lodash"
import OxDatepicker from "@oxify/components/OxField/OxDatepicker/OxDatepicker.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxSelect from "@oxify/components/OxField/OxSelect/OxSelect.vue"
import OxTextField from "@oxify/components/OxField/OxTextField/OxTextField.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"

/* global ObjectTooltip */

export default Vue.extend({
    name: "ExtractDataLogList",
    components: {
        OxDatagrid,
        OxDatepicker,
        OxButton,
        OxSelect,
        OxTextField,
        OxDialog
    },
    filters: {
        pretty: function (value) {
            return JSON.stringify(JSON.parse(value), null, 2)
        }
    },
    props: {
        links: Object as PropType<OxEntryPointLinks>
    },
    data () {
        return {
            columns: [
                {
                    text: this.$tr("CExtractDataLog-user_id"),
                    value: "fullName",
                    filterValues: ["user_id"]
                },
                {
                    value: "fileName"
                },
                {
                    value: "profile"
                },
                {
                    value: "datetime"
                }
            ] as OxDatagridColumn[],
            filtersExpand: false,
            dialog: false,
            pageReady: false,
            logClass: ExtractDataLog,
            log: null as ExtractDataLog | null,
            logs: {} as OxCollection<ExtractDataLog>,

            // Filters
            dateMaxFilter: "",
            dateMinFilter: "",
            fileName: "",
            userId: "",
            profile: "",
            profiles: [
                {
                    _id: "mrz",
                    view: this.$tr("CExtractDataLog.profile.mrz")
                },
                {
                    _id: "id_picture",
                    view: this.$tr("CExtractDataLog.profile.id_picture")
                },
                {
                    _id: "qr_code",
                    view: this.$tr("CExtractDataLog.profile.qr_code")
                },
                {
                    _id: "content",
                    view: this.$tr("CExtractDataLog.profile.content")
                }
            ],

            url: new OxUrlBuilder(this.links?.logList)
                .withLimit("20")
                .withSort({ choice: "datetime", sort: "DESC" })
                .withFieldsets(["default"])
                .withRelations(["mediuser"])
        }
    },
    computed: {
        pageClasses (): { [key: string]: boolean } {
            return {
                filtersExpand: this.filtersExpand
            }
        },
        showResetButton (): boolean {
            return !!this.fileName ||
          !!this.userId ||
          !!this.profile ||
          !!this.dateMinFilter ||
          !!this.dateMaxFilter ||
          !!this.profile
        }
    },
    async created () {
        this.logs = await getCollectionFromJsonApiRequest(ExtractDataLog, this.url.toString())
        await prepareForm("extract_data_log")
        this.pageReady = true
    },
    methods: {
    /**
     * Show log content in a dialog
     * @param item {ExtractDataLog}
     */
        async viewLogContent (item: ExtractDataLog) {
            const url = this.url
                .addFieldset("extra")
                .withFilters({
                    key: "extract_data_log_id",
                    operator: "equal",
                    value: item.id
                })
            this.log = (await getCollectionFromJsonApiRequest(ExtractDataLog, url.toString())).objects[0]

            this.dialog = true
        },

        // UI Manipulation
        expandFilters () {
            this.filtersExpand = true
        },
        collapseFilters () {
            this.filtersExpand = false
        },

        // Filters manipulation
        changeDateMin (date: string) {
            this.dateMinFilter = date
            this.loadLogs()
        },
        changeDateMax (date: string) {
            this.dateMaxFilter = date
            this.loadLogs()
        },
        changeFileName (fileName: string) {
            this.fileName = fileName
            this.loadLogs()
        },
        changeUserId (userId: string) {
            this.userId = userId
            this.loadLogs()
        },
        changeProfile (profile: string) {
            this.profile = profile
            this.loadLogs()
        },
        resetFilters () {
            this.dateMinFilter = ""
            this.dateMaxFilter = ""
            this.fileName = ""
            this.userId = ""
            this.profile = ""
            this.updateLogs()
        },

        // Prevent too many request
        loadLogs: debounce(
            async function (this) {
                await this.updateLogs()
            },
            400
        ),

        /**
         * Get logs from API based on filters.
         */
        async updateLogs () {
            const url = this.url.withOffset(null)
            const filters: OxUrlFilter[] = []

            if (this.dateMinFilter) {
                filters.push({ key: "datetime", operator: "greaterOrEqual", value: this.dateMinFilter })
            }
            if (this.dateMaxFilter) {
                filters.push({ key: "datetime", operator: "lessOrEqual", value: this.dateMaxFilter })
            }
            if (this.fileName) {
                filters.push({ key: "file_name", operator: "contains", value: this.fileName })
            }
            if (this.userId) {
                filters.push({ key: "user_id", operator: "equal", value: this.userId })
            }
            if (this.profile) {
                filters.push({ key: "profile", operator: "equal", value: this.profile })
            }

            url.withFilters(...filters)
            await (this.$refs.datagrid as InstanceType<typeof OxDatagrid>).refresh(url)
        },

        tooltip (event, userId) {
            // @ts-ignore
            ObjectTooltip.createEx(event.srcElement, "CUser-" + userId)
        }
    }
})
</script>

<template>
  <div
    class="ExtractDataLogList"
    :class="pageClasses"
  >
    <!-- Aside left section (filters) -->
    <div
      class="ExtractDataLogList-filters"
      @mouseleave="collapseFilters"
    >
      <div class="ExtractDataLogList-filtersContent">
        <div
          v-if="showResetButton"
          class="ExtractDataLogList-filterReset"
        >
          <ox-button
            button-style="tertiary"
            :label="$tr('Reset')"
            @click="resetFilters"
          />
        </div>
        <div class="ExtractDataLogList-filterGroup">
          <div class="ExtractDataLogList-filterName">
            {{ $tr('CExtractDataLog-datetime') }}
          </div>
          <div class="ExtractDataLogList-filterContent">
            <ox-datepicker
              :label="$tr('CExtractDataLog-_datetime_min')"
              :value="dateMinFilter"
              @change="changeDateMin"
            />
            <span class="ExtractDataLogList-filterSeparator"> - </span>
            <ox-datepicker
              :label="$tr('CExtractDataLog-_datetime_max')"
              :value="dateMaxFilter"
              @change="changeDateMax"
            />
          </div>
        </div>
        <div class="ExtractDataLogList-filterGroup">
          <div class="ExtractDataLogList-filterName">
            {{ $tr('CExtractDataLog-profile') }}
          </div>
          <div class="ExtractDataLogList-filterContent">
            <ox-select
              class="pb-4"
              :label="$tr('extractData-msg-Available profiles')"
              :list="profiles"
              @change="changeProfile"
            />
          </div>
        </div>
        <div class="ExtractDataLogList-filterGroup">
          <div class="ExtractDataLogList-filterName">
            {{ $tr('File') }}
          </div>
          <div class="ExtractDataLogList-filterContent">
            <ox-text-field
              :label="$tr('CExtractDataLog-file_name')"
              :value="fileName"
              @change="changeFileName"
            />
          </div>
        </div>
        <div class="ExtractDataLogList-filterGroup">
          <div class="ExtractDataLogList-filterName">
            {{ $tr('CExtractDataLog-user_id') }}
          </div>
          <div class="ExtractDataLogList-filterContent">
            <ox-text-field
              :label="$tr('CExtractDataLog-user_id')"
              :value="userId"
              @change="changeUserId"
            />
          </div>
        </div>
      </div>
      <div class="ExtractDataLogList-filtersMore">
        <ox-button
          button-style="tertiary-dark"
          icon="chevronRight"
          @click="expandFilters"
        />
      </div>
    </div>
    <!--    Main content (movie list)-->
    <div class="ExtractDataLogList-content">
      <div class="ExtractDataLogList-header">
        <div class="ExtractDataLogList-title">
          {{ $tr('mod-extractData-tab-displayLogs') }}
        </div>
        <div class="ExtractDataLogList-refresh">
          <ox-button
            button-style="tertiary"
            icon="refresh"
            :label="$tr('Refresh')"
            @click="loadLogs"
          />
        </div>
      </div>
      <div class="ExtractDataLogList-logsContainer">
        <div
          v-if="pageReady"
          class="ExtractDataLogList-logs"
        >
          <div class="ExtractDataLogList-action">
            <ox-dialog
              v-if="log"
              v-model="dialog"
              separated
              :title="'Extraction du ' + log.datetime + ' (' + log.id + ') de ' + log.mediuser.lastName + ' ' + log.mediuser.firstName"
              width="900"
            >
              <pre>{{ log.content | pretty }}</pre>
            </ox-dialog>
          </div>
          <ox-datagrid
            ref="datagrid"
            v-model="logs"
            :columns="columns"
            fixed-headers
            :no-data-text="$tr('CExtractDataLog.none')"
            :ox-object="logClass"
            :search-label="$tr('CExtractDataLog-msg-search')"
            show-actions
            stripped
          >
            <!-- eslint-disable-next-line -->
            <template #item.fullName="{ item }">
              <label
                class="ExtractDataLogList-label"
                @mouseover="tooltip($event, item.userId)"
              >{{ item.mediuser.lastName }} {{
                item.mediuser.firstName
              }}</label>
            </template>
            <!-- eslint-disable-next-line -->
            <template #item.actions="{ item }">
              <ox-button
                button-style="tertiary-dark"
                icon="eye"
                @click="viewLogContent(item)"
              />
            </template>
          </ox-datagrid>
        </div>
        <div
          v-else
          class="ExtractDataLogList-datagrid"
        >
          <v-skeleton-loader
            height="48"
            type="text"
          />
          <v-skeleton-loader
            type="table-row-divider@10, table-tfoot"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style src="./ExtractDataLogList.scss" lang="scss"></style>
