<!--
  @package Oxify/OxField
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">

import Vue from "vue"
import OxFieldStrCore from "@oxify/components/OxField/OxFieldStrCore"

export default Vue.extend({
    name: "OxTextarea",
    extends: OxFieldStrCore,
    props: {
        autofocus: {
            type: Boolean,
            default: false
        },
        rows: {
            type: Number,
            default: 5
        }
    },
    methods: {
        /**
         * Public method to manually focus this component
         */
        bindFocus (): void {
            const inputElement = this.$el.querySelector("textarea") as HTMLTextAreaElement
            if (inputElement) {
                inputElement.focus()
            }
        },

        /**
         * Blur event
         */
        blur (): void {
            this.$emit("blur")
        },

        /**
         * Focus event
         */
        focus (): void {
            this.$emit("focus")
        },

        /**
         * Keyup event
         */
        keyup (event: KeyboardEvent): void {
            this.$emit("keyup", event)
        }
    }
})
</script>

<template>
  <v-textarea
    :append-icon="icon ? iconName : ''"
    :autofocus="autofocus"
    :background-color="fieldBG"
    :color="fieldColor"
    :counter="counter"
    :dark="onPrimary"
    :disabled="disabled"
    filled
    hide-details="auto"
    :hint="hint"
    :label="labelComputed"
    :loading="showLoading"
    :maxlength="maxlength"
    :name="name"
    persistent-hint
    :rows="rows"
    :rules="fieldRules"
    :value="value"
    @blur="blur"
    @focus="focus"
    @input="change"
    @keyup="keyup"
  />
</template>
