/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxDatalist {
  height: 100%;

  .flip-list-move {
    transition: transform 0.5s;
  }

  &-search {
    padding: $space*3 $space*4;
  }

  &-searchQuery {
    @include caption;
    margin-bottom: 0 !important;
    padding: $space*3 $space*4;
  }

  &-table {
    @include elevation(0);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    &.massActionsEnabled {
      table {
        margin-top: -48px;
      }

      .OxDatalist-customHeader + thead {
        visibility: hidden;
      }
    }
  }

  &-filters {
    align-items: center;
    border-bottom: $border;
    display: flex;
    padding: 0 $space*4;
  }

  &-filterIcon {
    padding-right: $space*4;
  }

  &-customHeaderCell {
    @include elevation(1, true);

    &:first-child {
      min-width: 1px;
      width: 1px;
    }

    &::before {
      background-color: alpha($secondary-500, 0.12) !important;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  th {
    @include body2(true);
    @include on-background(medium, true);
    vertical-align: inherit;
  }

  &-tableHeaderActions {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &-nbSelected {
    @include body1;
    @include on-background(high);
    width: 140px;
  }

  &-massActions {
    display: flex;
    gap: $space*4;
  }

  &-tableRow {
    @include body2(true);
    @include on-background(high);

    &:not(.dragActive).hovered {
      background-color: $background-hover !important;
      cursor: pointer;

      .OxDatalist-tableActionsButtons {
        visibility: visible;
      }

      .OxDatalist-draggable {
        visibility: visible;
      }
    }

    &.dragged {
      background-color: $surface-secondary-selected !important;

      .OxDatalist-draggable {
        visibility: visible;
      }
    }

    &.stripped {
      &:nth-child(even) {
        background-color: $background-light;
      }

      td {
        border: 0 !important;
      }
    }

    // Vuetify override
    &.v-data-table__selected {
      background-color: alpha($secondary-500, 0.12) !important;
    }
  }

  &-tableActionsButtons {
    visibility: hidden;
  }

  &-draggable {
    visibility: hidden;
  }

  &-selectCell,
  &-tableCell:first-child {
    align-items: center;
    display: flex;
  }

  &-selectCellEmpty {
    width: 20px;
  }
}
