<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import History from "@modules/system/vue/models/History"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"

export default Vue.extend({
    name: "HistorySmallLine",
    components: {
        OxIcon,
        OxTooltip
    },
    props: {
        history: {
            type: Object as PropType<History>,
            required: true
        }
    },
    computed: {
        typeLogo (): string {
            if (this.history.historyType === "create") {
                return "add"
            }
            else if (this.history.historyType === "merge") {
                return "call"
            }

            return "edit"
        }
    }
})
</script>

<template>
  <div class="HistorySmallLine">
    <ox-tooltip>
      <template #content="{ on }">
        <div
          class="HistorySmallLine-icon"
          v-on="on"
        >
          <ox-icon
            :icon="typeLogo"
            :size="12"
          />
        </div>
      </template>
      <div class="HistorySmallLine-type">
        {{ $tr("system-msg-" + history.historyType) }}
      </div>
    </ox-tooltip>
    <div class="HistorySmallLine-user">
      {{ history.user.fullName }}
    </div>
    <div class="HistorySmallLine-dateTooltip">
      <ox-tooltip>
        <template #content="{ on }">
          <div
            class="HistorySmallLine-date"
            v-on="on"
          >
            {{ history.dateFromNow }}
          </div>
        </template>
        {{ history.dateData }}
      </ox-tooltip>
    </div>
  </div>
</template>

<style lang="scss" src="./HistorySmallLine.scss" />
