/**
 * @package Oxify\OxProgressLinear
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxProgressLinear {
  background-color: $grey-100;
  border-radius: 99px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
