<!--
 @package Oxify\OxProgressLinear
 @author  SAS OpenXtrem <dev@openxtrem.com>
 @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"

export default Vue.extend({
    name: "OxProgressLinear",
    props: {
        bufferColor: {
            type: String
        },
        bufferValue: {
            type: [Number, String],
            default: 0
        },
        color: {
            type: String,
            default: OxThemeCore.primary
        },
        height: {
            type: [Number, String]
        },
        value: {
            type: [Number, String],
            default: 0
        }
    }
})
</script>

<template>
  <div class="OxProgressLinear">
    <v-progress-linear
      :background-color="bufferColor"
      :buffer-value="bufferValue"
      :color="color"
      :height="height"
      :value="value"
    />
  </div>
</template>

<style src="./OxProgressLinear.scss" lang="scss"></style>
