<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import OxModuleIcon from "@/components/Visual/Basics/OxModuleIcon/OxModuleIcon.vue"
import TabLine from "@/components/Appbar/TabLine/TabLine.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import Vue, { PropType } from "vue"
import Module from "@/core/models/Module"
import Tab from "@modules/system/vue/models/Tab"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"
import { useUserStore } from "@/core/stores/user"
import { getTabForModule } from "@/components/Appbar/utils/DefaultCache"
const Draggable = () => import(/* webpackChunkName: "DraggableDetail" */ "vuedraggable")

/**
 * ModuleDetail
 * Composant de detail d'un module
 */
export default Vue.extend({
    name: "ModuleDetail",
    components: { OxModuleIcon, TabLine, OxButton, Draggable },
    props: {
        module: {
            type: [Object, Boolean] as PropType<Module>,
            required: true
        },
        focusTabIndex: {
            type: Number,
            default: -1
        }
    },
    data () {
        return {
            defaultTab: undefined as string | undefined
        }
    },
    computed: {
        showPinnedTabs (): boolean {
            return this.module.pinnedTabs.length > 0
        },
        showStandardTabs (): boolean {
            return this.module.standardTabs.length > 0
        },
        showDetail (): boolean {
            return typeof this.module !== "boolean"
        },
        showParam (): boolean {
            return this.module.paramTabs.length > 0
        },
        showConfig (): boolean {
            return this.module.configureTabs.length > 0
        },
        showFooter (): boolean {
            return this.showParam || this.showConfig
        },
        currentPinnedTabs: {
            get (): Array<Tab> {
                return this.module.pinnedTabs
            },
            set (tabs: Array<Tab>) {
                this.$emit("changePin", tabs)
            }
        },
        disableDrag (): boolean {
            return this.module.pinnedTabs.length < 2
        },
        paramTab (): Tab {
            const tab = new Tab()
            tab.name = ""
            tab.url = this.module.paramTabs[0].url
            return tab
        },
        configTab (): Tab {
            const tab = new Tab()
            tab.name = this.module.configureTabs[0].name
            tab.url = this.module.configureTabs[0].url
            return tab
        },
        checkFocusForParam (): boolean {
            return (this.focusTabIndex === this.module.pinnedTabs.length + this.module.standardTabs.length) &&
                this.showParam
        },
        checkFocusForConfig (): boolean {
            return ((this.focusTabIndex === this.module.pinnedTabs.length + this.module.standardTabs.length + 1) &&
                    this.showParam && this.showConfig) ||
                ((this.focusTabIndex === this.module.pinnedTabs.length + this.module.standardTabs.length) &&
                    !this.showParam && this.showConfig)
        },
        ...mapState(useNavStore, ["currentModule", "tabActive", "currentTabIsParam", "currentTabIsConfig"])
    },
    watch: {
        module (newVal) {
            if (typeof newVal !== "boolean") {
                const userStore = useUserStore()
                this.defaultTab = getTabForModule(userStore.sessionHash, this.module.name)
            }
        }
    },
    created () {
        const userStore = useUserStore()
        this.defaultTab = getTabForModule(userStore.sessionHash, this.module.name)
    },
    methods: {
        addPin (tab) {
            this.$emit("addPin", tab)
        },
        removePin (tab) {
            this.$emit("removePin", tab)
        },
        checkTabActive (tabName: string, context?: string): boolean {
            if (this.module.name !== this.currentModule.name) {
                return false
            }
            if (!context) {
                return tabName === this.tabActive
            }
            if (context === "param") {
                return this.currentTabIsParam
            }
            if (context === "config") {
                return this.currentTabIsConfig
            }
            return false
        },
        checkFocus (index: number): boolean {
            return this.focusTabIndex === index
        },
        checkFocusForStandard (index: number): boolean {
            return this.focusTabIndex === index + this.module.pinnedTabs.length
        },
        unsetFocus () {
            this.$emit("unsetFocus")
        }
    }
})
</script>

<template>
  <div class="ModuleDetail">
    <div
      v-if="showDetail"
      key="content"
      class="ModuleDetail-mainContent"
    >
      <div class="ModuleDetail-header">
        <a
          class="ModuleDetail-title"
          :href="defaultTab"
        >
          {{ $tr("module-" + module.name + "-court") }}
        </a>
        <div class="ModuleDetail-icon">
          <ox-module-icon
            :module-category="module.category"
            :module-name="module.name"
          />
        </div>
      </div>
      <div class="ModuleDetail-content">
        <draggable
          v-if="showPinnedTabs"
          v-model="currentPinnedTabs"
          :animation="150"
          :disabled="disableDrag"
        >
          <tab-line
            v-for="(tab, index) in module.pinnedTabs"
            :key="index"
            :is-active="checkTabActive(tab.name)"
            :is-focus="checkFocus(index)"
            :module-name="module.name"
            :pined="true"
            :tab="tab"
            @changePin="removePin"
            @unsetFocus="unsetFocus"
          />
        </draggable>
        <div v-if="showStandardTabs">
          <tab-line
            v-for="(tab, index) in module.standardTabs"
            :key="index"
            class="ModuleDetail-tab"
            :is-active="checkTabActive(tab.name)"
            :is-focus="checkFocusForStandard(index)"
            :module-name="module.name"
            :tab="tab"
            @changePin="addPin"
            @unsetFocus="unsetFocus"
          />
        </div>
      </div>
      <div
        v-if="showFooter"
        class="ModuleDetail-footer"
      >
        <tab-line
          v-if="showParam"
          :is-active="checkTabActive('', 'param')"
          :is-focus="checkFocusForParam"
          :module-name="module.name"
          :param="true"
          :show-pin="false"
          :tab="paramTab"
          @unsetFocus="unsetFocus"
        />
        <tab-line
          v-if="showConfig"
          :is-active="checkTabActive('','config')"
          :is-focus="checkFocusForConfig"
          :module-name="module.name"
          :show-pin="false"
          :tab="configTab"
          @unsetFocus="unsetFocus"
        />
      </div>
      <div class="ModuleDetail-cta">
        <ox-button
          button-style="tertiary"
          :href="defaultTab"
          :label="$tr('Appbar-NavModule-DetailModule-CTA-access')"
        />
      </div>
    </div>
    <div
      v-else
      key="skeleton"
      class="ModuleDetailSkeleton"
    >
      <div class="ModuleDetailSkeleton-header">
        <div class="ModuleDetailSkeleton-title" />
        <div class="ModuleDetailSkeleton-icon" />
      </div>
      <div class="ModuleDetailSkeleton-content">
        <div class="ModuleDetailSkeleton-tabLine" />
        <div class="ModuleDetailSkeleton-tabLine opacity-80 variantWidth1" />
        <div class="ModuleDetailSkeleton-tabLine opacity-70" />
        <div class="ModuleDetailSkeleton-tabLine opacity-60 variantWidth2" />
        <div class="ModuleDetailSkeleton-tabLine opacity-50 variantWidth3" />
      </div>
      <div class="ModuleDetailSkeleton-cta">
        <ox-button
          button-style="tertiary"
          :label="$tr('Appbar-NavModule-DetailModule-CTA-access')"
        />
      </div>
    </div>
  </div>
</template>

<style src="./ModuleDetail.scss" lang="scss"></style>
