{# @author  SAS OpenXtrem <dev@openxtrem.com> #}
{# @license https://www.gnu.org/licenses/gpl.html GNU General Public License #}
{# @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License #}

<!DOCTYPE html>
<html>
<head>
    <base href="{{ ox_relative_base_href() }}">
    <meta http-equiv="Content-Type" content="text/html;charset={{ Translator.getCharset() }}"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no" />

    <link href="style/mediboard_ext/vendor/fonts/roboto/roboto.css" rel="stylesheet">
    <link href="style/mediboard_ext/vendor/fonts/materialdesignicons/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="style/mediboard_ext/images/icons/favicon.ico" rel="shortcut icon" type="image/png"/>

    <title>{% block title %}{{ Conf.get('product_name') }}{% endblock %}</title>

    {% block head %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" charset="UTF-8" src="javascript/dist/js/runtime.js"></script>
        <script type="text/javascript" charset="UTF-8" src="javascript/dist/js/chunk-vendors.js"></script>
        <script type="text/javascript" charset="UTF-8" src="javascript/dist/js/chunk-common.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
