{# @author  SAS OpenXtrem <dev@openxtrem.com> #}
{# @license https://www.gnu.org/licenses/gpl.html GNU General Public License #}
{# @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License #}

<!DOCTYPE html>
<html>
<head>
    <meta charset=iso-8859-1"/>
    <meta name="Description" content="OX Platform"/>

    <title>{{ application }} unavailable</title>

    <base href="{{ ox_relative_base_href() }}">
    <link rel="shortcut icon" type="image/ico" href="style/mediboard_ext/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="style/mediboard_ext/errorPage.css" media="all"/>
</head>
<body class="offline">

<div class="ErrorPage">
    <div class="ErrorPage-content">
        <img
            alt="{{ application }}"
            class="ErrorPage-appImage"
            src="{{ src_logo }}"
        >
        <div class="ErrorPage-title">
            {{ application }} unavailable
        </div>
        <div class="ErrorPage-description">
        <span>
            {{ message }}
        </span>
            <br>
            <span>Please try again later. If the error persists, please notify your administrator.</span>
        </div>
        <a class="ErrorPage-button" href="">Try again</a>
    </div>
    <img
        alt="Error illustration"
        class="ErrorPage-illustration"
        src="images/illustrations/offline.svg"
    >
</div>

</body>
</html>
