<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
// TS Import
import Vue, { PropType } from "vue"
import Patient from "@modules/dPpatients/vue/models/Patient"
// Vue Import
import OxThemeCore from "@oxify/utils/OxThemeCore"

// TODO: Start - To be removed when the new NoteSystem are available
/* eslint-disable no-undef */
// TODO: End - To be removed when the new NoteSystem are available

export default Vue.extend({
    name: "PatientAvatar",
    components: {},
    props: {
        patient: Object as PropType<Patient>,
        size: {
            type: [Number, String],
            default: 48
        },
        showPostIt: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            postItColor: OxThemeCore.secondary
        }
    },
    computed: {
        styleAvatar (): object {
            return (this.patient?.avatar)
                ? { size: this.size }
                : { size: this.size, color: OxThemeCore.grey50 }
        },
        styleIcon (): object {
            return { size: Number(this.size) / 2.5, color: OxThemeCore.grey500 }
        }
    },
    methods: {
        showNote (event) {
            if (this.showPostIt) {
                // @ts-ignore
                ObjectTooltip.createEx(event.srcElement, this.patient.guid, "objectNotes")
            }
        },
        createNote () {
            if (this.showPostIt) {
                // @ts-ignore
                Note.create(this.patient.guid)
            }
        }
    }
})
</script>

<template>
  <div
    class="PatientAvatar"
    :style="{ width: size + 'px', height: size + 'px' }"
  >
    <v-avatar v-bind="styleAvatar">
      <img
        v-if="patient.avatar"
        alt=""
        :src="patient.avatar"
      >
      <!-- TODO: Start - Replace by an Oxify icon (camera) -->
      <v-icon
        v-else
        v-bind="styleIcon"
      >
        mdi-camera
      </v-icon>
      <!-- TODO: End - Replace by an Oxify icon (camera) -->
    </v-avatar>
    <div
      v-if="showPostIt"
      class="PatientAvatar-wrapper"
      @click="createNote"
      @mouseover="showNote"
    >
      <div class="PatientAvatar-postIt">
        <!-- TODO: Start - Replace by an Oxify icon (postIt) when the new NoteSystem are available -->
        <v-icon
          :color="postItColor"
          :size="size/2.5"
        >
          mdi-note
        </v-icon>
        <!-- TODO: End - Replace by an Oxify icon (postIt) when the new NoteSystem are available -->
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./PatientAvatar.scss" />
