/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.PatientAvatar {
  position: relative;

  &-wrapper {
    left: 0;
    position: absolute;
    top: 0;
  }
}
