<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<template>
  <v-text-field
    v-mask="mask"
    :append-icon="icon ? iconName : undefined"
    :autofocus="autofocus"
    :background-color="fieldBG"
    :color="fieldColor"
    :counter="counter"
    :dark="onPrimary"
    :dense="dense"
    :disabled="disabled"
    filled
    hide-details="auto"
    :hint="hint"
    :label="labelComputed"
    :loading="showLoading"
    :max="max"
    :maxlength="maxlength"
    :min="min"
    :name="name"
    persistent-hint
    :placeholder="placeholder"
    :rounded="rounded"
    :rules="fieldRules"
    :type="fieldType"
    :value="mutatedValue"
    @blur="blur"
    @click="click"
    @click:append="clickAppend"
    @focus="focus"
    @input="changeValue"
    @keydown="keydown"
  />
</template>

<script src="./OxTextField.ts" lang="ts"></script>
