<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "OxExpansionPanels",
    props: {
        accordion: {
            type: Boolean,
            default: true
        },
        focusable: {
            type: Boolean,
            default: false
        },
        multiple: {
            type: Boolean,
            default: false
        },
        transparent: {
            type: Boolean,
            default: false
        },
        value: {
            type: [Number, Array] as PropType<number | Array<number>>
        }
    },
    computed: {
        classes (): { OxExpansionPanels: true; transparent: boolean } {
            return { OxExpansionPanels: true, transparent: this.transparent }
        }
    },
    created () {
        if (
            this.multiple &&
            Array.isArray(this.value) &&
            this.value.length > 0
        ) {
            let notNumber = false
            this.value.forEach(val => {
                if (typeof val !== "number") {
                    notNumber = true
                }
            })

            if (notNumber) { console.error("Value has to be an array of number") }
        }
        else if (
            !this.multiple &&
            typeof this.value !== "number"
        ) {
            console.error("Value has to be a number")
        }
    },
    methods: {
        input (value: number | Array<number>) {
            this.$emit("input", value)
        }
    }
})
</script>

<template>
  <v-expansion-panels
    :accordion="accordion"
    :class="classes"
    :focusable="focusable"
    :multiple="multiple"
    :value="value"
    @input="input"
  >
    <slot />
  </v-expansion-panels>
</template>

<style lang="scss" src="./OxExpansionPanels.scss" />
