/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxExpansionPanels {
  // Vuetify override
  &.transparent {
    .OxExpansionPanel {
      background: none !important;

      &::before {
        box-shadow: none;
      }
    }
  }
}
