/**
 * @package Mediboard\Style\Mediboard
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */

body {
  margin: 0;
  padding: 0;
}

.ErrorPage {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: auto;
  width: 90vw;
  height: 100vh;
}

.ErrorPage-content {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.ErrorPage-appImage {
  width: 144px;
}

.ErrorPage-title {
  font-family: "Arial", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 56px;
  color: #263238;
}

.ErrorPage-description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.6);
}

.ErrorPage-button {
  font-family: 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: #3F51B5;
  border-radius: 99px;
  border: none;
  display: block;
  text-decoration: none;
  transition: filter 0.2s linear;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
}

.ErrorPage-button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14)) drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.2)) brightness(105%);
}

.ErrorPage-illustration {
   width: clamp(512px, 40vw, 680px);
}
