/**
z-index ordering (foreground to background) :
 1500 div#console, #profiler-toolbar, #profiler-toggle
 1400 #waitingMsgText
 1300 #waitingMsgMask
 1200 #systemMsg

 1100 div.tooltip
  
 1002 div.modal .ajax-loading
 1000 .datepickerControl
  801 div.modal
  
  800 .ajax-loading

  700 headerMenu (style aero-blue)

  400 div.autocomplete
  100 .planning .event:hover
  100 .planning .selected, .planning .selected:hover
  100 .dent-menu
  100 .bargraph .threshold
**/

.sf-requirements-item {
  display: flex;
  gap: 8px;
  margin-top: 4px;
  align-items: center;
}

div.sf-toolbar div.sf-toolbarreset.clear-fix button.hide-button {
  background: #444 !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 36px !important;
  height: 36px !important;
  cursor: pointer !important;
  text-align: center !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: normal !important;
  vertical-align: baseline !important;
}

/* For the /install wizard */
@import url(tables.css);
@import url(forms.css);
@import url(messages.css);
@import url(ui.css);
@import url(dev.css);

@media screen {
  body.dyslexic {
    font-family: opendyslexic, arial, helvetica, sans-serif;
  }
}

body.touchscreen {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-touch-callout: none;
}

.iframe-scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

div.cancelled,
span.cancelled {
  color: #fff;
  background-color: #f88;
  text-shadow: 0 0 0 rgba(0, 0, 0, .0), 0 0 2px rgba(0, 0, 0, .7);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

td.clickable,
span.clickable,
div.clickable {
  cursor: pointer;
}

li.cancelled {
  opacity: 0.4;
  background-color: #eee;
}

/** Must not apply it to every tag, or it will break textareas behavior */
td.text,
th.text,
legend.text,
div.text {
  white-space: normal !important;
  /*word-wrap: break-word;*/
}

td.compact,
th.compact,
div.compact,
span.compact {
  line-height: 1;
  font-size: 0.9em;
  color: #666;
}

td.compact strong,
th.compact strong,
div.compact strong,
span.compact strong {
  line-height: 1;
  font-size: 0.9em;
  color: #000;
}

a.selectable {
  padding-bottom: 8px;
}

/* Drag'n'Drop */
.dropover {
  outline: 4px solid #f88;
}

.dropactive {
  outline: 4px solid #9ECFFF;
}

.ua-firefox .dropactive {
  outline: none;
  box-shadow: 0 0 0 4px #9ECFFF;
}

/* Should not be used */
div.dragged {
  background-color: #ffc;
  border: 1px solid black;
  padding: 2px 10px;
}

/* tabbed boxes */
td.tabox {
  background-color: #ccc;
  border: solid #ccc 2px;
}

span.hilite {
  background: #f5f;
}

/* Installation wizard */
.wizard {
  padding: 20px;
  width: 900px;
  margin: 40px auto;
  border: 2px solid #666;
  background: #eee;
}

.wizard .toc {
  position: fixed;
  right: 20px;
  top: 20px;
  background: #fff;
  border: 2px solid #666;
  padding: 8px;
  opacity: .7;
  width: 180px;
  font-size: 1.1em;
}

.toc:hover {
  opacity: 1;
}

.wizard .toc ol {
  margin: 0;
  padding-left: 20px;
  line-height: 1.2;
}

.wizard .toc img {
  width: 12px;
  float: none;
  margin-right: 2px;
}

.wizard .toc a.logout {
  background: #ddd url(images/icons/logout.png) no-repeat 3px 3px;
  padding: 3px;
  padding-left: 22px;
  vertical-align: middle;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.wizard .toc a,
.wizard .toc strong {
  display: block;
  color: #000;
}

.wizard .navigation {
  text-align: center;
  margin: 20px;
}

.wizard iframe {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #000;
}

div.generated {
  margin: 5px;
  text-align: center;
  font-size: 90%;
}

.inputExtension {
  cursor: pointer;
}

#performance {
  position: fixed;
  bottom: 0;
  right: 20px;
  border: 1px solid #ddd;
  border-bottom: none;
  cursor: pointer;
  border-radius: 2px 2px 0 0;
  z-index: 5000;
  background: #eee;
  opacity: 0.7;
}

#performance:hover {
  opacity: 1.0;
}

#performance,
#performance ul {
  list-style-type: none;
  padding: 0;
}

#performance strong {
  display: inline-block;
}

#performance strong.title {
  display: none;
}

#performance > li {
  display: inline-block;
  width: 10em;
  vertical-align: middle;
  background: #fff;
  padding: 0 0 0 4px;
  margin: 0 -2px 0 0;
  height: 20px;
  white-space: nowrap;
  position: relative;
}

#performance > li.performance-time {
  width: auto;
}

#performance > li:before {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  width: 16px;
  position: relative;
  top: 2px;
  content: "";
  background-size: 16px 16px;
}

#performance > li.performance-time:before {
  background-image: url(../../images/icons/hourglass.png);
}

#performance > li.performance-memory:before {
  background-image: url(../../images/icons/memory.png);
}

#performance > li.performance-objects:before {
  background-image: url(../../images/icons/database_load.png);
}

#performance > li.performance-autoload:before {
  background-image: url(../../images/icons/autoload.png);
}

#performance > li.performance-cache:before {
  background-image: url(../../images/icons/cache.png);
}

#performance > li.performance-ccam:before {
  background-image: url(../../modules/dPccam/images/icon.png);
}

#performance > li.performance-network:before {
  background-image: url(../../images/icons/network.png);
}

#performance > li.performance-reloadcache:before {
  background-image: url(../mediboard/images/buttons/change.png);
}

#performance > li.performance-pagesize:before {
  background-image: url(../../images/icons/kilogram_weight.png);
}

#performance > li.close {
  width: 1em;
  color: #666;
}

#performance > li.export {
  width: 2em;
}

#performance > li.export:before {
  background-image: url(images/buttons/submit.png);
}

#performance > li.warning {
  background-color: rgba(255, 0, 0, 0.6) !important;
  font-weight: bold;
}

#performance > li.close:before {
  content: "x";
}

#performance > li > ul,
#performance > li > table {
  display: none;
  background: #eee;
}

#performance > li > ul > li {
  padding: 0 2px;
}

#performance > li:hover {
  background: #eee;
}

#performance > li:hover > ul,
#performance > li:hover > table {
  border: 1px solid #ddd;
  border-bottom: none;
  display: block;
  position: absolute;
  bottom: 21px;
  left: 1px;
  min-width: 10em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#performance span.performance-count {
  color: #009;
}

#performance .performance-bar {
  display: inline-block;
  width: 40px;
  background: #ddd;
}

#performance .performance-bar div {
  background: orange;
  height: 8px;
}

option.validation {
  height: 16px;
  background-image: url(images/buttons/tick.png);
  background-repeat: no-repeat;
  background-position: center right;
}

option.modification {
  height: 16px;
  background-image: url(../../images/icons/warning.png);
  background-repeat: no-repeat;
  background-position: center right;
}

div.arretee,
span.hatching,
table.tbl th.arretee, table.tbl th.hatching,
table.tbl td.arretee, table.tbl td.hatching,
table.tbl tr.hatching th,
table.tbl tr.hatching td,
table.planningBloc tr.hatching th,
table.planningBloc tr.hatching td,
table.planningBloc th.hatching,
table.planningBloc td.hatching,
table.form tr.hatching th,
table.form tr.hatching td {
  background-image: url(images/icons/ray.gif) !important;
}

table.tbl th.hatching_red,
table.tbl td.hatching_red,
table.tbl tr.hatching_red th,
table.tbl tr.hatching_red td,
table.form tr.hatching_red th,
table.form tr.hatching_red td {
  background-image: url(../../images/icons/ray_cancelled.gif) !important;
}

td.tick {
  background: url(images/buttons/tick.png) no-repeat 6px;
}

td.loading {
  background: url(images/icons/loading.gif) no-repeat 6px;
}

/* Cross browser opacity */
.opacity-0 {
  opacity: 0.0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1.0;
}

/* Firefox doesn't print elements with opacity */
@media print {
  .ua-firefox .opacity-10 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-20 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-30 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-40 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-50 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-60 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-70 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-80 {
    opacity: 1.0;
  }

  .ua-firefox .opacity-90 {
    opacity: 1.0;
  }
}

div.circled {
  clear: both;
}

span.circled,
div.circled {
  display: inline-block;
  border: 1px solid #abe;
  border-radius: 3px;
  padding: 1px;
  margin: 1px;
  vertical-align: middle;
}

a.inline-url {
  display: inline !important;
}

.release-info {
  color: #999;
  font-size: 0.8em;
}

.release-info .branch-name {
  text-transform: capitalize;
}

.obsolete-browser-warning {
  background-color: #ffda5f;
  padding: 0.5em;
  border-bottom: 1px solid #999;
}

.event-icon {
  font-size: 1.2em;
  display: inline-block;
  width: 1.2em;
  text-align: center;
  color: white;
  border-radius: 4px;
}

strong.annules, strong.cdarr {
  color: #800;
}

strong.planifies {
  color: #888;
}

.rtf-preview, .rtf-preview p {
  white-space: pre-wrap;
}

/* edit consultation menu TAMM et PLUUS */
div.edit_consultation_menu {
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}

div.edit_consultation_menu div.color_tag {
  width: 1.3em;
  color: #fff;
  padding: 1px 2px;
}

span.sortie_transfert {
  width: 16px;
  color: red;
  font-weight: bold;
  background-color: white;
  font-size: 1.4em;
}

/** Classe comportemantale des boutons **/
button.singleclick {
}

tr > td > button.hidden_line_button {
  opacity: 0;
  transition: opacity 0.25s;
}

tr:hover > td > button.hidden_line_button {
  opacity: 0.75;
}

pre.xdebug-var-dump {
  max-height: 500px;
}

body pre.sf-dump {
  max-height: 500px;
  overflow: auto !important;
  z-index: 749 !important;
}
