/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleRatingTab {
  &-container {
    display: grid;
    gap: $space*4;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: min-content;
    height: 300px;
    padding: $space*4;
  }

  &-noData {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    padding: $space*4;
  }

  &-noDataIllus {
    margin-bottom: $space*6;
    width: clamp(200px, 40vw, 300px);
  }

  &-noDataTitle {
    @include h6;
    @include on-background(medium);
  }
}
