<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import OxInfiniteScroll from "@/core/components/OxInfiniteScroll/OxInfiniteScroll.vue"
import SampleUserCard from "@modules/sample/vue/components/SampleUserCard/SampleUserCard.vue"
import OxCollection from "@/core/models/OxCollection"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import SampleRating from "@modules/sample/vue/models/SampleRating"
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"

export default Vue.extend({
    name: "SampleRatingTab",
    components: { SampleUserCard, OxInfiniteScroll },
    props: {
        rating: {
            type: [String, Number],
            required: true
        },
        link: {
            type: String,
            required: true
        }
    },
    data: function () {
        return {
            ratings: null as OxCollection<SampleRating> | null,
            loading: false
        }
    },
    computed: {
        isEmpty (): boolean {
            return this.ratings?.count === undefined || this.ratings.count <= 0
        }
    },
    async created () {
        this.loading = true
        const url = new OxUrlBuilder(this.link)
        url.addFieldset("default,owner.default,owner.user_type")
            .addFilter("rating", "equal", this.rating.toString())
            .addSort({ sort: "DESC", choice: "datetime" })
            .withRelations(["owner"])
            .withLimit("12")

        this.ratings = await getCollectionFromJsonApiRequest(SampleRating, url.toString())
        this.loading = false
    }
})
</script>

<template>
  <div class="SampleRatingTab">
    <div
      v-if="loading"
      class="SampleRatingTab-container"
    >
      <v-skeleton-loader
        v-for="n in 12"
        :key="n"
        type="list-item-avatar-two-line"
      />
    </div>

    <div
      v-else-if="isEmpty"
      class="SampleRatingTab-noData"
    >
      <img
        :alt="$tr('CSampleRating.none')"
        class="SampleRatingTab-noDataIllus"
        src="modules/sample/images/empty_bookmarks.svg"
      >
      <span class="SampleRatingTab-noDataTitle">
        {{ $tr("SampleRating-msg-No one rated %s stars for this movie", rating.toString() !== "1", rating.toString()) }}
      </span>
    </div>
    <ox-infinite-scroll
      v-else
      v-model="ratings"
      class="SampleRatingTab-container"
    >
      <template v-for="rate in ratings?.objects">
        <sample-user-card
          v-if="rate.owner"
          :key="rate.owner?.id"
          :date="rate.formattedDate"
          :user="rate.owner"
        />
      </template>
      <template #loading>
        <v-skeleton-loader
          v-for="n in 3"
          :key="n"
          type="list-item-avatar-two-line"
        />
      </template>
    </ox-infinite-scroll>
  </div>
</template>

<style src="./SampleRatingTab.scss" lang="scss"></style>
