/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.AdvancedPatientSearchForm {
  display: flex;
  flex-direction: column;
  gap: $space*4;

  &-form {
    align-items: center;
    display: flex;
    gap: $space*4;
  }

  &-actions {
    align-items: center;
    display: flex;
    gap: $space*2;
  }

  &-column {
    display: flex;
    flex-direction: column;
    gap: $space*4;
    width: 49%;
  }

  &-patientsGrid {
    display: flex;
    flex-direction: column;
  }

  &-loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &-noData {
    @include on-background(low);
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &-patientsGridHeader {
    @include on-background(high);
    @include body1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $space $space*2;
    width: 100%;
  }

  &-patientsGridTable {
    border: $border;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
  }
}
