<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import { OxUrlBuilder } from "@/core/utils/OxUrlTools"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import Patient from "@modules/dPpatients/vue/models/Patient"
import AdvancedPatientSearchLine
    from "@modules/dPpatients/vue/components/AdvancedPatientSearchForm/AdvancedPatientSearchLine/AdvancedPatientSearchLine.vue"
import Vue from "vue"
import OxTextField from "@oxify/components/OxField/OxTextField/OxTextField.vue"
import OxDatepicker from "@oxify/components/OxField/OxDatepicker/OxDatepicker.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"

/* global Url, Control */

export default Vue.extend({
    name: "AdvancedPatientSearchForm",
    components: { AdvancedPatientSearchLine, OxTextField, OxDatepicker, OxButton },
    props: {
        patientsLink: {
            type: String,
            required: true
        }
    },
    data () {
        return {
            lastNameValue: "",
            firstNameValue: "",
            birthDateValue: "",
            ippValue: "",
            patientsFound: [] as Patient[],
            patientsLoading: false,
            createdPatient: new Patient(),
            loadingColor: OxThemeCore.grey200
        }
    },
    computed: {
        buttonCreateDisabled (): boolean {
            return !this.lastNameValue && !this.firstNameValue
        }
    },
    created () {
        // If a patient is created in Legacy Modal we receive the result here
        window.addEventListener("newPatientCreated", this.fillPatientField)
        // If the patient created is deleted in the LegacyModal, empty the field and close the modal
        window.addEventListener("emptyPatientField", this.emptyPatientField)
    },
    destroyed () {
        window.removeEventListener("newPatientCreated", this.fillPatientField)
        window.removeEventListener("emptyPatientField", this.emptyPatientField)
    },
    methods: {
        emptyPatientField () {
            this.createdPatient = new Patient()
            // @ts-ignore
            Control.Modal.close()
        },
        fillPatientField (e) {
            // eslint-disable-next-line no-undef
            const patientReceived = (e as CustomEventInit).detail
            if (patientReceived.id) {
                this.createdPatient.id = patientReceived.id
                this.createdPatient.lastName = patientReceived.name
                this.createdPatient.firstName = patientReceived.firstName
                this.createdPatient.birthDate = patientReceived.birthDate
                this.createdPatient.civility = patientReceived.civility
            }
        },
        async search () {
            if (this.lastNameValue || this.firstNameValue || this.ippValue || this.birthDateValue) {
                this.patientsFound = []
                this.patientsLoading = true
                const url = new OxUrlBuilder(this.patientsLink)
                    .withFieldsets(["default", "contact", "extra"])
                    .addParameter("nom", this.lastNameValue)
                    .addParameter("prenom", this.firstNameValue)
                    .addParameter("naissance", this.birthDateValue ?? "")
                    .addParameter("IPP", this.ippValue)
                    .withLimit("30").toString()
                this.patientsFound = (await getCollectionFromJsonApiRequest(Patient, url)).objects
                this.patientsLoading = false
            }
            else {
                this.patientsFound = []
            }
        },
        openEditPatient () {
            // @ts-ignore
            new Url("patients", "vw_edit_patients")
                .addParam("patient_id", "")
                .addParam("name", this.lastNameValue)
                .addParam("firstName", this.firstNameValue)
                .modal({
                    width: "90%",
                    height: "90%",
                    aboveNewModal: true,
                    onClose: () => {
                        this.$emit("onPatientCreated", this.createdPatient)
                    }
                })
        },
        selectPatient (patient: Patient) {
            this.$emit("selectPatient", patient)
        }
    }
})
</script>

<template>
  <div class="AdvancedPatientSearchForm">
    <div class="AdvancedPatientSearchForm-form">
      <div class="AdvancedPatientSearchForm-column">
        <ox-text-field
          v-model="lastNameValue"
          :label="$tr('CPatient-nom')"
          @keydown.enter="search"
        />
        <ox-text-field
          v-model="firstNameValue"
          :label="$tr('CPatient-prenom')"
          @keydown.enter="search"
        />
      </div>
      <div class="AdvancedPatientSearchForm-column">
        <ox-datepicker
          format="date"
          :label="$tr('CPatient-_p_birth_date')"
          :value="birthDateValue"
          @change="(date) => { birthDateValue = date }"
        />
        <ox-text-field
          v-model="ippValue"
          label="IPP"
          @keydown.enter="search"
        />
      </div>
    </div>
    <div class="AdvancedPatientSearchForm-actions">
      <ox-button
        button-style="secondary"
        :disabled="buttonCreateDisabled"
        icon="add"
        :label="$tr('Create')"
        @click="openEditPatient"
      />
      <ox-button
        button-style="primary"
        icon="search"
        :label="$tr('Search')"
        @click="search"
      />
    </div>
    <div class="AdvancedPatientSearchForm-patientsGrid">
      <div class="AdvancedPatientSearchForm-patientsGridHeader">
        <span>{{ $tr('Name') }}/{{ $tr('firstName') }}/{{ $tr('CPatient-naissance-court') }}</span>
        <span>{{ $tr('Address') }}</span>
        <span>{{ $tr('CPatient-tel') }}</span>
      </div>
      <div class="AdvancedPatientSearchForm-patientsGridTable">
        <div
          v-if="patientsLoading"
          class="AdvancedPatientSearchForm-loading"
        >
          <v-progress-circular
            :color="loadingColor"
            indeterminate
            :size="70"
            :width="7"
          />
        </div>
        <div
          v-else-if="!patientsFound.length"
          class="AdvancedPatientSearchForm-noData"
        >
          {{ $tr('No result') }}
        </div>
        <advanced-patient-search-line
          v-for="patient in patientsFound"
          :key="patient.id"
          :patient="patient"
          @selectPatient="selectPatient"
        />
      </div>
    </div>
  </div>
</template>

<style src="./AdvancedPatientSearchForm.scss" lang="scss"></style>
