<!--
  @package Oxify
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "SbOnBackgroundEmphasisSample"
})
</script>

<template>
  <div class="SbOnBackgroundEmphasisSample">
    <div class="SbOnBackgroundEmphasisSample-high">
      On Background high Emphasis
    </div>
    <div class="SbOnBackgroundEmphasisSample-medium">
      On Background medium Emphasis
    </div>
    <div class="SbOnBackgroundEmphasisSample-low">
      On Background low Emphasis
    </div>
  </div>
</template>

<style src="./SbOnBackgroundEmphasisSample.scss" lang="scss"></style>
