/**
 * @package Oxify
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.SbOnBackgroundEmphasisSample {
  border-radius: 4px;

  &-high {
    @include on-background(high);
    padding: $space 0;
  }

  &-medium {
    @include on-background(medium);
    padding: $space 0;
  }

  &-low {
    @include on-background(low);
    padding: $space 0;
  }
}
