<!--
  @package Oxify
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "SbColorSample",
    props: {
        useDefault: {
            type: Boolean,
            default: true
        },
        color: {
            type: String,
            default: "primary"
        },
        variations: {
            type: Array as PropType<Array<number>>,
            default: () => { return [900, 800, 600, 500, 400, 300, 200, 100, 50] }
        }
    },
    methods: {
        capitalize (value: string): string {
            if (!value) {
                return ""
            }
            return value.charAt(0).toUpperCase() + value.slice(1)
        }
    }
})
</script>

<template>
  <div class="SbColorSample">
    <div
      v-if="useDefault"
      class="SbColorSample-card"
    >
      <div
        class="SbColorSample-cardColor"
        :class="color+'-default'"
      />
      <div class="SbColorSample-cardTitle">
        Default {{ capitalize(color) }}
      </div>
      <div class="SbColorSample-varName">
        ${{ color }}
      </div>
    </div>
    <div
      v-for="variant of variations"
      :key="variant"
      class="SbColorSample-card"
    >
      <div
        class="SbColorSample-cardColor"
        :class="color+'-'+variant"
      />
      <div class="SbColorSample-cardTitle">
        {{ capitalize(color) }} {{ variant }}
      </div>
      <div class="SbColorSample-varName">
        ${{ color }}-{{ variant }}
      </div>
    </div>
  </div>
</template>

<style src="./SbColorSample.scss" lang="scss"></style>
