/**
 * @package Oxify
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.SbColorSample {
  background-color: $background-default-light;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-card {
    @include elevation(0);
    border: $border;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 160px;
    margin: $space*4;
    overflow: hidden;
    padding: $space*2;
    width: 206px;
  }

  &-cardColor {
    flex: 1;
    margin: $space*-2 $space*-2 0 $space*-2;

    &.primary-900 {
      background-color: $primary-900;
    }
    &.primary-800 {
      background-color: $primary-800;
    }
    &.primary-700 {
      background-color: $primary-700;
    }
    &.primary-600 {
      background-color: $primary-600;
    }
    &.primary-500 {
      background-color: $primary-500;
    }
    &.primary-default {
      background-color: $primary;
    }
    &.primary-400 {
      background-color: $primary-400;
    }
    &.primary-300 {
      background-color: $primary-300;
    }
    &.primary-200 {
      background-color: $primary-200;
    }
    &.primary-100 {
      background-color: $primary-100;
    }
    &.primary-50 {
      background-color: $primary-50;
    }

    &.secondary-900 {
      background-color: $secondary-900;
    }
    &.secondary-800 {
      background-color: $secondary-800;
    }
    &.secondary-700 {
      background-color: $secondary-700;
    }
    &.secondary-600 {
      background-color: $secondary-600;
    }
    &.secondary-500 {
      background-color: $secondary-500;
    }
    &.secondary-default {
      background-color: $secondary;
    }
    &.secondary-400 {
      background-color: $secondary-400;
    }
    &.secondary-300 {
      background-color: $secondary-300;
    }
    &.secondary-200 {
      background-color: $secondary-200;
    }
    &.secondary-100 {
      background-color: $secondary-100;
    }
    &.secondary-50 {
      background-color: $secondary-50;
    }

    &.grey-900 {
      background-color: $grey-900;
    }
    &.grey-800 {
      background-color: $grey-800;
    }
    &.grey-700 {
      background-color: $grey-700;
    }
    &.grey-600 {
      background-color: $grey-600;
    }
    &.grey-500 {
      background-color: $grey-500;
    }
    &.grey-400 {
      background-color: $grey-400;
    }
    &.grey-300 {
      background-color: $grey-300;
    }
    &.grey-200 {
      background-color: $grey-200;
    }
    &.grey-100 {
      background-color: $grey-100;
    }
    &.grey-50 {
      background-color: $grey-50;
    }

    &.error-surface-default {
      background-color: $error-surface-default;
    }
    &.error-surface-light {
      background-color: $error-surface-light;
    }
    &.error-surface-darken {
      background-color: $error-surface-darken;
    }
    &.error-text-default {
      background-color: $error-text-default;
    }

    &.warning-surface-default {
      background-color: $warning-surface-default;
    }
    &.warning-surface-light {
      background-color: $warning-surface-light;
    }
    &.warning-text-default {
      background-color: $warning-text-default;
    }

    &.success-surface-default {
      background-color: $success-surface-default;
    }
    &.success-surface-light {
      background-color: $success-surface-light;
    }
    &.success-text-default {
      background-color: $success-text-default;
    }

    &.info-surface-default {
      background-color: $info-surface-default;
    }
    &.info-surface-light {
      background-color: $info-surface-light;
    }
    &.info-text-default {
      background-color: $info-text-default;
    }

    &.background-default {
      background-color: $background-default;
    }
    &.background-default-light {
      background-color: $background-default-light;
    }
    &.background-light {
      background-color: $background-light;
    }
    &.background-lighter {
      background-color: $background-lighter;
    }
    &.background-dark {
      background-color: $background-dark;
    }
    &.background-darker {
      background-color: $background-darker;
    }
    &.background-info {
      background-color: $background-info;
    }
    &.background-hover {
      background-color: $background-hover;
    }
    &.background-input-default {
      background-color: $background-input-default;
    }
    &.background-input-hover {
      background-color: $background-input-hover;
    }

    &.surface-primary {
      background-color: $surface-primary;
    }
    &.surface-primary-800 {
      background-color: $surface-primary-800;
    }
    &.surface-primary-700 {
      background-color: $surface-primary-700;
    }
    &.surface-primary-600 {
      background-color: $surface-primary-600;
    }
    &.surface-primary-500 {
      background-color: $surface-primary-500;
    }
    &.surface-primary-300 {
      background-color: $surface-primary-300;
    }
    &.surface-primary-100 {
      background-color: $surface-primary-100;
    }
    &.surface-secondary-900 {
      background-color: $surface-secondary-900;
    }
    &.surface-secondary-800 {
      background-color: $surface-secondary-800;
    }

    &.color-pink {
      background-color: $color-pink;
    }
    &.color-purple {
      background-color: $color-purple;
    }
    &.color-deep-purple {
      background-color: $color-deep-purple;
    }
    &.color-blue {
      background-color: $color-blue;
    }
    &.color-cyan {
      background-color: $color-cyan;
    }
    &.color-teal {
       background-color: $color-teal;
     }
    &.color-green {
      background-color: $color-green;
    }
    &.color-light-green {
      background-color: $color-light-green;
    }
    &.color-lime {
      background-color: $color-lime;
    }
    &.color-yellow {
      background-color: $color-yellow;
    }
    &.color-orange {
      background-color: $color-orange;
    }

  }

  &-cardTitle {
    @include subtitle1;
    @include on-background(high);
    font-family: inherit;
    padding-top: $space*2;
  }

  &-varName {
    @include body2;
    @include on-background(medium);
    font-family: inherit;
  }
}
