/**
 * @package Mediboard\Personnel
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 * @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
 */

#schedule {
  table-layout:    fixed;
  width:           100%;
  border-spacing:  0;
  border-collapse: collapse;
  overflow:        hidden;
  border: 1px solid #ddd;
  position: relative;
}

#schedule td,
#schedule th {
  border: 1px solid #ddd;
}

.ligne {
  height: 50px;
}

.plage_conge {
  height:            40px;
  background-color:  #ccc;
  position:          absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:  2px solid #aaa;
  z-index: 0;
  overflow: visible;
  padding: 2px 0;
  margin-top: 1px;
}

.plage_conge .content {
  margin: 2px;
}

.insertion {
  position: relative;

}

.nom {
  margin-top: -1px;
  z-index: 1;
  position :relative;
  background-color: #fff;
  height: 50px;
  line-height: 2em;
  text-align: left;
}

.cal td {
  text-align: center;
}

.cal td.empty {
  background: #fff;
}

.cal td.occuped {
  background-color: #ccc;
  font-weight: bold;
}

.cal td.occuped.start {
  border-left: 2px solid #999;
}

.cal td.occuped.end {
  border-right: 2px solid #999;
}

p.conge-alert {
    font-weight: bold;
    color: #d53d2a;
    vertical-align: middle;
    display: inline-block;
}
