/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

@mixin grid-view {
  --column-number: 5;
  display: grid;
  gap: $space*6;
  grid-template-columns: repeat(var(--column-number), minmax(0, 1fr));
  justify-items: stretch;
  margin: 0 $space*-10;
  padding: 0 $space*10 $space*4 $space*10;

  @include screenLargerThan($screenWide, "400") {
    --column-number: 6;
  }

  @include screenLargerThan($screenWide, "600") {
    --column-number: 7;
  }

  @include screenLargerThan($screenWide, "800") {
    --column-number: 8;
  }

  @include screenSmallerThan($screenWide, "200") {
    --column-number: 4;
  }

  @include screenSmallerThan($screenSmall, "800") {
    --column-number: 5;
  }

  @include screenSmallerThan($screenSmall, "600") {
    --column-number: 4;
  }

  @include screenSmallerThan($screenSmall, "400") {
    --column-number: 3;
  }

  @include screenSmallerThan($screenSmall, "200") {
    --column-number: 2;
  }

  @include screenSmallerThan($screenSmall, "100") {
    --column-number: 1;
  }
}
