<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Mediuser from "@modules/mediusers/vue/Models/Mediuser"

export default Vue.extend({
    name: "MediuserAutocomplete",
    props: {
        user: Object as PropType<Mediuser>
    }
})
</script>

<template>
  <div class="MediuserAutocomplete">
    <div class="MediuserAutocomplete-content">
      <div class="MediuserAutocomplete-title">
        {{ user.firstName }} {{ user.lastName }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./MediuserAutocomplete.scss" />
