<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "OxToggleButton",
    props: {
        borderless: {
            type: Boolean,
            default: false
        },
        color: {
            type: String,
            default: "primary"
        },
        group: {
            type: Boolean,
            default: false
        },
        mandatory: {
            type: Boolean,
            default: false
        },
        multiple: {
            type: Boolean,
            default: false
        },
        rounded: {
            type: Boolean,
            default: false
        },
        tile: {
            type: Boolean,
            default: false
        },
        value: {
            type: [Number, Array, String] as PropType<number | string | Array<number>>
        }
    },
    methods: {
        input (value: number | string | Array<number>): void {
            this.$emit("input", value)
        }
    }
})
</script>

<template>
  <v-btn-toggle
    :borderless="borderless"
    class="OxToggleButton"
    :color="color"
    :group="group"
    :mandatory="mandatory"
    :multiple="multiple"
    :rounded="rounded"
    :tile="tile"
    :value="value"
    @change="input"
  >
    <slot />
  </v-btn-toggle>
</template>

<style lang="scss" src="./OxToggleButton.scss" />
