<!--
  @package Oxify\OxDate
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">

import Vue, { PropType } from "vue"
import OxDate from "@oxify/utils/OxDate"

export default Vue.extend({
    name: "OxDate",
    props: {
        date: Date as PropType<Date>,
        mode: {
            type: String as PropType<"month" | "day" | "date" | "datetime" | "time" | "completeday">,
            default: "date",
            validator: (value: string) => {
                return ["month", "day", "date", "datetime", "time", "completeday"].includes(value)
            }
        },
        dateString: String
    },
    computed: {
        /**
         * Date retrieval (Date type)
         *
         * @return {Date|false}
         */
        getDate (): Date | false {
            if (this.date) {
                return this.date
            }
            if (!this.dateString) {
                return false
            }
            return new Date(this.dateString)
        },

        /**
         * Date formatting
         *
         * @return {string}
         */
        dateFormat (): string {
            if (!this.getDate) {
                return ""
            }
            return OxDate.formatStatic(this.getDate, this.mode as "month" | "day" | "date" | "datetime" | "time" | "completeday")
        }
    }
})
</script>

<template>
  <div class="OxDate">
    {{ dateFormat }}
  </div>
</template>

<style src="./OxDate.scss" lang="scss"></style>
