<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">
import Vue, { PropType } from "vue"

import ExternalIdentifier from "@modules/dPsante400/vue/models/ExternalIdentifier"
import ExternalIdentifierLine
    from "@modules/dPsante400/vue/components/ExternalIdentifierLine/ExternalIdentifierLine.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"

export default Vue.extend({
    name: "ExternalIdentifierTooltip",
    components: {
        ExternalIdentifierLine,
        OxButton
    },
    props: {
        externalIdentifiers: {
            type: Array as PropType<Array<ExternalIdentifier>>,
            required: true
        }
    },
    computed: {
        isExternalIdentifiersEmpty (): boolean {
            return this.externalIdentifiers.length <= 0
        }
    },
    methods: {
        create () {
            this.$emit("create")
        },
        modify (idex: ExternalIdentifier) {
            this.$emit("modify", idex)
        },
        askDelete (idex: ExternalIdentifier) {
            this.$emit("delete", idex)
        },
        isLast (index: number): boolean {
            return index === this.externalIdentifiers.length - 1
        }
    }
})
</script>

<template>
  <div class="ExternalIdentifierTooltip">
    <div class="ExternalIdentifierTooltip-header">
      <div class="ExternalIdentifierTooltip-headerTitle">
        {{ $tr("ExternalIdentifier-name") }}
      </div>
      <ox-button
        button-style="tertiary"
        :label="$tr('CIdSante400-title-create')"
        @click="create"
      />
    </div>
    <div class="ExternalIdentifierTooltip-body">
      <external-identifier-line
        v-for="(externalIdentifier, index) in externalIdentifiers"
        :key="externalIdentifier.id"
        :external-identifier="externalIdentifier"
        :is-last="isLast(index)"
        show-more-button
        @delete="askDelete"
        @modify="modify"
      />
      <div
        v-if="isExternalIdentifiersEmpty"
        class="ExternalIdentifierTooltip-empty"
      >
        {{ $tr("CMbObject-back-identifiants.empty") }}
      </div>
    </div>
  </div>
</template>

<style src="./ExternalIdentifierTooltip.scss" lang="scss"></style>
