/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.ExternalIdentifierTooltip {
  &-header {
    @include elevation(12, true);
    align-items: center;
    border-bottom: $border;
    display: flex;
    gap: $space*2;
    justify-content: space-between;
    padding: $space*2 $space*2 $space*2 $space*3;
    position: sticky;
    top: 0;
  }

  &-headerTitle {
    @include subtitle2();
    white-space: nowrap;
  }

  &-body {
    display: flex;
    flex-direction: column;
    padding-top: $space*2;
  }

  &-empty {
    @include caption();
    @include on-background(low);
    padding: 0 $space*2;
  }
}
