<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">
import Vue from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
export default Vue.extend({
    name: "DocPastille",
    components: { },
    props: {
        active: {
            type: Boolean,
            default: true
        },
        type: {
            type: String,
            required: true
        },
        count: {
            type: Number,
            default: 0
        },
        showCount: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            colorDoc: OxThemeCore.deepPurple,
            colorPrescirption: OxThemeCore.colorBlue,
            colorCerfa: OxThemeCore.colorCyan,
            colorForm: OxThemeCore.colorPink
        }
    },
    computed: {
        label (): string {
            switch (this.type) {
            case "document":
                return this.$tr("common-Doc")
            case "prescription":
                return this.$tr("common-Presc")
            case "form":
                return this.$tr("common-Form")
            case "cerfa":
                return this.$tr("Cerfa")
            default:
                break
            }

            return ""
        },
        avatarColor (): string {
            switch (this.type) {
            case "document":
                return "rgba(94, 53, 177, 0.18)"
            case "prescription":
                return "rgba(38, 125, 212, 0.18)"
            case "form":
                return "rgba(88, 185, 195, 0.18)"
            case "cerfa":
                return "rgba(194, 24, 91, 0.18)"
            default:
                break
            }

            return ""
        },
        getDocPastilleClass (): string {
            return "DocPastille " + (this.type ? this.type : "") + (this.showCount ? "" : " noCount")
        },
        textColor (): string {
            let color = ""
            switch (this.type) {
            case "document":
                color = this.colorDoc
                break
            case "prescription":
                color = this.colorPrescirption
                break
            case "form":
                color = this.colorForm
                break
            case "cerfa":
                color = this.colorCerfa
                break
            default:
                break
            }

            return "color : " + color
        }
    }
})
</script>

<template>
  <div
    v-if="active"
    :class="getDocPastilleClass"
  >
    <div
      class="DocPastille-label"
      :style="textColor"
    >
      {{ label }}
    </div>
    <v-avatar
      v-if="showCount"
      :color="avatarColor"
      size="20"
    >
      <span
        class="DocPastille-number"
        :style="textColor"
      >{{ count }}</span>
    </v-avatar>
  </div>
</template>

<style src="./DocPastille.scss" lang="scss"></style>
