/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.DocPastille {
  align-items: center;
  border: 2px solid;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;

  &.noCount {
    padding-right: $space;
  }

  &.document {
    border-color: alpha($color-deep-purple,0.5);
  }

  &.prescription {
    border-color: alpha($color-blue,0.5);
  }

  &.form {
    border-color: alpha($color-pink,0.5);

  }

  &.cerfa {
    border-color: alpha($color-cyan,0.5);
  }

  &-label {
    @include caption;
    padding: 0 $space;
  }

  &-number {
    @include subtitle2;
  }
}
