<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import Group from "@modules/dPetablissement/vue/models/Group"

/**
 * GroupLine
 * Group line component
 */
export default Vue.extend({
    name: "GroupLine",
    props: {
        group: {
            type: Object as PropType<Group>,
            required: true
        },
        functionName: {
            type: [String, Boolean],
            required: true
        },
        actived: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        lineClass (): string {
            return this.actived ? "active" : ""
        },
        functionClass (): string {
            if (this.group.isMain) {
                return "mainFunction"
            }
            if (this.group.isSecondary) {
                return "secondaryFunction"
            }
            return ""
        }
    },
    methods: {
        selectGroup () {
            this.$emit("click", this.group.id)
        }
    }
})
</script>

<template>
  <div
    v-ripple
    class="GroupLine"
    :class="lineClass"
    tabindex="0"
    @click="selectGroup"
    @keydown.enter="selectGroup"
  >
    <div class="GroupLine-content">
      <div class="GroupLine-name">
        {{ group.name }}
      </div>
      <div
        v-if="functionName"
        class="GroupLine-function"
      >
        {{ functionName }}
      </div>
    </div>
    <div
      class="GroupLine-functionIndicator"
      :class="functionClass"
    />
  </div>
</template>

<style src="./GroupLine.scss" lang="scss"></style>
