/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.HistoryPanel {
  border: $border;
  border-radius: 4px;
  width: 100%;

  &::after {
    content: none !important;
  }

  &-header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: $space*2;
  }

  &-text {
    display: flex;
    flex-flow: column nowrap;
  }

  &-title {
    @include body2;
    @include on-background(medium);
  }

  &-value {
    @include on-background(high);
  }

  &-date {
    @include caption;
    @include on-background(medium);
  }

  &-icon {
    align-items: center;
    background-color: $secondary-50;
    border-radius: 4px;
    color: $secondary-900;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
  }
}
