<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import MediuserAvatar from "@modules/mediusers/vue/components/MediuserAvatar/MediuserAvatar.vue"
import History from "@modules/system/vue/models/History"
import HistoryDetailsLine from "@modules/system/vue/components/HistoryDetailsLine/HistoryDetailsLine.vue"
import HistoryFieldDiff from "@modules/system/vue/models/HistoryFieldDiff"
import OxObject from "@/core/models/OxObject"
import OxExpansionPanel from "@oxify/components/OxExpansionPanel/OxExpansionPanel.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"

export default Vue.extend({
    name: "HistoryPanel",
    components: {
        HistoryDetailsLine,
        MediuserAvatar,
        OxExpansionPanel,
        OxIcon,
        OxTooltip
    },
    props: {
        history: {
            type: Object as PropType<History>,
            required: true
        },
        object: {
            type: Object as PropType<OxObject>,
            required: true
        },
        restrictedField: {
            type: String
        },
        targetedField: String
    },
    computed: {
        isReadonly (): boolean {
            return this.history.historyType === "create"
        },
        showSides (): "left" | "both" {
            return this.history.historyType === "create" ? "left" : "both"
        },
        historyFields (): HistoryFieldDiff[] {
            if (this.restrictedField && this.restrictedField.length > 0) {
                return this.history.fields.filter(field => {
                    return field.name === this.restrictedField
                })
            }

            return this.history.fields
        },
        typeLogo (): string {
            if (this.history.historyType === "create") {
                return "add"
            }
            else if (this.history.historyType === "merge") {
                return "call"
            }

            return "edit"
        },
        actionText (): string {
            switch (this.history.historyType) {
            case "store":
                return this.$tr("common-msg-Has edited").toLowerCase()
            case "create":
                return this.$tr("common-msg-Has created").toLowerCase()
            case "merge":
                return this.$tr("common-msg-Has merged").toLowerCase()
            default:
                return ""
            }
        },
        detailText (): string {
            switch (this.history.historyType) {
            case "store":
                return this.history.fields.length > 1
                    ? this.$tr("Field|pl").toLowerCase()
                    : this.$tr("Field").toLowerCase()
            case "create":
                return ""
            case "merge":
                return this.$tr("system-msg-With another object")
            default:
                return ""
            }
        },
        valueText (): string {
            switch (this.history.historyType) {
            case "store":
                return this.history.fields.length as unknown as string
            case "create":
                return this.object.toString()
            case "merge":
                return this.object.toString()
            default:
                return ""
            }
        }
    },
    methods: {
        toggleTarget (field: string) {
            this.$emit("toggleTargetField", field)
        },
        isDisable (value: string): boolean {
            return this.targetedField !== "" && this.targetedField !== value
        },
        isTargeted (value: string): boolean {
            return this.targetedField === value
        }
    }
})
</script>

<template>
  <ox-expansion-panel
    class="HistoryPanel"
    :readonly="isReadonly"
    :show-sides="showSides"
    sticky
    top="94px"
  >
    <template #left>
      <ox-tooltip>
        <template #content="{ on }">
          <div
            class="HistoryPanel-icon"
            v-on="on"
          >
            <ox-icon
              :icon="typeLogo"
              :size="12"
            />
          </div>
        </template>
        <div class="HistoryPanel-type">
          {{ $tr("system-msg-" + history.historyType) }}
        </div>
      </ox-tooltip>
    </template>
    <template #header>
      <div class="HistoryPanel-header">
        <div class="HistoryPanel-user">
          <mediuser-avatar
            :size="32"
            :user="history.user"
          />
        </div>
        <div class="HistoryPanel-text">
          <div class="HistoryPanel-title">
            <span class="HistoryPanel-value">{{ history.user.fullName }}</span> {{ actionText }} <span class="HistoryPanel-value">{{ valueText }}</span> {{ detailText }}
          </div>
          <ox-tooltip>
            <template #content="{ on }">
              <div
                class="HistoryPanel-date"
                v-on="on"
              >
                {{ history.datetime }}
              </div>
            </template>
            {{ history.datetime }}
          </ox-tooltip>
        </div>
      </div>
    </template>
    <template #content>
      <history-details-line
        v-for="historyField in historyFields"
        :key="historyField.id"
        :disable="isDisable(historyField.name)"
        :history-details="historyField"
        :history-type="history.historyType"
        :targeted="isTargeted(historyField.name)"
        @click="toggleTarget(historyField.name)"
      />
    </template>
  </ox-expansion-panel>
</template>

<style lang="scss" src="./HistoryPanel.scss" />
