<!--
  @package Oxify\OxField
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue from "vue"
import OxFieldCore from "@oxify/components/OxField/OxFieldCore"

export default Vue.extend({
    name: "OxRadioGroup",
    extends: OxFieldCore,
    props: {
        column: {
            type: Boolean,
            default: true
        },
        row: Boolean
    },
    methods: {
        /**
         * Changing the current value by emitting new "input" event (=> enables v-model use on this component)
         *
         * @param {boolean} value - New value
         */
        changeValue (value: boolean): void {
            this.$emit("input", value)
        }
    }
})
</script>

<template>
  <v-radio-group
    class="OxRadioGroup"
    :column="column"
    :row="row"
    :value="value"
    @change="changeValue"
  >
    <template #prepend>
      <span class="OxRadioGroup-label">
        {{ label }}
      </span>
    </template>
    <slot />
  </v-radio-group>
</template>

<style src="./OxRadioGroup.scss" lang="scss"></style>
