/**
 * @package Oxify\OxField
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxRadioGroup {
  display: block !important;

  &-label {
    @include body1;
    @include on-background(high);
    padding-bottom: $space*2;
  }
}
