/**
 * @package Oxify
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.SbOnPrimaryEmphasisSample {
  background-color: $primary;
  border-radius: 4px;
  margin: $space;
  padding: $space*2;

  &-high {
    @include on-primary(high);
    padding: $space 0;
  }

  &-medium {
    @include on-primary(medium);
    padding: $space 0;
  }

  &-low {
    @include on-primary(low);
    padding: $space 0;
  }
}
