<!--
  @package Oxify\OxCaution
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import OxIconCore from "@oxify/components/OxIcon/OxIconCore"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"

export default Vue.extend({
    name: "OxCaution",
    components: {
        OxDivider
    },
    props: {
        icon: {
            type: String,
            default: ""
        },
        plain: {
            type: Boolean,
            default: false
        },
        prominent: {
            type: Boolean,
            default: false
        },
        showDivider: {
            type: Boolean,
            default: false
        },
        showIcon: {
            type: Boolean,
            default: false
        },
        title: {
            type: String,
            default: ""
        },
        type: {
            type: String as PropType<"success" | "error" | "info" | "warning">
        }
    },
    computed: {
        /**
         * Adds "defaultPlain" class to the caution if she is in default and plain state :
         *  - type = "undefined"
         *  - plain = true
         */
        defaultPlainClass (): string {
            if (!this.type && this.plain) {
                return "defaultPlain"
            }

            return ""
        },
        /**
         * Check if caution is in "outlined" mode :
         *  - plain = false
         */
        isOutlined (): boolean {
            return !this.plain
        },
        /**
         * Defines the right color for OxDivider component in subcontent slot :
         *  - color = "dark"   if plain = false
         *  - color = "light"  if plain = true
         */
        dividerColor (): string {
            return this.isOutlined ? "dark" : "light"
        },
        /**
         * Check if caution has title defined
         */
        hasTitle (): boolean {
            return !!this.title
        },
        /**
         * Check if caution has content slot defined
         */
        hasContent (): boolean {
            return !!this.$slots.default
        },
        /**
         * Check if caution has subcontent slot defined
         */
        hasSubcontent (): boolean {
            return !!this.$slots.subcontent
        },
        /**
         * Recovers the default color based on chosen type
         */
        alertColor (): string {
            switch (this.type) {
            case "success":
                return OxThemeCore.successTextDefault
            case "error":
                return OxThemeCore.errorTextDefault
            case "info":
                return OxThemeCore.infoTextDefault
            case "warning":
                return OxThemeCore.warningTextDefault
            default:
                return OxThemeCore.grey500
            }
        },
        /**
         * Check if icon is showable. If yes :
         *  - recovers the custom SVG icon if defined
         *  - else recovers default icon for type chosen
         */
        iconSvg (): boolean | string {
            if (!this.showIcon) {
                return false
            }

            if (this.icon && typeof this.icon === "string") {
                return OxIconCore.get(this.icon)
            }

            switch (this.type) {
            case "success":
                return OxIconCore.get("check")
            case "error":
                return OxIconCore.get("alertCircle")
            case "info":
                return OxIconCore.get("information")
            case "warning":
                return OxIconCore.get("alert")
            default:
                return false
            }
        }
    }
})
</script>

<template>
  <v-alert
    :class="defaultPlainClass + ' OxCaution'"
    :color="alertColor"
    :icon="iconSvg"
    :outlined="isOutlined"
    :prominent="prominent"
    :text="isOutlined"
    :type="type"
  >
    <h6
      v-if="hasTitle"
      class="OxCaution-title"
    >
      {{ title }}
    </h6>
    <div
      v-if="hasContent"
      class="OxCaution-content"
    >
      <slot />
    </div>
    <div
      v-if="hasSubcontent"
      class="OxCaution-subcontent"
    >
      <ox-divider
        v-if="showDivider"
        :color="dividerColor"
        :inset-radial="16"
      />
      <slot name="subcontent" />
    </div>
  </v-alert>
</template>

<style src="./OxCaution.scss" lang="scss"></style>
