/**
 * @package Oxify\OxCaution
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.OxCaution {
  &.defaultPlain {
    background-color: alpha($black, 0.58) !important;

    .OxCaution-title {
      @include color-white(1);
    }

    .OxCaution-content {
      @include color-white(0.87);
    }

    .OxCaution-subcontent {
      @include color-white(0.87);
    }

    .v-icon {
      @include color-white(1);
    }
  }

  &.v-alert {
    margin: 0;
  }

  &.v-alert--prominent .v-icon__svg {
    height: 32px;
    width: 32px;
  }

  &.v-alert--text {
    &::before {
      opacity: 0.08;
    }
  }

  &-title {
    @include h6;
  }

  &-content {
    @include body1;
  }

  &-subcontent {
    @include body2;
  }
}
