<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import User from "@modules/admin/vue/models/User"
import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "UserAutocomplete",
    props: {
        user: Object as PropType<User>
    }
})
</script>

<template>
  <div class="UserAutocomplete">
    <div class="UserAutocomplete-content">
      <div class="UserAutocomplete-title">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <div class="UserAutocomplete-infos">
        {{ user.username }}
      </div>
    </div>
  </div>
</template>

<style src="./UserAutocomplete.scss" lang="scss"></style>
