<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import OxObject from "@/core/models/OxObject"
import { getCollectionFromJsonApiRequest, getObjectFromJsonApiRequest } from "@/core/utils/OxApiManager"
import { isEmpty } from "lodash"
import OxRichTooltip from "@oxify/components/OxRichTooltip/OxRichTooltip.vue"
import { OxCollectionLinks } from "@/core/types/OxCollectionTypes"

export default Vue.extend({
    name: "OxAsyncTooltip",
    components: {
        OxRichTooltip
    },
    props: {
        delayAfterLeave: {
            type: Number,
            default: 200
        },
        forceClose: {
            type: Boolean,
            default: false
        },
        isCollection: {
            type: Boolean,
            default: false
        },
        maxHeight: {
            type: String,
            required: true
        },
        width: {
            type: String,
            required: true
        },
        oxObject: {
            type: Function as PropType<new () => OxObject>,
            required: true
        },
        url: {
            type: String,
            required: true
        },
        loaded: {
            type: Boolean,
            default: false
        },
        tooltipClass: String,
        loadingIsOpened: {
            type: Boolean,
            default: false
        },
        preventClose: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            data: null as unknown as OxObject | OxObject[],
            total: 0,
            links: {} as OxCollectionLinks,
            localLoaded: false,
            localLoadingIsOpened: false,
            hasBeenOpened: false
        }
    },
    computed: {
        /**
         * Checks if the tooltip already has data after API request
         *   => to avoid multiple calls
         *
         * @return {boolean}
         */
        dataDisplayable (): boolean {
            return !isEmpty(this.data) && (this.localLoaded || this.hasBeenOpened)
        }
    },
    watch: {
        async loaded (newVal) {
            this.localLoaded = newVal

            if (this.hasBeenOpened && !this.localLoaded) {
                this.localLoadingIsOpened = true
                this.$emit("update:loadingIsOpened", this.localLoadingIsOpened)

                await this.beforeDisplayCall()

                this.localLoadingIsOpened = false
                this.$emit("update:loadingIsOpened", this.localLoadingIsOpened)
            }
        },
        loadingIsOpened (newVal) {
            this.localLoadingIsOpened = newVal
        }
    },
    mounted () {
        this.localLoaded = this.loaded
        this.localLoadingIsOpened = this.loadingIsOpened
    },
    methods: {
        /**
         * Performs the API request to get a collection or an object
         *   => depending of the "isCollection" prop and if the tooltip already has data
         */
        async beforeDisplayCall (): Promise<void> {
            if (!this.localLoaded) {
                if (this.isCollection) {
                    const objects = await getCollectionFromJsonApiRequest(
                        this.oxObject,
                        this.url
                    )

                    this.data = objects.objects
                    this.total = objects.total
                    this.links = objects.links
                }
                else {
                    this.data = await getObjectFromJsonApiRequest(
                        this.oxObject,
                        this.url
                    )
                }

                this.$emit("callDone", this.data)
            }
            this.hasBeenOpened = true
            this.localLoaded = true
            this.$emit("update:loaded", this.localLoaded)
        },

        click (): void {
            this.$emit("click")
        },
        show (): void {
            this.$emit("show")
        }
    }
})
</script>

<template>
  <div class="OxAsyncTooltip">
    <ox-rich-tooltip
      :delay-after-leave="delayAfterLeave"
      :force-close="forceClose"
      :max-height="maxHeight"
      :prevent-close="preventClose"
      :tooltip-class="tooltipClass"
      :width="width"
      @beforeDisplay="beforeDisplayCall"
      @click="click"
      @show="show"
    >
      <template #activator="{ on }">
        <slot
          name="activator"
          :on="on"
        />
      </template>
      <template
        v-if="dataDisplayable"
        #tooltip
      >
        <slot
          :data="data"
          :links="links"
          name="tooltip"
          :total="total"
        />
      </template>
      <template
        v-else-if="localLoaded"
        #tooltip
      >
        <slot name="no-data" />
      </template>
      <template
        v-else-if="!hasBeenOpened"
        #tooltip
      >
        <slot name="loading">
          <v-skeleton-loader
            type="article, actions"
            width="300"
          />
        </slot>
      </template>
    </ox-rich-tooltip>
  </div>
</template>
