<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "OxStyleLoader"
})
</script>

<template>
  <div />
</template>

<style src="./OxStyleLoader.scss" lang="scss"></style>
