<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">
import Vue, { PropType } from "vue"
import OxTranslator from "@/core/plugins/OxTranslator"
import OxModuleManager from "@/core/plugins/OxModuleManager"
import {
    OxEntryPointConfigs,
    OxEntryPointCurrentFunction,
    OxEntryPointCurrentGroup,
    OxEntryPointCurrentUser,
    OxEntryPointLocales,
    OxEntryPointMeta,
    OxEntryPointPrefs
} from "@/core/types/OxEntryPointTypes"
import { keyConfigs, keyMeta, keyPrefs } from "@/core/utils/OxInjector"
import { useUserStore } from "@/core/stores/user"
import { useContextStore } from "@/core/stores/context"
import Function from "@modules/mediusers/vue/Models/Function"
import Group from "@modules/dPetablissement/vue/models/Group"
import Mediuser from "@modules/mediusers/vue/Models/Mediuser"

Vue.use(OxTranslator)
Vue.use(OxModuleManager)

export default Vue.extend({
    name: "OxVueWrap",
    provide () {
        return {
            [keyConfigs]: this.configs,
            [keyPrefs]: this.prefs,
            [keyMeta]: this.meta
        }
    },
    props: {
        configs: {
            type: Object as PropType<OxEntryPointConfigs>,
            default: () => { return {} as OxEntryPointConfigs }
        },
        locales: Object as PropType<OxEntryPointLocales>,
        prefs: {
            type: Object as PropType<OxEntryPointPrefs>,
            default: () => { return {} as OxEntryPointPrefs }
        },
        meta: Object as PropType<OxEntryPointMeta>,
        currentUser: Object as PropType<OxEntryPointCurrentUser>,
        userFunction: Object as PropType<OxEntryPointCurrentFunction>,
        userGroup: Object as PropType<OxEntryPointCurrentGroup>
    },
    created () {
        if (this.locales) {
            window.guiLocales = this.locales
        }
        const userStore = useUserStore()
        const contextStore = useContextStore()
        if (this.meta?.session_hash && !userStore.hasSessionHash) {
            userStore.sessionHash = this.meta.session_hash
        }
        if (this.currentUser && !userStore.hasCurrentUser) {
            const user = new Mediuser()
            user.id = this.currentUser.id
            user.firstName = this.currentUser.first_name
            user.lastName = this.currentUser.last_name
            user.username = this.currentUser.login
            user.color = this.currentUser.color
            user.attributes._view = this.currentUser.view
            user.attributes._guid = this.currentUser.guid
            userStore.user = user
        }
        if (this.userFunction && !userStore.hasUserFunction) {
            const currentFunction = new Function()
            currentFunction.attributes.guid = this.userFunction.guid
            currentFunction.name = this.userFunction.view
            currentFunction.id = this.userFunction.id
            userStore.userFunction = currentFunction
        }
        if (this.userGroup && !userStore.hasUserGroup) {
            const currentGroup = new Group()
            currentGroup.id = this.userGroup.id
            currentGroup.name = this.userGroup.view
            currentGroup.attributes.guid = this.userGroup.guid
            userStore.userGroup = currentGroup
        }

        for (const [key, value] of Object.entries(this.prefs)) {
            userStore.addPreference(key, value)
        }

        for (const [key, value] of Object.entries(this.configs)) {
            contextStore.addConfiguration(key, value)
        }

        this.$vuetify.theme.dark = this.prefs?.is_dark === "1"
    }
})
</script>

<template>
  <div class="OxVueWrap">
    <v-app>
      <slot />
    </v-app>
  </div>
</template>

<style src="./OxVueWrap.scss" lang="scss"></style>
