/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";
@import "@/core/styles/variablesStyle";

.OxVueWrap {
  @include body2;
  padding: 0 !important;
}

body .v-application * {
  // Scrollbar style (doesn't work with Chrome)
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color $scrollbar-gutter-color;

  // Vuetify #FFFFFF background override on skeletons
  .theme--light.v-skeleton-loader .v-skeleton-loader__actions,
  .theme--light.v-skeleton-loader .v-skeleton-loader__article,
  .theme--light.v-skeleton-loader .v-skeleton-loader__card-heading,
  .theme--light.v-skeleton-loader .v-skeleton-loader__card-text,
  .theme--light.v-skeleton-loader .v-skeleton-loader__date-picker,
  .theme--light.v-skeleton-loader .v-skeleton-loader__list-item,
  .theme--light.v-skeleton-loader .v-skeleton-loader__list-item-avatar,
  .theme--light.v-skeleton-loader .v-skeleton-loader__list-item-avatar-three-line,
  .theme--light.v-skeleton-loader .v-skeleton-loader__list-item-avatar-two-line,
  .theme--light.v-skeleton-loader .v-skeleton-loader__list-item-text,
  .theme--light.v-skeleton-loader .v-skeleton-loader__list-item-three-line,
  .theme--light.v-skeleton-loader .v-skeleton-loader__list-item-two-line,
  .theme--light.v-skeleton-loader .v-skeleton-loader__table-heading,
  .theme--light.v-skeleton-loader .v-skeleton-loader__table-tbody,
  .theme--light.v-skeleton-loader .v-skeleton-loader__table-tfoot,
  .theme--light.v-skeleton-loader .v-skeleton-loader__table-thead {
    background: transparent;
  }
}

.OxMarkdown {
  @include body1();
  @include on-background(high);

  & p {
    margin-bottom: $space;
  }

  & pre {
    white-space: pre-wrap;
    word-wrap: break-word;

    & code {
      padding: 0;
      background-color: transparent !important;
    }
  }

  // For chrome hide span with style
  & span {
    background-color: transparent;
  }

  & ul, & ol {
    margin-bottom: $space * 2;
  }
}

// Fix Symfony Toolbar scroll bug, see: https://github.com/symfony/symfony/issues/28981
.sf-toolbar-clearer {
  height: 0 !important;
}
