<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->
<script lang="ts">
import Vue from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "SampleMovieCover",
    components: { OxIcon },
    props: {
        image: String,
        hasTrailer: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        coverClass () : { [className: string]: boolean } {
            return {
                SampleMovieCover: true,
                animated: this.hasTrailer
            }
        }
    },
    methods: {
        click (event: Event) {
            this.$emit("click", event)
        }
    }
})
</script>

<template>
  <div
    :class="coverClass"
    @click="click"
  >
    <img
      v-if="image"
      alt="Cover"
      class="SampleMovieCover-cover"
      :src="image"
    >
    <div
      v-else
      class="SampleMovieCover-cover"
    />
    <ox-icon
      v-if="hasTrailer"
      class="SampleMovieCover-play"
      icon="playCircleOutline"
      :size="96"
    />
  </div>
</template>

<style src="./SampleMovieCover.scss" lang="scss"></style>
