/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleMovieCover {
  border-radius: 6px;

  display: inline-block;
  overflow: hidden;
  position: relative;

  &.animated {
    cursor: pointer;

    &:hover {
      .SampleMovieCover {
        &-cover {
          filter: brightness(70%);
          transform: scale(1.2);
        }

        &-play {
          @include color-white(0.87, true);
        }
      }
    }
  }

  &-cover {
    aspect-ratio: 2 / 3;
    background: $background-light;
    object-fit: cover;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    width: 144px;
  }

  &-play {
    left: 50%;
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.2s ease-in-out;
  }

  &-play {
    @include color-white(0.6, true);
  }
}
