<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">

import Vue, { PropType } from "vue"

export default Vue.extend({
    name: "OxRichTooltip",
    props: {
        delayAfterLeave: {
            type: Number,
            default: 200
        },
        delayBeforeCall: {
            type: Number,
            default: 300
        },
        delayBeforeShow: {
            type: Number,
            default: 500
        },
        forceClose: {
            type: Boolean,
            default: false
        },
        maxHeight: {
            type: String,
            required: true
        },
        width: {
            type: String,
            required: true
        },
        position: {
            type: String as PropType<"bottom" | "right" | "top" | "left">,
            default: "bottom",
            validator: function (value: string): boolean {
                return ["bottom", "right", "top", "left"].includes(value)
            }
        },
        tooltipClass: String,
        preventClose: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            flag: false,
            closeForced: false,
            styleMaxSize: {
                maxHeight: this.maxHeight,
                width: this.width
            },
            timeoutDelayBeforeCall: 0,
            timeoutDelayBeforeShow: 0,
            timeoutDelayAfterLeave: 0
        }
    },
    computed: {
        bottom (): boolean {
            return this.position === "bottom"
        },
        left (): boolean {
            return this.position === "left"
        },
        right (): boolean {
            return this.position === "right"
        },
        top (): boolean {
            return this.position === "top"
        },
        animation (): string {
            switch (this.position) {
            case "bottom":
                return "slide-y-transition"
            case "left":
                return "slide-x-reverse-transition"
            case "right":
                return "slide-x-transition"
            case "top":
                return "slide-y-reverse-transition"
            default:
                return "slide-x-transition"
            }
        },
        showTooltip (): boolean {
            return this.flag && !this.closeForced
        },
        tooltipClasses (): string {
            return "OxRichTooltip-custom " + this.tooltipClass
        }
    },
    watch: {
        forceClose: {
            handler (newVal) {
                this.closeForced = newVal
            },
            immediate: true
        }
    },
    methods: {
        mouseEnter (): void {
            window.clearTimeout(this.timeoutDelayAfterLeave)
            this.closeForced = false

            this.timeoutDelayBeforeCall = window.setTimeout(
                () => {
                    this.$emit("beforeDisplay")
                },
                this.delayBeforeCall
            )

            this.timeoutDelayBeforeShow = window.setTimeout(
                () => {
                    this.flag = true
                    this.$emit("show")
                },
                this.delayBeforeShow
            )
        },

        mouseLeave (): void {
            window.clearTimeout(this.timeoutDelayBeforeCall)
            window.clearTimeout(this.timeoutDelayBeforeShow)

            if (!this.preventClose) {
                this.timeoutDelayAfterLeave = window.setTimeout(
                    () => {
                        this.flag = false
                    },
                    this.delayAfterLeave
                )
            }
        },

        click (event: MouseEvent): void {
            this.$emit("click", event)
        }
    }
})
</script>

<template>
  <div class="OxRichTooltip">
    <v-tooltip
      :bottom="bottom"
      :content-class="tooltipClasses"
      :left="left"
      :right="right"
      :top="top"
      :transition="animation"
      :value="showTooltip"
      z-index="905"
    >
      <template #activator="{ on }">
        <div
          @click="click"
          @mouseenter="mouseEnter"
          @mouseleave="mouseLeave"
        >
          <slot
            name="activator"
            :on="on"
          />
        </div>
      </template>
      <div
        class="OxRichTooltip-content"
        :style="styleMaxSize"
        @mouseenter="mouseEnter"
        @mouseleave="mouseLeave"
      >
        <div class="OxRichTooltip-innerContent">
          <slot name="tooltip" />
        </div>
      </div>
    </v-tooltip>
  </div>
</template>

<style lang="scss" src="./OxRichTooltip.scss" />
