/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.OxRichTooltip {
  cursor: pointer;

  &-custom {
    // Vuetify override
    &.v-tooltip__content {
      @include elevation(8);
      border-radius: 4px;
      color: $grey-900;
      opacity: 1 !important;
      padding: 0;
      pointer-events: auto;
      transition-duration: 25ms !important;
    }
  }

  &-content {
    overflow: auto;
  }
}
