/**
 * @package Oxify
 * @author  SAS OpenXtrem <dev@openxtrem.com>
 * @license https://www.gnu.org/licenses/gpl.html GNU General Public License
 */

@import "@/core/styles/utils";

.SbWhiteTextSample {
  background-color: $surface-primary-800;
  border-radius: 4px;
  margin: $space;
  padding: $space*2;

  &-high {
    @include color-white(0.87);
    padding: $space 0;
  }

  &-medium {
    @include color-white(0.6);
    padding: $space 0;
  }

  &-low {
    @include color-white(0.38);
    padding: $space 0;
  }
}
