<script lang="ts">
import Vue from "vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"

export default Vue.extend({
    name: "OxBigIcon",
    components: { OxIcon },
    props: {
        icon: String,
        context: {
            type: String,
            default: "onBackground",
            validator: function (value: string): boolean {
                return ["onBackground", "onPrimary"].includes(value)
            }
        }
    }
})
</script>

<template>
  <div
    class="OxBigIcon"
    :class="context"
  >
    <ox-icon
      :icon="icon"
      :size="24"
    />
  </div>
</template>

<style lang="scss" src="./OxBigIcon.scss" />
