/*
  @package Oxify\BigIcon
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
*/

@import "@/core/styles/utils";

$big-icon-size: 40px;

.OxBigIcon {
  border-radius: 100%;
  display: inline-block;
  height: $big-icon-size;
  padding: $space*2;
  width: $big-icon-size;

  &.onBackground {
    @include on-background(high);
    background-color: $primary-100;
  }

  &.onPrimary {
    background-color: $background-default-light;
    color: $secondary-700;
  }
}
