/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.AuthPage {
  align-items: flex-start;
  background-color: $primary-800;
  background-image: url("data:image/svg+xml, %3Csvg%20viewBox%3D%220%200%201366%20700%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_4278_136697)%22%3E%0A%3Crect%20width%3D%221366%22%20height%3D%22700%22%20fill%3D%22%23283593%22%2F%3E%0A%3Cg%20filter%3D%22url(%23filter0_ddd_4278_136697)%22%3E%0A%3Cpath%20d%3D%22M276.771%20483.344C225.097%20507.959%20189.149%20489.735%20135.227%20501.288C81.306%20512.841%2024.3888%20551.158%2014.653%20610.281C4.91716%20669.404%20-52%20700%20-52%20700H1408V211.426C1378.54%20264.72%201440.84%20273.49%201276.97%20169.507C1113.11%2065.525%20970.207%20173.375%20923.775%20229.507C877.342%20285.639%20803.273%20311.294%20740.664%20310.006C662.403%20308.395%20537.791%20276.77%20445.246%20319.005C340.399%20366.856%20328.446%20458.729%20276.771%20483.344Z%22%20fill%3D%22%233F51B5%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22filter0_ddd_4278_136697%22%20x%3D%22-70%22%20y%3D%22109%22%20width%3D%221496%22%20height%3D%22610%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%20dy%3D%223%22%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%222.5%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.2%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22effect1_dropShadow_4278_136697%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%20dy%3D%221%22%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%229%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.12%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22effect1_dropShadow_4278_136697%22%20result%3D%22effect2_dropShadow_4278_136697%22%2F%3E%0A%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%0A%3CfeOffset%20dy%3D%226%22%2F%3E%0A%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%0A%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.14%200%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22effect2_dropShadow_4278_136697%22%20result%3D%22effect3_dropShadow_4278_136697%22%2F%3E%0A%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22effect3_dropShadow_4278_136697%22%20result%3D%22shape%22%2F%3E%0A%3C%2Ffilter%3E%0A%3CclipPath%20id%3D%22clip0_4278_136697%22%3E%0A%3Crect%20width%3D%221366%22%20height%3D%22700%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
  background-size: cover;
  display: flex;
  width: 100vw;

  &-leftInfo {
    background: radial-gradient(at top left, rgba(var(--primary-800-rgb), 0.7) 0%, rgba(var(--primary-800-rgb), 0.5) 20%, rgba(var(--primary-800-rgb), 0) 50%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: $space*25 $space*10 $space*10;
    width: 50vw;
  }

  &-leftInfoTop {
    padding-left: $space*3;
  }

  &-leftInfoTitle {
    @include h3;
    @include on-primary(high);
    margin-left: 0;
    text-transform: capitalize;
  }

  &-leftInfoSubtitle {
    @include h6;
    @include on-primary(medium);
  }

  &-leftInfoBrowserAlert {
    margin-bottom: 0;
  }

  &-main {
    @include elevation(16);
    height: 100vh;
    overflow: auto;
    padding: $space*7 $space*20 0;
    width: 50vw;
  }

  &-mainTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: $space*10;
  }

  &-qualif {
    @include body2;
    @include on-background(high);
    background-color: $secondary-100;
    border-radius: 4px;
    bottom: -22px;
    padding: $space $space*2;
    position: absolute;
  }

  &-logo {
    display: flex;
    max-height: 100px;
    max-width: 260px;
    position: relative;
  }

  &-logoImg {
    object-fit: contain;
    width: 100%;
  }

  &-mainSubtitle {
    @include subtitle2;
    color: $primary-500;
    text-align: right;
  }

  &-releaseDate {
    @include body2;
    @include on-background(low);
    display: none;
  }

  &-form {
    height: min-content;
  }

  &-formProductName {
    @include h6;
    color: $primary-500;
    display: none;
    opacity: 0.6;
  }

  &-formTitle {
    @include h4;
    @include on-background(high);
    margin-left: 0;
    padding-bottom: $space*4;
  }

  &-fields {
    display: flex;
    flex-direction: column;
    gap: $space*4;
  }

  &-errorMessage {
    display: flex;
    flex-direction: column;
    gap: $space*4;
  }

  &-actionsButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $space*4;
  }

  &-rememberMe {
    @include body1;
    @include on-background(high);
  }

  &-forgotPassword {
    @include button;
  }

  &-formSubmit {
    padding-bottom: $space*6;
    padding-top: $space*5;
  }

  &-brandings {
    display: flex;
    flex-direction: column;
    gap: $space*4;
    padding-top: $space*6;
  }

  &-pscCgu {
    color: $grey-600;
    padding-top: $space*4;
    text-align: right;
  }

  &-forgotPasswordDialogIcon {
    @include on-background(medium, true);
  }

  &-forgotPasswordDialogContent {
    text-align: center;
  }

  &-forgotPasswordDialogSubtitle {
    @include subtitle2;
    @include color-black(0.87);
    padding-bottom: $space*2;
    padding-top: $space*3;
  }

  &-forgotPasswordDialogContentText{
    @include body2;
    @include color-black(0.6);
  }

  &-forgotPasswordDialogBack {
    @include button;
    display: none;
  }

  &-cpxDialogContent {
    height: 174px;
  }

  // Fix for disable default autofill style set by browsers
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    background: currentColor;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

// Screen max width = 1100px
@include screenSmallerThan($screenSmall, "800") {
  .AuthPage {
    &-leftInfo {
      display: none;
    }

    &-main {
      padding-left: 16vw;
      padding-right: 16vw;
      width: 100vw;
    }

    &-releaseDate {
      display: block;
    }

    &-formProductName {
      display: block;
    }
  }
}

// Screen max width = 700px
@include screenSmallerThan($screenSmall, "400") {
  .AuthPage {
    &-main {
      padding-left: 12vw;
      padding-right: 12vw;
    }
  }
}

// Screen max width = 600px
@include screenSmallerThan($screenSmall, "300") {
  .AuthPage {
    &-main {
      padding-left: $space*6;
      padding-right: $space*6;
    }

    &-releaseDate {
      display: none;
    }

    &-formProductName {
      @include subtitle2;
    }

    &-actionsButtons {
      flex-direction: column-reverse;
    }

    &-forgotPassword {
      text-align: right;
    }

    &-forgotPasswordDialogContent {
      padding-top: 78px !important;
    }

    &-forgotPasswordDialogSubtitle {
      @include h6;
      padding-bottom: $space*4;
      padding-top: $space*7;
    }

    &-forgotPasswordDialogBack {
      display: block;
    }
  }
}

html {
  overflow: hidden !important;
}
