<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import { AuthPageAssets, AuthPageBrandingButtons, AuthPageBrowserCheck } from "@modules/admin/vue/types/AuthPageTypes"
import {
    OxEntryPointLinks,
    OxEntryPointTokens
} from "@/core/types/OxEntryPointTypes"
import OxToken from "@/core/components/OxToken/OxToken.vue"
import { loadGUIEntrypointIframe } from "@/core/utils/OxGUIManager"
import { configs, injectConfigs, injectMeta, meta } from "@/core/utils/OxInjector"
import OxTextField from "@oxify/components/OxField/OxTextField/OxTextField.vue"
import OxPassword from "@oxify/components/OxField/OxPassword/OxPassword.vue"
import OxCheckbox from "@oxify/components/OxField/OxCheckbox/OxCheckbox.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import OxBrandingButton from "@oxify/components/OxBrandingButton/OxBrandingButton.vue"
import OxDivider from "@oxify/components/OxDivider/OxDivider.vue"
import OxCaution from "@oxify/components/OxCaution/OxCaution.vue"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxForm from "@oxify/components/OxForm/OxForm.vue"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import OxFormValidator from "@oxify/components/OxForm/OxFormValidator"
import { screenSmall } from "@oxify/utils/responsive"

export default Vue.extend({
    name: "AuthPage",
    components: {
        OxTextField,
        OxPassword,
        OxCheckbox,
        OxButton,
        OxBrandingButton,
        OxDivider,
        OxCaution,
        OxDialog,
        OxIcon,
        OxForm,
        OxToken
    },
    inject: { ...injectConfigs(), ...injectMeta() },
    props: {
        assets: Object as PropType<AuthPageAssets>,
        browserCheck: Object as PropType<AuthPageBrowserCheck>,
        brandingButtons: Object as PropType<AuthPageBrandingButtons>,
        links: {
            type: Object as PropType<OxEntryPointLinks>,
            required: true
        },
        tokens: {
            type: Object as PropType<OxEntryPointTokens>,
            required: true
        },
        internalLogs: Array as PropType<Array<string>>,
        externalLogs: Array as PropType<Array<string>>,
        reconnect: String
    },
    data () {
        return {
            cguDialog: false,
            forgotPasswordDialog: false,
            forgotPasswordDialogIconBgColor: OxThemeCore.primary100,
            formValidator: new OxFormValidator(),
            cpxFormLoading: false,
            mainFormLoading: false,
            pscFormLoading: false,
            password: "",
            rememberMe: false,
            screenWidth: 0,
            username: "",
            validationRules: {} as { [key: string]: Array<Function> },
            configs: this[configs],
            meta: this[meta] as { [key: string]: string },
            showCpxDialog: false
        }
    },
    computed: {
        bgCustom (): { backgroundImage: string } | {} {
            return this.assets?.bg_src ? { backgroundImage: `url('${this.assets?.bg_src}')` } : {}
        },
        isBrowserCompatible (): boolean | undefined {
            return this.browserCheck?.is_login_browser_check && this.browserCheck?.server_side_error
        },
        isBrandingButtonsEmpty (): boolean {
            return this.brandingButtons === undefined || (Object.keys(this.brandingButtons).length === 0)
        },
        hasInternalLogs (): boolean {
            return !!this.internalLogs?.length
        },
        hasExternalLogs (): boolean {
            return !!this.externalLogs?.length
        },
        isMobileSize (): boolean {
            // Screen max width = 600px
            return this.screenWidth <= screenSmall["300"]
        },
        avatarSize (): number {
            return this.isMobileSize ? 104 : 76
        },
        iconSize (): number {
            return this.isMobileSize ? 50 : 40
        },
        forgotPasswordDialogWidth (): number | undefined {
            return !this.isMobileSize ? 606 : undefined
        },
        isDisconnected (): boolean {
            return this.reconnect?.toString() === "1"
        }
    },
    created () {
        // Responsive layout
        window.addEventListener("resize", () => {
            this.screenWidth = window.innerWidth
        })

        window.addEventListener("openModal", (event: Event) => {
            this.showCpxDialog = true
            const customEvt: CustomEvent<{ url: string, params: Object }> = event as CustomEvent
            this.$nextTick(() => {
                const iframe = document.createElement("iframe")
                iframe.width = "100%"
                iframe.height = "100%"
                iframe.frameBorder = "0"
                const url = new URL(customEvt.detail.url)
                for (const [key, value] of Object.entries(customEvt.detail.params)) {
                    url.searchParams.set(key, value)
                }
                iframe.src = url.toString()
                const target = this.$refs.cpxModal as HTMLDivElement
                // Remove old content
                target.innerHTML = ""
                target.appendChild(iframe)
            })
        })

        this.screenWidth = window.innerWidth

        this.validationRules = {
            username: [
                (v) => v.toString().length > 0 || this.$tr("common-error-Must not be empty")
            ],
            password: [
                (v) => v.toString().length > 0 || this.$tr("common-error-Must not be empty")
            ]
        }
        this.formValidator.rules = this.validationRules
    },
    mounted () {
        const initialUsername = document.cookie
            .split("; ")
            .find((row) => row.startsWith("login-username="))
            ?.split("=")[1]
        this.username = initialUsername || ""
        this.rememberMe = !!initialUsername
    },
    methods: {
        displayPscCguModal () {
            this.cguDialog = true
            this.$nextTick(async () => {
                await loadGUIEntrypointIframe(this.links.psc_cgu_link, this.$refs.pscCguModalContent as HTMLElement)
            })
        },
        setUsernameStorage (): void {
            if (this.rememberMe && this.username) {
                document.cookie = "login-username=" + this.username + "; path=/"
            }
            else {
                document.cookie = "login-username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
            }
        },
        pscConnect (endpoint: string): void {
            this.pscFormLoading = true
            window.location.href = endpoint
        },
        createScriptTag (scriptPath: string): HTMLScriptElement {
            const script = document.createElement("script")
            script.src = scriptPath
            script.type = "text/javascript"

            return script
        },
        cpxDialogToggled (value: boolean) {
            // If Dialog is closed, remove loading state
            if (!value) {
                this.cpxFormLoading = false
            }
        },
        cpxConnect (): void {
            this.cpxFormLoading = true
            let currentLogin = false

            if (currentLogin) {
                this.cpxFormLoading = false
                return
            }

            currentLogin = true

            const prototypeScript = this.createScriptTag("style/mediboard_ext/javascript/prototype_fork.js")
            document.head.append(prototypeScript)

            const printfScript = this.createScriptTag("includes/javascript/vendor/printf.js")
            const commonScript = this.createScriptTag("includes/javascript/common.js")
            const urlScript = this.createScriptTag("includes/javascript/url.js")
            const xdrScript = this.createScriptTag("includes/javascript/xdr.js")
            const mbHost = this.createScriptTag("modules/mbHost/javascript/mbHost.js")

            prototypeScript.onload = function () {
                document.head.append(printfScript)
            }

            printfScript.onload = function () {
                document.head.append(commonScript)
            }

            commonScript.onload = function () {
                document.head.append(urlScript)
            }

            urlScript.onload = function () {
                document.head.append(xdrScript)
            }

            xdrScript.onload = function () {
                document.head.append(mbHost)
            }

            /* eslint-disable no-undef */

            const cpxForm = (this.$refs.cpxForm as InstanceType<typeof OxForm>)

            mbHost.onload = () => {
                // @ts-ignore
                MbHost.call("card/cps/signerData", { data: "mediboard" }, (resultAuth) => {
                    /*
                     * Callback can be called after entering the code
                     *  => in this case, "signature" prop not in the result
                     */
                    if (!("signature" in resultAuth)) {
                        this.cpxFormLoading = false
                        currentLogin = false
                        return
                    }

                    // @ts-ignore
                    MbHost.call("card/cps/getCertificatSignature", null, (resultSignature) => {
                        if (!("certificat" in resultSignature)) {
                            this.cpxFormLoading = false
                            currentLogin = false
                            return
                        }

                        if (!resultAuth.signature || !resultSignature.certificat) {
                            alert(this.$tr("CPX-error_certificat_reading"))
                            this.cpxFormLoading = false
                            currentLogin = false
                            return
                        }

                        const cpxFormEl = cpxForm.$el as HTMLFormElement

                        const inputSignature = document.createElement("input")
                        inputSignature.setAttribute("type", "hidden")
                        inputSignature.setAttribute("name", "signature")
                        inputSignature.setAttribute("value", resultAuth.signature)
                        cpxFormEl.appendChild(inputSignature)

                        const inputCertifSignature = document.createElement("input")
                        inputCertifSignature.setAttribute("type", "hidden")
                        inputCertifSignature.setAttribute("name", "certificat_signature")
                        inputCertifSignature.setAttribute("value", resultSignature.certificat)
                        cpxFormEl.appendChild(inputCertifSignature)

                        cpxFormEl.submit()
                        this.showCpxDialog = false
                    })
                }, () => {
                    alert(this.$tr("error-mbHost-unreachable"))
                    this.cpxFormLoading = false
                    currentLogin = false
                }, undefined, undefined, { useEvent: true })
            }

            /* eslint-enable no-undef */
        },
        async submitLoginForm (): Promise<void> {
            this.mainFormLoading = true
            this.setUsernameStorage()

            const loginForm = (this.$refs.loginForm as InstanceType<typeof OxForm>)
            const loginFormValidation = await loginForm.validate()
            if (!loginFormValidation) {
                this.mainFormLoading = false
                return
            }

            const loginFormEl = loginForm.$el as HTMLFormElement
            const uainfoField = (this.$refs.uainfo as InstanceType<typeof HTMLInputElement>)
            const uainfoData = {
                screen: [screen.width, screen.height],
                pixelRatio: window.devicePixelRatio || null
            }
            uainfoField.value = JSON.stringify(uainfoData)
            loginFormEl.submit()
        }
    }
})
</script>
<template>
  <div
    class="AuthPage"
    :style="bgCustom"
  >
    <div class="AuthPage-leftInfo">
      <div class="AuthPage-leftInfoTop">
        <h3 class="AuthPage-leftInfoTitle">
          {{ configs.product_name }}
        </h3>
        <h6 class="AuthPage-leftInfoSubtitle">
          {{ meta.release_title }}
        </h6>
      </div>
      <div v-if="isBrowserCompatible">
        <ox-caution
          class="AuthPage-leftInfoBrowserAlert"
          :plain="true"
          :title="$tr('Browser-error-title')"
        >
          {{ $tr('Browser-error-content') }}
          <template #subcontent>
            {{ $tr('Browser-error-subcontent') }}
            <div class="AuthPage-browserAlertSuggestion">
              <ul>
                <li>{{ $tr('Browser-error-content-chrome') }}</li>
                <li>{{ $tr('Browser-error-content-firefox') }}</li>
                <li>{{ $tr('Browser-error-content-edge') }}</li>
              </ul>
            </div>
          </template>
        </ox-caution>
      </div>
    </div>
    <div class="AuthPage-main">
      <div class="AuthPage-mainTop">
        <div class="AuthPage-logo">
          <img
            v-if="assets"
            alt="Logo"
            class="AuthPage-logoImg"
            :src="assets.logo_src"
          >
          <div
            v-if="configs.is_qualif"
            class="AuthPage-qualif"
          >
            {{ $tr("common-Qualif") }}
          </div>
        </div>
        <div class="AuthPage-mainSubtitle">
          <span>{{ configs.company_name }}</span>
          <span class="AuthPage-releaseDate">{{ meta.release_title }}</span>
        </div>
      </div>
      <div class="AuthPage-form">
        <ox-form
          ref="loginForm"
          :action="links.call_url"
          method="post"
          onsubmit="return false;"
          :validator="formValidator"
          @submit="submitLoginForm"
        >
          <h6 class="AuthPage-formProductName">
            {{ configs.product_name }}
          </h6>
          <h4 class="AuthPage-formTitle">
            {{ $tr("common-Connection") }}
          </h4>
          <div class="AuthPage-fields">
            <div v-if="isDisconnected">
              <ox-caution
                :prominent="true"
                :show-icon="true"
                type="info"
              >
                {{ $tr("Auth-failed-reconnection-needed") }}
              </ox-caution>
            </div>
            <div
              v-if="hasInternalLogs"
              class="AuthPage-errorMessage"
            >
              <ox-caution
                v-for="(log, index) in internalLogs"
                :key="index"
                type="error"
              >
                {{ log }}
              </ox-caution>
            </div>
            <div class="AuthPage-formUser">
              <ox-text-field
                v-model="username"
                autofocus
                :label="$tr('common-User')"
                name="username"
                :validator="formValidator"
              />
            </div>
            <div class="AuthPage-formPassword">
              <ox-password
                v-model="password"
                :label="$tr('CMbFieldSpec.type.password')"
                name="password"
                :validator="formValidator"
              />
            </div>
          </div>
          <div class="AuthPage-actionsButtons">
            <div class="AuthPage-rememberMe">
              <ox-checkbox
                :label="$tr('common-Remember me')"
                :value="rememberMe"
                @change="value => rememberMe = value"
              />
            </div>
            <ox-dialog
              v-model="forgotPasswordDialog"
              :fullscreen="isMobileSize"
              :hide-header="isMobileSize"
              :title="$tr('common-Password reset request')"
              :width="forgotPasswordDialogWidth"
            >
              <template #activator="{ on, attrs }">
                <div class="AuthPage-forgotPassword">
                  <ox-button
                    button-style="tertiary"
                    :label="$tr('CUser-Password forgotten')"
                    v-bind="attrs"
                    v-on="on"
                  />
                </div>
              </template>
              <div class="AuthPage-forgotPasswordDialogContent">
                <v-avatar
                  :color="forgotPasswordDialogIconBgColor"
                  :size="avatarSize"
                >
                  <ox-icon
                    class="AuthPage-forgotPasswordDialogIcon"
                    icon="keyVariant"
                    :size="iconSize"
                  />
                </v-avatar>
                <div class="AuthPage-forgotPasswordDialogSubtitle">
                  {{ $tr("common-Please contact your administration") }}
                </div>
                <p class="AuthPage-forgotPasswordDialogContentText">
                  {{ $tr("common-Thanks to contact your referent in order to obtain a password reset") }}
                </p>
                <div class="AuthPage-forgotPasswordDialogBack">
                  <ox-button
                    button-style="tertiary"
                    :label="$tr('common-action-Back to login')"
                    @click="forgotPasswordDialog = false"
                  />
                </div>
              </div>
            </ox-dialog>
          </div>
          <div class="AuthPage-formSubmit">
            <ox-button
              :block="true"
              button-style="primary"
              :label="$tr('Login')"
              :loading="mainFormLoading"
              type="submit"
            />
          </div>
          <input
            name="redirect_uri"
            type="hidden"
            :value="links.redirect_url"
          >
          <input
            ref="uainfo"
            name="uainfo"
            type="hidden"
            value=""
          >
          <input
            name="reconnect"
            type="hidden"
            :value="reconnect"
          >
          <ox-token
            name="token"
            :value="tokens.login"
          />
        </ox-form>
        <template v-if="!isBrandingButtonsEmpty">
          <ox-divider color="dark" />
          <div class="AuthPage-brandings">
            <div
              v-if="hasExternalLogs"
              class="AuthPage-errorMessage"
            >
              <ox-caution
                v-for="(log, index) in externalLogs"
                :key="index"
                type="error"
              >
                {{ log }}
              </ox-caution>
            </div>
            <div v-if="brandingButtons?.krb_endpoint">
              <v-form
                :action="brandingButtons?.krb_endpoint"
                method="post"
              >
                <ox-button
                  :block="true"
                  :label="$tr('CKerberosLdapIdentifier-action-Login-Long')"
                  type="submit"
                />
              </v-form>
            </div>
            <div v-if="brandingButtons?.cps_endpoint">
              <v-form
                ref="cpxForm"
                :action="brandingButtons?.cps_endpoint"
                method="post"
              >
                <ox-branding-button
                  :block="true"
                  :label="$tr('CPX-auth_CPX')"
                  :loading="cpxFormLoading"
                  type="cpx"
                  @click="cpxConnect()"
                />
              </v-form>
            </div>
            <div v-if="brandingButtons?.psc_endpoint">
              <ox-branding-button
                :block="true"
                :label="$tr('ProSanteConnect-action-Login')"
                :loading="pscFormLoading"
                type="prosante"
                @click="pscConnect(brandingButtons.psc_endpoint)"
              />
            </div>
          </div>
        </template>
      </div>
      <template v-if="!isBrandingButtonsEmpty">
        <div
          v-if="brandingButtons?.psc_endpoint"
          class="AuthPage-pscCgu"
        >
          <ox-button
            button-style="tertiary-dark"
            :label="$tr('ProSanteConnect-cgu-long')"
            :title="$tr('CSamplePerson-title-add')"
            @click="displayPscCguModal"
          />
          <ox-dialog
            v-model="cguDialog"
            compact
            full-height
            fullscreen
            :title="$tr('ProSanteConnect-cgu-desc')"
          >
            <div ref="pscCguModalContent" />
          </ox-dialog>
        </div>
      </template>
    </div>
    <ox-dialog
      v-model="showCpxDialog"
      persistent
      :title="$tr('CPX-auth_CPX')"
      :width="350"
      @input="cpxDialogToggled"
    >
      <div
        ref="cpxModal"
        class="AuthPage-cpxDialogContent"
      />
    </ox-dialog>
  </div>
</template>

<style lang="scss" src="./AuthPage.scss" />
