/*
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
*/

@import "@/core/styles/utils";

.SampleMovieGlobalRating {

  &-noRating {
    @include body2;
    @include on-background(low);
  }

  &-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $space;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      text-decoration: var(--color-on-background-low) underline;
    }
  }

  &-containerText {
    @include body2;
    align-items: baseline;
    display: flex;
  }

  &-containerTextRate {
    @include on-background(high);
  }

  &-containerTextRateOf {
    @include on-background(medium);
  }

  &-containerTextRateCount {
    @include caption;
    @include on-background(low);
    white-space: pre;
  }

  &-closeDialog {
    padding: $space*6;
  }

  &-tab {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &-tabTitle {
    @include subtitle2;
  }

  &-tabCount {
    @include caption;
  }
}
