<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue, { PropType } from "vue"
import SampleMovie from "@modules/sample/vue/models/SampleMovie"
import OxThemeCore from "@oxify/utils/OxThemeCore"
import OxDialog from "@oxify/components/OxDialog/OxDialog.vue"
import OxTabs from "@oxify/components/OxTabs/OxTabs.vue"
import OxTabContent from "@oxify/components/OxTabContent/OxTabContent.vue"
import OxTab from "@oxify/components/OxTab/OxTab.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import OxTooltip from "@oxify/components/OxTooltip/OxTooltip.vue"
import OxButton from "@oxify/components/OxButton/OxButton.vue"
import SampleRatingTab from "@modules/sample/vue/components/SampleRatingTab/SampleRatingTab.vue"

export default Vue.extend({
    name: "SampleMovieGlobalRating",
    components: {
        SampleRatingTab,
        OxButton,
        OxTooltip,
        OxIcon,
        OxTab,
        OxTabContent,
        OxTabs,
        OxDialog
    },
    props: {
        movie: {
            type: Object as PropType<SampleMovie>
        }
    },
    data () {
        return {
            backgroundGrey: OxThemeCore.grey300,
            colorYellow: OxThemeCore.yellowText,
            showDialog: false,
            tab: null
        }
    },
    computed: {
        hasRatings (): boolean {
            return this.movie?.meta?.rating_count !== undefined && this.movie.meta.rating_count > 0
        }
    },
    methods: {
        openDialog (): void {
            this.showDialog = true
        },
        hideDialog (): void {
            this.showDialog = false
        }
    }
})
</script>

<template>
  <div class="SampleMovieGlobalRating">
    <ox-tooltip v-if="hasRatings">
      <template #content="{ on }">
        <div
          class="SampleMovieGlobalRating-container"
          v-on="on"
          @click="openDialog"
        >
          <ox-icon
            :color="colorYellow"
            icon="star"
            :size="20"
          />
          <div class="SampleMovieGlobalRating-containerText">
            <span class="SampleMovieGlobalRating-containerTextRate">{{ movie.meta.rating_average }}</span>
            <span class="SampleMovieGlobalRating-containerTextRateOf">/5</span>
            <span class="SampleMovieGlobalRating-containerTextRateCount">
              {{ ` ${$tr("SampleRating-out of %s review", false, movie.meta.rating_count.toString())}` }}
            </span>
          </div>
        </div>
      </template>
      {{ $tr("SampleRating-action-see rating details") }}
    </ox-tooltip>
    <div
      v-else
      class="SampleMovieGlobalRating-noRating"
    >
      {{ $tr("CSampleRating.none") }}
    </div>

    <ox-dialog
      v-model="showDialog"
      compact
      hide-header
      width="800"
    >
      <ox-tabs
        v-if="showDialog"
        v-model="tab"
        center-active
        grow
      >
        <!-- We display the tab using v-for because these are repeated tabs -->
        <ox-tab
          v-for="index in [5, 4, 3, 2, 1]"
          :key="`tab-${index}`"
        >
          <!-- Here we use the slot because we want to display on the right of the icon the total of rating -->
          <!-- In other case, you should use directly the title and icon props from the ox-tab -->
          <div class="SampleMovieGlobalRating-tab">
            <span class="SampleMovieGlobalRating-tabTitle">{{ index }}</span>
            <ox-icon
              :color="colorYellow"
              icon="star"
              :size="20"
            />
            <span class="SampleMovieGlobalRating-tabCount">({{ movie.meta[`rating_${index}`] ?? 0 }})</span>
          </div>
        </ox-tab>
        <!-- We add a cancel button to close the dialog since we hide the header to have a better rendering -->
        <ox-button
          button-style="tertiary-dark"
          :class="'SampleMovieGlobalRating-closeDialog'"
          icon="close"
          @click="hideDialog"
        />
        <template #contents>
          <!-- We use also a v-for to generate the content since it's the same for all tabs-->
          <ox-tab-content
            v-for="index in [5, 4, 3, 2, 1]"
            :key="`tab-content-${index}`"
          >
            <sample-rating-tab
              :link="movie?.links.ratings ?? ''"
              :rating="index"
            />
          </ox-tab-content>
        </template>
      </ox-tabs>
    </ox-dialog>
  </div>
</template>

<style lang="scss" src="./SampleMovieGlobalRating.scss" />
