<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"
import { getSchema } from "@/core/utils/OxStorage"
import { OxSchema } from "@/core/types/OxSchema"
import OxBeautify from "@oxify/components/OxBeautify/OxBeautify.vue"
import { convertMarkdownToHTML } from "@/core/utils/OxMarkdown"

export default Vue.extend({
    name: "OxValue",
    components: { OxBeautify },
    props: {
        inline: {
            type: Boolean,
            default: false
        },
        resourceName: {
            type: String,
            required: true
        },
        fieldName: {
            type: String,
            required: true
        },
        value: {
            type: [String, Number, Boolean, Object, Array],
            required: true
        }
    },
    data () {
        return {
            schema: {} as OxSchema
        }
    },
    computed: {
        isMarkdown (): boolean {
            return this.schema.markdown === true && this.schema.type === "text"
        }
    },
    created () {
        this.schema = getSchema(this.resourceName, this.fieldName)
    },
    methods: { convertMarkdownToHTML }
})
</script>

<template>
  <!-- eslint-disable vue/no-v-html, purify content -->
  <div
    v-if="isMarkdown"
    class="OxMarkdown"
    v-html="convertMarkdownToHTML(value)"
  />
  <!-- eslint-enable -->
  <ox-beautify
    v-else
    :inline="inline"
    :value="value"
  />
</template>
