<!--
  @package Openxtrem\Core
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import ModuleLine from "@/components/Appbar/ModuleLine/ModuleLine.vue"
import ModuleDetail from "@/components/Appbar/ModuleDetail/ModuleDetail.vue"
import TammMenuLink from "@/components/Appbar/NavModules/NavModulesTamm/TammMenuLink/TammMenuLink.vue"
import OxTextField from "@oxify/components/OxField/OxTextField/OxTextField.vue"
import OxIcon from "@oxify/components/OxIcon/OxIcon.vue"
import Vue, { PropType } from "vue"
import { MenuSection } from "@/components/Appbar/types/AppbarTypes"
import Module from "@/core/models/Module"
import { mapState } from "pinia"
import { useNavStore } from "@/core/stores/nav"
import { getCollectionFromJsonApiRequest } from "@/core/utils/OxApiManager"
import Tab from "@modules/system/vue/models/Tab"
import { useUserStore } from "@/core/stores/user"
import { getTabForModule, getUserDefaultTabs, setTabForModule } from "@/components/Appbar/utils/DefaultCache"
import { changePage } from "@/core/utils/OxFunctions"
import { updateModulesDefaultTabs } from "@/components/Appbar/utils/AppbarUtils"
const ModuleDetailMobile = () => import(/* webpackChunkName: "ModuleDetailMobile" */ "@/components/Appbar/ModuleDetail/ModuleDetailMobile/ModuleDetailMobile.vue")

/**
 * NavModulesTamm
 * Module navigation component for TAMM
 */
export default Vue.extend({
    name: "NavModulesTamm",
    components: {
        ModuleLine,
        OxTextField,
        ModuleDetail,
        OxIcon,
        TammMenuLink,
        ModuleDetailMobile
    },
    props: {
        mobile: {
            type: Boolean,
            default: false
        },
        showHomeLink: {
            type: Boolean,
            default: false
        },
        homeLink: {
            type: String,
            required: true
        },
        defaultTabsLink: {
            type: String,
            required: true
        },
        tammMenu: {
            type: Array as PropType<Array<MenuSection>>,
            required: true
        },
        canSeeModules: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            expand: false,
            showDetail: false,
            detailModule: false as Module | boolean,
            moduleFilter: "",
            showModules: false
        }
    },
    computed: {
        ...mapState(useNavStore, ["modulesVisible"]),
        classes (): string {
            return this.getClasses(this.expand)
        },
        modulesClasses (): string {
            return this.getModulesClasses(this.displayEmpty)
        },
        displayEmpty (): boolean {
            return this.getDisplayEmpty(this.moduleFilter, this.modulesDisplayed.length) && this.showModules
        },
        modulesDisplayed (): Array<Module> {
            if (this.moduleFilter === "") {
                // Type redeclaration is mandatory : see https://github.com/vuejs/core/issues/2981
                return this.modulesVisible
            }
            return (this.modulesVisible).filter((module) => {
                const filter = this.moduleFilter.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")
                return (
                    this.$tr("module-" + module.name + "-court")
                        .toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")
                        .includes(filter) ||
                    module.name
                        .toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")
                        .includes(filter)
                )
            })
        }
    },
    async created () {
        if (this.canSeeModules) {
            const userStore = useUserStore()
            const defaultTabs = getUserDefaultTabs(userStore.sessionHash)
            // If not all visible modules have their default tab in storage
            if (defaultTabs === null || Object.keys(defaultTabs).length <= this.modulesVisible.length) {
                this.showModules = false
                await updateModulesDefaultTabs(userStore.sessionHash, this.defaultTabsLink)
            }
            this.showModules = true
        }
    },
    methods: {
        deactivated () {
            this.resetNavModules()
        },
        resetNavModules () {
            this.showDetail = false
            this.detailModule = false
            this.filterModules("")
        },
        clickOutside () {
            this.$emit("input", false)
        },
        async affectDetailledModule ({ module }: { module: Module }) {
            this.showDetail = true
            // Display skeleton
            this.detailModule = false

            if (!module.tabsLoaded && module.tabsUrl) {
                const tabs = await getCollectionFromJsonApiRequest(Tab, module.tabsUrl)
                module.addTabs(tabs.objects)
            }
            this.detailModule = module
            // Update module default tab
            if (module.url) {
                const userStore = useUserStore()
                setTabForModule(userStore.sessionHash, module.name, module.url)
            }
        },
        checkActive (moduleName: string): boolean {
            return (typeof this.detailModule !== "boolean" && this.detailModule.name === moduleName)
        },
        filterModules (search: string) {
            this.moduleFilter = search
        },
        addPin (tab: Tab) {
            if (typeof this.detailModule !== "boolean") {
                this.detailModule.pinTab(tab)
            }
        },
        removePin (tab: Tab) {
            if (typeof this.detailModule !== "boolean") {
                this.detailModule.unpinTab(tab)
            }
        },
        setPinnedTabs (tabs: Array<Tab>) {
            if (typeof this.detailModule !== "boolean") {
                this.detailModule.setPinnedTabs(tabs)
            }
        },
        getClasses (expand: boolean): string {
            return expand ? "expand" : ""
        },
        getModulesClasses (displayEmpty: boolean): string {
            return displayEmpty ? "empty" : ""
        },
        getModuleCategory (moduleName: string): string {
            if (!Array.isArray(this.modulesVisible)) {
                return ""
            }
            const module = this.modulesVisible.find((module) => {
                return module.name === moduleName
            })
            return module ? module.category : ""
        },
        getDisplayEmpty (moduleFilter: string, modulesLength: number): boolean {
            return moduleFilter !== "" && modulesLength === 0
        },
        accessToFirstModule (event: KeyboardEvent) {
            if (this.moduleFilter !== "" && this.modulesDisplayed[0]) {
                const userStore = useUserStore()
                const tabUrl = getTabForModule(userStore.sessionHash, this.modulesDisplayed[0].name)
                if (tabUrl) {
                    changePage(tabUrl, event.metaKey || event.ctrlKey)
                }
            }
        },
        resetSearch () {
            this.moduleFilter = ""
            this.setFocusOnSearchField()
        },
        expandNav () {
            this.expand = true
            this.setFocusOnSearchField()
        },
        collapseNav () {
            (this.$refs.NavModulesTamm as Element).scrollTop = 0
            this.expand = false
        },
        toggleNav () {
            if (this.expand) {
                this.collapseNav()
            }
            else {
                this.expandNav()
            }
        },
        onScroll (e) {
            if (!this.mobile) {
                if (e.target.scrollTop === 0 && this.moduleFilter === "") {
                    this.collapseNav()
                }
                else if (!this.expand) {
                    this.expandNav()
                }
            }
        },
        setFocusOnSearchField () {
            const el = (this.$refs.searchField as unknown as InstanceType<typeof OxTextField>)?.$el.querySelector("input")
            if (el) {
                el.focus()
            }
        }
    }
})
</script>

<template>
  <div
    ref="NavModulesTamm"
    v-click-outside="clickOutside"
    class="NavModulesTamm"
    :class="classes"
    @scroll="onScroll"
  >
    <div class="NavModulesTamm-base">
      <div class="NavModulesTamm-homeSection">
        <div
          v-ripple
          class="NavModulesTamm-homeButton"
        >
          <ox-icon
            icon="home"
            :size="20"
          />
          <a
            class="NavModulesTamm-homeText"
            :href="homeLink"
          >
            Accueil
          </a>
        </div>
      </div>
      <div class="NavModulesTamm-linksSection">
        <div
          v-for="(section, index) in tammMenu"
          :key="'section-' + index"
          class="NavModulesTamm-linksGroup"
        >
          <div class="NavModulesTamm-linkTitle">
            {{ section.title }}
          </div>
          <div class="NavModulesTamm-links">
            <tamm-menu-link
              v-for="(link, i) in section.links"
              :key="'link-' + i"
              :link="link"
            />
          </div>
        </div>
      </div>
      <div
        v-if="canSeeModules"
        class="NavModulesTamm-divider"
      />
      <div
        v-if="!mobile && canSeeModules"
        class="NavModulesTamm-cta"
        @click="toggleNav"
      >
        <span
          v-if="!expand"
          class="NavModulesTamm-ctaLabel"
        >
          {{ $tr('Appbar-NavModule-plus') }}
        </span>
        <span
          v-else
          class="NavModulesTamm-ctaLabel"
        >
          {{ $tr('Appbar-NavModule-less') }}
        </span>
      </div>
      <div
        v-if="canSeeModules"
        class="NavModulesTamm-modulesSection"
      >
        <div class="NavModulesTamm-modulesList">
          <div class="NavModulesTamm-title">
            {{ $tr("CModule|pl") }}
          </div>
          <div class="NavModulesTamm-searchSection">
            <ox-text-field
              ref="searchField"
              class="NavModulesTamm-searchField"
              :dense="true"
              icon="search"
              :placeholder="$tr('Appbar-NavModule-search-module')"
              :rounded="true"
              :value="moduleFilter"
              @change="filterModules"
              @keydown.enter="accessToFirstModule"
              @keydown.esc="resetSearch"
            />
          </div>
          <div
            v-if="showModules"
            class="NavModulesTamm-modules"
            :class="modulesClasses"
          >
            <div
              v-for="(module) in modulesDisplayed"
              :key="module.name"
            >
              <v-lazy
                v-model="module.isActive"
                height="50"
                transition=""
              >
                <module-line
                  :is-active="checkActive(module.name)"
                  :module="module"
                  @detailClick="affectDetailledModule"
                />
              </v-lazy>
            </div>
          </div>
          <div
            v-else
            class="NavModulesTamm-modules"
          >
            <v-skeleton-loader
              v-for="i in 6"
              :key="i"
              height="50"
              type="list-item-avatar"
            />
          </div>
          <div
            v-if="displayEmpty"
            class="NavModulesTamm-empty"
          >
            {{ $tr("Appbar-NavModule-Modules-None") }} <br>
            {{ $tr("Appbar-NavModule-CTA-search") }} <br>
            <a
              class="NavModules-CTAInit"
              @click="resetSearch"
            >
              {{ $tr("Appbar-NavModule-CTA-init-search") }}
            </a>
          </div>
        </div>
        <div
          v-if="showDetail"
          key="NavModulesTamm-details"
          class="NavModulesTamm-details"
        >
          <module-detail-mobile
            v-if="mobile"
            :module="detailModule"
            :show-back="true"
            @close="resetNavModules"
          />
          <module-detail
            :module="detailModule"
            @addPin="addPin"
            @changePin="setPinnedTabs"
            @removePin="removePin"
          />
        </div>
        <div
          v-else
          key="NavModulesTamm-emptyDetail"
          class="NavModulesTamm-emptyDetail"
        />
      </div>
    </div>
  </div>
</template>

<style src="./NavModulesTamm.scss" lang="scss"></style>
