<!--
  @author  SAS OpenXtrem <dev@openxtrem.com>
  @license https://www.gnu.org/licenses/gpl.html GNU General Public License
  @license https://www.openxtrem.com/licenses/oxol.html OXOL OpenXtrem Open License
-->

<script lang="ts">
import Vue from "vue"

export default Vue.extend({
    name: "OxToken",
    props: {
        name: {
            type: String,
            required: true
        },
        value: {
            type: String,
            required: true
        }
    }
})
</script>

<template>
  <div class="OxToken">
    <input
      :name="name"
      type="hidden"
      :value="value"
    >
  </div>
</template>
